    <div class="fs-4 d-flex m-3 flex-row-start align-items-center">
        <img [src]="content.cropProfilePictureUrl !== undefined? content.cropProfilePictureUrl: content.profilePictureUrl" (click)="goToProfile()" class="card-img-top rounded-circle border border-5 border-white me-3"  style="width:fit-content" height="80" width="80">
        <div class="innerText">
            {{content.nickName | emptyField}}
        </div>
    </div>
    <div class="card align-items-center" style="border-radius: 20px !important" (click)="goToProfile()">
        <div class="p-2 d-flex d-flex justify-content-center align-items-center innerTimeFrame" style="width: -webkit-fill-available; width: -moz-available; border-radius:20px 20px 0px 0px; text-align: center" [ngStyle]="{'color': type === 'S'?'black': 'white', 'background-color' : type == 'S' || content.preferredTimeFrame == '' || content.preferredTimeFrame == undefined? 'rgba(0, 0, 0, 0.03)':content.preferredTimeFrame == 'Full-Time'?'#5cdfe4': content.preferredTimeFrame == 'Part-Time'?'#7fd858':'#dfa5d6'}">
            <div *ngIf="type !== 'S'" class="col" [ngStyle]="{'visibility': content.preferredTimeFrame == undefined || content.preferredTimeFrame == ''?'hidden': 'unset'}"><b>{{content.preferredTimeFrame == undefined || content.preferredTimeFrame == ''?'fff' : content.preferredTimeFrame == 'Full-Time และ Part-Time'?'Full-Time และ Part-Time' : content.preferredTimeFrame}}</b></div>
            <div class="col" *ngIf="type  == 'S'"><b>งานด่วน</b></div>
        </div>
        <!-- <div class="d-flex justify-content-between w-100">
            <div class="text-primary fs-3"><i class="bi bi-check-circle"></i></div>
        </div> -->
        <!-- <ng-container *ngIf="type == 'S'; then urgent; else notUrgent"></ng-container>
        <ng-template #urgent>
            <div class="fs-5">
                เลขใบประกอบ: {{content.license}}
            </div>
        </ng-template>
        <ng-template #notUrgent>
            <div class="fs-5">
                ประเภทงานที่สนใจ: {{content.preferredTimeFrame}}
            </div>
        </ng-template> -->
        <div class="py-2 px-4" style="width:-webkit-fill-available; width:-moz-available">
            
            <div class="row fs-5 innerText py-2">
                <div class="col-2">
                    <i class="bi bi-person"></i>
                </div>
                <div class="col text-start" [ngStyle]="{'color': content.active === 'จำกัดการดูข้อมูล'? 'blue': content.active === 'ไม่อนุญาติให้ดูข้อมูล'? 'red': 'black' }">
                    {{content.active === 'อนุญาตให้ดูข้อมูล'? content.name:content.active | emptyField}}
                </div>
            </div>
            <div class="row py-2 fs-5 innerText">
                <ng-container *ngIf="type == 'S'; then realLocation; else preferredLocation"></ng-container>
                <ng-template #realLocation>
                    <div class="col-2">
                        <i class="bi bi-house"></i>
                    </div>
                    <div class="col text-start">
                        {{content.Location?.District | emptyField}}, {{content.Location?.Province | provinceFilter | emptyField }}
                    </div>
                </ng-template>
                <ng-template #preferredLocation>
                    <div class="col-2">
                        <i class="bi bi-geo"></i>
                    </div>
                    <div class="col text-start">
                        {{content.preferredDistrict | emptyField}}, {{content.preferredProvince | provinceFilter | emptyField }}
                    </div>
                </ng-template>
            </div>           
            <div *ngIf="type !== 'S'" class="row fs-5 innerText py-2">
                <div class="col-2">
                    <i class="bi bi-briefcase"></i>
                </div>
                <div class="col text-start">
                    ประสบการณ์ {{content.WorkExperience | workExperience: content.yearFlag}}
                </div>
            </div>
            <div *ngIf="type !== 'S'" class="row fs-5 innerText py-2">
                <div class="col-2">
                    <i class="bi bi-award"></i>
                </div>
                <div class="col text-start">
                    {{content.highestEducation | emptyField}}
                </div>
            </div>
            <!-- <div *ngIf="type == 'S'" class="row fs-5 py-2">
                <div class="col-2">
                    <i class="bi bi-card-checklist"></i>
                </div>
                <div class="col text-start">
                    งานด่วนที่เคยรับ {{content.AmountCompleted}}
                </div>
            </div> -->
        </div>
    </div>
    <div class="d-flex justify-content-end ms-3 mt-1">
        อัพเดท {{content.dateUpdated}}
    </div>
    <div class="d-flex justify-content-between m-3">
        <!-- <button *ngIf="type == 'S'" class="btn fs-3" style="width: -webkit-fill-available; width: -moz-available;color:white; background-color: #7fd858">ส่งงานด่วน</button> -->
        <ng-container *ngIf="requestViewFlag$ | async; then requestView; else notRequestView"></ng-container>
        <ng-template #requestView>
            <button [ngStyle]="{'visibility': type == 'S' && content.active == 'จำกัดการดูข้อมูล'?'hidden':'unset' }" class="btn fs-3" style="background-color: grey; width: -webkit-fill-available; width: -moz-available;color:white">{{ requestStatus.status == 'Pending'?'รออนุมัติ':'อนุมัติแล้ว' }}</button>
        </ng-template>
        <ng-template #notRequestView>
            <button (click)="openRequestViewModal()"[ngStyle]="{'visibility': type == 'S'?'hidden': content.active !== 'จำกัดการดูข้อมูล'?'hidden':'unset' }" class="btn btn-primary fs-3" style="width: -webkit-fill-available; width: -moz-available; color:white">ขอดูข้อมูล</button>
        </ng-template>
        <button (click)="toggleFavorite()" type="button" class="btn">
            <ng-container *ngIf="favoriteLoadingFlag; then loading; else notLoading"></ng-container>
            <ng-template #loading>
                <div>
                    <div style="text-align:center">
                        <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #notLoading>
                <ng-container *ngIf="favoriteFlag$ | async; then red; else normal"></ng-container>
                <ng-template #normal>
                    <div class="fs-3"><i class="bi bi-heart"></i></div>
                </ng-template>
                <ng-template #red>
                    <div class="text-danger fs-3"><i class="bi bi-heart-fill"></i></div>
                </ng-template>
            </ng-template>
        </button>
    </div>