.btn-primary, btn-primary:hover{
    background:#5cdfe4;
    border-color: #5cdfe4
}
.card:hover{
    background-color: rgba(88, 92, 89, 0.3);
    cursor:pointer
  }
  .fullTime{
    background:#5cdfe4;
    border-color: #5cdfe4
  }
.partTime{
background:#7fd858;
border-color: #7fd858
}