    <div class="smallUserWidthResponsive smallUserTextResponsive m-xxl-5 m-xl-4 m-lg-3 m-2 card align-items-center standard-shadow semi-border-input" (click)="goToProfile()">
        <div class="d-lg-flex d-block">
            <div class="text-center">
                <img [src]="content.cropProfilePictureUrl !== undefined? content.cropProfilePictureUrl: content.profilePictureUrl" (click)="goToProfile()" class="card-img-top rounded-circle border border-5 border-white mx-3 mt-2"  style="width:fit-content" height="80" width="80">
            </div>
            <div class="py-2 px-4" style="width:-webkit-fill-available; width:-moz-available">
                <div class="smallUserTextResponsive"><b>{{content.name}} {{content.surname}}</b></div>
                <div class="py-1 d-lg-block d-md-flex d-block">
                    <div class="d-flex flex-row-start verticalKeyGap" style="white-space: nowrap">
                        <b>
                            <i class="bi bi-pin-map-fill me-3"></i>
                            พื้นที่อาศัยอยู่ปัจจุบัน
                        </b>
                    </div>
                    <div class="d-flex flex-row-start verticalKeyGap">
                            <i class="bi bi-geo-fill me-3" style="visibility:hidden"></i>
                            <ng-container *ngIf="type == 'S'; then realLocation; else preferredLocation"></ng-container>
                    <ng-template #realLocation>
                        {{content.Location?.District | emptyField}}, {{content.Location?.Province | emptyField}}
                    </ng-template>
                    <ng-template #preferredLocation>
                        {{content.preferredDistrict | emptyField}}, {{content.preferredProvince | emptyField}}
                    </ng-template>
                    </div>
                </div>          
                <div class="py-1">
                    <div class="d-md-flex flex-row-start verticalKeyGap align-items-center">
                        <div>
                            <b class="me-3" style="white-space:nowrap">
                                <i class="bi bi-mortarboard-fill me-3"></i>
                                ประวัติการศึกษา
                            </b>
                        </div>
                        <div class="d-flex">
                            <i class="bi bi-geo-fill me-3 d-md-none d-block" style="visibility:hidden"></i>
                            <div class="smallUserTextResponsiveSmaller" style="white-space:nowrap">(ระดับการศึกษาสูงสุด {{content.highestEducation | emptyField}})</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-start verticalKeyGap">
                        <i class="bi bi-geo-fill me-md-3 d-md-block d-none" style="visibility:hidden"></i>
                        <ng-container *ngIf="content.educationHistory == undefined; then emptyEducation; else notEmptyEducation"></ng-container>
                        <ng-template #emptyEducation>
                            ไม่ระบุ
                        </ng-template>
                        <ng-template #notEmptyEducation>
                            <ul class="mb-0">
                                <ng-container *ngFor="let school of content.educationHistory , index as i">
                                    <li>
                                        <b>ปีที่จบ {{school.yearGraduated}}</b> {{school.educationLevel}} {{school.universityName}} คณะ{{school.major}} สาขา{{school.franchise}}
                                        <div *ngIf="i == 1" style="color:lightgrey" class="smallUserTextResponsiveSmaller"><i class="bi bi-arrow-right-short me-3"></i>ดูเพิ่มเติมในโปรไฟล์</div>
                                    </li>
                                </ng-container>
                            </ul>
                        </ng-template>
                    </div>
                </div>
                <div class="py-1">
                    <div class="d-md-flex flex-row-start verticalKeyGap align-items-center">
                        <div>
                            <b class="me-3" style="white-space:nowrap">
                                <i class="bi bi-award-fill me-3"></i>
                                ประวัติการทำงาน
                            </b>
                        </div>
                        <div class="d-flex">
                            <i class="bi bi-geo-fill me-3 d-md-none d-block" style="visibility:hidden"></i>
                            <div class="smallUserTextResponsiveSmaller" style="white-space:nowrap">(ประสบการณ์ทำงานทั้งหมด {{content.WorkExperience | workExperience : content.yearFlag}})</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-start verticalKeyGap">
                        <i class="bi bi-geo-fill me-md-3 d-md-block d-none" style="visibility:hidden"></i>
                        <ng-container *ngIf="content.jobHistory == undefined; then jobEmpty; else jobNotEmpty"></ng-container>
                        <ng-template #jobEmpty>
                            ไม่ระบุ
                        </ng-template>
                        <ng-template #jobNotEmpty>
                            <ul class="mb-0">
                                <ng-container *ngFor="let job of content.jobHistory, index as i">
                                    <li *ngIf="i < 1">
                                        <div>
                                            <b>{{job.dateStarted}} - {{job.activeFlag? "ปัจจุบัน":job.dateEnded | emptyField}}</b>
                                            ({{job.workExperience}})
                                        </div>
                                        บริษัท {{job.companyName}} ตำแหน่ง {{job.jobName}}
                                        <div *ngIf="i == 1" style="color:lightgrey" class="smallUserTextResponsiveSmaller"><i class="bi bi-arrow-right-short me-3"></i>ดูเพิ่มเติมในโปรไฟล์</div>
                                    </li>
                                </ng-container>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>