<!-- Title -->
    <div class="container mt-5">
    <h1 class="text-center my-4">เงื่อนไขและข้อตกลงการใช้บริการ</h1>
    <div id="navToScroll2" class="mx-3 semi-border-input standard-shadow my-4 ps-md-4 mainTabList textProfileResponsive" style="z-index: 1; top:97px; border-radius:60px; background:white">
        <ul class="nav nav-underline py-3 mb-2  flex-row" style="width: max-content; top:180px; --bs-nav-underline-gap:0 1rem">
            <li class="nav-item">
                <a class="flex-md-fill text-md-center nav-link active" id="active-jobs" data-bs-toggle="tab" data-bs-target="#tabOne" aria-controls="tabOne" type="button" role="tab">ผู้สมัครงาน</a>
            </li>
            <li class="nav-item">
                <a class="flex-md-fill text-md-center nav-link" data-bs-toggle="tab" id="company-profile" data-bs-target="#tabTwo" aria-controls="tabTwo" type="button" role="tab" aria-current="page">ผู้ประกอบการ</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="container tab-content">
            <div class="tab-pane active" id="tabOne" role="tabpanel" aria-labelledby="tabOne-tab">
                <h2>เงื่อนไขและข้อตกลงการใช้บริการเว็บไซต์ Pharmwork</h2>
                <p>มีผลบังคับใช้ 1 มกราคม 2568</p>
                <p>เว็บไซต์ Pharmwork (ต่อไปนี้เรียกว่า “เว็บไซต์”) มีวัตถุประสงค์เพื่อเป็นสื่อกลางสำหรับการจัดหางานและการสมัครงาน โดยผู้ใช้บริการทุกฝ่ายต้องยอมรับและปฏิบัติตามเงื่อนไขและข้อตกลงการใช้บริการนี้ เพื่อความเรียบร้อยและปลอดภัยของข้อมูลส่วนบุคคล</p>
                
                <h2>การลงทะเบียนและการใช้ข้อมูลส่วนบุคคล</h2> 
                <ul>
                    <li>
                        ผู้สมัครงานต้องลงทะเบียนโดยใช้ข้อมูลที่ถูกต้องและเป็นความจริง เช่น ชื่อ-นามสกุล อีเมล หมายเลขโทรศัพท์ และข้อมูลการศึกษา
                    </li>
                    <li>
                        ผู้สมัครงานต้องเก็บรักษาชื่อผู้ใช้และรหัสผ่านไว้เป็นความลับ ห้ามโอนสิทธิ์การใช้งานให้บุคคลอื่น หากเกิดการใช้บัญชีโดยไม่ได้รับอนุญาต ทางเว็บไซต์ไม่รับผิดชอบต่อความเสียหายที่เกิดขึ้น
                    </li>
                    <li>
                        ข้อมูลส่วนบุคคลของผู้สมัครงานจะถูกเก็บรักษาและใช้เพื่อวัตถุประสงค์ในการสมัครงานและการติดต่อจากผู้ประกอบการเท่านั้น ตามนโยบายความเป็นส่วนตัว (Privacy Policy) ของเว็บไซต์
                    </li>
                </ul>
                <h2>
                    ข้อกำหนดในการสร้างโปรไฟล์
                </h2>
                <ul>
                    <li>
                        ผู้สมัครงานต้องรับผิดชอบต่อข้อมูลที่กรอกลงในโปรไฟล์ของตนเอง และต้องหลีกเลี่ยงการใส่ข้อมูลที่เป็นเท็จหรือทำให้เกิดความเข้าใจผิด
                    </li>
                    <li>
                        การใช้รูปถ่ายหรือเอกสารประกอบต้องเป็นไปตามความเหมาะสม และไม่ละเมิดสิทธิ์ของผู้อื่น
                    </li>
                    <li>
                        ผู้สมัครงานยินยอมให้ข้อมูลในโปรไฟล์ปรากฏต่อผู้ประกอบการที่ลงประกาศงานในระบบของ Pharmwork
                    </li>
                </ul>
                <h2>
                    การสมัครงาน
                </h2>
                <ul>
                    <li>
                        ผู้สมัครงานสามารถเลือกตำแหน่งงานที่สนใจและส่งคำขอสมัครผ่านระบบของเว็บไซต์ได้โดยไม่มีค่าใช้จ่าย
                    </li>
                    <li>
                        ผู้สมัครงานควรตรวจสอบรายละเอียดงานอย่างละเอียดก่อนสมัครงาน ทางเว็บไซต์ไม่รับผิดชอบต่อความเสียหายที่เกิดจากความผิดพลาดในการสมัครงาน
                    </li>
                    <li>
                        การตัดสินใจในการรับผู้สมัครงานเป็นสิทธิ์ของผู้ประกอบการ เว็บไซต์ไม่มีส่วนเกี่ยวข้องกับการพิจารณาใดๆ
                    </li>
                    <li>
                        การติดต่อและการเจรจาเกี่ยวกับตำแหน่งงานเป็นความรับผิดชอบระหว่างผู้สมัครงานและผู้ประกอบการ ทางเว็บไซต์ไม่มีส่วนเกี่ยวข้องในการว่าจ้าง
                    </li>
                </ul>
                <h2>
                    การเก็บรักษาข้อมูล
                </h2>
                <ul>
                    <li>
                        ผู้สมัครงานสามารถลบหรือแก้ไขโปรไฟล์และข้อมูลส่วนบุคคลได้ตามต้องการ โดยระบบจะเก็บข้อมูลส่วนบุคคลไว้ตามระยะเวลาที่กำหนดในนโยบายความเป็นส่วนตัว
                    </li>
                </ul>
            </div>
        </div>   
        <div class="container tab-content">
            <div class="tab-pane" id="tabTwo" role="tabpanel" aria-labelledby="tabTwo-tab">
                <h2>เงื่อนไขและข้อตกลงการใช้บริการเว็บไซต์ Pharmwork</h2>
                <p>มีผลบังคับใช้ 1 มกราคม 2568</p>
                <p>เว็บไซต์ Pharmwork (ต่อไปนี้เรียกว่า “เว็บไซต์”) มีวัตถุประสงค์เพื่อเป็นสื่อกลางสำหรับการจัดหางานและการสมัครงาน โดยผู้ใช้บริการทุกฝ่ายต้องยอมรับและปฏิบัติตามเงื่อนไขและข้อตกลงการใช้บริการนี้ เพื่อความเรียบร้อยและปลอดภัยของข้อมูลส่วนบุคคล</p>
                
                <h2>การลงทะเบียนและการใช้บริการ</h2> 
                <ul>
                    
                    <li>
                        ผู้ประกอบการต้องลงทะเบียนโดยใช้ข้อมูลที่ถูกต้องและเป็นปัจจุบัน เช่น ชื่อบริษัท เลขทะเบียนนิติบุคคล ที่อยู่ และข้อมูลผู้ติดต่อ โดยข้อมูลทั้งหมดต้องครบถ้วนและเป็นความจริงในการสมัครสมาชิก
                    </li>
                    <li>
                        ผู้ประกอบการต้องรับผิดชอบต่อการกระทำใดๆ ที่เกิดขึ้นภายใต้บัญชีผู้ใช้งานของตนเอง
                    </li>
                    <li>
                        การประกาศงานต้องไม่ละเมิดกฎหมายหรือศีลธรรมอันดีงาม หากพบว่ามีการละเมิด ทางเว็บไซต์ขอสงวนสิทธิ์ในการลบประกาศงานและระงับบัญชีโดยไม่ต้องแจ้งล่วงหน้า
                    </li>
                </ul>
                <h2>
                    การประกาศตำแหน่งงาน
                </h2>
                <ul>
                    <li>
                        ตำแหน่งงานที่ประกาศต้องเป็นไปตามกฎหมายและไม่ขัดต่อศีลธรรมอันดี เช่น ไม่เลือกปฏิบัติทางเพศ อายุ หรือเชื้อชาติ
                    </li>
                    <li>
                        ผู้ประกอบการต้องระบุรายละเอียดตำแหน่งงานและเงื่อนไขการจ้างงานอย่างชัดเจนตามแบบฟอร์มที่เว็บไซต์กำหนด โดยข้อมูลทั้งหมดต้องครบถ้วนและเป็นความจริงในการลงประกาศงาน
                    </li>
                    <li>
                        ทางเว็บไซต์ไม่รับประกันว่าผู้สมัครงานที่สมัครเข้ามาจะเหมาะสมหรือผ่านการตรวจสอบประวัติ
                    </li>
                </ul>
                <h2>
                    การเก็บรักษาข้อมูลผู้สมัครงาน
                </h2>
                <ul>
                    <li>
                        ผู้ประกอบการต้องเก็บรักษาข้อมูลผู้สมัครงานตามข้อกำหนดของกฎหมาย PDPA และใช้ข้อมูลเฉพาะสำหรับการพิจารณาคัดเลือกเท่านั้น
                    </li>
                    <li>
                        การแชร์หรือส่งต่อข้อมูลผู้สมัครงานให้กับบุคคลที่สามโดยไม่ได้รับความยินยอมจากผู้สมัครงานเป็นสิ่งต้องห้าม
                    </li>
                </ul>
                <h2>
                    ความรับผิดชอบของผู้ประกอบการ
                </h2>
                <ul>
                    <li>
                        ผู้ประกอบการต้องรับผิดชอบต่อข้อมูลที่ประกาศและการว่าจ้างผู้สมัครงานทั้งหมด ทางเว็บไซต์ไม่มีส่วนเกี่ยวข้องในกระบวนการว่าจ้างหรือข้อพิพาทที่เกิดขึ้น
                    </li>
                    <li>
                        ผู้ประกอบการต้องรักษาความลับของข้อมูลผู้สมัครงานที่ได้รับผ่านระบบของเว็บไซต์ และต้องไม่นำข้อมูลไปใช้ในทางที่ผิดกฎหมายหรือไม่ได้รับอนุญาต
                    </li>
                </ul>
                <h2>
                    ค่าบริการ
                </h2>
                <ul>
                    <li>
                        การใช้บริการประกาศตำแหน่งงานบนเว็บไซต์อาจมีค่าบริการตามที่กำหนดไว้ โดยผู้ประกอบการต้องชำระค่าบริการตามเงื่อนไขที่ระบุไว้ในเว็บไซต์ หรือภายในระยะเวลาที่กำหนด
                    </li>
                    <li>
                        ค่าบริการที่ชำระแล้วจะไม่สามารถขอคืนได้ในทุกกรณี
                    </li>
                </ul>
                <h2>
                    ความรับผิดชอบของเว็บไซต์
                </h2>
                <ul>
                    <li>
                        เว็บไซต์มีหน้าที่เก็บรักษาข้อมูลส่วนบุคคลของผู้ใช้บริการทุกฝ่ายให้ปลอดภัยและเป็นไปตามมาตรฐานที่กำหนดในกฎหมาย PDPA
                    </li>
                    <li>
                        เว็บไซต์ไม่รับผิดชอบต่อความเสียหายที่เกิดจากการให้ข้อมูลเท็จของผู้ใช้บริการ ไม่ว่าฝ่ายใดฝ่ายหนึ่ง
                    </li>
                </ul>
                <h2>
                    การเปลี่ยนแปลงเงื่อนไขและข้อตกลง
                </h2>
                <ul>
                    <li>
                        เว็บไซต์ขอสงวนสิทธิ์ในการเปลี่ยนแปลงเงื่อนไขและข้อตกลงโดยไม่ต้องแจ้งให้ทราบล่วงหน้า ผู้ใช้บริการควรตรวจสอบข้อกำหนดเป็นระยะเพื่อรับทราบข้อมูลล่าสุด
                    </li>
                </ul>
                <h2>
                    การติดต่อเว็บไซต์
                </h2>
                <ul>
                    <li>
                        หากมีข้อสงสัยเกี่ยวกับเงื่อนไขและข้อตกลงการใช้บริการ กรุณาติดต่อที่ ฝ่ายบริการลูกค้าของ Pharmwork ผ่านทางอีเมล team-support@pharm-work.com ได้ตลอดเวลา
                    </li>
                </ul>
            </div>
        </div>   
    </div> 
</div>
  