.profilePic{
  cursor:pointer;
  height: 70px;
  width: 70px
}
.titleFontSize{
  font-size:1.25rem 
}
.contentFontSize{
  font-size:1rem
}
@media only screen and (max-width: 470px) {
  .titleFontSize{
    font-size:4vw 
  }
  .contentFontSize{
    font-size:3.3vw !important
  }
  .timeFrameHeader{
    font-size: 3.5vw !important
  }
  .profilePic{
    height: 60px !important;
    width: 60px !important
  }
}
@media only screen and (max-width: 360px){
  .contentFontSize{
    font-size:3vw !important
  }
}
@media only screen and (max-width: 350px){
  .profilePic{
    height: 45px !important;
    width: 45px !important
  }
  .bi-share-fill, .bi-bookmark, .bi-bookmark-fill{
    font-size: 1rem !important
  }
  .titleFontSize{
    font-size: 4.5vw
  }
  .timeFrameHeader{
    font-size: 3vw !important
  }
  .paddingContent{
    margin-bottom: 0px !important;
    padding: 0px !important
  }
}
@media only screen and (max-width: 270px) {
    .urgentDisplay{
      display: flex !important
    }
  }
.card-body > .d-flex, .addressList > .d-flex{
    justify-content: space-between;
}
.rounded{
    border-radius: 20px !important;
  }
.bi{
    font-size:1.5rem
}
.outerCard{
    padding: 1rem
}
.mainCard:hover{
    background-color: rgba(88, 92, 89, 0.3);
    cursor:pointer
}
.fullTime{
    background:#5cdfe4;
    border-color: #5cdfe4
  }
.partTime{
background:#7fd858;
border-color: #7fd858
}