<div style="background-color:#f2f2f2">
	<div class="outerCard py-0">
		<div class="d-flex justify-content-around align-items-start">
			<img (click)="goToProfile()" [src]="content.profilePictureUrl" class="card-img-top rounded-circle" style="width:5rem;height:5rem; padding-top:0.5rem" height="50" width="50">
			<div>
				<div class="d-flex justify-content-between">
					<div class="fs-6" style="text-align:left; padding:1rem; padding-top:0.5rem; height: 3.5em; overflow:hidden; word-break: break-word; display:-webkit-box; -webkit-line-clamp: 2;">
						{{limitMethod(content.Establishment, limit)}}
					</div>
				</div>
				<div class="addressList">
					<p class="mb-2 fs-6" style="text-align: left; padding-left: 1rem"><i class="bi bi-geo-alt me-3 fs-6"></i><i>{{content.Location.Province}}</i></p>
				</div>
			</div>
		</div>
	</div>
		<div class="card rounded" style="width: -webkit-fill-available;">
			<ng-container *ngIf="urgentFlag; then cardUrgentHeader; else cardHeader">
			</ng-container>
			<ng-template #cardUrgentHeader>
				<div style="padding: 1rem" class="py-0">
					<div class="d-flex justify-content-center">
						<div class="py-2 d-flex align-items-center" style="text-align: center">
							<b>{{content.JobType}}</b>
						</div>
					</div>
					<hr class="w-100 my-2">
					<div class="d-flex justify-content-center">
						<div class="d-flex flex-row align-items-center py-2">
							<b class="me-3">วันที่</b>
							<div>{{ content.DateOfJob }}</div>
						</div>
					</div>
					<hr class="w-100 my-2">
				</div>
			</ng-template>
			<ng-template #cardHeader>
				<div class="d-flex justify-content-center">
					<div *ngIf="fullTimeFlag as true; else elseBlock" class="p-2 d-flex justify-content-center flex align-items-center" style="width: -webkit-fill-available; border-radius:20px 20px 0px 0px; text-align: center; background:#7fcae6">
						<b>{{content.TimeFrame}}</b>
					</div>
					<ng-template #elseBlock>
						<div class="p-2 d-flex justify-content-center flex align-items-center" style="text-align: center; background:#a2e3d9; border-radius:20px 20px 0px 0px; width: -webkit-fill-available;">
							<b>{{content.TimeFrame}}</b>
						</div>
					</ng-template>
				</div>
			</ng-template>
			<div class="card-body py-0">
				<div class="text-left fs-5" [id]="'jobName' + content.custom_doc_id" [ngStyle]="{'padding': urgentFlag?'0':'1rem', 'height': urgentFlag? '3.2em':'4em', 'word-break': 'break-word', 'overflow':'hidden', 'text-align': 'center', '-webkit-line-clamp': '2'}">
					<b>{{limitMethod(content.JobName, limit)}}</b>
				</div>
				<div *ngIf="urgentFlag" class="row my-2">
					<i class="col-2 my-auto fs-6 bi bi-clock"></i>
					<p class="my-auto text-start col fs-6">{{content.Duration}}</p>
				</div>
				<div class="row my-2">
					<p class="my-auto  col-2">
						<i class="fs-6 my-auto bi bi-currency-bitcoin"></i>
					</p>
					<div class="col d-flex flex-row fs-6">
						{{content.Salary.Amount}}
						<div *ngIf="urgentFlag">
							<ng-container *ngIf="fullTimeFlag === true; then fullSub; else partSub"></ng-container>
							<ng-template #fullSub>
								<div class="ms-1">บาท/เดือน</div>
							</ng-template>
							<ng-template #partSub>
								<div class="ms-1">บาท/ชม</div>
							</ng-template>
						</div>
					</div>
				</div>
				<div *ngIf="!urgentFlag">
					<div class="row d-flex flex-row my-2">
						<i class="col-2 bi bi-people fs-6"></i>
						<div class="col text-start fs-6">{{content.Amount}} อัตรา</div>
					</div>
					<div [ngStyle]="{'visibility': content.OnlineInterview?'unset': 'hidden'}" class="row my-2">
						<div class="col-2 my-auto ">
							<i class="my-auto h2 bi bi-tv fs-6"></i>
						</div>
						<div class="col my-auto text-start fs-6" *ngIf="content.OnlineInterview">สัมภาษณ์ออนไลน์</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="outerCard pt-0">
			<div class="d-flex justify-content-end " style="font-size:0.75rem;">
				{{content.dateUpdated}}
			</div>
			<div class="d-flex justify-content-between">
				<ng-container *ngIf="requestFlag$ | async; then requestButton; else alreadyRequest"></ng-container>
				<ng-template #alreadyRequest>
					<div (click)="requestJob()" class="btn btn-success justify-content-center my-2 align-items-center d-flex" [ngStyle]="{'width': '-webkit-fill-available', 'visibility': !urgentFlag?'hidden': 'unset'}" type="button">
					<div class="fs-5">รับงาน</div>
			</div>
			</ng-template>
			<ng-template #requestButton>
				<div class="btn btn-success justify-content-center my-2 align-items-center d-flex" [ngStyle]="{'width': '-webkit-fill-available', 'visibility': !urgentFlag?'hidden': 'unset'}" type="button">
					<div class="fs-5">รอ confirm</div>
				</div>
			</ng-template>
			<div class="d-flex flex-row">
				<button type="button" class="btn">
					<h1>
						<i class="bi bi-share"></i>
					</h1>
				</button>
				<button (click)="toggleBookmark()" type="button" class="btn">
					<h1>
						<ng-container *ngIf="bookmarkLoadingFlag; then loading; else notLoading"></ng-container>
						<ng-template #loading>
							<div>
								<div style="text-align:center">
									<div class="spinner-border text-primary" role="status">
										<span class="visually-hidden">Loading...</span>
									</div>
								</div>
							</div>
						</ng-template>
						<ng-template #notLoading>
							<ng-container *ngIf="bookmarkFlag$ | async; then red; else black"></ng-container>
							<ng-template #black>
								<i class="bi bi-bookmark"></i>
							</ng-template>
							<ng-template #red>
								<i style="color:red" class="bi bi-bookmark"></i>
							</ng-template>
						</ng-template>
					</h1>
				</button>
			</div>
		</div>
		</div>
</div>