.card-body > .d-flex, .addressList > .d-flex{
    justify-content: space-between;
}
.rounded{
    border-radius: 20px !important;
  }
.profilePic{
    cursor:pointer
}
.bi{
    font-size:1.5rem
}
.outerCard{
    padding: 1rem
}
.mainCard:hover{
    background-color: rgba(88, 92, 89, 0.3);
    cursor:pointer
}
.fullTime{
    background:#5cdfe4;
    border-color: #5cdfe4
  }
.partTime{
background:#7fd858;
border-color: #7fd858
}