.brandIcon > img{
    width: -webkit-fill-available !important;
    height: -webkit-fill-available;
    width: -moz-available !important;
    height: -moz-available;
    border-radius: 100%;
    border-radius:100%
  }
  .brandIcon{
    margin-bottom: 1rem
  }