<div (click)="scrollUp()"class="position-fixed bottom-0 end-0 m-3" style="z-index: 10; font-size:5rem">
	<i class="pe-auto bi bi-arrow-up-square"></i>
</div>
<app-profileheader profileType="job-post"></app-profileheader>
<div class="container">
	<div class="card rounded">
		<div class="card-body p-4">
			<div class="panelHeader d-flex justify-content-between pb-4 border-bottom">
					<div class="fs-1 jobName" style="padding-right:2.5rem">{{profile.JobName}}</div>
					<ng-container *ngIf="profile.TimeFrame === 'Part-Time'; then partTimeFlag; else fullTimeFlag"></ng-container>
					<ng-template #partTimeFlag>
						<div class="fs-1 ms-sm-3">
							<ng-container *ngIf="profile.Urgency; then urgentFlag; else notUrgentFlag"></ng-container>
							<ng-template #urgentFlag>
								<span class="badge bg-secondary urgentLabel">ต้องการเภสัชวันที่ {{profile.DateOfJob}}</span>
							</ng-template>
							<ng-template #notUrgentFlag>
								<span class="badge text-dark" style="background: #a2e3d9">Part-Time</span>
							</ng-template>
						</div>
					</ng-template>
					<ng-template #fullTimeFlag>
						<div class="fs-1 ms-3">
							<ng-container *ngIf="profile.Urgency; then urgentFlag; else notUrgentFlag"></ng-container>
							<ng-template #urgentFlag>
								<span class="badge bg-secondary urgentLabel">ต้องการเภสัชวันที่ {{profile.DateOfJob}}</span>
							</ng-template>
							<ng-template #notUrgentFlag>
								<span class="badge text-dark" style="background:#7fcae6">Full-Time</span>
							</ng-template>
						</div>
					</ng-template>
			</div>
			<div class="mx-3 mb-3 fs-4">
				<div class="row twoRows">
					<div class="col-12 col-md-6 border-end pt-4 leftPanelDetails">
						<div *ngIf="profile.JobType === 'ร้านยาแบรนด์'" class="row pb-3">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<b>สาขา</b>
							</div>
							<div class="col" *ngIf="profile.JobType === 'ร้านยาแบรนด์'">{{profile.Franchise | emptyField}}</div>
						</div>
						<div class="row pb-3">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-clock me-2"></i><b>เวลาปฏิบัติงาน</b>
							</div>
							<div class="col">
								<div class="valuePart">{{profile.Duration | emptyField}} น.</div>
							</div>
						</div>
						<div class="row pb-3" *ngIf="profile.TimeFrame == 'Full-Time'">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-currency-bitcoin me-2"></i><b>ค่าตอบแทน</b>
							</div>
							<div class="col">
								<div class="valuePart" *ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyField}} - {{profile.Salary.Amount! + profile.Salary.Cap! | emptyField}} บาท/เดือน</div>
								<div class="valuePart" *ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix}}</div>
							</div>
						</div>
						<div class="row pb-3" *ngIf="profile.TimeFrame == 'Part-Time'">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-currency-bitcoin me-2"></i><b>ค่าตอบแทน</b>
							</div>
							<div class="col">
								<div class="valuePart" *ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyField}} - {{profile.Salary.Amount + profile.Salary.Cap! | emptyField}} บาท/ชม</div>
								<div class="valuePart" *ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix}}</div>
							</div>
						</div>
						<div *ngIf="profile.BTS.Near"  class="pb-3 row">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-train-front me-2"></i> <b>BTS</b>
							</div>
							<div class="col valuePart"> {{profile.BTS.Station | emptyField}}</div>
						</div>
						<div *ngIf="profile.ARL.Near"  class="pb-3 row">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-train-front me-2"></i> <b>ARL</b>
							</div>
							<div class="col valuePart"> {{profile.ARL.Station | emptyField}}</div>
						</div>
						<div class="pb-3 row" *ngIf="profile.OnlineInterview">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-display me-2"></i><b>สัมภาษณ์ออนไลน์</b>
							</div>
						</div>
					</div>
					<div class="col-6 pt-4" style="padding-left:2.75rem">
						<div class="row pb-3">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-people me-2"></i><b>รับสมัคร</b>
							</div>
							<div class="col valuePart">{{profile.Amount | emptyField}} ตำแหน่ง</div>
						</div>
						<div class="row pb-3">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-geo-alt me-2"></i><b>พื้นที่</b>
							</div>
							<div class="col valuePart"> {{profile.Location.Section | emptyField}}, {{profile.Location.Province | emptyField}}</div>
						</div>
						<div *ngIf="profile.MRT.Near"  class="pb-3 row">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-train-front me-2"></i> <b>MRT</b>
							</div>
							<div class="col valuePart"> {{profile.MRT.Station | emptyField}}</div>
						</div>
						<div *ngIf="profile.SRT.Near" class="pb-3 row">
							<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
								<i class="bi bi-train-front me-2"></i> <b>SRT</b>
							</div>
							<div class="col valuePart"> {{profile.SRT.Station | emptyField}}</div>
						</div>

						<!-- <div class="d-flex flex-row" class="d-flex flex-row">
							<b>แขวง:</b>
							<div class="ms-2">{{profile.Location.District}}</div>
						</div> -->
						<!-- <div class="d-flex flex-row"> -->
							<!-- <b>เขต:</b> -->
							<!-- <div> {{profile.Location.Section}}, {{profile.Location.Province}}</div> -->
						<!-- </div> -->
						<!-- <div class="d-flex flex-row">
							<b>จังหวัด:</b>
							<div class="ms-2"> </div>
						</div> -->
						<div class="d-flex flex-row" *ngIf="profile.WorkFromHome">
							<i class="bi bi-house me-2"></i><b>Work from home</b>
						</div>
					</div>
				</div>
				<div class="row oneRow">
					<div *ngIf="profile.JobType === 'ร้านยาแบรนด์'" class="row pb-3">
						<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
							<b>สาขา</b>
						</div>
						<div class="col" *ngIf="profile.JobType === 'ร้านยาแบรนด์'">{{profile.Franchise | emptyField}}</div>
					</div>
					<div class="row pb-3">
						<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
							<i class="bi bi-clock me-2"></i><b>เวลาปฏิบัติงาน</b>
						</div>
						<div class="col">
							<div class="valuePart">{{profile.Duration | emptyField}} น.</div>
						</div>
					</div>
					<div class="row pb-3" *ngIf="profile.TimeFrame == 'Full-Time'">
						<div class="col-12 col-sm-6 col-md-12 col-lg-5">
							<i class="bi bi-currency-bitcoin me-2"></i><b>ค่าตอบแทน</b>
						</div>
						<div class="col">
							<div class="valuePart" *ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyField}} - {{profile.Salary.Amount + profile.Salary.Cap! | emptyField}} บาท/เดือน</div>
							<div class="valuePart" *ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix}}</div>
						</div>
					</div>
					<div class="row pb-3" *ngIf="profile.TimeFrame == 'Part-Time'">
						<div class="col-12 col-sm-6 col-md-12 col-lg-5">
							<i class="bi bi-currency-bitcoin me-2"></i><b>ค่าตอบแทน</b>
						</div>
						<div class="col">
							<div class="valuePart" *ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyField}} - {{profile.Salary.Amount + profile.Salary.Cap! | emptyField}} บาท/ชม</div>
							<div class="valuePart" *ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix}}</div>
						</div>
					</div>
					<div class="row pb-3">
						<div class="col-12 col-sm-6 col-md-12 col-lg-5">
							<i class="bi bi-people me-2"></i><b>รับสมัคร</b>
						</div>
						<div class="col valuePart">{{profile.Amount | emptyField}} ตำแหน่ง</div>
					</div>
					<div class="row pb-3">
						<div class="col-12 col-sm-6 col-md-12 col-lg-5">
							<i class="bi bi-geo-alt me-2"></i><b>พื้นที่</b>
						</div>
						<div class="col valuePart"> {{profile.Location.Section | emptyField}}, {{profile.Location.Province | emptyField}}</div>
					</div>
					<div *ngIf="profile.BTS.Near"  class="pb-3 row">
						<div class="col-12 col-sm-6 col-md-12 col-lg-5">
							<i class="bi bi-train-front me-2"></i> <b>BTS</b>
						</div>
						<div class="col valuePart"> {{profile.BTS.Station | emptyField}}</div>
					</div>
					<div *ngIf="profile.MRT.Near"  class="pb-3 row">
						<div class="col-12 col-sm-6 col-md-12 col-lg-5">
							<i class="bi bi-train-front me-2"></i> <b>MRT</b>
						</div>
						<div class="col valuePart"> {{profile.MRT.Station | emptyField}}</div>
					</div>
					<div *ngIf="profile.SRT.Near" class="pb-3 row">
						<div class="col-12 col-sm-6 col-md-12 col-lg-5">
							<i class="bi bi-train-front me-2"></i> <b>SRT</b>
						</div>
						<div class="col valuePart"> {{profile.SRT.Station | emptyField}}</div>
					</div>
					<div *ngIf="profile.ARL.Near"  class="pb-3 row">
						<div class="col-12 col-sm-6 col-md-12 col-lg-5">
							<i class="bi bi-train-front me-2"></i> <b>ARL</b>
						</div>
						<div class="col valuePart"> {{profile.ARL.Station | emptyField}}</div>
					</div>
					<div class="pb-3 row" *ngIf="profile.OnlineInterview">
						<div class="col-12 col-sm-6 col-md-12 col-lg-5">
							<i class="bi bi-display me-2"></i><b>สัมภาษณ์ออนไลน์</b>
						</div>
					</div>
					<div class="d-flex flex-row" *ngIf="profile.WorkFromHome">
						<i class="bi bi-house me-2"></i><b>Work from home</b>
					</div>
			</div>
			</div>
		</div>
	</div>
	<div class="footerMainHeader my-3 d-flex justify-content-start">
		<p class="lead"> อัพเดทล่าสุด {{profile.dateUpdated}} </p>
	</div>
	<div class="card rounded">
		<div class="card-body p-4">
			<div class="my-5 mt-3">
				<h2>หน้าที่ความรับผิดชอบ</h2>
				<div class="fs-4" [innerHtml]="profile.JobDetails | emptyField"></div>
				<ng-container *ngIf="profile.Urgency === false">
					<h2 class="my-5">คุณสมบัติผู้สมัคร</h2>
						<div class="fs-4" [innerHtml]="profile.qualityApplicants | emptyField"></div>
					<h2 class="my-5">สวัสดิการ</h2>
						<div class="fs-4" [innerHtml]="profile.jobBenefits | emptyField"></div>
					<h2 class="my-5">วิธีสมัครงาน</h2>
						<div class="fs-4" [innerHtml]="profile.applyInstructions | emptyField"></div>
				</ng-container>
			</div>
			<div class="my-5 mb-3">
				<h2 class="my-5">ช่องทางติดต่อ</h2>
				<div class="row fs-4">
					<div class="col-sm-6 col-12">
						<b>โทร: </b>
					</div>
					<div class="col ms-2">{{profile.Contacts.phone | emptyField}}</div>
				</div>
				<div class="row fs-4">
					<div class="col-sm-6 col-12">
						<b>Email: </b>
					</div>
					<div class="col ms-2">{{profile.Contacts.email | emptyField}}</div>
				</div>
				<div class="row fs-4">
					<div class="col-sm-6 col-12">
						<b>Line: </b>
					</div>
					<div class="col ms-2">{{profile.Contacts.line | emptyField}}</div>
				</div>
				<div class="row fs-4">
					<div class="col-sm-6 col-12">
						<b>Facebook: </b>
					</div>
					<div class="col ms-2">{{profile.Contacts.facebook | emptyField}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card rounded mt-5">
		<div class="card-body px-4">
			<div class="my-3">
				<h2>สถานที่ปฏิบัติการ/วิธีเดินทาง</h2>
				<div class="fs-4 d-flex justify-content-between">
					<div class=" fs-4" [innerHtml]="profile.TravelInstructions | emptyField"></div>
				</div>
				<div class="d-flex justify-content-center" style="overflow:scroll">
					<google-map 
						*ngIf="profile._geoloc !== undefined"
						height="500px"
						width="65vw"
						[center]="center"
						[zoom]="zoom">
						<map-marker
							[position]="markerPosition"
							>
						</map-marker>
					</google-map>
				</div>
			</div>
		</div>
	</div>
</div>