<ul class="dropdown-menu dropdown-menu-end p-3 fs-5">
    <ul class="nav nav-underline mb-3" id="pills-tab" role="tablist">
      <li class="nav-item me-3" role="presentation">
        <button class="nav-link active" id="confirm-urgent-tab" data-bs-toggle="pill" data-bs-target="#confirm-urgent" type="button" role="tab" aria-controls="confirm-urgent" aria-selected="true">แชท confirm งานด่วน</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="calendar-tab" data-bs-toggle="pill" data-bs-target="#calendar" type="button" role="tab" aria-controls="calendar" aria-selected="false">ตารางงานด่วนรายวัน</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="confirm-urgent" role="tabpanel" aria-labelledby="confirm-urgent-tab" tabindex="0">Butt Jokes <br> <a>ดูทั้งหมดในหน้า chat confirm งาน </a></div>
      <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab" tabindex="0">Fart Jokes <br> <a>ดูทั้งหมดในหน้า Profile </a></div>
    </div>
  </ul>