@media only screen and (max-width: 1400px){
    .customHorizontal{
        padding: 0 3rem !important
    }
    .responsiveFontSize{
        font-size:large !important
    }
}
@media only screen and (max-width: 1200px){
    .customHorizontal{
        padding: 0 2rem !important
    }
    .customHeight{
        height:280px !important
    }
    .bottomRes{
        bottom: 3.3rem !important;
        right: 16px !important;
    }
}
@media only screen and (max-width: 992px){
    .responsiveAdComputer{
        width:fit-content !important
    }
    .responsiveFontSize{
        font-size:x-large !important
    }
}
@media only screen and (max-width: 576px){
    .responsiveAdComputer, .responsiveAdMobile{
        height:20vh !important
    }
}
@media only screen and (max-width: 420px){
    .responsiveFontSize{
        font-size:medium !important
    }
    .responsiveAdComputer, .responsiveAdMobile{
        height:16vh !important
    }
    .customHeader{
        font-size:large !important
    }
}
@media only screen and (max-width: 400px){
    .responsiveAdComputer, .responsiveAdMobile{
        height:12vh !important
    }
}
@media only screen and (max-width: 350px){
    .customHorizontal{
        padding: 0 1rem !important
    }
    .customHeader{
        font-size:large !important
    }
}