<div class="container">
  <div class="my-5 text-center">
    <img
      style="width: -webkit-fill-available; width: -moz-available"
      src="assets/emptybanner/emptyBannerLong.png"
    />
  </div>
  <div class="border-bottom pb-3 mb-3 collapse show" id="collapseExample">
    <div class="my-5 text-center textProfileResponsive">{{ newTitle }}</div>
    <ng-container
      *ngIf="type == 'S'; then urgentSearch; else notUrgentSearch"
    ></ng-container>
    <ng-template #urgentSearch>
      <form
        [formGroup]="newUserFormUrgent"
        class="textProfileResponsive mx-lg-5"
      >
        <div class="row">
          <div class="col-lg-6 col-12 border-end mb-lg-0 mb-3">
            <div
              class="d-flex mb-3 align-items-baseline"
              style="padding: 0.375rem 2.25rem 0.375rem 0rem"
            >
              <i class="bi bi-search me-3"></i>
              <div class="me-3">ค้นหาเภสัชกรใกล้ฉัน</div>
              <div class="form-switch">
                <input
                  class="form-check-input textProfileResponsive me-3"
                  type="checkbox"
                  formControlName="nearbyFlag"
                  (click)="onChangeEvent($event)"
                  [checked]="locationRadiusFlag"
                  role="switch"
                  id="flexSwitchCheckDefault"
                />
              </div>
            </div>
            <div
              *ngIf="!locationRadiusFlag"
              formGroupName="preferredUrgentLocation"
            >
              <div class="d-flex align-items-baseline">
                <i class="bi bi-geo-fill me-3"></i>
                <select
                  formControlName="Province"
                  (change)="provinceSelectedUrgent($event)"
                  name="province"
                  class="form-select textProfileResponsive mb-3 border-input"
                >
                  <option value="" selected disabled>
                    พื้นที่ : เลือกจังหวัด
                  </option>
                  <option
                    *ngFor="let province of provinceUrgent$ | async"
                    [ngValue]="province"
                  >
                    {{ province }}
                  </option>
                </select>
              </div>
              <div class="d-flex align-items-baseline">
                <i class="bi bi-geo-fill me-3" style="visibility: hidden"></i>
                <select
                  formControlName="District"
                  (change)="districtSelectedUrgent($event)"
                  name="district"
                  class="form-select textProfileResponsive mb-3 border-input"
                >
                  <option value="" selected disabled>พื้นที่ : เลือกเขต</option>
                  <option
                    *ngFor="let district of districtUrgent$ | async"
                    [ngValue]="district"
                  >
                    {{ district }}
                  </option>
                </select>
              </div>
              <div class="d-flex align-items-baseline">
                <i class="bi bi-geo-fill me-3" style="visibility: hidden"></i>
                <select
                  formControlName="Section"
                  name="section"
                  class="form-select textProfileResponsive mb-3 border-input"
                >
                  <option value="" selected disabled>
                    พื้นที่ : เลือกแขวง
                  </option>
                  <option
                    *ngFor="let section of sectionUrgent$ | async"
                    [ngValue]="section"
                  >
                    {{ section }}
                  </option>
                </select>
              </div>
            </div>
            <div *ngIf="locationRadiusFlag">
              <div class="d-flex align-items-baseline">
                <i class="bi bi-geo-alt-fill me-3"></i>
                <input
                  (click)="onOpen()"
                  placeholder="ปักหมุดพื้นที่ๆต้องการหาเภสัชกร"
                  class="form-control textProfileResponsive mb-3 border-input"
                  style="cursor: pointer"
                />
              </div>
              <div class="d-flex align-items-baseline">
                <i class="bi bi-map-fill me-3"></i>
                <select
                  formControlName="radius"
                  name="section"
                  class="form-select textProfileResponsive mb-3 border-input"
                >
                  <option value="" selected disabled>ค้นหาภายในระยะ</option>
                  <option value="300">ระยะ 300 m</option>
                  <option value="500">ระยะ 500 m</option>
                  <option value="1000">ระยะ 1 km</option>
                  <option value="3000">ระยะ 3 km</option>
                  <option value="5000">ระยะ 5 km</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex align-items-baseline">
              <i class="bi bi-mortarboard-fill me-3"></i>
              <select
                formControlName="highestEducation"
                name="highestEducation"
                class="form-select textProfileResponsive border-input mb-3"
              >
                <option value="" disabled selected>ประสบการณ์ทำงาน</option>
                <option value="ปริญญาตรี">ปริญญาตรี</option>
                <option value="ปริญญาโท">ปริญญาโท</option>
                <option value="ปริญญาเอก">ปริญญาเอก</option>
              </select>
            </div>
            <div class="d-flex align-items-baseline">
              <i class="bi bi-asterisk me-3"></i>

              <select
                formControlName="urgentTimeFrame"
                name="urgentTimeFrame"
                class="form-select textProfileResponsive mb-3 border-input"
              >
                <option value="" selected disabled>
                  สถานะการทำงานของผู้สมัคร
                </option>
                <option value="ทำงานประจำ (full-time) เท่านั้น">
                  ทำงานประจำ (full-time) เท่านั้น
                </option>
                <option value="ทำงานพาร์ทไทม์ (part-time) เท่านั้น">
                  ทำงานพาร์ทไทม์ (part-time) เท่านั้น
                </option>
                <option
                  value="ทำทั้งงานประจำ (full-time) และพาร์ทไทม์ (part-time)"
                >
                  ทำทั้งงานประจำ (full-time) และพาร์ทไทม์ (part-time)
                </option>
                <option value="ทำแค่งานฟรีแลนซ์ (freelance) เท่านั้น">
                  ทำแค่งานฟรีแลนซ์ (freelance) เท่านั้น
                </option>
                <option value="ว่างงาน">ว่างงาน</option>
              </select>
            </div>
            <div class="d-flex align-items-baseline">
              <i class="bi bi-tags-fill me-3"></i>
              <select
                formControlName="urgentPreferredDay"
                name="urgentPreferredDay"
                class="form-select textProfileResponsive mb-3 border-input"
              >
                <option value="" selected disabled>
                  วันที่เภสัชกรสะดวกรับงาน
                </option>
                <option value="จันทร์">จันทร์</option>
                <option value="อังคาร">อังคาร</option>
                <option value="พุธ">พุธ</option>
                <option value="พฤหัส">พฤหัส</option>
                <option value="ศุกร์">ศุกร์</option>
                <option value="เสาร์">เสาร์</option>
                <option value="อาทิตย์">อาทิตย์</option>
                <option value="เวลาว่างไม่แน่นอน">เวลาว่างไม่แน่นอน</option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-center my-2">
            <button
              class="btn textProfileResponsive btn-light px-4"
              style="border-radius: 50px !important; margin-right: 4rem"
              (click)="resetUrgent()"
            >
              เคลียร์
            </button>
            <button
              style="border-radius: 50px !important; color: white"
              class="btn textProfileResponsive px-4 green-color"
              (click)="searchUsersUrgent()"
            >
              ค้นหา
            </button>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template #notUrgentSearch>
      <form [formGroup]="newUserFormList" class="textProfileResponsive mx-lg-5">
        <div class="row">
          <div class="col-lg-6 col-12 border-end mb-lg-0 mb-3">
            <div class="align-items-baseline d-flex">
              <i class="bi bi-bank2 me-3"></i>
              <select
                formControlName="preferredJobType"
                name="preferredJobType"
                class="form-select textProfileResponsive border-input mb-3"
              >
                <option value="" disabled selected>ประเภทธุรกิจ</option>
                <option value="AA">ร้านยาทั่วไป</option>
                <option value="AB">ร้านยา Brand</option>
                <option value="AC">โรงพยาบาล</option>
                <option value="BA">คลินิก</option>
                <option value="BB">โรงงาน</option>
                <option value="BC">บริษัท</option>
                <option value="CA">วิจัย</option>
                <option value="CB">อื่นๆ</option>
              </select>
            </div>
            <div class="align-items-baseline d-flex">
              <i class="bi bi-lightbulb-fill me-3"></i>
              <select
                formControlName="preferredTimeFrame"
                name="preferredTimeFrame"
                class="form-select textProfileResponsive border-input mb-3"
              >
                <option value="" disabled selected>ชนิดของพนักงาน</option>
                <option value="Full-Time">Full-Time</option>
                <option value="Part-Time">Part-Time</option>
                <option value="Full-Time และ Part-Time">
                  Full-Time และ Part-Time
                </option>
              </select>
            </div>
            <div class="align-items-baseline d-flex">
              <i class="bi bi-mortarboard-fill me-3"></i>
              <select
                formControlName="highestEducation"
                name="highestEducation"
                class="form-select textProfileResponsive border-input mb-3"
              >
                <option value="" disabled selected>ระดับการศึกษาสูงสุด</option>
                <option value="ปริญญาตรี">ปริญญาตรี</option>
                <option value="ปริญญาโท">ปริญญาโท</option>
                <option value="ปริญญาเอก">ปริญญาเอก</option>
              </select>
            </div>
            <div class="align-items-baseline d-flex">
              <i class="bi bi-briefcase-fill me-3"></i>
              <input
                type="number"
                class="border-input form-control textProfileResponsive"
                [min]="0"
                formControlName="WorkExperience"
                placeholder="ประสบการณ์ทำงาน"
              />
              <label class="ms-3">ปี</label>
            </div>
          </div>
          <div class="col">
            <div formGroupName="preferredLocation">
              <div class="align-items-baseline d-flex">
                <i class="bi bi-geo-fill me-3"></i>
                <select
                  formControlName="Province"
                  (change)="provinceSelected($event)"
                  name="province"
                  class="form-select textProfileResponsive mb-3 border-input"
                >
                  <option value="" selected disabled>
                    พื้นที่ : เลือกจังหวัด
                  </option>
                  <option
                    *ngFor="let province of province$ | async"
                    [ngValue]="province"
                  >
                    {{ province }}
                  </option>
                </select>
              </div>
              <div class="d-flex">
                <i class="bi bi-geo-fill me-3" style="visibility: hidden"></i>
                <select
                  formControlName="District"
                  (change)="districtSelected($event)"
                  name="district"
                  class="form-select textProfileResponsive mb-3 border-input"
                >
                  <option value="" selected disabled>พื้นที่ : เลือกเขต</option>
                  <option
                    *ngFor="let district of district$ | async"
                    [ngValue]="district"
                  >
                    {{ district }}
                  </option>
                </select>
              </div>
              <div class="d-flex">
                <i class="bi bi-geo-fill me-3" style="visibility: hidden"></i>
                <select
                  formControlName="Section"
                  (change)="sectionSelected($event)"
                  name="section"
                  class="form-select textProfileResponsive mb-3 border-input"
                >
                  <option value="" selected disabled>
                    พื้นที่ : เลือกแขวง
                  </option>
                  <option
                    *ngFor="let section of section$ | async"
                    [ngValue]="section"
                  >
                    {{ section }}
                  </option>
                </select>
              </div>
            </div>
            <div class="align-items-baseline d-flex">
              <i class="bi bi-file-earmark-check-fill me-3"></i>
              <select
                formControlName="active"
                name="active"
                class="form-select textProfileResponsive mb-3 border-input"
              >
                <option value="" selected disabled>
                  ระดับการเปิดเผยข้อมูล
                </option>
                <option value="อนุญาตให้ดูข้อมูล">อนุญาตให้ดูข้อมูล</option>
                <option value="จำกัดการดูข้อมูล">จำกัดการดูข้อมูล</option>
                <option value="ไม่อนุญาติให้ดูข้อมูล">
                  ไม่อนุญาติให้ดูข้อมูล
                </option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-center my-2">
            <button
              class="btn textProfileResponsive btn-light px-4"
              style="border-radius: 50px !important; margin-right: 4rem"
              (click)="reset()"
            >
              เคลียร์
            </button>
            <button
              style="border-radius: 50px !important; color: white"
              class="btn textProfileResponsive px-4 green-color"
              (click)="searchUsers()"
            >
              ค้นหา
            </button>
          </div>
        </div>
      </form>
    </ng-template>
  </div>
  <div class="my-3">
    <div class="d-flex flex-row textProfileResponsive my-3">
      <div>
        {{
          type == "S"
            ? "เภสัชกรที่สนใจงานเภสัชรายวัน (freelance)"
            : "เภสัชกรที่สนใจงานทั่วไปทั้งหมด"
        }}
      </div>
      <div class="mx-3">พบ {{ count }} ประวัติ</div>
    </div>
    <div class="d-flex flex-row textResponsiveOperator">
      <button
        class="headerText btn badge rounded-pill text-black textResponsiveOperator"
        style="font-weight: unset; background-color: #e6e6e6"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="true"
        aria-controls="collapseExample"
      >
        <i class="headerText bi bi-filter-left h2"></i>
        ตัวกรอง
      </button>
      <div class="ms-3 d-flex" style="align-self: center">
        {{ type == "S" ? urgentSearchList : searchList }}
      </div>
    </div>
  </div>
  <ng-container
    *ngIf="loadingFlag; then loadingScreen; else jobsList"
  ></ng-container>
  <ng-template #loadingScreen>
    <div class="loading">
      <div style="text-align: center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #jobsList>
    <ng-container
      *ngIf="emptyResultFlag; then empty; else notEmpty"
    ></ng-container>
    <ng-template #empty>
      <div class="row d-flex justify-content-center">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-10 col">
          <img
            class="w-100"
            src="assets/emptyOperatorSearchResults/notFound.png"
          />
        </div>
      </div>
    </ng-template>
    <ng-template #notEmpty>
      <div
        class="row search-results"
        infinite-scroll
        [infiniteScrollDistance]="distance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="onScroll()"
      >
        <ng-container *ngFor="let content of Users$ | async; index as i">
          <app-normal-user-card
            [content]="content"
            [type]="type"
          ></app-normal-user-card>
        </ng-container>
      </div>
      <div
        *ngIf="infiniteScrollingLoadingFlag"
        style="text-align: center"
        class="my-5"
      >
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
