<div class="d-flex justify-content-between" style="margin-top:5rem">
    <div class="d-flex flex-row align-items-end mb-0">
        <div class="d-flex flex-row">
            <div *ngIf="filterFlags.filterFlag" class=" my-auto me-3">
                <a class="text-body" type="button" data-bs-toggle="collapse" [href]=collapseButton>
                    <i class=" h2 bi bi-justify"></i>
                </a>
            </div>
            <p class="h3 d-flex align-items-end">{{ filterFlags.header }}</p>
        </div>
        <p class="text-secondary-emphasis text-opacity-50 fs-5 my-auto ms-3">(350)</p>
    </div>
    <button *ngIf="filterFlags.filterFlag" (click)="goToList()" type="button" class="btn btn-light d-flex flex-row align-items-center">
        <p class="h4 d-flex align-items-center me-3">ดูทั้งหมด</p>
        <i class="d-flex bi bi-arrow-right-square align-items-center" style="font-size:1.5rem"></i>
    </button>
</div>
    <div class="collapse" [id]="filterFlags.categorySymbol">
        <app-filter [filterFlags]="filterFlags"></app-filter>
    </div>
    <ng-container
        *ngIf="filterFlags.filterFlag === false; then ifBlock; else elseBlock">
    </ng-container>
    <ng-template #ifBlock>
        <div class="mt-3">
			<swiper [slidesPerView]="3" 
                    [grid]="{
                        rows: 2
                    }" 
                    [spaceBetween]="15" 
                    [navigation]="true" 
                    [autoplay]="true"
                    [pagination]="true" 
                    style="height:75vh" 
                    class="swiper">
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-1.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-2.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-3.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-4.jpg" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-5.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-6.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-7.png" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-8.png" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-9.png" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
			</swiper>
		</div>
    </ng-template>
    <ng-template #elseBlock>
        <swiper
            [navigation]="true"
            [slidesPerView]="4.5"
            [spaceBetween]="15"
            [pagination]="true"
            [autoplay]="true"
            style="margin-top: 3em; text-align: center"
        >
            
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag"></app-job-post-small-card></ng-template>
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag" [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag"></app-job-post-small-card></ng-template>
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag" [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag"></app-job-post-small-card></ng-template>
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag" [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag"></app-job-post-small-card></ng-template>
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag" [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag"></app-job-post-small-card></ng-template>
            <ng-template swiperSlide><app-job-post-small-card [urgentFlag]="urgentFlag" [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
        </swiper>
    </ng-template>