<p class="h3 mt-4">{{ header }}</p>
    <swiper
        [navigation]="true"
        [slidesPerView]="3.5"
        [spaceBetween]="15"
        [pagination]="true"
        [autoplay]="true"
        style="margin-top: 3em; text-align: center"
    >
    <ng-template swiperSlide><app-job-post-small-card></app-job-post-small-card></ng-template>
    <ng-template swiperSlide><app-job-post-small-card [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
    <ng-template swiperSlide><app-job-post-small-card></app-job-post-small-card></ng-template>
    <ng-template swiperSlide><app-job-post-small-card [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
    <ng-template swiperSlide><app-job-post-small-card></app-job-post-small-card></ng-template>
    <ng-template swiperSlide><app-job-post-small-card [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
    <ng-template swiperSlide><app-job-post-small-card></app-job-post-small-card></ng-template>
    <ng-template swiperSlide><app-job-post-small-card [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
    <ng-template swiperSlide><app-job-post-small-card></app-job-post-small-card></ng-template>
    <ng-template swiperSlide><app-job-post-small-card [fullTimeFlag]="false"></app-job-post-small-card></ng-template>
    </swiper>