<div class="p-md-4 p-2 textProfileResponsive standard-shadow semi-border-input">
    <div class="my-3 innerProfileTitle"><b>ผู้สมัครที่ถูกใจ</b></div>
    <div class="sticky-top favoritesTabList" style="top:180px; background:white; z-index: 3">
        <ul class="nav nav-underline py-3 mb-2  flex-row tabList" style="width:max-content; --bs-nav-underline-gap:0 1rem">
            <li class="nav-item">
                <a class="nav-link flex-lg-fill text-lg-center active" data-bs-toggle="tab" id="main-profile" data-bs-target="#tabOne" aria-controls="tabOne" type="button" role="tab">ผู้สมัครงานทั่วไป</a>
            </li>
            <li class="nav-item">
                <a class="nav-link flex-lg-fill text-lg-center" data-bs-toggle="tab" id="private-profile" data-bs-target="#tabTwo" aria-controls="tabTwo" type="button" role="tab" aria-current="page">ผู้สมัครงานด่วนรายวัน</a>
            </li>
            <hr style="width: 100%" class="m-auto">
        </ul>
    </div>
    <div class="tab-content  mx-sm-3 mx-1">
        <div class="tab-pane active" id="tabOne" role="tabpanel" aria-labelledby="tabOne-tab">
            <ng-container *ngIf="emptyFlagNormal$ | async; then emptyNormal; else notEmptyNormal"></ng-container>
            <ng-template #emptyNormal>
                <div class="row d-flex justify-content-center">
                    <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-10 col">
                        <img class="w-100" src="assets/emptyOperator/emptyFavorites.png">
                    </div>
                </div>
            </ng-template>
            <ng-template #notEmptyNormal>
                <div class="row ">
                    <ng-container *ngFor="let favorites of favorites$ | async ; index as i" >
                        <div *ngIf="favorites.content!.preferredJobType!.indexOf('งานด่วนรายวัน') === -1 || favorites.content!.preferredJobType!.length > 1" class="px-2">
                            <app-normal-user-card  [content]="favorites.content!" [type]="'AA'"></app-normal-user-card>
                        </div>
                        <!-- <hr style="width:100%; margin-bottom: 2rem" *ngIf="(i + 1) % 2 == 0 && favorites.content!.preferredJobType!.indexOf('งานด่วนรายวัน') === -1"> -->
                    </ng-container>
                </div>
            </ng-template>
        </div>
        <div class="tab-pane" id="tabTwo" role="tabpanel" aria-labelledby="tabTwo-tab">
            <ng-container *ngIf="emptyFlagUrgent$ | async; then emptyUrgent; else notEmptyUrgent"></ng-container>
            <ng-template #emptyUrgent>
                <div class="row d-flex justify-content-center">
                    <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-10 col">
                        <img class="w-100" src="assets/emptyOperator/emptyFavorites.png">
                    </div>
                </div>
            </ng-template>
            <ng-template #notEmptyUrgent>
                <div class="row">
                    <ng-container *ngFor="let favorites of favorites$ | async ; index as i" >
                        <div *ngIf="favorites.content!.preferredJobType!.indexOf('งานด่วนรายวัน') !== -1" class="px-2">
                            <app-normal-user-card class="px-0" [content]="favorites.content!" [type]="'S'"></app-normal-user-card>
                        </div>
                        <!-- <hr style="width:100%; margin-bottom: 2rem" *ngIf="(i + 1) % 2 == 0 && favorites.content!.preferredJobType!.indexOf('งานด่วนรายวัน') !== -1"> -->
                    </ng-container>
                </div>
            </ng-template>
        </div>
    </div>
</div>