<div class="container">
  <div class="my-5 textResponsiveHeader">
    <div class="mb-5 text-center">
      <b>ลงโฆษณาแบนเนอร์กับ Pharmwork</b>
    </div>
  </div>
  <div
    class="topPadding"
    style="padding: 0 6rem; border-bottom: 2px solid lightgrey"
  >
    <div
      class="m-auto align-items-center mb-5 text-sm-start text-center d-xl-flex justify-content-between p-3 px-5 semi-border-input"
      style="gap: 50px; width: fit-content; background-color: #d3ffe7"
    >
      <div class="text-center">
        <img
          src="assets/buy/adComputer.png"
          class="adComputer"
          style="height: 30vh"
        />
      </div>
      <div class="textResponsiveHeader text-center">
        <b>โฆษณาแบนเนอร์เว็บไซต์<br />(Website banners)</b>
      </div>
    </div>
    <div class="mb-3 d-xl-flex justify-content-center" style="gap: 50px">
      <div>
        <button
          class="overlayHover textProfileResponsive p-2 px-5 border-input my-3"
          style="
            border: solid 1px;
            background-color: #d3ffe7;
            width: -webkit-fill-available;
            width: -moz-available;
          "
          (click)="
            downloadContract(
              '[ติดบนเว็บและใส่อีเมล] ไฟล์แพ็คเกตราคาแบนเนอร์ 7-04-25.pdf'
            )
          "
        >
          ไฟล์อัตราค่าโฆษณาแบนเนอร์
        </button>
      </div>
      <div>
        <button
          class="overlayHover textProfileResponsive p-2 px-5 border-input my-3"
          style="
            border: solid 1px;
            background-color: #d3ffe7;
            width: -webkit-fill-available;
            width: -moz-available;
          "
          (click)="redirectToBanner()"
        >
          ขั้นตอนการลงโฆษณาแบนเนอร์
        </button>
      </div>
    </div>
  </div>
  <div
    class="d-lg-flex mb-5 py-4 secondPadding"
    style="padding: 0 8rem; gap: 50px; border-bottom: 2px solid lightgrey"
  >
    <div class="align-content-center">
      <div
        class="d-flex justify-content-center textProfileResponsive mb-3"
        style="gap: 50px"
      >
        <div class="text-center">
          <img
            src="assets/buy/comp.png"
            class="customPicClass"
            style="height: 15rem"
          />
          <br />(Computer site)
        </div>
        <div class="text-center" style="text-wrap: nowrap">
          <img
            src="assets/buy/mobile.png"
            class="customPicClass"
            style="height: 15rem"
          />
          <br />(Mobile site)
        </div>
      </div>
      <div
        class="textProfileResponsive text-center my-lg-0 my-5"
        style="color: #231977"
      >
        <b
          >ลงโฆษณาแบนเนอร์บนเว็บไซต์ จะแสดง ทั้งแบบ computer site และ mobile
          site</b
        >
      </div>
    </div>
    <div
      style="
        background-color: #ffe4cb;
        border-radius: 100%;
        aspect-ratio: 1/1;
        padding: 5rem;
      "
      class="circlePadding align-content-center"
    >
      <div class="text-center mb-2">
        <img
          class="customImage"
          style="width: 10rem"
          src="assets/buy/eye.png"
        />
      </div>
      <div
        style="color: #231977"
        class="customResponsiveHeader mb-2 text-center"
      >
        <b>Site sessions<br />1,000++/ month</b>
      </div>
      <div class="customProfileResponsive mb-2 text-center">
        <b
          >ด้วยยอดเข้าชมเว็บไซต์ในปัจจุบัน กว่า 1000++ ผู้เข้าชมต่อเดือน<span
            style="color: red"
            >*</span
          ></b
        >
      </div>
      <div style="color: red" class="smallestResponsiveText text-center">
        *อ้างอิงข้อมูล traffic overviews ของวันที่ 1-31 กรกฎาคม 2024
      </div>
    </div>
  </div>
  <div class="py-md-5">
    <div class="mb-5 textResponsiveHeader">
      <div class="mb-5 text-center">
        <b>ลงโฆษณาแบนเนอร์กับ Pharmwork</b>
      </div>
    </div>
    <div class="textProfileResponsive mb-5 text-center">
      <b>Homepage Banner A1, A2, A3, A4, B1 และ B2</b>
    </div>
  </div>
</div>
<div class="mb-5">
  <img
    src="assets/buy/bannerA.png"
    style="width: -webkit-fill-available; width: moz-available"
  />
</div>
<div class="container">
  <div class="py-md-5">
    <div class="mb-5 textResponsiveHeader">
      <div class="mb-5 text-center">
        <b>ลงโฆษณาแบนเนอร์กับ Pharmwork</b>
      </div>
    </div>
    <div class="textProfileResponsive mb-5 text-center">
      <b>Landing page Banner A1, B1 และ B2 (Link to homepage)</b>
    </div>
  </div>
</div>
<div class="mb-5">
  <img
    src="assets/buy/bannerB.png"
    style="width: -webkit-fill-available; width: -moz-available"
  />
</div>
<div class="container">
  <div class="py-md-5" style="border-bottom: 2px solid lightgrey">
    <div class="d-flex justify-content-center">
      <button
        class="textProfileResponsive p-2 px-3 border-input my-3"
        style="border: solid 1px; background-color: #d3ffe7"
        (click)="
          downloadContract(
            '[ติดบนเว็บและใส่อีเมล] ไฟล์แพ็คเกตราคาแบนเนอร์ 7-04-25.pdf'
          )
        "
      >
        ไฟล์อัตราค่าโฆษณาแบนเนอร์
      </button>
    </div>
  </div>
  <div class="mb-5" id="bannerSell" style="visibility: hidden; font-size: 30px">
    f
  </div>
  <div class="py-md-5 mb-5" style="border-bottom: 2px solid lightgrey">
    <div class="mb-5 textResponsiveHeader">
      <div class="mb-5 text-center">
        <b>วิธีการติดต่อขอซื้อโฆษณาแบนเนอร์</b>
      </div>
    </div>
    <div>
      <ol
        style="font-weight: bold; list-style-type: auto"
        class="list textProfileResponsive"
      >
        <li>
          <div style="padding-bottom: 2rem">
            ติดต่อขอไฟล์เอกสารแบบฟอร์มและสัญญาขอลงโฆษณาได้ตามช่องทางดังนี้
          </div>
          <ul
            class="ps-md-3 ps-0 list"
            style="list-style-type: none; font-weight: normal"
          >
            <li class="text-md-start text-center">
              <img style="width: 10rem" src="assets/buy/gmail.png" /><span
                class="d-md-none d-inline"
                ><br /></span
              ><b>Email</b
              ><a
                class="ms-3"
                style="cursor: pointer; color: black"
                href="mailto:team-support@pharm-work.com"
                >team-support&#64;pharm-work.com</a
              >
            </li>
            <li class="text-md-start text-center">
              <img style="width: 10rem" src="assets/buy/facebook.png" /><span
                class="d-md-none d-inline"
                ><br /></span
              ><b>Facebook official page</b
              ><a
                class="ms-3"
                style="color: black"
                href="https://www.facebook.com/profile.php?id=100093436122280"
              >
                Pharmwork เว็ปไซน์หางานเภสัชกร</a
              >
            </li>
            <li
              class="text-md-start text-center"
              style="padding-bottom: 0 !important"
            >
              <img style="width: 10rem" src="assets/buy/line.png" /><span
                class="d-md-none d-inline"
                ><br /></span
              ><b>Line Official Account</b
              ><a
                class="ms-3"
                href="https://liff.line.me/1645278921-kWRPP32q/?accountId=417cyhwi"
                style="color: black"
              >
                Pharmwork</a
              >
            </li>
          </ul>
        </li>
        <li>
          ใส่ข้อมูลในแบบฟอร์มพร้อมลายเซ็นต์ลงนามในเอกสารทั้งหมดให้เรียบร้อย
          แล้วส่งไฟล์ที่กำหนดดังต่อไปนี้มาทางอีเมล
          team-support&#64;pharm-work.com เท่านั้น<br />
          <ol style="font-weight: normal; list-style-type: auto">
            <li>ไฟล์เอกสารแบบฟอร์ม+สัญญาขอลงโฆษณา</li>
            <li>ไฟล์เอกสารแนบประกอบตามที่กำหนดในแบบฟอร์มขอลงโฆษณา</li>
            <li>
              ไฟล์รูปภาพโฆษณาแบนเนอร์ เฉพาะโฆษณาแบนเนอร์ตำแหน่ง A1, A2, A3 และ
              A4
            </li>
          </ol>
        </li>
        <li>
          เมื่อเอกสารได้รับการอนุมัติเรียบร้อย Pharmwork จะส่งลิงค์ชำระเงิน
          ด้วยระบบ Stripe ผ่านทางอีเมลที่ท่านระบุไว้ในเอกสารแบบฟอร์ม
          ขอลงโฆษณาเท่านั้น
        </li>
        <li>
          ชำระเงินผ่านระบบ Stripe ตามลิงค์ที่ทีมงานส่งไปให้ภายใน 5 วันทำการ
          นับจากวันที่ได้รับลิงค์ชำระเงิน
        </li>
        <li>
          แนบใบเสร็จชำระเงิน (Receipt) ที่ออกโดย Stripe ส่งมาทางอีเมล
          team-support&#64;pharm-work.com เท่านั้น
        </li>
      </ol>
    </div>
  </div>
  <app-contact-details></app-contact-details>
</div>
