<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background:#f2f2f2; border-bottom:1px solid #cccccc; z-index:10">
  <div class="container-fluid">
    <div class="d-flex flex-row align-items-center">
      <div class="fs-3">
        <a class="navbar-brand" routerLink="/operator">
            <img src="/assets/logo.png" class="rounded-pill" alt="" width="200">
        </a>
      </div>
      <div class="headerLabel d-flex flex-row align-items-center">
        <div class="fs-2 me-3">
          <i class="bi bi-file-earmark-text"></i> {{aggregationGroup.jobCount}}
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-person"></i> {{ aggregationGroup.userPharmaCount }}
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-building"></i> {{ aggregationGroup.userOperatorCount }}
        </div>
      </div>
    </div>
    <div class="headerLabel d-flex justify-content-between">
      
      <div class="d-flex p-2 flex-row-reverse" id="collapsibleNavbar">
          <ul style="list-style-type: none; margin-bottom:0" class="navClass fs-3 d-flex align-items-end">
            <li class="nav-item ms-3" style="cursor:pointer">
              <a class="nav-link green-text">ประวัติเภสัชกร</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link">บอร์ดประกาศงาน</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link">ฟีดประกาศงาน</a>
            </li>
            <li class="nav-item ms-3" data-bs-toggle="tooltip" title="สร้างประกาศงาน">
              <div class="dropdown">
                <a (click)="openAddModal()" class="nav-link" aria-expanded="false">
                    <i class="bi bi-file-earmark-plus-fill"></i>
                </a>
              </div>
            </li>
            <!-- <li class="nav-item me-2"><a  data-bs-toggle="tooltip" title="ประกาศงานทั้งหมด" routerLink="profile-operator/all-jobs-posts"class="nav-link"><i class="bi bi-inboxes"></i></a></li> -->
            <li class="nav-item ms-3"><a  data-bs-toggle="tooltip" title="Coming Soon" class="nav-link"><i class="bi bi-bell-fill"></i></a></li>
            <li class="nav-item ms-3">
              <div class="dropdown">
                
                <a  data-bs-toggle="tooltip"title="ปุ่ม profile" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="d-flex flex-column justify-content-center">
                    <img [src]="user.cropProfilePictureUrl !== undefined? user.cropProfilePictureUrl: user.profilePictureUrl" class="rounded-circle" width="50" height="50">
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end fs-3" style="min-width: 15rem;">
                  <li>
                    <div style="cursor:pointer" class="dropdown-header" (click)="goToPage('profile-pharma')">
                      <div class="d-flex flex-row-start align-items-center">
                        <img [src]="user.cropProfilePictureUrl !== undefined? user.cropProfilePictureUrl: user.profilePictureUrl" class="rounded-circle me-3" width="50" height="50">
                        <div class="fs-3">
                          <div>
                            {{user.companyName}}
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>
                  <hr style="width:100%" class="my-2 m-auto">
                  <li><a class="dropdown-item" (click)="goToPage('profile-operator/inner-profile')"><i class="bi bi-file-post mx-3"></i>โปรไฟล์บริษัท</a></li>
                  <li><a class="dropdown-item" (click)="goToPage('profile-operator/all-jobs-posts')"><i class="bi bi-file-earmark-text-fill mx-3"></i>ประกาศงานทั้งหมด</a></li>
                  <li><a class="d-flex dropdown-item" (click)="goToPage('profile-operator/request-jobs')"><i class="bi bi-inboxes-fill mx-3"></i>คำขอสมัครงาน</a></li>
                  <!-- <li><a class="d-flex dropdown-item" routerLink="jobs-list" [queryParams]="{CategorySymbol: 'AA'}"><i class="bi bi-file-earmark-richtext me-3"></i>งานด่วนรานวัน</a></li> -->
                  <li><a class="d-flex dropdown-item" (click)="goToPage('profile-operator/request-jobs', true)"><i class="bi bi-person-lines-fill mx-3"></i>ขอดูข้อมูลผู้สมัคร</a></li>
                  <li><a class="d-flex dropdown-item" (click)="goToPage('profile-operator/favorites')"><i class="bi bi-heart-fill mx-3"></i>ผู้สมัครที่ถูกใจ</a></li>
                  <hr style="width:100%" class="my-2 m-auto">
                  <li><a class="d-flex dropdown-item" (click)="openAddModal()"><i class="bi bi-file-earmark-plus-fill mx-3"></i>สร้างประกาศงาน</a></li>
                  <hr style="width:100%" class="my-2 m-auto">
                  <li><a class="d-flex dropdown-item"><i class="bi bi-headset mx-3"></i>ติดต่อเรา</a></li>
                  <hr style="width:100%" class="my-2 m-auto">
                  <li><a class="d-flex dropdown-item" (click)="signOut()"><i class="bi bi-box-arrow-right mx-3"></i>Sign Out</a></li>
                </ul>
              </div>
            </li>
        </ul>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <div class="d-flex flex-row align-items-center justify-content-center">
      <div class="fs-2 me-3">
        <i class="bi bi-file-earmark-text"></i> {{ aggregationGroup.jobCount }}
      </div>
      <div class="fs-2 me-3">
        <i class="bi bi-person"></i> {{ aggregationGroup.userPharmaCount }}
      </div>
      <div class="fs-2 me-3">
        <i class="bi bi-building"></i> {{ aggregationGroup.userOperatorCount }}
      </div>
    </div>
    <button type="button" class="d-flex flex-row-reverse btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body container-fluid fs-3">
    <div class="d-flex my-2" (click)='goToPage("profile-operator")'><i class="bi bi-person-circle me-3"></i>ปุ่ม profile</div>
    <div class="d-flex my-2" (click)='goToPage("profile-operator/all-jobs-posts")'><i class="bi bi-inboxes me-3"></i>ประกาศงานทั้งหมด</div>
    <div class="my-2 d-flex" (click)="goToPage('profile-operator/request-jobs')"><i class="bi bi-eye me-3"></i>คำขอสมัครงาน</div>
    <div class="my-2 d-flex" (click)="goToPage('profile-operator/request-jobs', true)"><i class="bi bi-file-earmark-check me-3"></i>ขอดูข้อมูลผู้สมัคร</div>
    <div class="my-2 d-flex" (click)="goToPage('profile-operator/favorites')"><i class="bi bi-person-plus me-3"></i>ผู้สมัครที่ถูกใจ</div>
    <div class="d-flex my-2" (click)='goToAddJob(false)'><i class="bi bi-file-earmark-plus me-3"></i>สร้างประกาศงานทั่วไป</div>
    <div class="d-flex my-2" (click)='goToAddJob(true)'><i class="bi bi-file-earmark-plus-fill me-3"></i>สร้างประกาศงานด่วนรายวัน</div>
    <div class="d-flex my-2" (click)="signOut()"><i class="bi bi-box-arrow-right me-3"></i>Sign Out</div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="modal fade" id="requestViewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-3">เขียนข้อความแนบ</h5>
        <button type="button" class="btn-close" (click)="onClose()" aria-label="Close"></button>
      </div>
      <form [formGroup]="requestViewForm" (ngSubmit)="onSave()">
          <div class="modal-body">
          <div class="row">
              <div class="col">
                <ckeditor formControlName="requestView" [editor]="requestViewEditor" name="editor"></ckeditor>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex">
              <div *ngIf="requestViewLoadingFlag" style="text-align:center" class="me-3">
                  <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                  </div>
              </div>
              <button type="button" class="btn btn-light" (click)="onClose()">ยกเลิก</button>
          </div>
            <button type="button" class="btn" style="border-color: #7fd858; color:white; background:#7fd858"  type="submit">ส่งคำขอ</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">แชร์งานที่คุณถูกใจเลย!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" [value]="nameToShare" id="myInput" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"  type="button" (click)="copyString()">{{copy}}</button>
          </div>
        </div>
        <share-buttons theme="circles-dark"
          [include]="[ 'facebook', 'messenger', 'line', 'twitter']"
          [url]="nameToShare"
          [showIcon]="true"
          [showText]="false">
        </share-buttons>
      </div>
    </div>
  </div>
</div>  
<div class="modal textProfileResponsive semi-border-input fade" id="addJobModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content semi-border-input">
      <div class="modal-body">
        <div class="my-4 text-center">คุณต้องการสร้างประกาศงานแบบใด?</div>
 
        <div (click)="goToAddJob(false)" class="selectJob my-3 row semi-border-input m-3" style="background-color: #f2f2f2;">
          <div class="col-4 d-flex justify-content-center align-items-center">
            <i class="bi bi-file-earmark" style="font-size: 4em;"></i>
          </div>
          <div class="col align-items-center">
            <div class="my-3 textProfileResponsive"> <b>ประกาศงานทั่วไป <i class="ms-3 bi bi-question-circle-fill"></i></b>
            </div>
          <div class="fs-4"> โพสรับสมัครเภสัชกรประจำแบบ Full-Time หรือ Part-Time มีสวัสดิการพนักงานประจำ </div>
          </div>
        </div>
          <div (click)="goToAddJob(true)" class="selectJob my-3 row semi-border-input m-3" style="background-color: #f2f2f2;">
            <div class="col-4 d-flex justify-content-center align-items-center">
              <i class="bi bi-file-earmark" style="font-size: 4em;"></i>
            </div>
            <div class="col align-items-center">
              <div class="my-3 textProfileResponsive"><b>ประกาศงานรายวัน<i class="ms-3 bi bi-question-circle-fill"></i></b>
              </div>
            <div class="fs-4">โพสรับสมัครเภสัชกรรายวัน ฟรีแลนด์ หรือ Part-Time เพียงบางวัน ท่านสามารถเลือกวันที่ๆต้องการเภสัชกรในประกาศงานได้</div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>  