<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background:#f2f2f2; border-bottom:1px solid #cccccc">
    <div class="container-fluid">
      <div class="d-flex flex-row align-items-center">
        <div class="fs-3">
          <a class="navbar-brand" routerLink="/operator">
              <img src="/assets/logo.png" class="rounded-pill" alt="" width="160" height="48">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-file-earmark-text"></i> 345
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-people"></i> 100
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-building"></i> 23
        </div>
      </div>
      <div class="collapse navbar-collapse d-flex p-2 flex-row-reverse" id="collapsibleNavbar" style="justify-content:space-between">
          <ul class="fs-5 navbar-nav d-flex align-items-center">
            <li class="nav-item fs-2 me-2" data-bs-toggle="tooltip" title="สร้างประกาศงาน">
              <div class="dropdown">
                <a data-bs-toggle='dropdown' class="nav-link" aria-expanded="false">
                    <i class="bi bi-file-earmark-plus"></i>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" (click)="goToAddJob(false)">งานทั่วไป</a></li>
                      <li><a class="dropdown-item" (click)="goToAddJob(true)">งานด่วนรายวัน</a></li>
                    </ul>
                </a>
              </div>
            </li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ประกาศงานทั้งหมด" class="nav-link"><i class="bi bi-inboxes"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มแชท" class="nav-link"><i class="bi bi-chat-left-dots"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ตารางงานด่วนรายวัน" class="nav-link"><i class="bi bi-calendar-event"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มแจ้งเตือน" class="nav-link"><i class="bi bi-bell"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" (click)="signOut()" title="Sign Out" class="nav-link"><i class="bi bi-box-arrow-right"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มเ profile" class="nav-link" routerLink="profile-operator"><i class="bi bi-person-circle"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
