<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <div class="d-flex flex-row align-items-center">
        <div class="fs-3">
          <a class="navbar-brand" routerLink="/pharma">
              <img src="/assets/logo.png" class="rounded-pill" alt="" width="160" height="48">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-file-earmark-text-fill"></i> 345
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-people-fill"></i> 100
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-building-fill"></i> 23
        </div>
      </div>
      <div class="collapse navbar-collapse d-flex p-2 flex-row-reverse" id="collapsibleNavbar" style="justify-content:space-between">
          <ul class="fs-5 navbar-nav d-flex align-items-center">
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="สร้างประกาศงาน" class="nav-link"aria-expanded="false"><i class="bi bi-file-earmark-plus-fill"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ประกาศงานทั้งหมด" class="nav-link" href="#"><i class="bi bi-inboxes-fill"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มแชท" class="nav-link"><i class="bi bi-chat-left-dots-fill"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ตารางงานด่วนรายวัน" class="nav-link"><i class="bi bi-calendar-event-fill"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มแจ้งเตือน" class="nav-link"><i class="bi bi-bell-fill"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="Sign Out" class="nav-link"><i class="bi bi-box-arrow-right"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มเ profile" class="nav-link" routerLink="profile-pharma"><i class="bi bi-person-circle"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
