<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <div class="d-flex flex-row align-items-center">
        <div class="fs-3">
          <a class="navbar-brand" routerLink="/pharma">
              <img src="/assets/logo.png" class="rounded-pill" alt="" width="160" height="48">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-file-earmark-text"></i> 345
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-people"></i> 100
        </div>
        <div class="fs-2 me-3">
          <i class="bi bi-building"></i> 23
        </div>
      </div>
      <div class="collapse navbar-collapse d-flex p-2 flex-row-reverse" id="collapsibleNavbar" style="justify-content:space-between">
        <ng-container *ngIf="loginFlag; then loginNav; else normalNav"></ng-container>
        <ng-template #loginNav>
          <ul class="fs-5 navbar-nav d-flex align-items-center">
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มค้นหาหางาน" class="nav-link" href="#"><i class="bi bi-search"></i></a></li>
            <li class="nav-item fs-2 me-2">
              <div class="dropdown">
                <a  data-bs-toggle="tooltip" title="หางาน" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-file-earmark-text"></i>
                </a>
                <ul class="dropdown-menu p-2">
                  <li><a class="dropdown-item" (click)="redirectToList('AA')">งานเภสัชด่วนรายวัน</a></li>
                  <li><a class="dropdown-item">งานร้านยา</a>
                      <ul>
                          <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" (click)="redirectToList('AB')">ร้านยาทั่วไป (Stand alone)</a></li>
                          <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" (click)="redirectToList('AC')">ร้านยา Brand (Chain)</a></li>
                      </ul>    
                  </li>
                  <li><a class="dropdown-item" (click)="redirectToList('BB')">งานโรงพยาบาล/งานคลินิก</a></li>
                  <li><a class="dropdown-item" (click)="redirectToList('BC')">งานโรงงาน/งานบริษัท/งานวิจัย</a></li>
                  <li><a class="dropdown-item" (click)="redirectToList('CA')">งานอื่นๆ</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มแชท" class="nav-link"><i class="bi bi-chat-left-dots"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ตารางงานด่วนรายวัน" class="nav-link"><i class="bi bi-calendar-event"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มแจ้งเตือน" class="nav-link"><i class="bi bi-bell"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="Sign Out" class="nav-link" (click)="signOut()"><i class="bi bi-box-arrow-right"></i></a></li>
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มเ profile" class="nav-link" routerLink="profile-pharma"><i class="bi bi-person-circle"></i></a></li>
        </ul>
        </ng-template>
        <ng-template #normalNav>
          <ul class="fs-5 navbar-nav d-flex align-items-center">
              <li class="nav-item dropdown ms-3">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">หางาน</a>
                  <ul class="dropdown-menu p-2">
                      <li><a class="dropdown-item" (click)="redirectToList('AA')">งานเภสัชด่วนรายวัน</a></li>
                      <li><a class="dropdown-item">งานร้านยา</a>
                          <ul>
                              <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" (click)="redirectToList('AB')">ร้านยาทั่วไป (Stand alone)</a></li>
                              <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" (click)="redirectToList('AC')">ร้านยา Brand (Chain)</a></li>
                          </ul>    
                      </li>
                      <li><a class="dropdown-item" (click)="redirectToList('BB')">งานโรงพยาบาล/งานคลินิก</a></li>
                      <li><a class="dropdown-item" (click)="redirectToList('BC')">งานโรงงาน/งานบริษัท/งานวิจัย</a></li>
                      <li><a class="dropdown-item" (click)="redirectToList('CA')">งานอื่นๆ</a></li>
                    </ul>
              </li>
              <li class="nav-item ms-3"><a class="nav-link" href="#">ติดต่อเรา</a></li>
              <li class="nav-item ms-3">
                <button type="button" routerLink="login" class="btn btn-primary" >
                  เข้าสู่ระบบ
                </button>
              <li class="nav-item ms-3">
                <button type="button" routerLink="register" class="btn btn-success" >
                  ลงทะเบียน
                </button>
              </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>>
