.dropdown-toggle::after{
    display:none
}
.navClass > li {
    padding: 0 0.5rem
}
/* ::ng-deep .swiper-button-next{
  display:none
}

:host::ng-deep .swiper-slide{
  background:white !important
}
:host ::ng-deep .swiperFormPharma .swiper-slide{
  background-color:white
} */
.imgWidth{
  width: 90%
}
.navText{
  font-size:1.75rem !important
}
@media only screen and (max-width: 1600px){
    .navText{
      font-size:1.5rem !important
    }
  }
@media only screen and (max-width: 1450px){
    .navText{
      font-size:1.3rem !important
    }
  }
@media only screen and (max-width: 1300px){
    .navText{
      font-size:1rem !important
    }
  }
@media only screen and (max-width: 992px){
    .headerLabel{
      display: none !important
    }
  }
@media only screen and (max-width: 500px){
    .notificationImage{
      width: 100px;
      height: 100px
    }
    .customImg{
      width: 40% !important
    }
  }
  .tooltip{
    font-size: 3rem !important;
 }
.redirectFont{
  font-size:large !important
}
.dropdown-menu2{
  left:-13vw !important
}
.btn-primary, btn-primary:hover{
  background:#5cdfe4;
  border-color: #5cdfe4
}
.btn-success{
  background:#7fd858;
  border-color: #7fd858
}