<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background:#f2f2f2; border-bottom:1px solid #cccccc">
    <div class="container-fluid">
      <div class="d-flex flex-row align-items-center">
        <div class="fs-3">
          <a class="navbar-brand" routerLink="/pharma">
            <img src="/assets/logo.png" class="rounded-pill" alt="" width="200">
          </a>
        </div>
        <div class="d-xl-flex d-none flex-row align-items-center">
          <div class="d-lg-block d-none fs-2 me-3">
            <i class="bi bi-file-earmark-text"></i> {{ aggregationGroup.jobCount }}
          </div>
          <div class="fs-2 me-3">
            <i class="bi bi-people"></i>  {{ aggregationGroup.userPharmaCount }}
          </div>
          <div class="fs-2 me-3">
            <i class="bi bi-building"></i> {{ aggregationGroup.userOperatorCount }}
          </div>
        </div>
      </div>
      <div class="d-lg-block d-none d-flex p-2 flex-row-reverse" style="justify-content:space-between">
        <ng-container *ngIf="loginFlag; then loginNav; else normalNav"></ng-container>
        <ng-template #loginNav>
          <ul style="list-style-type: none; margin-bottom:0" class="navClass fs-5 d-flex align-items-center">
            <li class="fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มค้นหาหางาน" class="nav-link" ><i class="bi bi-search"></i></a></li>
            <!-- <li class="nav-item fs-2 me-2">
              <div class="dropdown">
                <a  data-bs-toggle="tooltip" title="หางาน" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-file-earmark-text"></i>
                </a>
                <ul class="dropdown-menu p-2">
                  <li><a class="dropdown-item" (click)="redirectToList('AA')">งานเภสัชด่วนรายวัน</a></li>
                  <li><a class="dropdown-item">งานร้านยา</a>
                      <ul>
                          <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" (click)="redirectToList('AB')">ร้านยาทั่วไป</a></li>
                          <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" (click)="redirectToList('AC')">งานร้านยาแบรนด์</a></li>
                      </ul>    
                  </li>
                  <li><a class="dropdown-item" (click)="redirectToList('BB')">งานโรงพยาบาล/งานคลินิก</a></li>
                  <li><a class="dropdown-item" (click)="redirectToList('BC')">งานโรงงาน/งานบริษัท/งานวิจัย</a></li>
                  <li><a class="dropdown-item" (click)="redirectToList('CA')">งานอื่นๆ</a></li>
                </ul>
              </div>
            </li> -->
            <!-- <li class="nav-item fs-2 me-2">
              <div class="dropdown">
                <a  data-bs-toggle="tooltip" data-bs-auto-close="outside" title="ปุ่มแชท" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-chat-left-dots"></i>
                </a>
                <app-chat-confirm></app-chat-confirm>
              </div>
            </li> -->
            <!-- <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ตารางงานด่วนรายวัน" class="nav-link"><i class="bi bi-calendar-event"></i></a></li> -->
            <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="ปุ่มแจ้งเตือน" class="nav-link"><i class="bi bi-bell"></i></a></li>
            <!-- <li class="nav-item fs-2 me-2"><a  data-bs-toggle="tooltip" title="Sign Out" class="nav-link" (click)="signOut()"><i class="bi bi-box-arrow-right"></i></a></li> -->
            <!--  -->
            <li class="nav-item fs-2 me-2">
              <div class="dropdown">
                <a  data-bs-toggle="tooltip" title="ปุ่มเ profile" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i></a>
                <ul class="dropdown-menu dropdown-menu-end fs-5" style="min-width: 15rem;">
                  <li>
                    <div style="cursor:pointer" class="dropdown-header fs-5" (click)="goToPage('profile-pharma')">
                      <img [src]="user.cropProfilePictureUrl !== undefined? user.cropProfilePictureUrl: user.profilePictureUrl" class="rounded-circle me-3" width="50" height="50">
                      {{user.name}} {{user.surname}}
                    </div>
                  </li>
                  <hr style="width: 80%" class="my-2 m-auto">
                  <li><a class="dropdown-item" (click)="goToPage('profile-pharma', true, {scrollFlag:true})"><i class="bi bi-person me-3"></i>ฝากประวัติ</a></li>
                  <li><a class="dropdown-item" (click)="goToPage('profile-pharma/bookmark')"><i class="bi bi-bookmark me-3"></i>งานที่บันทึก</a></li>
                  <li><a class="d-flex dropdown-item" (click)="goToPage('profile-pharma/register-jobs/request-views')"><i class="bi bi-eye me-3"></i>คำขอดูข้อมูล</a></li>
                  <!-- <li><a class="d-flex dropdown-item" routerLink="jobs-list" [queryParams]="{CategorySymbol: 'AA'}"><i class="bi bi-file-earmark-richtext me-3"></i>งานด่วนรานวัน</a></li> -->
                  <li><a class="d-flex dropdown-item" (click)="goToPage('profile-pharma/register-jobs/request-jobs')"><i class="bi bi-file-earmark-check me-3"></i>งานที่กดสมัคร</a></li>
                  <li><a class="d-flex dropdown-item" (click)="goToPage('profile-pharma/followers')"><i class="bi bi-person-plus me-3"></i>กำลังติดตาม</a></li>
                  <li><a class="d-flex dropdown-item" (click)="signOut()"><i class="bi bi-box-arrow-right me-3"></i>Sign Out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </ng-template>
        <ng-template #normalNav>
          <ul class="fs-5 navbar-nav d-flex align-items-center">
              <li class="nav-item dropdown ms-3">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">หางานเภสัช</a>
                  <ul class="dropdown-menu p-2">
                    <li><a class="dropdown-item" (click)="redirectToList('AA')">งานเภสัชด่วนรายวัน</a></li>
                    <li><a class="dropdown-item">งานร้านยา</a>
                        <ul>
                            <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" (click)="redirectToList('AB')">ร้านยาทั่วไป</a></li>
                            <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" (click)="redirectToList('AC')">งานร้านยาแบรนด์</a></li>
                        </ul>    
                    </li>
                    <li><a class="dropdown-item" (click)="redirectToList('BB')">งานโรงพยาบาล/งานคลินิก</a></li>
                    <li><a class="dropdown-item" (click)="redirectToList('BC')">งานโรงงาน/งานบริษัท/งานวิจัย</a></li>
                    <li><a class="dropdown-item" (click)="redirectToList('CA')">งานอื่นๆ</a></li>
                  </ul>
              </li>
              <!-- <li class="nav-item ms-3"><a class="nav-link" >ติดต่อเรา</a></li> -->
              <li class="nav-item ms-3">
                <button type="button" routerLink="login" class="btn btn-primary">เข้าสู่ระบบ</button>
                <!-- <button type="button" (click)='goToConfirm()' class="btn btn-primary">เข้าสู่ระบ</button> -->
              </li>
              <li class="nav-item ms-3">
                <button type="button" (click)="goRegister(true)" class="btn" style="border-color: #7fd858; background:#7fd858; color:white">
                  สมัครสมาชิก
                </button>
              </li>
              <li class="nav-item ms-3">
                <button type="button" (click)="goRegister(false)" class="btn" style="background:#d63ebf; border-color:#d63ebf; color:white">
                  สำหรับผู้ประกอบการ
                </button>
              </li>
          </ul>
        </ng-template>
      </div>
      <button class="navbar-toggler d-lg-none " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <div class="d-flex flex-row align-items-center justify-content-center">
      <div class="fs-2 me-3">
        <i class="bi bi-file-earmark-text"></i> {{ aggregationGroup.jobCount }}
      </div>
      <div class="fs-2 me-3">
        <i class="bi bi-people"></i>  {{ aggregationGroup.userPharmaCount }}
      </div>
      <div class="fs-2 me-3">
        <i class="bi bi-building"></i> {{ aggregationGroup.userOperatorCount }}
      </div>
    </div>
    <button type="button" class="d-flex flex-row-reverse btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ng-container *ngIf="loginFlag; then loggedNav; else notLoggedNav"></ng-container>
    <ng-template #loggedNav>
      <!-- <ul class="nav nav-pills nav-fill fs-2 mb-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="Profile-tab" data-bs-toggle="tab" data-bs-target="#Profile" type="button" role="tab" aria-controls="Profile" aria-selected="false"><i class="bi bi-person-circle"></i></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="search-tab" data-bs-toggle="tab" data-bs-target="#search" type="button" role="tab" aria-controls="search" aria-selected="true"><i class="bi bi-search"></i></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="chat-tab" data-bs-toggle="tab" data-bs-target="#chat" type="button" role="tab" aria-controls="chat" aria-selected="false"><i class="bi bi-chat-left-dots"></i></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="notifications-tab" data-bs-toggle="tab" data-bs-target="#notifications" type="button" role="tab" aria-controls="notifications" aria-selected="false"><i class="bi bi-bell"></i></button>
        </li>
      </ul> -->
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="Profile" role="tabpanel" aria-labelledby="Profile-tab" tabindex="0">
          <ul class="fs-5" style="list-style-type: none">
            <li>
              <div style="cursor:pointer" class="dropdown-header fs-5"  (click)="goToPage('profile-pharma')" >
                <img [src]="user.cropProfilePictureUrl !== undefined? user.cropProfilePictureUrl: user.profilePictureUrl" class="rounded-circle me-3" width="50" height="50">
                {{user.name}} {{user.surname}}
              </div>
            </li>
            <hr style="width: 80%" class="my-2 m-auto">
            <li><a class="dropdown-item" (click)="goToPage('profile-pharma', true, {scrollFlag:true})"><i class="bi bi-person me-3"></i>ฝากประวัติ</a></li>
            <li>
              <a class="dropdown-item" (click)="goToPage('profile-pharma/bookmark')">
                <i class="bi bi-bookmark me-3"></i>
              งานที่บันทึก
              </a>
            </li>
            <li><a class="d-flex dropdown-item" (click)="goToPage('profile-pharma/register-jobs/request-views')"><i class="bi bi-eye me-3"></i>คำขอดูข้อมูล</a></li>
            <!-- <li>
              <a class="d-flex dropdown-item" (click)="goToPage('jobs-list', true, {CategorySymbol: 'AA'})">
                <i class="bi bi-file-earmark-richtext me-3"></i>
                งานด่วนรานวัน
              </a>
            </li> -->
            <li><a class="d-flex dropdown-item" (click)="goToPage('profile-pharma/register-jobs/request-jobs')"><i class="bi bi-file-earmark-check me-3"></i>งานที่กดสมัคร</a></li>
            <li><a class="d-flex dropdown-item" (click)="goToPage('profile-pharma/followers')"><i class="bi bi-person-plus me-3"></i>กำลังติดตาม</a></li>
            <li><a class="d-flex dropdown-item" (click)="signOut()"><i class="bi bi-box-arrow-right me-3"></i>Sign Out</a></li>
          </ul>
        </div>
        <div class="tab-pane" id="search" role="tabpanel" aria-labelledby="search-tab" tabindex="0">
          <div style="width:fit-content">Search</div>
        </div>
        <!-- <div class="tab-pane" id="chat" role="tabpanel" aria-labelledby="chat-tab" tabindex="0">
          <app-chat-confirm></app-chat-confirm>
        </div> -->
        <div class="tab-pane" id="notifications" role="tabpanel" aria-labelledby="notifications-tab" tabindex="0">
          Notifications
        </div>
      </div>
    </ng-template>
    <ng-template #notLoggedNav>
      <ul class="fs-5 navbar-nav d-flex align-items-center">
          <li class="nav-item ms-3 my-2">
            <button type="button" (click)="goToPage('login')" class="btn btn-primary" >
              เข้าสู่ระบบ
            </button>
          <li class="nav-item ms-3 my-2">
            <button type="button" (click)="goToPage('register', true, {isPharma: true})" class="btn btn-success">
              สมัครสมาชิก
            </button>
          </li>
          <li class="nav-item ms-3 my-2">
            <button type="button" (click)="goToPage('register', true, {isPharma: false})" class="btn" style="background:#dfa5d6; border-color:#dfa5d6; color:white">
              สำหรับผู้ประกอบการ
            </button>
          </li>
        <li class="nav-item ms-3 my-2">
            <a class="nav-link text-center" role="button" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">หางาน</a>
            <div id="collapseExample" class="collapse">
              <ul class="p-2">
                  <li><a  (click)="redirectToList('AA')">งานเภสัชด่วนรายวัน</a></li>
                  <li><a>งานร้านยา</a>
                      <ul>
                          <li class="landing-page_pharmacy-dropdown"><a (click)="redirectToList('AB')">ร้านยาทั่วไป</a></li>
                          <li class="landing-page_pharmacy-dropdown"><a (click)="redirectToList('AC')">งานร้านยาแบรนด์</a></li>
                      </ul>    
                  </li>
                  <li><a (click)="redirectToList('BB')">งานโรงพยาบาล/งานคลินิก</a></li>
                  <li><a (click)="redirectToList('BC')">งานโรงงาน/งานบริษัท/งานวิจัย</a></li>
                  <li><a (click)="redirectToList('CA')">งานอื่นๆ</a></li>
              </ul>
            </div>
        </li>
        <li class="nav-item ms-3 my-2"><a class="nav-link" >ติดต่อเรา</a></li>
    </ul>
    </ng-template>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="modal fade" id="requestViewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title fs-3">เขียนข้อความแนบ</h5>
        <button type="button" class="btn-close" (click)="onClose()" aria-label="Close"></button>
      </div> -->
          <div class="modal-body">
            <ng-container *ngIf="requestView.requestView == ''; then empty; else notEmpty"></ng-container>
            <ng-template #empty>
              <div class="fs-3" style="text-align:center">ไม่มีข้อความแนบ</div>
            </ng-template>
            <ng-template #notEmpty>
              <div class="fs-3" [innerHTML]="requestView.requestView"></div>
            </ng-template>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">แชร์งานที่คุณถูกใจเลย!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
			<div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" [value]="nameToShare" id="myInput" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"  type="button" (click)="copyString()">{{copy}}</button>
          </div>
        </div>
        <share-buttons theme="circles-dark"
          [include]="[ 'facebook', 'messenger', 'line', 'twitter']"
          [url]="nameToShare"
          image="assets/banner11.png"
          [showIcon]="true"
          [showText]="false">
        </share-buttons>
		  </div>
	  </div>
	</div>
</div>  
