@media only screen and (max-width: 576px) {
    .keyValueGap{
        margin-right: 1rem !important
    }
    .jobTypePayload{
        padding-left:9px !important
    }

}
@media only screen and (max-width: 500px) {
    .contacts{
        margin-left: 2rem !important
    }

}
@media only screen and (max-width: 992px) {
    .verticalKeyGap > div{
        font-size:smaller
    }
    .jobTypePayload {
        font-size: smaller
    }
}
@media only screen and (max-width: 768px) {
    .verticalKeyGap > div{
        font-size:medium
    }
    .jobTypePayload {
        font-size: medium !important
    }
    .editButton{
        justify-content:center !important
    }
}

.keyValueGap{
    margin-right:2.5rem
}
.contacts > .verticalKeyGap > .keyValueGap{
    margin-right:1rem
}
.btn-primary{
    background:#5cdfe4;
    border-color: #5cdfe4
}
.verticalKeyGap{
    margin-bottom:2rem
}