
<ng-container *ngIf="!editFlag; then displayPage; else editPage"></ng-container>
<ng-template #displayPage>
    <div class="p-lg-5 p-4  my-4 light-red-color semi-border-input" *ngIf="innerProfileInformation.studentFlag">
        <div style="color:red" class="mb-4">
            *บัญชีนักศึกษาเภสัช สามารถแก้ไขหัวข้อ “ข้อมูลส่วนตัว” ได้ตามปกติ เมื่อกดบันทึก ข้อมูลจะถูกจัดเก็บไว้ในระบบ และจะไม่แสดงข้อมูลในหัวข้อ “ข้อมูลส่วนตัว” ของท่านต่อผู้ประกอบการ จนกว่าท่านจะอัพกรดบัญชีเป็น “บัญชีเภสัชกร” <br> <a class="mx-2">ดูวิธีอัพเกรดบัญชี</a>
        </div>
    </div>
    <div class="d-flex flex-row verticalKeyGap textResponsiveHeader">
        <div class="keyValueGap"><i class="bi bi-briefcase-fill"></i></div>
        <div style="width:-webkit-fill-available; width:-moz-available">
            <div>
                <div><b>งานที่กำลังมองหา</b></div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row verticalKeyGap">
        <div class="keyValueGap"><i style="color:red" class="bi bi-heart-fill"></i></div>
        <div style="width:-webkit-fill-available; width:-moz-available">
            <div>
                <div><b>ประเภทงานที่สนใจ</b></div>
            </div>
            <div *ngIf="resultPayload.length == 0">ไม่ระบุ</div>
            <div *ngIf="resultPayload.length > 0" class="jobTypePayload">
                <ul >
                    <li *ngFor="let jobType of resultPayload">
                        {{jobType}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row verticalKeyGap">
        <div class="keyValueGap"><i class="bi bi-lightbulb-fill"></i></div>
        <div style="width:-webkit-fill-available; width:-moz-available">
            <div class="keyValueGap">
                <div><b>ชนิดของพนักงาน</b></div>
            </div>
            <div>
                {{innerProfileInformation.preferredTimeFrame | emptyFieldPipe}}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row verticalKeyGap">
        <div class="keyValueGap"><i class="bi bi-bootstrap"></i></div>
        <div style="width:-webkit-fill-available; width:-moz-available">
            <div class="keyValueGap">
                <div><b>เงินเดือนที่ต้องการ</b></div>
            </div>
            <div>
                {{innerProfileInformation.preferredSalary | emptyFieldPipe}}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row verticalKeyGap">
        <div class="keyValueGap"><i class="bi bi-clock-fill"></i></div>
        <div style="width:-webkit-fill-available; width:-moz-available">
            <div class="keyValueGap">
                <div><b>สามารถเริ่มงานได้</b></div>
            </div>
            <div>
                {{innerProfileInformation.preferredStartTime | emptyFieldPipe}}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row verticalKeyGap">
        <div class="keyValueGap"><i class="bi bi-geo-fill"></i></div>
        <div style="width:-webkit-fill-available; width:-moz-available">
            <div class="keyValueGap">
                <div><b>หางานพื้นที่</b></div>
            </div>
            <div>
                {{innerProfileInformation.preferredLocation?.Section | emptyFieldPipe}}, {{innerProfileInformation.preferredLocation?.District | emptyFieldPipe}}, {{innerProfileInformation.preferredLocation?.Province | emptyFieldPipe}}
            </div>
        </div>
    </div>
    <div class="align-items-baseline d-flex justify-content-center ms-3  mb-5"><button [ngStyle]="{'visibility': !editFlag?'unset':'hidden'}"(click)="editClick()" type="button" class="btn  green-color textProfileResponsive" style="color:white; padding: 0.5rem 2rem; border-radius: 50px !important">แก้ไขข้อมูล</button></div>
</ng-template>
<ng-template #editPage>
    <div class="p-lg-5 p-4  my-4 light-red-color semi-border-input" *ngIf="innerProfileInformation.studentFlag">
        <div style="color:red" class="mb-4">
            *บัญชีนักศึกษาเภสัช สามารถแก้ไขหัวข้อ “ข้อมูลส่วนตัว” ได้ตามปกติ เมื่อกดบันทึก ข้อมูลจะถูกจัดเก็บไว้ในระบบ และจะไม่แสดงข้อมูลในหัวข้อ “ข้อมูลส่วนตัว” ของท่านต่อผู้ประกอบการ จนกว่าท่านจะอัพกรดบัญชีเป็น “บัญชีเภสัชกร” <br> <a class="mx-2">ดูวิธีอัพเกรดบัญชี</a>
        </div>
    </div>
    <form [formGroup]="profileEdit" (ngSubmit)="onSave()">
        <div class="d-flex flex-row verticalKeyGap">
            <div class="keyValueGap"><i class="bi bi-briefcase-fill"></i></div>
            <div style="width:-webkit-fill-available; width:-moz-available">
                <div>
                    <div><b>งานที่กำลังมองหา</b></div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row verticalKeyGap">
            <div class="keyValueGap"><i style="color:red" class="bi bi-heart-fill"></i></div>
            <div style="width:-webkit-fill-available; width:-moz-available">
                <div class="keyValueGap">
                    <div><b>ประเภทงานที่สนใจ</b> (เลือกได้มากกว่า 1 ชนิด)</div>
                </div>
                <div class="col d-flex">
                    <div  formGroupName="preferredJobType" [ngClass]="{ 'is-invalid': submitted && profileEdit.get('preferredJobType')!.errors! }">
                        <div class="d-flex flex-row-start mb-3 form-check">
                            <input formControlName="AA" class="responsiveText me-3 form-check-input" type="checkbox" value="" id="AA">
                            <label class="responsiveText form-check-label" for="AA">
                                งานร้านยาทั่วไป
                            </label>
                        </div>
                        <div class="d-flex flex-row-start mb-3 form-check">
                            <input formControlName="AB" class="responsiveText me-3 form-check-input" type="checkbox" value="" id="AB">
                            <label class="responsiveText form-check-label" for="AB">
                                งานร้านยา Brand
                            </label>
                        </div>
                        <div class="d-flex flex-row-start mb-3 form-check">
                            <input formControlName="AC" class="responsiveText me-3 form-check-input" type="checkbox" value="" id="AC">
                            <label class="responsiveText form-check-label" for="AC">
                                งานโรงพยาบาล
                            </label>
                        </div>
                        <div class="d-flex flex-row-start mb-3 form-check">
                            <input formControlName="BA" class="responsiveText me-3 form-check-input" type="checkbox" value="" id="BA">
                            <label class="responsiveText form-check-label" for="BA">
                                งานคลินิก
                            </label>
                        </div>
                        <div class="d-flex flex-row-start mb-3 form-check">
                            <input formControlName="BB" class="responsiveText me-3 form-check-input" type="checkbox" value="" id="BB">
                            <label class="responsiveText form-check-label" for="BB">
                                งานโรงงาน
                            </label>
                        </div>
                        <div class="d-flex flex-row-start mb-3 form-check">
                            <input formControlName="BC" class="responsiveText me-3 form-check-input" type="checkbox" value="" id="BC">
                            <label class="responsiveText form-check-label" for="BC">
                                งานบริษัท
                            </label>
                        </div>
                        <div class="d-flex flex-row-start mb-3 form-check">
                            <input formControlName="CA" class="responsiveText me-3 form-check-input" type="checkbox" value="" id="CA">
                            <label class="responsiveText form-check-label" for="CA">
                                งานวิจัย
                            </label>
                        </div>
                        <div class="d-flex flex-row-start mb-3 form-check">
                            <input formControlName="CB" class="responsiveText me-3 form-check-input" type="checkbox" value="" id="CB">
                            <label class="responsiveText form-check-label" for="CB">
                                งานอื่นๆ
                            </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="submitted && profileEdit.get('preferredJobType')!.errors!" class="invalid-feedback">
                    <div class="row">
                        <div class="col-lg-3 col-12col-3">
                            <div class="responsiveText me-3" style="visibility:hidden"><b>ชนิดของพนักงาน</b></div>
                        </div>
                        <div class="col">กรุณาเลือกประเภทงานที่สนใจอย่างน้อย 1 ชนิด</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row verticalKeyGap">
            <div class="keyValueGap"><i class="bi bi-lightbulb-fill"></i></div>
            <div style="width:-webkit-fill-available; width:-moz-available">
                <div class="keyValueGap">
                    <div><b>ชนิดของพนักงานที่สนใจ</b></div>
                </div>
                <select formControlName="preferredTimeFrame" name="preferredTimeFrame" class="border-input form-select mb-3 "  [ngClass]="{ 'is-invalid': submitted && profileEdit.get('preferredTimeFrame')!.errors! }">
                    <option selected disabled value="">เลือกชนิดของพนักงาน</option>
                    <option value="Full-Time">Full-Time</option>
                    <option value="Part-Time">Part-Time</option>
                    <option value="Full-Time และ Part-Time">Full-Time และ Part-Time</option>
                </select>
                <div *ngIf="submitted && profileEdit.get('preferredTimeFrame')!.errors!" class="invalid-feedback">
                    <div>กรุณาเลือกชนิดพนักงาน</div>
                </div>
            </div>
        </div>
        <app-location [parentFormGroup]="profileEdit" formGroupName="preferredLocation"></app-location>
        <div class="d-flex flex-row verticalKeyGap">
            <div class="keyValueGap"><i class="bi bi-bootstrap-fill"></i></div>
            <div style="width:-webkit-fill-available; width:-moz-available">
                <div class="keyValueGap">
                    <div><b>เงินเดือนขั้นต่ำที่ต้องการ</b></div>
                </div>
                <select formControlName="preferredSalary" name="preferredSalary" class="border-input form-select mb-3 " >
                    <option value="" selected disabled>ระบุเงินเดือนขั้นต่ำที่ต้องการ</option>
                    <option value="20,000">20,000</option>
                    <option value="30,000">30,000</option>
                    <option value="40,000">40,000</option>
                    <option value="50,000">50,000</option>
                    <option value="60,000">60,000</option>
                    <option value="70,000">70,000</option>
                    <option value="80,000">80,000</option>
                    <option value="90,000">90,000</option>
                    <option value="100,000+">100,000+</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-row verticalKeyGap">
            <div class="keyValueGap"><i class="bi bi-clock-fill"></i></div>
            <div style="width:-webkit-fill-available; width:-moz-available">
                <div class="keyValueGap">
                    <div><b>สามารถเริ่มงานได้เมื่อไหร่</b></div>
                </div>
                <select formControlName="preferredStartTime" name="preferredStartTime" class="border-input form-select mb-3 " >
                    <option value="" selected disabled>เลือกวันที่ท่านสามารถเริ่มงานได้</option>
                    <option selected value="ทันที">ทันที</option>
                    <option selected value="ภายใน 1 สัปดาห์">ภายใน 1 สัปดาห์</option>
                    <option selected value="ภายใน 2 สัปดาห์">ภายใน 2 สัปดาห์</option>
                    <option selected value="ภายใน 3 สัปดาห์">ภายใน 3 สัปดาห์</option>
                    <option selected value="ภายใน 1 เดือน">ภายใน 1 เดือน</option>
                </select>
            </div>
        </div>
        <div class="align-items-baseline d-flex justify-content-center ms-3">
            <div *ngIf="loadingFlag" class="spinner-border text-primary keyValueGap" style="color:white" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <button class="btn btn-light textProfileResponsive" (click)="cancelClick()" style="padding: 0.5rem 2rem; border-radius: 50px !important">ยกเลิก</button>
            <button type="submit" class="btn textProfileResponsive ms-3" style="border-color: rgb(127, 216, 88); background-color:rgb(127, 216, 88); padding: 0.5rem 2rem; border-radius: 50px !important; color:white">บันทึก</button>
        </div>
    </form>
</ng-template>
