@media only screen and (max-width: 576px) {
    .keyValueGap{
        margin-right: 1rem !important
    }
    .jobTypePayload{
        padding-left:9px !important
    }

}
@media only screen and (max-width: 500px) {
    .contacts{
        margin-left: 2rem !important
    }

}
@media only screen and (max-width: 992px) {
    .verticalKeyGap > div{
        font-size:smaller
    }
    .dangerText{
        font-size: smaller
    }
    .jobTypePayload {
        font-size: smaller
    }
    .responsiveText{
        font-size: smaller !important
    }
    .editButton > button, .saveButton{
        font-size:smaller !important
    }
}
@media only screen and (max-width: 768px) {
    .verticalKeyGap > div{
        font-size:medium
    }
    .dangerText{
        font-size: medium !important
    }
    .responsiveText{
        font-size: medium !important
    }
    .jobTypePayload {
        font-size: medium !important
    }
    .editButton > button, .saveButton{
        font-size:medium !important
    }
}
.invalid-feedback2{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545
  }
.editButton > button, .saveButton{
    font-size:1.75rem
}
.keyValueGap{
    margin-right:2.5rem
}
.verticalKeyGap{
    margin-bottom:2rem
}
.contacts > .verticalKeyGap > .keyValueGap{
    margin-right:1rem
}
.btn-primary, btn-primary:hover{
    background:#5cdfe4;
    border-color: #5cdfe4
}