    <div [ngSwitch]="profileType">
        <div *ngSwitchCase="'pharmacist-profile'" >
            <div class="container" style="background: white; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <div style="position:relative">
                    <div *ngIf="editCoverPhotoFlag" id="coverPhotoEditButtonPositionDropdown" class="dropdown me-md-3 d-sm-block d-none" [ngStyle]="{'visibility': photoFlag, 'position': 'absolute', 'right': '0.5rem', 'bottom': '0.5rem', 'z-index': '6'}">
                        <button data-bs-toggle="dropdown" 
                                aria-expanded="false" 
                                class="btn btn-secondary fs-3 coverPhotoEditButtonPosition">
                                <i class="bi bi-camera me-1"></i> ปรับแต่งรูป
                        </button>
                        <ul class="dropdown-menu p-2">
                            <li><a class="dropdown-item" (click)="uploadNewPhotoClick()"><i class="bi bi-cloud-upload me-1"></i><input type="file" id="fileUpload"  (change)="repositionGuard($event)" hidden/>อัพโหลดรูป</a></li>
                            <li><a class="dropdown-item" (click)="editCoverPhotoClick()"><i class="bi bi-arrow-down-up me-1"></i>เปลี่ยนตำแหน่ง</a></li>
                            <!-- <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item"><i class="bi bi-trash3 me-1"></i>ลบรูป</a></li> -->
                        </ul>
                    </div>
                    
                    <div *ngIf="!editCoverPhotoFlag" class="d-sm-flex d-none px-sm-0 px-4 justify-content-between justify-content-sm-end p-3" style=" position: absolute; z-index: 2; right: 0">
                        <div class="d-flex justify-content-start">
                            <div *ngIf="savePhotoLoadingFlag" class="align-self-center spinner-border text-primary me-3" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <button class="btn btn-primary me-3" *ngIf="pathToUploadPicture" (click)="uploadCoverPhotoClick()">Save</button>
                            <button class="btn btn-primary me-3" *ngIf="!pathToUploadPicture" (click)="saveCoverPhotoClick()">Save</button>
                        </div>
                        <button class="btn btn-secondary" (click)="cancelCoverPhotoClick()">Cancel</button>
                    </div>
        
                    <div id="coverPhoto"  style='touch-action: none' class="coverPhoto img-container mh-100">
                        <img id="innerPhoto" class="innerCoverPhoto" [ngStyle]="{'visibility': photoFlag}" draggable='false' [src]="result.coverPhotoPictureUrl"/>
                    </div>
                </div>
                <div class="outerHeader2Pharma d-flex justify-content-between" style="height:7rem">
                    <div class="outerHeaderPharma d-flex justify-content-between">
                        <div>
                            <img class="job-post_profile-picture border border-5 border-white rounded-circle" id="profilePicture" [src]="result.cropProfilePictureUrl !== undefined? result.cropProfilePictureUrl: result.profilePictureUrl" alt="Profile Picture" width="150" height="150" />
                            <div class="profileUploadButton" data-bs-toggle="dropdown">
                                <i class="bi bi-camera-fill fs-3"></i>
                            </div>
                            <ul class="dropdown-menu p-2">
                                <li><a class="dropdown-item" (click)="uploadProfilePictureClick()"><i class="bi bi-cloud-upload me-1"></i>อัพโหลดรูป</a></li>
                                <li><a class="dropdown-item" (click)="editProfilePictureClick($event, 'asdf')"><i class="bi bi-arrow-down-up me-1"></i>เปลี่ยนตำแหน่ง</a></li>
                            </ul>
                            <input type="file" id="profilePictureFile" (change)="editProfilePictureClick($event, '')" hidden/>
                        </div>
        
                        <div>
                            <ng-container *ngIf="editFlag; then editNickName; else displayNickName"></ng-container>
                            <ng-template #editNickName>
                                <div class="ms-lg-5">
                                    <form [formGroup]="introTextForm" (ngSubmit)="onSave()">
                                        <input class="form-control nickNameForm" style="font-size:3rem" formControlName="nickName">
                                    </form>
                                </div>
                                <div class="d-flex mainHeader">
                                    <h5 style='align-self:end' class="mainHeaderContent mb-0 mt-lg-2 ms-lg-5"><i class="bi bi-house me-1"></i> {{result.Location?.District | emptyFieldPipe}}, {{result.Location?.Province | emptyFieldPipe}}</h5>
                                </div>
                            </ng-template>
                            <ng-template #displayNickName>
                                <div class="mainHeader">
                                    <h2 style="font-size:3.5rem" class="mt-3 mb-0 ms-lg-5 me-0 mainHeaderContent">{{result.nickName}}</h2>
                                     <h5 style='align-self:end' class="mainHeaderContent mb-0 mt-lg-2 ms-lg-5"><i class="bi bi-house me-1"></i> {{result.Location?.District | emptyFieldPipe}}, {{result.Location?.Province | emptyFieldPipe}}</h5>
                                </div>
                            </ng-template>
                            <div>
                                <!-- <h6 class="mx-4"><i>{{profileInformation.JobType}}</i ></h6> -->
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="editButton fs-2 text-center justify-content-end align-items-center">
                            <div *ngIf="introTextLoadingFlag" class="spinner-border text-primary keyValueGap" style="color:white" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <button *ngIf="!editFlag" class="editButtonText rounded btn btn-light fs-4 ms-sm-3 mb-sm-0 mb-1 me-md-3" type="button" (click)="editIntroTextClicked()">
                                <i data-bs-toggle="tooltip" title='แก้ไขโปรไฟล์' class="user-buttons bi bi-pencil-square me-3"></i>แก้ไขแนะนำตัว
                            </button>
                            <button *ngIf="profileInformation$.studentFlag" class="btn-success editButtonText rounded btn fs-4 ms-sm-3 mb-sm-0 mb-1 me-md-3" type="button" (click)="upgradeModalClick()">
                                อัพเกรดบัญชี
                            </button>
                            <!-- <div class="ms-3"><a (click)="openPageView()"><i data-bs-toggle="tooltip" title='ปุ่มมุมมองผู้อื่น' class="user-buttons bi bi-eye"></i></a></div>
                            <div class="mx-3"><a><i data-bs-toggle="tooltip" title='ตั้งค่า' class="user-buttons bi bi-gear"></i></a></div> -->
                            <div *ngIf="editCoverPhotoFlag" class="dropdown me-md-3 d-sm-none" [ngStyle]="{'visibility': photoFlag, 'z-index': '6'}">
                                <button data-bs-toggle="dropdown" 
                                        aria-expanded="false"  
                                        class="btn btn-secondary fs-4 ms-sm-3 coverPhotoEditButtonPosition">
                                        <i class="bi bi-camera me-1"></i> ปรับแต่งรูป
                                </button>
                                <ul class="dropdown-menu p-2">
                                    <li><a class="dropdown-item" (click)="uploadNewPhotoClick()"><i class="bi bi-cloud-upload me-1"></i><input type="file" id="fileUpload"  (change)="repositionGuard($event)" hidden/>อัพโหลดรูป</a></li>
                                    <li><a class="dropdown-item" (click)="editCoverPhotoClick()"><i class="bi bi-arrow-down-up me-1"></i>เปลี่ยนตำแหน่ง</a></li>
                                    <!-- <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item"><i class="bi bi-trash3 me-1"></i>ลบรูป</a></li> -->
                                </ul>
                            </div>
                            <div *ngIf="!editCoverPhotoFlag" class="d-sm-none d-flex px-sm-0 px-4 justify-content-between justify-content-sm-end p-3" style=" position: absolute; z-index: 2; right: 0">
                                <div class="d-flex justify-content-start">
                                    <div *ngIf="savePhotoLoadingFlag" class="align-self-center spinner-border text-primary me-3" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <button class="btn btn-primary me-3" *ngIf="pathToUploadPicture" (click)="uploadCoverPhotoClick()">Save</button>
                                    <button class="btn btn-primary me-3" *ngIf="!pathToUploadPicture" (click)="saveCoverPhotoClick()">Save</button>
                                </div>
                                <button class="btn btn-secondary" (click)="cancelCoverPhotoClick()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="d-lg-block d-none" style="visibility:hidden">
                        <img class="job-post_profile-picture border border-5 border-white rounded-circle" [src]="result.cropProfilePictureUrl !== undefined? result.cropProfilePictureUrl: result.profilePictureUrl" alt="Profile Picture" width="150" height="10" />
                    </div>
                    <div class="fs-5 mb-5 mt-4 ms-lg-5 fourPointersPharma" style="width: -webkit-fill-available; width: -moz-available">
                        <div class="d-flex"></div>
                        <div class="row my-2">
                            <div class=" col-md-5 col-12 fourPointKeyValue">
                                <div class="d-flex me-xl-3">
                                    <i class="bi bi-lightbulb me-3"></i>
                                    หางาน  
                                </div>
                                <div class="d-flex">
                                    <div class="phantomPadding">
                                        <i class="bi bi-lightbulb me-3"></i>
                                    </div>
                                    {{result.preferred.timeFrame | emptyFieldPipe}}
                                </div>
                            </div>
                            <div class="col fourPointKeyValue">
                                <div class="d-flex me-xl-3">
                                    <i class="bi bi-currency-bitcoin me-3"></i>
                                    เงินเดือนขั้นต่ำที่ต้องการ 
                                </div>
                                <div class="d-flex">
                                    <div class="phantomPadding">
                                        <i class="bi bi-lightbulb me-3"></i>
                                    </div>
                                    {{result.preferred.salary | emptyFieldPipe}}
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class=" col-md-5 col-12 fourPointKeyValue">
                                <div class="d-flex me-xl-3">
                                    <i class="bi bi-geo-alt me-3"></i>
                                    หางานพื้นที่
                                </div>
                                <div class="d-flex">
                                    <div class="phantomPadding">
                                        <i class="bi bi-lightbulb me-3"></i>
                                    </div>
                                    {{result.preferred.district | emptyFieldPipe}}, {{result.preferred.province | emptyFieldPipe}}
                                </div>
                            </div>
                            <div class="col pe-lg-5 fourPointKeyValuePreferred">
                                <div class="d-flex me-xl-3 me-3">
                                    <i class="bi bi-clipboard me-3"></i>
                                    สนใจ 
                                </div>
                                <ng-container *ngIf="result.preferred.jobType == 0; then noPreferred; else Preferred"></ng-container>
                                <ng-template #noPreferred>
                                    <div>ไม่ระบุ</div>
                                </ng-template>
                                <ng-template #Preferred>
                                    <div class="preferredJobs">
                                        <span class="badge rounded-pill text-bg-primary me-2" style="line-break: auto" *ngFor="let job of result.preferred.jobType">{{job}}</span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
    
                    </div>
                </div>
                <ng-container *ngIf="editFlag; then edit; else display"></ng-container>
                <ng-template #edit>
                    <div class="pb-5" style="padding: 0 10vw">
                        <form [formGroup]="introTextForm" (ngSubmit)="onSave()">
                            <textarea class="form-control fs-3 pb-5" formControlName="introText" id="exampleFormControlTextarea1" rows="3"></textarea>
                            <div class="d-flex justify-content-end mt-3">
                                <button class="fs-2 btn btn-light"  (click)="cancelIntroText()" style="padding: 0.5rem 2rem; border-radius: 50px !important">ยกเลิก</button>
                                <button type="submit" class="ms-3 btn fs-2" style="border-color: rgb(127, 216, 88); background-color:rgb(127, 216, 88); padding: 0.5rem 2rem; border-radius: 50px !important; color:white">บันทึก</button>
                            </div>
                        </form>
                    </div>
                </ng-template>
                <ng-template #display>
                    <div class="fs-3 pb-5 introText" style="padding: 0 10vw; text-indent: 20px">{{result.introText}}</div>
                </ng-template>
            </div>
        </div>
        <div *ngSwitchCase="'job-post'" class="container" >
            <div style="position:relative">
                
                <div id="coverPhoto"  class="coverPhoto img-container mh-100">
                    <img id="innerPhoto" class="innerCoverPhoto" draggable='false' [src]="result.coverPhotoPictureUrl" />
                </div>
            </div>
            <div class="outerHeader2 d-lg-flex justify-content-between pb-md-0 pb-1 mb-md-5" style="background: white; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <div class="outerHeader d-flex justify-content-lg-between">
                    <img class="job-post_profile-picture border border-5 border-white rounded-circle" (click)="goToOperatorProfile()" [src]="result.cropProfilePictureUrl !== undefined? result.cropProfilePictureUrl: result.profilePictureUrl" alt="Profile Picture" width="150" height="150" />
                    <div>
                        <div class="mainHeader">
                            <h3 class="mainHeaderContent m-4 ms-lg-5 mb-0 me-lg-2">{{result.Establishment | emptyFieldPipe}}</h3> 
                        </div>
                        <div class="d-lg-flex mt-md-4 ms-lg-5"> 
                            <h4 class="mainHeaderContent ms-lg-0 ms-md-4 me-md-3 my-md-0 my-2 align-self-center"><i>{{result.JobType | emptyFieldPipe}}</i></h4>
                        </div>
                    </div>
                </div>
                <div class="mt-md-4 mt-2">
                    <div class="followButton d-flex justify-content-lg-between justify-content-center pb-0 pb-5">
                        <button (click)="toggleFollow()" id="mouseTarget3" style="min-width: 12rem" class="btn mx-3 me-lg-5"  [ngClass]="!followingFlag? 'btn-outline-secondary': 'btn-outline-primary'">
                            <ng-container *ngIf="followLoading; then loading; else notLoading"></ng-container>
                            <ng-template #loading>
                                <div>
                                    <div style="text-align:center">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #notLoading>
                                <ng-container *ngIf="followFlag$ | async; then alreadyFollow; else follow"></ng-container>
                                <ng-template #alreadyFollow>
                                    <h3 class="mb-0">{{ followedText }}</h3>
                                </ng-template>
                                <ng-template #follow>
                                    <h3 class="mb-0">ติดตาม</h3>
                                </ng-template>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'operator-profile'"  class="container px-0 pb-2" style="background: white; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
            <div id="coverPhoto"  class="coverPhoto img-container mh-100">
                <img id="innerPhoto" class="innerCoverPhoto" [src]="result.coverPhotoPictureUrl" />
            </div>
            <div class="outerHeader2 d-flex justify-content-between"  style="height:15vh">
                <div class="outerHeader d-flex justify-content-between">
                    <img class="job-post_profile-picture border border-5 border-white rounded-circle" [src]="result.cropProfilePictureUrl !== undefined? result.cropProfilePictureUrl: result.profilePictureUrl" alt="Profile Picture" width="150" height="150" />
                        <div class="align-items-center mainHeader">
                            <h3 class="m-4 ms-5 mb-0 me-md-2">{{result.companyName | emptyFieldPipe}}</h3> 
                            <h5 style='align-self:end' class="my-2 ms-5 mb-0 me-md-2"><i class="bi bi-house me-1"></i> {{result.Location?.District | emptyFieldPipe}}, {{result.Location?.Province | emptyFieldPipe}}</h5>
                        </div>
                        <!-- <div>
                            <h6 class="mx-4"><i>{{result.JobType}}</i></h6>
                        </div> -->
                </div>
                <div class="mt-4">
                    <div id="operatorFollow" class="followButton d-flex justify-content-between">
                        <button (click)="toggleFollow()" id="mouseTarget" style="min-width: 12rem" class="btn mx-3 me-md-5"  [ngClass]="!followingFlag? 'btn-outline-secondary': 'btn-outline-primary'">
                            <ng-container *ngIf="followLoading; then loading; else notLoading"></ng-container>
                            <ng-template #loading>
                                <div>
                                    <div style="text-align:center">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #notLoading>
                                <ng-container *ngIf="followFlag$ | async; then alreadyFollow; else follow"></ng-container>
                                <ng-template #alreadyFollow>
                                    <h3 class="mb-0">{{ followedText }}</h3>
                                </ng-template>
                                <ng-template #follow>
                                    <h3 class="mb-0">ติดตาม</h3>
                                </ng-template>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="d-md-block d-none" style="visibility:hidden">
                    <img class="job-post_profile-picture border border-5 border-white rounded-circle" [src]="result.cropProfilePictureUrl !== undefined? result.cropProfilePictureUrl: result.profilePictureUrl" alt="Profile Picture" width="150" height="10" />
                </div>
                <div class="fs-5 fourPointers ms-5" style="width: -webkit-fill-available; width: -moz-available">
                    <div class="row my-sm-2 my-0">
                        <div class="col-sm col-12 jobCounts2">
                            <i class="bi bi-building me-3"></i>{{result.jobType | emptyFieldPipe}}
                        </div>
                        <div class="col-sm col-12 jobCounts">
                            <i class="bi bi-person me-3"></i>ผู้ติดตาม {{followers$ | async}} คน
                            
                             <!--<span class="badge rounded-pill text-bg-primary me-2" *ngFor="let job of result.preferredJobType">{{job}}</span> -->
                        </div>
                    </div>
                    <div class="row my-sm-2 my-0">
                        <div class="col-sm col-12 jobCounts2">
                            <i class="bi bi-briefcase me-3"></i>ประกาศงานทั่วไป 
                            {{jobCount.normalJobs}}
                        </div>
                        <div class="col-sm col-12 jobCounts">
                            <i class="bi bi-card-checklist me-3"></i>ประกาศงานด่วน 
                            {{jobCount.urgentJobs}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4 d-flex justify-content-center">
                <div id="operatorFollowTwo" class="followButton">
                    <button (click)="toggleFollow()" id="mouseTarget2" style="min-width: 12rem" class="btn mx-3 me-md-5"  [ngClass]="!followingFlag? 'btn-outline-secondary': 'btn-outline-primary'">
                        <ng-container *ngIf="followLoading; then loading; else notLoading"></ng-container>
                        <ng-template #loading>
                            <div>
                                <div style="text-align:center">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #notLoading>
                            <ng-container *ngIf="followFlag$ | async; then alreadyFollow; else follow"></ng-container>
                            <ng-template #alreadyFollow>
                                <h3 class="mb-0">ติดตามแล้ว</h3>
                            </ng-template>
                            <ng-template #follow>
                                <h3 class="mb-0">ติดตาม</h3>
                            </ng-template>
                        </ng-template>
                    </button>
                </div>
            </div>
            <div class="fs-3 pb-5 introText" style="padding: 0 10vw; text-indent: 20px;">{{result.introText}}</div>
        </div>
    </div>
    <div class="modal fade" id="studentUpgradeModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-body">
                <div [ngSwitch]="upgradeStage">
                    <div *ngSwitchCase="'first'" class="m-3">
                        <div class="p-5 fs-3">
                            หากท่านได้รับใบประกอบวิชาชีพเภสัชกรรมแล้ว ท่านสามารถขออัพเกรดบัญชีเป็นเภสัชกรเพื่อฝากประวัติกับเราได้ ท่านต้องการอัพเกรดบัญชีเป็นเภสัชกรใช่ไหม?
                        </div>
                        <div class="d-flex gap-3 justify-content-center">
                            <button class="btn-modal fs-3 btn btn-light" (click)="upgradeModal.hide()">ยกเลิก</button>
                            <button class="btn-modal fs-3 btn btn-success"(click)="changeStage('second')">ตกลง</button>
                        </div>
                    </div>
                    <div class="p-5 fs-3" *ngSwitchCase="'second'">
                        <div class="text-center fs-2">ส่งข้อมูลอัพเกรดบัญชีเป็นเภสัชกร</div>
                        <div class="loading" [ngStyle]="{'visibility': upgradeLoadingFlag?'unset': 'hidden'}">
                            <div style="text-align:center">
                                <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <form [formGroup]="upgradeToPharmaForm">
                            <div class="mb-3">ชื่อ: {{result.name}}</div>
                            <div class="mb-3">นามสกุล: {{result.surname}}</div>
                            <div class="form-group mb-3">
                                <label for="license" class="form-label">เลขใบประกอบวิชาชีพเภสัชกรรม ภ.<label class="text-danger">*</label></label>
                                <input
                                    type="number"
                                    formControlName="license"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && getUpgradeForm['license'].errors }"
                                    style='background-color:#f2f2f2'
                                />
                                <div *ngIf="submitted && getUpgradeForm['license'].errors" class="invalid-feedback">
                                    <div *ngIf="getUpgradeForm['license'].errors['required']">ตรวจสอบข้อมูลให้ถูกต้องก่อนขออัพเกรดบัญชี</div>
                                    <div *ngIf="getUpgradeForm['license'].errors['minlength'] || getUpgradeForm['license'].errors['maxlength']">กรุณาใส่เลขใบประกอบวิชาชีพ 5 หลัก</div>
                                </div>
                            </div>
                            <div class="d-flex gap-3 justify-content-center">
                                <button class="btn-modal fs-3 btn btn-light" (click)="upgradeModal.hide()">ยกเลิก</button>
                                <button class="btn-modal fs-3 btn btn-success"(click)="authenticateLicense()">ขออัพเกรดบัญชี</button>
                            </div>
                        </form>
                    </div>
                    <div *ngSwitchCase="'secondSuccess'">
                        <div class="p-5 fs-3">
                            บัญชีของท่านผ่านการตรวจสอบและได้รับการอัพเกรดเป็นบัญชีเภสัชกรเรียบร้อย ผู้ประกอบการจะสามารถค้นเจอประวัติของท่านได้นับจากนี้
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn-modal fs-3 btn btn-primary" (click)="upgradeModal.hide()">ตกลง</button>
                        </div>
                    </div>
                    <div *ngSwitchCase="'secondFail'">
                        <div class="p-5 fs-3">
                            บัญชีของท่านไม่ผ่านการตรวจสอบเนื่องจากข้อมูลชื่อ-นามสกุล หรือเลขใบประกอบวิชาชีพไม่ตรงตามฐานข้อมูลในระบบ หากท่านคิดว่านี่คือความผิดพลาดของระบบฐานข้อมูล กรุณา ติดต่อเรา
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn-modal fs-3 btn btn-primary" (click)="upgradeModal.hide()">ตกลง</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-body">
                <div [ngStyle]="{'align-items':'center', 'display': 'flex', 'justify-content':'center', 'overflow': 'hidden', 'height' : '50vh'}">
                        <div class="loading" *ngIf="loadProfilePictureFlag">
                            <div style="text-align:center">
                                <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div id="imgContainer" [ngStyle]="{'display': loadProfilePictureFlag?'none': 'block'}">
                        </div>
                </div>
                <input type="range" class="form-range" [(ngModel)]="dynamicScale" (ngModelChange)="valueChanges($event)" min="0" max="1" step="0.01" id="customRange2">
            </div>
            <div class="modal-footer">
                <div class="d-flex flex-row-reverse">
                    <button type="button" class="btn btn-primary ms-3" (click)="uploadProfilePicture()">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>
      </div>
