div.img-container {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    position: relative;
    display: block;
    z-index: 1;
    overflow: hidden;
  }
  .dropdown-item{
    cursor:pointer
  }
  #newProfilePicture {
    display: block;
    max-width: 100%;
  }



  .job-post_profile-picture {
    position: relative;
    top: -75px;
    z-index: 2;
    left: 22px;
  }

  .profileUploadButton{
    cursor: pointer;
    position: relative;
    bottom: 2rem;
    z-index: 3;
    right: 0.5rem;
  }
  
  .user-buttons:hover{
    color:grey
  }
  
  div.img-container > img {
    width: 100%;
    object-fit: cover;
    object-position: center top;
  }
  @media (min-width: 576px) {
    div.img-container {
      height: 225px;
    }
  }
  
  @media (min-width: 768px) {
    div.img-container {
      height: 270px;
    }
  }