.fourPointKeyValuePreferred, .fourPointKeyValue{
  display:flex
}
@media only screen and (max-width: 1400px) {
  .nickNameForm, .mainHeader > h2{
    font-size:2.5rem !important
  }
  /* .fourPointers{
    padding-left: 15rem !important
  } */
}
@media only screen and (max-width: 1200px) {
  .introText{
    font-size: 1.5rem !important;
  }
  .mainHeader{
    display:block !important
  }
  .fourPointKeyValue{
    display:block !important
  }
  .fourPointKeyValuePreferred{
    display:block !important
  }
  .phantomPadding{
    display: unset !important
  }
}
@media only screen and (max-width: 992px) {
  .fourPointKeyValue{
    display:block
  }
  .fourPointersPharma{
    padding-right: 0 !important;
    margin-top: 14rem !important;
    margin-bottom: 2rem !important;
    padding: 0 2%;
  }
  .editButton{
    justify-content:center !important;
    position: relative;
    top: -50px
  }
  .preferredJobs{
    display: block !important;
  }
  .profileUploadButton{
    left: 382px ;
    bottom: 7rem !important
  }
  .jobCounts{
    text-align:left
  }
  .outerHeaderPharma{
    display:block !important;
    text-align:center
  }
  .outerHeaderPharma > div {
    height: 133.4px
  }
  .fourPointers{
    padding-right:0 !important;
    margin-top: 4rem !important;
  }
  .outerHeader2Pharma{
    display:block !important
  }
}

@media only screen and (max-width: 450px) {
  .preferredJobs{
    display: block !important;
    text-align: center
  }
  .fourPointKeyValuePreferred{
    font-size: small
  }
  .editButtonText{
    font-size: medium !important
  }
  .fourPointKeyValue{
    font-size: small
  }
}
@media only screen and (max-width: 576px) {
  .jobCounts, .jobCounts2 {
    text-align:center
  }
  #coverPhotoEditButtonPositionDropdown{
    bottom: 5.5rem !important
  }
  .profileUploadButton{
    left: 52vw !important;
    z-index: 10 !important
  }
  .job-post_profile-picture{
    z-index:5 !important
  }
  .introText{
    padding: 0 1rem 1.5rem 1rem !important;
    font-size: 0.9rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .profileUploadButton{
    left: 292px;
  }
  .fourPointKeyValuePreferred > div{
    justify-content:left;
    display:flex;
    margin: 0.5rem 0
  }
  .fourPointKeyValue > div{
    justify-content:center;
    display:flex;
    margin: 0.5rem 0
  }
  .outerHeader{
    display:block !important;
    text-align:center
  }
  .outerHeader > img{
    top: 0 
  }
  .fourPointKeyValue, .fourPointKeyValuePreferred{
    display:flex !important
  }
  .outerHeader2{
    position: relative;
    top: -75px;
    display:block !important
  }
  #operatorFollow{
    display: none !important
  }
  #operatorFollowTwo{
    display: unset !important
  }
  .job-post_profile-picture{
    left: 0 !important
  }
  .mainHeaderContent{
    text-align:center
  }
  .followButton{
    justify-content:center !important;
    margin:2rem
  }
  .fourPointers{
    padding-right:50px !important;
    margin-top:8rem !important;
    margin-bottom:2rem !important
  }
  .introText{
    padding: 0 3rem !important;
    padding-bottom: 1.5rem !important;
    font-size: 1.1rem !important;
  }
}
.fourPointers{
  padding-right:20rem;
}
.fourPointersPharma{
  padding-right:178px;
}
.phantomPadding{
  display: none;
  visibility:hidden;
}
#operatorFollowTwo{
  display: none
}
div.img-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 1;
  aspect-ratio: 4/1;
  overflow: hidden;
  }
  .dropdown-item{
    cursor:pointer
  }
  #newProfilePicture {
    display: block;
    max-width: 100%;
  }



  .job-post_profile-picture {
    position: relative;
    top: -75px;
    z-index: 2;
    left: 22px;
  }

  .profileUploadButton{
    cursor: pointer;
    position: relative;
    bottom: 8rem;
    width: 50px;
    border-radius: 100%;
    background:lightgray;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    right: -122px;
  }

  .btn-outline-primary{
    color:#5cdfe4;
    border-color: #5cdfe4
  }

  .btn-outline-secondary:hover{
    color: #6c757d;
    background:white
  }

  .btn-outline-primary:hover{
    color: red;
    border-color: red;
    background:white
  }


  .btn-primary, .btn-primary:hover{
    background:#5cdfe4;
    border: #5cdfe4
  }
  
  .user-buttons:hover{
    color:grey
  }
  
  div.img-container > img {
    width: 100%;
    object-fit: cover;
    object-position: center top;
  }
