<div *ngIf="loadingFlag" id="overlay">
    <div style="text-align:center" class="mt-5">
        <div class="spinner-border text-primary" style="color:white; position:fixed; left: 50%; top: 50%" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="position-fixed align-items-center py-3 px-5 mb-5" style="border-bottom:1px solid #cccccc; background-color:#f2f2f2; z-index:4; width: 100%">
    <div class="d-flex justify-content-start">
        <ng-container *ngIf="urgency; then urgentTitle; else notUrgentTitle">
        </ng-container>
        <ng-template #urgentTitle>
            <h2 class="my-3">สร้างประกาศงานด่วนรายวัน</h2>
        </ng-template>
        <ng-template #notUrgentTitle>
            <h2 class="my-3">สร้างประกาศงานทั่วไป</h2>
        </ng-template>
    </div>
</div>
<div class="container px-0" style="margin-top: 9rem; margin-bottom: 2rem;">
    <div class="d-sm-flex text-sm-left text-center align-items-center">
        <img [src]="userState.cropProfilePictureUrl !== ''? userState.cropProfilePictureUrl: userState.profilePictureUrl" class="card-img-top rounded-circle border border-5 border-white" style="width:fit-content" height="150" width="150">
        <h3 class="ms-3">{{ userState.companyName }}</h3>
    </div>
</div>
<form class="fs-3" [formGroup]="newJobForm">
    <div class="container p-5" style="padding: 0 4rem; border-radius: 20px; background-color:white">
        <div class="mb-5  border-bottom border-secondary py-3">
            <h3>รายละเอียดการสมัครงาน</h3>
        </div>
        <div class="row verticalKeyGap">
            <div class="col-md-3 col-12">
                <div class="me-3">ประเภทงาน:</div>
            </div>
            <div class="col">
                {{ userState.jobType }}
            </div>
        </div>
        <div class="row mt-3 verticalKeyGap" *ngIf="userState.jobType === 'ร้านยาแบรนด์'">
            <div class="col-md-3 col-12">
                <div class="me-3">สาขา:</div>
            </div>
            <div class="col">
                <input class="form-control" type="text" formControlName="Franchise" style="background-color:#f2f2f2">
            </div>
        </div>
        <div *ngIf="urgency" class="row mt-3 verticalKeyGap">
            <div class="col-md-3 col-12">
                <div class="me-3">หาเภสัชกรวันที่:<label class="text-danger">*</label></div>
            </div>
            <div class="col">
                <input
                      type="text"
                      mwlFlatpickr
                      mode="multiple"
                      class="form-control"
                      [convertModelValue]="true"
                      (flatpickrValueUpdate)="handleCalendarChange($event)" style="background-color:#f2f2f2"
                      [ngClass]="{ 'is-invalid': submitted && getNewJobForm['DateOfJob'].errors }"
                  />
                <div *ngIf="submitted && getNewJobForm['DateOfJob'].errors" class="invalid-feedback">
                    <div *ngIf="getNewJobForm['DateOfJob'].errors['required']">กรุณาระบุวันที่</div>
                </div>                  
            </div>
        </div>
        <div class="row mt-3 verticalKeyGap">
            <div class="col-md-3 col-12">
                <div class="me-3">ชื่อตำแหน่งงาน:<label class="text-danger">*</label></div>
            </div>
            <div class="col">
                <input type="text" formControlName="JobName" class="form-control" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['JobName'].errors }" style="background-color:#f2f2f2">
                <div *ngIf="submitted && getNewJobForm['JobName'].errors" class="invalid-feedback">
                    <div *ngIf="getNewJobForm['JobName'].errors['required']">กรุณาระบุชื่อตำแหน่งงาน</div>
                </div>
            </div>
        </div>
        <div *ngIf="!urgency" class="row mt-3 verticalKeyGap">
            <div class="col-md-3 col-12">
                <div class="me-3">ประเภทพนักงาน:<label class="text-danger">*</label></div>
            </div>
            <div class="col form-group">
                <select formControlName="TimeFrame" name="timeFrame" class="form-select mb-3" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['TimeFrame'].errors }" style="background-color:#f2f2f2">
                    <option selected value="Full-Time">Full-Time</option>
                    <option value="Part-Time">Part-Time</option>
                    <option value="Full-Time และ Part-Time">Full-Time และ Part-Time</option>
                </select>
                <div *ngIf="submitted && getNewJobForm['TimeFrame'].errors" class="invalid-feedback">
                    <div *ngIf="getNewJobForm['TimeFrame'].errors['required']">กรุณาระบุประเภทพนักงาน</div>
                </div>
            </div>
        </div>
        <div class="row mt-3 verticalKeyGap">
            <div class="col-md-3 col-12">
                <div class="me-3">จำนวนที่รับสมัคร:<label class="text-danger">*</label></div>
            </div>
            <div class="col">
                <div class="row verticalKeyGap">
                    <div class="col-6 verticalKeyGap">
                        <input formControlName="Amount" type="number" [min]="0" class="form-control" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['Amount'].errors }" style="background-color:#f2f2f2">
                        <div *ngIf="submitted && getNewJobForm['Amount'].errors" class="invalid-feedback">
                            <div *ngIf="getNewJobForm['Amount'].errors['required']">กรุณาระบุจำนวนที่รับสมัคร</div>
                        </div>
                    </div>
                    <div class="col">
                        <div>อัตรา</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 verticalKeyGap">
            <div class="col-md-3 col-12">
                <div class="me-3">ช่วงเวลาทำงาน:</div>
            </div>
            <ng-container *ngIf="urgency; then required; else notRequired"></ng-container>
            <ng-template #required>
                <div class="col">
                    <div class="d-flex flex-row verticalKeyGap">
                        <input formControlName="timeStart" name="time" type="time" class="form-control" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['timeStart'].errors }" style="background-color:#f2f2f2">
                        <div class=mx-3>-</div>
                        <input  formControlName="timeEnd" name="time" type="time" class="form-control" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['timeEnd'].errors }" style="background-color:#f2f2f2">
                    </div>
                    <div *ngIf="submitted && getNewJobForm['timeStart'].errors" class="invalid-feedback2">
                        <div *ngIf="getNewJobForm['timeStart'].errors!['required']">กรุณาระบุช่วงเวลาเข้าทำงาน</div>
                    </div>
                    <div *ngIf="submitted && getNewJobForm['timeEnd'].errors" class="invalid-feedback2">
                        <div *ngIf="getNewJobForm['timeEnd'].errors!['required']">กรุณาระบุช่วงเวลาเลิกงาน</div>
                    </div>
                </div>
            </ng-template>
            <ng-template #notRequired>
                <div class="col">
                    <div class="d-flex flex-row verticalKeyGap">
                        <input formControlName="timeStart" name="time" type="time" class="form-control" style="background-color:#f2f2f2">
                        <div class=mx-3>-</div>
                        <input  formControlName="timeEnd" name="time" type="time" class="form-control" style="background-color:#f2f2f2">
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="row mt-3 verticalKeyGap" formGroupName="Salary">
            <div class="col-md-3 col-12">
                <div class="me-3">ค่าจ้าง:<label class="text-danger">*</label></div>
            </div>
            <div class="col">
                <div class="form-check">
                    <div class="d-xl-flex d-block verticalKeyGap">
                        <input class="form-check-input salaryRadio" (change)="salaryRadioChange($event)" formControlName="Suffix" value="SalaryNumbers" type="radio">
                        <div class="ms-3 d-flex flex-row verticalKeyGap">
                            <input [min]="0" formControlName="salaryStart" type="number" class="form-control salaryNumbers" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['Salary'].get('salaryStart')!.errors! }" style="background-color:#f2f2f2">
                            <div class=mx-3>-</div>
                            <input [min]="0" formControlName="salaryEnd" type="number" class="form-control salaryNumbers" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['Salary'].get('salaryEnd')!.errors! }" style="background-color:#f2f2f2">
                        </div>
                        <div class="ms-xl-3 d-xl-block d-flex justify-content-end">
                            {{ getNewJobForm['TimeFrame'].value == 'Part-Time'?"บาท / ชั่วโมง":"บาท / เดือน"}}
                        </div>
                    </div>
                    <div *ngIf="submitted && getNewJobForm['Salary'].get('salaryStart')!.errors!" class="invalid-feedback2">
                        <div *ngIf="getNewJobForm['Salary'].get('salaryStart')!.errors!['required']">กรุณาระบุค่าจ้างเริ่มต้น</div>
                    </div>
                    <div *ngIf="submitted && getNewJobForm['Salary'].get('salaryEnd')!.errors!" class="invalid-feedback2">
                        <div *ngIf="getNewJobForm['Salary'].get('salaryEnd')!.errors!['required']">กรุณาระบุค่าจ้างจบ</div>
                    </div>
                </div>
                <div class="form-check">
                    <div class="d-flex verticalKeyGap">                        
                            <input class="form-check-input salaryRadio" (change)="salaryRadioChange($event)" formControlName="Suffix" value="Negotiable" type="radio">
                        <label class="ms-3" for="Negotiable">ตามตกลง</label>
                    </div>
                </div>
                <div class="form-check">
                    <div class="d-flex verticalKeyGap">                        
                            <input class="form-check-input salaryRadio" (change)="salaryRadioChange($event)" formControlName="Suffix" value="CorporateStructure" type="radio">
                        <label class="ms-3" for="CorporateStructure">ตามโครงสร้างองค์กร</label>
                    </div>
                </div>
            </div>
        </div>
        <app-location-selector [parentFormGroup]="newJobForm" [requiredFlag]="true" [submitted]="locationSubmitted" col="col-12 col-md-3"></app-location-selector>
        <div class="row mt-3 verticalKeyGap">
            <div class="col-md-4 col-12">
                <label for="nearBTS" class="me-3">ใกล้ BTS:</label>
            </div>
            <div class="col">
                <div class="row" formGroupName="BTS">
                    <div class="col-md-3 col-12 verticalKeyGap">
                        <div class="form-switch">
                            <input type="checkbox"  [ngModelOptions]="{standalone: true}" [(ngModel)]="nearBTSFlag" class="form-check-input" name="nearBTS" id="nearBTS">
                        </div>
                    </div>
                    <div class="col verticalKeyGap">
                        <select *ngIf="nearBTSFlag" formControlName="Station" name="nearBTS" class="form-select" style="background-color:#f2f2f2">
                            <option *ngFor="let btsStations of btsStations$ | async" [value]="btsStations">{{btsStations}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 verticalKeyGap">
            <div class="col-md-4 col-12">
                <label for="nearMRT" class="me-3">ใกล้ MRT:</label>
            </div>
            <div class="col">
                <div class="row" formGroupName="MRT">
                    <div class="col-md-3 col-12 verticalKeyGap">
                        <div class="form-switch">
                            <input type="checkbox"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="nearMRTFlag" class="form-check-input" name="nearMRTFlag" id="nearMRT">
                        </div>
                    </div>
                    <div class="col verticalKeyGap">
                        <select *ngIf="nearMRTFlag" formControlName="Station" name="nearMRT" class="form-select" style="background-color:#f2f2f2">
                            <option *ngFor="let mrtStations of mrtStations$ | async" [value]="mrtStations">{{mrtStations}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 verticalKeyGap">
            <div class="col-md-4 col-12 verticalKeyGap">
                <label for="OnlineInterview" class="me-3">นัทสัมภาษณ์ทางออนไลน์:</label>
            </div>
            <div class="col verticalKeyGap">
                <div class="form-switch">
                    <input type="checkbox" class="form-check-input" formControlName="OnlineInterview" id="OnlineInterview">
                </div>
            </div>
        </div>
        <div class="row mt-3 verticalKeyGap">
            <div class="col-md-4 col-12">
                <label for="WorkFromHome" class="me-3">work from home:</label>
            </div>
            <div class="col verticalKeyGap">
                <div class="form-switch">
                    <input type="checkbox" class="form-check-input" formControlName="WorkFromHome" id="WorkFromHome">
                </div>
            </div>
        </div>
        <!-- <div class="row mt-3 verticalKeyGap">
            <div class="col-md-3 col-12">
                <label for="nearSRT" class="me-3">ใกล้ SRT:</label>
            </div>
            <div class="col">
                <div class="row" formGroupName="SRT">
                    <div class="col-md-3 col-12 verticalKeyGap">
                        <input type="checkbox"  [ngModelOptions]="{standalone: true}" [(ngModel)]="nearSRTFlag" class="form-check-input" name="nearSRT" id="nearSRT">
                    </div>
                    <div class="col verticalKeyGap">
                        <select *ngIf="nearSRTFlag" formControlName="Station" name="nearSRT" class="form-select">
                            <option *ngFor="let srtStations of srtStations$ | async" [value]="srtStations">{{srtStations}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 col-12 verticalKeyGap">
                <label for="nearARL" class="me-3">ใกล้ ARL:</label>
            </div>
            <div class="col">
                <div class="row verticalKeyGap" formGroupName="ARL">
                    <div class="col-md-3 col-12">
                        <input type="checkbox"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="nearARLFlag" class="form-check-input" name="nearARLFlag" id="nearARL">
                    </div>
                    <div class="col verticalKeyGap">
                        <select *ngIf="nearARLFlag" formControlName="Station" name="nearARL" class="form-select">
                            <option *ngFor="let arlStations of arlStations$ | async" [value]="arlStations">{{arlStations}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="container p-5 mt-5" style="border-radius: 20px; background-color:white">
        <div class="mb-5 border-bottom border-secondary py-3">
            <h3>รายละเอียดงานเพิ่มเติม</h3>
        </div>
        <div class="row mt-3 verticalKeyGap">
            <div class="my-3">หน้าที่ความรับผิดชอบ<label class="text-danger">*</label></div>
            <div *ngIf="submitted && getNewJobForm['JobDetails'].errors" class="invalid-feedback2 mb-3">
                <div *ngIf="getNewJobForm['JobDetails'].errors['required']">กรุณาระบุหน้าที่ความรับผิดชอบ</div>
            </div>
            <ckeditor formControlName="JobDetails" [editor]="jobDetailsEditor" name="editor" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['JobDetails']!.errors! }"></ckeditor>
        </div>
        <div class="row mt-3 verticalKeyGap" *ngIf="!urgency">
            <div class="my-3">คุณสมบัติผู้สมัคร<label class="text-danger">*</label></div>
            <div *ngIf="submitted && getNewJobForm['qualityApplicants'].errors" class="invalid-feedback2 mb-3">
                <div *ngIf="getNewJobForm['qualityApplicants'].errors['required']">กรุณาระบุคุณสมบัติผู้สมัคร</div>
            </div>
            <ckeditor formControlName="qualityApplicants" [editor]="qualityEditor" name="editor" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['qualityApplicants']!.errors! }"></ckeditor>
        </div>
        <div class="row mt-3 verticalKeyGap" *ngIf="!urgency">
            <div class="my-3">สวัสดิการ<label class="text-danger">*</label></div>
            <div *ngIf="submitted && getNewJobForm['jobBenefits'].errors" class="invalid-feedback2 mb-3">
                <div *ngIf="getNewJobForm['jobBenefits'].errors['required']">กรุณาระบุสวัสดิการ</div>
            </div>
            <ckeditor formControlName="jobBenefits" [editor]="jobBenefitsEditor" name="editor" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['jobBenefits']!.errors! }"></ckeditor>
        </div>
        <div class="row mt-3 verticalKeyGap" *ngIf="!urgency">
            <div class="my-3">วิธีสมัครงาน<label class="text-danger">*</label></div>
            <div *ngIf="submitted && getNewJobForm['applyInstructions'].errors" class="invalid-feedback2 mb-3">
                <div *ngIf="getNewJobForm['applyInstructions'].errors['required']">กรุณาระบุวิธีสมัครงาน</div>
            </div>
            <ckeditor formControlName="applyInstructions" [editor]="applyInstructionsEditor" name="editor" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['applyInstructions']!.errors! }"></ckeditor>
        </div>
    </div>
    <div class="container p-5 my-5" style="border-radius: 20px; background-color:white">
        <div class="mb-5 border-bottom border-secondary py-3  verticalKeyGap">
            <h3>ข้อมูลติดต่อเพิ่มเติม</h3>
        </div>
        <div class="row mt-3 verticalKeyGap">
            <div class="col-md-3 col-12 mb-md-0 mb-3">
                <label class="me-sm-3">ข้อมูลติดต่อเพิ่มเติม</label>
            </div>
            <div class="col" formGroupName="Contacts">
                <div class="row verticalKeyGap">
                    <div class="col-4 mb-3">
                        <label for="nameRepresentative" class="me-sm-3">ชื่อผู้ติดต่อ:<label class="text-danger">*</label></label>
                    </div>
                    <div class="col">
                        <input formControlName="nameRepresentative" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['Contacts'].get('nameRepresentative')!.errors! }" class="form-control" name="nameRepresentative" style="background-color:#f2f2f2">
                        <div *ngIf="submitted && getNewJobForm['Contacts'].get('nameRepresentative')!.errors" class="invalid-feedback mb-3">
                            <div *ngIf="getNewJobForm['Contacts'].get('nameRepresentative')!.errors!['required']">กรุณาระบุชื่อผู้ติดต่อ</div>
                        </div>
                    </div>
                </div>
                <div class="row verticalKeyGap">
                    <div class="col-4 mb-3">
                        <label for="areaOfContact" class="me-sm-3">สถานที่ติดต่อ:</label>
                    </div>
                    <div class="col">
                        <input formControlName="areaOfContact" class="form-control" name="nameRepresentative" style="background-color:#f2f2f2">
                    </div>
                </div>
                <div class="row verticalKeyGap">
                    <div class="col-4 mb-3">
                        <label for="phone" class="me-sm-3">เบอร์โทร:<label class="text-danger">*</label></label>
                    </div>
                    <div class="col">
                        <input formControlName="phone" class="form-control" name="phone" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['Contacts'].get('phone')!.errors! }" style="background-color:#f2f2f2">
                        <div *ngIf="submitted && getNewJobForm['Contacts'].get('phone')!.errors" class="invalid-feedback mb-3">
                            <div *ngIf="getNewJobForm['Contacts'].get('phone')!.errors!['required']">กรุณาระบุเบอร์โทร</div>
                        </div>
                    </div>
                </div>
                <div class="row verticalKeyGap">
                    <div class="col-4 mb-3">
                        <label for="email" class="me-sm-3">Email:<label class="text-danger">*</label></label>
                    </div>
                    <div class="col">
                        <input formControlName="email" class="form-control" name="email" [ngClass]="{ 'is-invalid': submitted && getNewJobForm['Contacts'].get('email')!.errors! }" style="background-color:#f2f2f2">
                        <div *ngIf="submitted && getNewJobForm['Contacts'].get('email')!.errors" class="invalid-feedback mb-3">
                            <div *ngIf="getNewJobForm['Contacts'].get('email')!.errors!['required']">กรุณาระบุEmail</div>
                        </div>
                    </div>
                </div>
                <div class="row verticalKeyGap">
                    <div class="col-4 mb-3">
                        <label for="website" class="me-sm-3">Website:</label>
                    </div>
                    <div class="col">
                        <input formControlName="website" class="form-control" name="website" style="background-color:#f2f2f2">
                    </div>
                </div>
                <div class="row verticalKeyGap">
                    <div class="col-4 mb-3">
                        <label for="line" class="me-sm-3">LINE:</label>
                    </div>
                    <div class="col">
                        <input formControlName="line" class="form-control" name="line" style="background-color:#f2f2f2">
                    </div>
                </div>
                <div class="row verticalKeyGap">
                    <div class="col-4 mb-3">
                        <label for="facebook" class="me-sm-3">Facebook:</label>
                    </div>
                    <div class="col">
                        <input formControlName="facebook" class="form-control" name="facebook" style="background-color:#f2f2f2">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="my-3">สถานที่ทำงาน และ วิธีเดินทาง<label class="text-danger">*</label></div>
        </div>
        <div class="row mt-3">
            <div *ngIf="submitted && getNewJobForm['TravelInstructions']!.errors" class="invalid-feedback2 mb-3">
                <div *ngIf="getNewJobForm['TravelInstructions']!.errors!['required']">กรุณาระบุวิธีเดินทาง</div>
            </div>
            <ckeditor [ngClass]="{ 'is-invalid': submitted && getNewJobForm['TravelInstructions'] }" [editor]="travelEditor" formControlName="TravelInstructions" name="editor"></ckeditor>
        </div>
        <div class="row my-3">
            <div class="col-md-3 col-12">
                <label for="googleMaps">ปักหมุด google map</label>
            </div>
        </div>
        <div>
            <input
                type="text"
                class="form-control my-3"
                ngx-google-places-autocomplete 
                (onAddressChange)="searchMap($event)" style="background-color:#f2f2f2"
            />
          </div>
          <div class="col d-flex justify-content-center" style="overflow:scroll">
            <div *ngIf="submitted && getNewJobForm['_geoloc']!.errors" class="invalid-feedback2 mb-3">
              <div *ngIf="getNewJobForm['_geoloc']!.errors!['required']">กรุณาระบุปักหมุด google map</div>
          </div>
            <google-map 
                height="500px"
                width="65vw"
                [center]="center"
                [options]="none"
                [zoom]="zoom"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)">
                <map-marker
                [position]="markerPosition"></map-marker>
            </google-map>
        </div>
        <div class="align-items-baseline d-flex justify-content-center mt-5 ms-3">
            <button (click)="cancelClick()" class="me-3 btn saveButton btn-light fs-2" style="padding: 0.5rem 2rem; border-radius: 50px !important">ยกเลิก</button>
            <button (click)="onSave()" class="btn saveButton fs-2" style="border-color: rgb(127, 216, 88); background-color:rgb(127, 216, 88); padding: 0.5rem 2rem; border-radius: 50px !important; color:white">บันทึก</button>
        </div>
    </div>
</form>
