<div class="container">
  <div *ngIf="loadingFlag" id="overlay">
    <div style="text-align: center" class="mt-5">
      <div
        class="spinner-border text-primary"
        style="color: white; position: fixed; left: 50%; top: 50%"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="align-items-center">
    <div class="d-flex justify-content-center">
      <ng-container *ngIf="urgency; then urgentTitle; else notUrgentTitle">
      </ng-container>
      <ng-template #urgentTitle>
        <div class="my-3 text-center textResponsiveHeader">
          สร้างประกาศงานด่วนรายวัน
        </div>
      </ng-template>
      <ng-template #notUrgentTitle>
        <div class="my-3 text-center textResponsiveHeader">
          สร้างประกาศงานทั่วไป
        </div>
      </ng-template>
    </div>
  </div>
  <div
    class="semi-border-input container standard-shadow p-5"
    style="margin-bottom: 2rem"
  >
    <div class="d-sm-flex text-sm-start text-center align-items-center">
      <img
        [src]="
          userState.cropProfilePictureUrl !== ''
            ? userState.cropProfilePictureUrl
            : userState.profilePictureUrl
        "
        class="card-img-top rounded-circle border border-5 border-white"
        style="width: fit-content"
        height="150"
        width="150"
      />
      <div>
        <div class="ms-3 textResponsiveHeader">
          <b>{{ userState.companyName }}</b>
        </div>
        <div class="ms-3 mt-4 ms-3 textProfileResponsive">
          {{ userState.jobType }}
        </div>
      </div>
    </div>
  </div>
  <form class="textProfileResponsive" [formGroup]="newJobForm">
    <div
      class="semi-border-input standard-shadow container p-sm-5 p-3"
      style="padding: 0 4rem; border-radius: 20px; background-color: white"
    >
      <div class="mb-5 border-bottom border-secondary py-3">
        <div>รายละเอียดการสมัครงาน</div>
      </div>
      <div class="d-flex flex-row verticalKeyGap">
        <div class="keyValueGap"><i class="bi bi-bank"></i></div>
        <div style="width: -webkit-fill-available; width: -moz-available">
          <div class="keyValueGap">
            <div><b>ประเภทงาน</b></div>
          </div>
          <div class="col">
            {{ userState.jobType }}
          </div>
        </div>
      </div>
      <div class="verticalKeyGap" *ngIf="userState.jobType === 'ร้านยาแบรนด์'">
        <div class="d-flex flex-row mb-md-0 mb-3">
          <div class="keyValueGap" style="visibility: hidden">
            <i class="bi bi-bank"></i>
          </div>
          <div style="width: -webkit-fill-available; width: -moz-available">
            <div class="keyValueGap">
              <div><b>สาขา</b></div>
            </div>
          </div>
        </div>
        <div style="width: 100%">
          <div class="keyValueGap d-md-block d-none" style="visibility: hidden">
            <i class="bi bi-bank"></i>
          </div>
          <div>
            <input
              class="form-control border-input textProfileResponsive"
              type="text"
              formControlName="Franchise"
            />
          </div>
        </div>
      </div>
      <div class="verticalKeyGap">
        <div class="d-flex flex-row mb-md-0 mb-3">
          <div class="keyValueGap"><i class="bi bi-briefcase"></i></div>
          <div style="width: -webkit-fill-available; width: -moz-available">
            <div class="keyValueGap">
              <div>
                <b>ชื่อตำแหน่งงาน</b><label class="text-danger">*</label>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="keyValueGap d-md-block d-none" style="visibility: hidden">
            <i class="bi bi-briefcase"></i>
          </div>
          <div class="col">
            <input
              type="text"
              formControlName="JobName"
              placeholder="ระบุชื่อตำแหน่ง"
              class="form-control textProfileResponsive semi-border-input"
              [ngClass]="{
                'is-invalid': submitted && getNewJobForm['JobName'].errors
              }"
            />
            <div
              *ngIf="submitted && getNewJobForm['JobName'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="getNewJobForm['JobName'].errors['required']">
                กรุณาระบุชื่อตำแหน่งงาน
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="verticalKeyGap" *ngIf="urgency">
        <div class="d-flex flex-row">
          <div class="keyValueGap"><i class="bi bi-calendar4"></i></div>
          <div style="width: -webkit-fill-available; width: -moz-available">
            <div class="keyValueGap">
              <div>
                <b>หาเภสัชกรวันที่</b
                ><span class="ms-3" style="font-size: smaller; color: red"
                  >*เลือกได้มากกว่า 1 วัน
                  (ประกาศงานจะสร้างตามจำนวนวันที่ท่านเลือก)</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="keyValueGap d-md-block d-none" style="visibility: hidden">
            <i class="bi bi-calendar4"></i>
          </div>
          <div class="col" style="width: 100%">
            <input
              type="text"
              mwlFlatpickr
              placeholder="เลือกวันที่ท่านต้องการเภสัชกรมาร่วมงาน"
              mode="multiple"
              class="form-control textProfileResponsive border-input"
              [convertModelValue]="true"
              [minDate]="currentDate"
              [maxDate]="maxDate"
              (flatpickrValueUpdate)="handleCalendarChange($event)"
              [ngClass]="{
                'is-invalid': submitted && getNewJobForm['DateOfJob'].errors
              }"
            />
            <div
              *ngIf="submitted && getNewJobForm['DateOfJob'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="getNewJobForm['DateOfJob'].errors['required']">
                กรุณาระบุวันที่
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="verticalKeyGap" *ngIf="!urgency">
        <div class="d-flex flex-row mb-md-0 mb-3">
          <div class="keyValueGap"><i class="bi bi-lightbulb"></i></div>
          <div style="width: -webkit-fill-available; width: -moz-available">
            <div class="keyValueGap">
              <div>
                <b>ประเภทพนักงาน</b><label class="text-danger">*</label>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="keyValueGap d-md-block d-none" style="visibility: hidden">
            <i class="bi bi-lightbulb"></i>
          </div>
          <div class="col" style="width: 100%">
            <select
              formControlName="TimeFrame"
              name="timeFrame"
              style="color: #949191"
              (change)="styleSelect('timeFrame')"
              id="timeFrame"
              class="form-select textProfileResponsive border-input"
              [ngClass]="{
                'is-invalid': submitted && getNewJobForm['TimeFrame'].errors
              }"
            >
              <option
                style="color: black !important"
                disabled
                selected
                value=""
              >
                เลือกประเภทพนักงาน
              </option>
              <option value="Full-Time">Full-Time</option>
              <option value="Part-Time">Part-Time</option>
              <option value="Full-Time และ Part-Time">
                Full-Time และ Part-Time
              </option>
            </select>
            <div
              *ngIf="submitted && getNewJobForm['TimeFrame'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="getNewJobForm['TimeFrame'].errors['required']">
                กรุณาระบุประเภทพนักงาน
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="verticalKeyGap">
        <div class="d-flex flex-row mb-md-0 mb-3">
          <div class="keyValueGap"><i class="bi bi-person"></i></div>
          <div style="width: -webkit-fill-available; width: -moz-available">
            <div class="keyValueGap">
              <div>
                <b>จำนวนที่รับสมัคร</b><label class="text-danger">*</label>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="keyValueGap d-md-block d-none" style="visibility: hidden">
            <i class="bi bi-person"></i>
          </div>
          <div class="col" style="width: 100%">
            <input
              formControlName="Amount"
              type="number"
              placeholder="จำนวนที่รับสมัคร"
              [min]="0"
              class="form-control textProfileResponsive border-input mb-3"
              [ngClass]="{
                'is-invalid': submitted && getNewJobForm['Amount'].errors
              }"
            />
            <div
              *ngIf="submitted && getNewJobForm['Amount'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="getNewJobForm['Amount'].errors['required']">
                กรุณาระบุจำนวนที่รับสมัคร
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="verticalKeyGap">
        <div class="d-flex flex-row mb-md-0 mb-3">
          <div class="keyValueGap"><i class="bi bi-clock"></i></div>
          <div style="width: -webkit-fill-available; width: -moz-available">
            <div class="keyValueGap">
              <div>
                <b>ช่วงเวลาทำงาน</b><label class="text-danger">*</label>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="keyValueGap d-md-block d-none" style="visibility: hidden">
            <i class="bi bi-clock"></i>
          </div>
          <ng-container
            *ngIf="urgency; then required; else notRequired"
          ></ng-container>
          <ng-template #required>
            <div class="col" style="width: 100%">
              <div class="d-flex flex-row verticalKeyGap">
                <input
                  formControlName="timeStart"
                  name="time"
                  type="time"
                  placeholder="เวลาเข้างาน"
                  class="form-control timeInput textProfileResponsive border-input"
                  [ngClass]="{
                    'is-invalid': submitted && getNewJobForm['timeStart'].errors
                  }"
                />
                <div class="mx-3">-</div>
                <input
                  formControlName="timeEnd"
                  name="time"
                  type="time"
                  placeholder="เวลาเลิกงาน"
                  class="form-control timeInput textProfileResponsive border-input"
                  [ngClass]="{
                    'is-invalid': submitted && getNewJobForm['timeEnd'].errors
                  }"
                />
              </div>
              <div
                *ngIf="submitted && getNewJobForm['timeStart'].errors"
                class="invalid-feedback2"
              >
                <div *ngIf="getNewJobForm['timeStart'].errors!['required']">
                  กรุณาระบุช่วงเวลาเข้าทำงาน
                </div>
              </div>
              <div
                *ngIf="submitted && getNewJobForm['timeEnd'].errors"
                class="invalid-feedback2"
              >
                <div *ngIf="getNewJobForm['timeEnd'].errors!['required']">
                  กรุณาระบุช่วงเวลาเลิกงาน
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #notRequired>
            <div class="col" style="width: 100%">
              <div class="d-flex flex-row verticalKeyGap">
                <input
                  formControlName="timeStart"
                  name="time"
                  placeholder="เวลาเข้างาน"
                  type="time"
                  class="form-control timeInput textProfileResponsive border-input"
                />
                <div class="mx-3">-</div>
                <input
                  formControlName="timeEnd"
                  name="time"
                  placeholder="เวลาเลิกงาน"
                  type="time"
                  class="form-control timeInput textProfileResponsive border-input"
                />
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="verticalKeyGap" formGroupName="Salary">
        <div class="mb-md-0 mb-3">
          <div class="d-flex flex-row">
            <div class="keyValueGap"><i class="bi bi-bootstrap"></i></div>
            <div style="width: -webkit-fill-available; width: -moz-available">
              <div class="keyValueGap">
                <div class="d-flex">
                  <b>ค่าจ้าง</b>
                  <label class="d-md-flex d-none text-danger"
                    >*(เรทค่าจ้างหากไม่ใช่ช่วงราคา
                    สามารถระบุในช่องแรกแค่ค่าเดียวได้)</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="d-md-none d-block">
            <label class="text-danger"
              >*(เรทค่าจ้างหากไม่ใช่ช่วงราคา
              สามารถระบุในช่องแรกแค่ค่าเดียวได้)</label
            >
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="keyValueGap d-md-block d-none" style="visibility: hidden">
            <i class="bi bi-bootstrap"></i>
          </div>
          <div style="width: 100%">
            <div class="form-check">
              <div class="d-xl-flex d-block">
                <input
                  class="form-check-input textProfileResponsive border-input"
                  (change)="salaryRadioChange($event)"
                  formControlName="Suffix"
                  value="SalaryNumbers"
                  type="radio"
                />
                <div class="ms-3 d-flex flex-row verticalKeyGap">
                  <input
                    [min]="0"
                    formControlName="salaryStart"
                    placeholder="เลือดเรทค่าจ้างต่ำสุด"
                    type="number"
                    class="form-control textProfileResponsive border-input"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        getNewJobForm['Salary'].get('salaryStart')!.errors!
                    }"
                  />
                  <div class="mx-3">-</div>
                  <input
                    [min]="0"
                    formControlName="salaryEnd"
                    placeholder="เลือดเรทค่าจ้างสูงสุด"
                    type="number"
                    class="form-control textProfileResponsive border-input"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        getNewJobForm['Salary'].get('salaryEnd')!.errors!
                    }"
                  />
                </div>
                <div class="ms-xl-3 d-xl-block d-flex justify-content-end">
                  {{
                    getNewJobForm["TimeFrame"].value == "Part-Time"
                      ? "บาท / ชั่วโมง"
                      : "บาท / เดือน"
                  }}
                </div>
              </div>
              <div
                *ngIf="
                  submitted &&
                  getNewJobForm['Salary'].get('salaryStart')!.errors!
                "
                class="invalid-feedback2"
              >
                <div
                  *ngIf="
                    getNewJobForm['Salary'].get('salaryStart')!.errors![
                      'required'
                    ]
                  "
                >
                  กรุณาระบุค่าจ้างเริ่มต้น
                </div>
              </div>
            </div>
            <div class="form-check">
              <div class="d-flex verticalKeyGap">
                <input
                  class="form-check-input textProfileResponsive border-input"
                  (change)="salaryRadioChange($event)"
                  formControlName="Suffix"
                  value="Negotiable"
                  type="radio"
                />
                <label class="ms-3" for="Negotiable">ตามตกลง</label>
              </div>
            </div>
            <div class="form-check">
              <div class="d-flex verticalKeyGap">
                <input
                  class="form-check-input textProfileResponsive border-input"
                  (change)="salaryRadioChange($event)"
                  formControlName="Suffix"
                  value="CorporateStructure"
                  type="radio"
                />
                <label class="ms-3" for="CorporateStructure"
                  >ตามโครงสร้างองค์กร</label
                >
              </div>
            </div>
            <div class="form-check">
              <div class="d-flex verticalKeyGap">
                <input
                  class="form-check-input textProfileResponsive border-input"
                  (change)="salaryRadioChange($event)"
                  formControlName="Suffix"
                  value="CustomSuffix"
                  type="radio"
                />
                <input
                  class="ms-3 form-control border-input textProfileResponsive"
                  type="text"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="customSuffix"
                  placeholder="กำหนดเอง"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-location-selector
        [parentFormGroup]="newJobForm"
        [requiredFlag]="true"
        [submitted]="locationSubmitted"
        col="col-12 col-md-3"
      ></app-location-selector>
      <div class="d-flex flex-row verticalKeyGap">
        <div class="keyValueGap d-md-block d-none">
          <i class="bi bi-person" style="visibility: hidden"></i>
        </div>
        <div
          style="width: -webkit-fill-available; width: -moz-available"
          formGroupName="BTS"
        >
          <div class="d-flex justify-content-between">
            <div><b>ใกล้ BTS</b></div>
            <div class="form-switch">
              <input
                type="checkbox"
                placeholder=""
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="nearBTSFlag"
                class="form-check-input textProfileResponsive border-input"
                name="nearBTS"
                id="nearBTS"
              />
            </div>
          </div>
          <div class="col verticalKeyGap">
            <select
              *ngIf="nearBTSFlag"
              style="color: #949191"
              formControlName="Station"
              (change)="styleSelect('BTS')"
              id="BTS"
              name="nearBTS"
              class="form-select textProfileResponsive border-input"
            >
              <option
                style="color: black !important"
                selected
                disabled
                value=""
              >
                เลือกสถานี BTS
              </option>
              <option
                *ngFor="let btsStations of btsStations$ | async"
                [value]="btsStations"
              >
                {{ btsStations }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row verticalKeyGap">
        <div class="keyValueGap d-md-block d-none">
          <i class="bi bi-person" style="visibility: hidden"></i>
        </div>
        <div
          style="width: -webkit-fill-available; width: -moz-available"
          formGroupName="BTS"
        >
          <div class="d-flex justify-content-between">
            <div><b>ใกล้ MRT</b></div>
            <div class="form-switch">
              <input
                type="checkbox"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="nearMRTFlag"
                class="form-check-input textProfileResponsive border-input"
                name="nearMRTFlag"
                id="nearMRT"
              />
            </div>
          </div>
          <div class="col verticalKeyGap">
            <select
              *ngIf="nearMRTFlag"
              style="color: #949191"
              formControlName="Station"
              (change)="styleSelect('MRT')"
              id="MRT"
              name="nearMRT"
              class="form-select textProfileResponsive border-input"
            >
              <option
                style="color: black !important"
                selected
                disabled
                value=""
              >
                เลือกสถานี MRT
              </option>
              <option
                *ngFor="let mrtStations of mrtStations$ | async"
                [value]="mrtStations"
              >
                {{ mrtStations }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="verticalKeyGap" *ngIf="!urgency">
        <div class="d-flex flex-row mb-md-0 mb-3">
          <div class="keyValueGap"><i class="bi bi-display"></i></div>
          <div style="width: -webkit-fill-available; width: -moz-available">
            <div class="keyValueGap">
              <div><b>นัทสัมภาษณ์ทางออนไลน์</b></div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="keyValueGap d-md-block d-none" style="visibility: hidden">
            <i class="bi bi-display"></i>
          </div>
          <div class="textProfileResponsive d-flex">
            <input
              type="checkbox"
              class="form-check-input textProfileResponsive border-input keyValueGap"
              formControlName="OnlineInterview"
              id="OnlineInterview"
            />
            <div>สามารถสัมภาษณ์ผู้สมัครทางออนไลน์ได้</div>
          </div>
        </div>
      </div>
      <div class="verticalKeyGap" *ngIf="!urgency">
        <div class="d-flex flex-row mb-md-0 mb-3">
          <div class="keyValueGap"><i class="bi bi-house"></i></div>
          <div style="width: -webkit-fill-available; width: -moz-available">
            <div class="keyValueGap">
              <div><b>Work from home</b></div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="keyValueGap d-md-block d-none" style="visibility: hidden">
            <i class="bi bi-house"></i>
          </div>
          <div class="textProfileResponsive d-flex">
            <input
              type="checkbox"
              class="form-check-input textProfileResponsive border-input keyValueGap"
              formControlName="WorkFromHome"
              id="WorkFromHome"
            />
            <div>ผู้สมัครงานสามารถทำงานที่บ้านได้</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container textProfileResponsive p-sm-5 p-3 mt-5 semi-border-input standard-shadow"
      style="background-color: white"
    >
      <div class="mb-5 border-bottom border-secondary py-3">
        <div>รายละเอียดงานเพิ่มเติม</div>
      </div>
      <div class="row mt-3 verticalKeyGap">
        <div class="my-3">
          <b>หน้าที่ความรับผิดชอบ</b><label class="text-danger">*</label>
        </div>
        <div
          *ngIf="submitted && getNewJobForm['JobDetails'].errors"
          class="invalid-feedback2 mb-3"
        >
          <div *ngIf="getNewJobForm['JobDetails'].errors['required']">
            กรุณาระบุหน้าที่ความรับผิดชอบ
          </div>
        </div>
        <ckeditor
          formControlName="JobDetails"
          [config]="{ placeholder: 'หน้าที่ความรับผิดชอบของผู้สมัครงาน....' }"
          [editor]="jobDetailsEditor"
          name="editor"
          [ngClass]="{
            'is-invalid': submitted && getNewJobForm['JobDetails']!.errors!
          }"
        ></ckeditor>
      </div>
      <div class="row mt-3 verticalKeyGap">
        <div class="my-3">
          <b>คุณสมบัติผู้สมัคร</b><label class="text-danger">*</label>
        </div>
        <div
          *ngIf="submitted && getNewJobForm['qualityApplicants'].errors"
          class="invalid-feedback2 mb-3"
        >
          <div *ngIf="getNewJobForm['qualityApplicants'].errors['required']">
            กรุณาระบุคุณสมบัติผู้สมัคร
          </div>
        </div>
        <ckeditor
          formControlName="qualityApplicants"
          [config]="{ placeholder: 'คุณสมบัติของผู้สมัครงาน....' }"
          [editor]="qualityEditor"
          name="editor"
          [ngClass]="{
            'is-invalid':
              submitted && getNewJobForm['qualityApplicants']!.errors!
          }"
        ></ckeditor>
      </div>
      <div class="row mt-3 verticalKeyGap" *ngIf="!urgency">
        <div class="my-3">
          <b>สวัสดิการ</b><label class="text-danger">*</label>
        </div>
        <div
          *ngIf="submitted && getNewJobForm['jobBenefits'].errors"
          class="invalid-feedback2 mb-3"
        >
          <div *ngIf="getNewJobForm['jobBenefits'].errors['required']">
            กรุณาระบุสวัสดิการ
          </div>
        </div>
        <ckeditor
          formControlName="jobBenefits"
          [editor]="jobBenefitsEditor"
          [config]="{ placeholder: 'สวัสดิการสำหรับผู้สมัครงาน....' }"
          name="editor"
          [ngClass]="{
            'is-invalid': submitted && getNewJobForm['jobBenefits']!.errors!
          }"
        ></ckeditor>
      </div>
      <div class="row mt-3 verticalKeyGap">
        <div class="my-3">
          <b>วิธีสมัครงาน</b><label class="text-danger">*</label>
        </div>
        <div
          *ngIf="submitted && getNewJobForm['applyInstructions'].errors"
          class="invalid-feedback2 mb-3"
        >
          <div *ngIf="getNewJobForm['applyInstructions'].errors['required']">
            กรุณาระบุวิธีสมัครงาน
          </div>
        </div>
        <ckeditor
          formControlName="applyInstructions"
          [editor]="applyInstructionsEditor"
          [config]="{ placeholder: 'วิธีสมัครงาน....' }"
          name="editor"
          [ngClass]="{
            'is-invalid':
              submitted && getNewJobForm['applyInstructions']!.errors!
          }"
        ></ckeditor>
      </div>
    </div>
    <div
      class="semi-border-input standard-shadow container p-sm-5 p-3 mt-5 textProfileResponsive"
      style="background-color: white"
    >
      <div class="mb-5 border-bottom border-secondary py-3 verticalKeyGap">
        <div>ข้อมูลติดต่อเพิ่มเติม</div>
      </div>
      <div formGroupName="Contacts">
        <div class="verticalKeyGap">
          <div class="d-flex flex-row mb-md-0 mb-3">
            <div class="keyValueGap"><i class="bi bi-telephone-fill"></i></div>
            <div style="width: -webkit-fill-available; width: -moz-available">
              <div class="keyValueGap">
                <div>
                  <b>ชื่อผู้ติดต่อ และ เบอร์โทร</b
                  ><label class="text-danger">*</label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div
              class="keyValueGap d-md-block d-none"
              style="visibility: hidden"
            >
              <i class="bi bi-telephone-fill"></i>
            </div>
            <div style="width: 100%">
              <input
                formControlName="nameRepresentative"
                placeholder="ชื่อบุคคลที่ผู้สมัครงานสามารถติดต่อได้"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    getNewJobForm['Contacts'].get('nameRepresentative')!.errors!
                }"
                class="form-control textProfileResponsive verticalKeyGap border-input"
                name="nameRepresentative"
              />
              <div
                *ngIf="
                  submitted &&
                  getNewJobForm['Contacts'].get('nameRepresentative')!.errors
                "
                class="invalid-feedback mb-3"
              >
                <div
                  *ngIf="
                    getNewJobForm['Contacts'].get('nameRepresentative')!
                      .errors!['required']
                  "
                >
                  กรุณาระบุชื่อผู้ติดต่อ
                </div>
              </div>
              <input
                formControlName="phone"
                placeholder="เบอร์โทรติดต่อสำหรับผู้สมัครงาน"
                class="form-control textProfileResponsive border-input"
                name="phone"
                [ngClass]="{
                  'is-invalid':
                    submitted && getNewJobForm['Contacts'].get('phone')!.errors!
                }"
              />
              <div
                *ngIf="
                  submitted && getNewJobForm['Contacts'].get('phone')!.errors
                "
                class="invalid-feedback mb-3"
              >
                <div
                  *ngIf="
                    getNewJobForm['Contacts'].get('phone')!.errors!['required']
                  "
                >
                  กรุณาระบุเบอร์โทร
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="verticalKeyGap">
          <div class="d-flex flex-row mb-md-0 mb-3">
            <div class="keyValueGap">
              <i class="bi bi-envelope-open-fill"></i>
            </div>
            <div style="width: -webkit-fill-available; width: -moz-available">
              <div class="keyValueGap">
                <div><b>Email</b></div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div
              class="keyValueGap d-md-block d-none"
              style="visibility: hidden"
            >
              <i class="bi bi-envelope-open-fill"></i>
            </div>
            <div style="width: 100%">
              <input
                formControlName="email"
                placeholder="Email"
                class="form-control textProfileResponsive border-input"
                name="email"
                [ngClass]="{
                  'is-invalid':
                    submitted && getNewJobForm['Contacts'].get('email')!.errors!
                }"
              />
              <div
                *ngIf="
                  submitted && getNewJobForm['Contacts'].get('email')!.errors
                "
                class="invalid-feedback mb-3"
              >
                <div
                  *ngIf="
                    getNewJobForm['Contacts'].get('email')!.errors!['required']
                  "
                >
                  กรุณาระบุEmail
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="verticalKeyGap">
          <div class="d-flex flex-row mb-md-0 mb-3">
            <div class="keyValueGap"><i class="bi bi-globe2"></i></div>
            <div style="width: -webkit-fill-available; width: -moz-available">
              <div class="keyValueGap">
                <div><b>Website</b></div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div
              class="keyValueGap d-md-block d-none"
              style="visibility: hidden"
            >
              <i class="bi bi-envelope-open-fill"></i>
            </div>
            <div style="width: 100%">
              <div>
                <input
                  formControlName="website"
                  placeholder="Web"
                  class="form-control textProfileResponsive border-input"
                  name="website"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="verticalKeyGap">
          <div class="d-flex flex-row mb-md-0 mb-3">
            <div class="keyValueGap"><i class="bi bi-line"></i></div>
            <div style="width: -webkit-fill-available; width: -moz-available">
              <div class="keyValueGap">
                <div><b>LINE</b></div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div
              class="keyValueGap d-md-block d-none"
              style="visibility: hidden"
            >
              <i class="bi bi-envelope-open-fill"></i>
            </div>
            <div style="width: 100%">
              <div>
                <input
                  formControlName="line"
                  placeholder="Line"
                  class="form-control textProfileResponsive border-input"
                  name="website"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="verticalKeyGap">
          <div class="d-flex flex-row mb-md-0 mb-3">
            <div class="keyValueGap"><i class="bi bi-line"></i></div>
            <div style="width: -webkit-fill-available; width: -moz-available">
              <div class="keyValueGap">
                <div><b>Facebook</b></div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div
              class="keyValueGap d-md-block d-none"
              style="visibility: hidden"
            >
              <i class="bi bi-envelope-open-fill"></i>
            </div>
            <div style="width: 100%">
              <div>
                <input
                  formControlName="facebook"
                  placeholder="Facebook"
                  class="form-control textProfileResponsive border-input"
                  name="website"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row verticalKeyGap">
        <div class="keyValueGap"><i class="bi bi-send-fill"></i></div>
        <div style="width: -webkit-fill-available; width: -moz-available">
          <div class="keyValueGap">
            <div>
              <b>ที่อยู่ที่ทำงานและวิธีเดินทาง</b
              ><label class="text-danger">*</label>
            </div>
          </div>
          <div
            *ngIf="submitted && getNewJobForm['TravelInstructions']!.errors"
            class="invalid-feedback2 mb-3"
          >
            <div
              *ngIf="getNewJobForm['TravelInstructions']!.errors!['required']"
            >
              กรุณาระบุวิธีเดินทาง
            </div>
          </div>
        </div>
      </div>
      <ckeditor
        [ngClass]="{
          'is-invalid': submitted && getNewJobForm['TravelInstructions']
        }"
        [config]="{ placeholder: 'ที่อยู่ที่ทำงานและวิธีเดินทาง...' }"
        [editor]="travelEditor"
        formControlName="TravelInstructions"
        name="editor"
        class="verticalKeyGap"
      ></ckeditor>
      <div class="d-flex flex-row verticalKeyGap mt-3">
        <div class="keyValueGap"><i class="bi bi-geo-alt-fill"></i></div>
        <div style="width: -webkit-fill-available; width: -moz-available">
          <div class="keyValueGap">
            <div><b>ปักหมุดที่ทำงานใน google map</b></div>
          </div>
        </div>
      </div>
      <div>
        <input
          type="text"
          #searchInput
          class="form-control my-3 textProfileResponsive border-input"
          formControlName="Address"
          placeholder=""
        />
        <div>
          <div
            *ngIf="submitted && getNewJobForm['_geoloc']!.errors"
            class="invalid-feedback2 mb-3"
          >
            <div *ngIf="getNewJobForm['_geoloc']!.errors!['required']">
              กรุณาระบุปักหมุด google map
            </div>
          </div>
          <google-map
            height="500px"
            width="100%"
            [center]="center"
            [options]="none"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)"
          >
            <map-marker [position]="markerPosition"></map-marker>
          </google-map>
        </div>
      </div>
    </div>
    <div>
      <div class="align-items-baseline d-flex justify-content-evenly mt-5 ms-3">
        <button
          (click)="cancelClick()"
          class="me-3 btn textProfileResponsive btn-light fs-2"
          style="padding: 0.5rem 2rem; border-radius: 50px !important"
        >
          ยกเลิก
        </button>
        <button
          (click)="onSaveOpenModal()"
          class="btn textProfileResponsive fs-2"
          style="
            border-color: rgb(127, 216, 88);
            background-color: rgb(127, 216, 88);
            padding: 0.5rem 2rem;
            border-radius: 50px !important;
            color: white;
          "
        >
          บันทึก
        </button>
      </div>
    </div>
  </form>
</div>
