.brandIcon > img {
  /* width: -webkit-fill-available !important;
  height: -webkit-fill-available;
    width: -moz-available !important;
    height: -moz-available; */
  border-radius: 100%;
  border-radius: 100%;
}
.brandIcon {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .letSideHeader {
    display: block !important;
  }
  .jobCount {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 500px) {
  .companyName {
    font-size: 1rem !important;
  }
}
@media only screen and (max-width: 470px) {
  .headerTitle {
    display: flex;
    font-size: 5.8vw !important;
    align-items: center;
  }
  .goToListText {
    display: flex;
    font-size: 1rem !important;
    color: #7fd858;
    align-items: center;
  }
}
/* @media only screen and (max-width: 500px){
  .goToListText{
    display: none !important
  }
} */
@media only screen and (max-width: 390px) {
  .jobCount {
    font-size: large !important;
  }
}
@media only screen and (max-width: 370px) {
  .outerCard {
    display: block !important;
  }
  .outerCard > div {
    text-align: left !important;
  }
}

/* .swiper-container{
  height: auto
}
.swiper-slide{
  height:auto
} */
.landing-page_img2 {
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 20px;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* .swiper-button-next{
    opacity:0 !important
  }
  .swiper-button-prev{
    opacity:0 !important
  } */

@media (max-width: 1200px) {
  .pin-icon {
    width: 40px !important;
    right: 80px !important;
    top: 3px !important;
  }
}

@media (max-width: 992px) {
  .pin-icon {
    right: 40px !important;
    top: 5px !important;
  }
}

@media (max-width: 770px) {
  .pin-icon {
    right: 10px !important;
  }
}

@media (max-width: 576px) {
  .pin-icon {
    top: 13px !important;
    right: 9vw !important;
  }
}
@media (max-width: 450px) {
  .pin-icon {
    right: 5vw !important;
  }
}
@media (max-width: 360px) {
  .pin-icon {
    right: 3vw !important;
  }
}

.swiper-slide {
  width: 80vw;
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;
  margin-top: 0 !important;
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* Grid fallback for operator swiper when init="false" */
.swiper-operator-grid {
  --operator-row-height: 220px; /* default row height (overrideable) */
  display: grid;
  grid-auto-flow: row;
  gap: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  /* fixed total height equal to 3 rows */
  /* height: calc(var(--operator-row-height) * 3); */
}

/* Default (mobile) - 2 columns */
.swiper-operator-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  /* grid-template-rows: repeat(3, var(--operator-row-height)); */
  grid-template-rows: repeat(3, auto);
}

/* >= 550px -> 3 columns */
@media (min-width: 550px) {
  .swiper-operator-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* >= 1000px -> 4 columns */
@media (min-width: 1000px) {
  .swiper-operator-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* >= 1400px -> 5 columns */
@media (min-width: 1400px) {
  .swiper-operator-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

/* Ensure grid items behave as cells */
.swiper-operator-grid > swiper-slide {
  width: auto !important;
  /* height: var(--operator-row-height) !important; */
  display: block;
}

.swiper-operator-grid > swiper-slide > * {
  width: 100%;
  height: 100%;
}
