<div class="d-flex justify-content-between" style="margin-top:5rem">
    <div class="d-flex flex-row align-items-end mb-0">
        <div class="d-flex flex-row">
            <div *ngIf="filterFlags.filterFlag" class=" my-auto me-3">
                <a class="text-body" type="button" data-bs-toggle="collapse" [href]=collapseButton>
                    <i class=" h2 bi bi-justify"></i>
                </a>
            </div>
            <p class="h2 d-flex align-items-end">{{ filterFlags.header }}</p>
        </div>
        <div class="fs-4 align-self-center ms-3">500,000 ตำแหน่งงาน</div>
    </div>
    <div *ngIf="filterFlags.filterFlag" style="cursor: pointer; background-color:#f2f2f2" (click)="goToList()"class="d-flex flex-row align-items-center">
        <p class="h4 d-flex align-items-center me-3">ดูทั้งหมด</p>
        <i class="d-flex bi bi-arrow-right-square align-items-center" style="font-size:1.5rem"></i>
    </div>
</div>
    <div class="collapse" [id]="filterFlags.CategorySymbol">
        <app-filter [filterFlags]="filterFlags"></app-filter>
    </div>
    <ng-container
        *ngIf="filterFlags.filterFlag === false; then ifBlock; else elseBlock">
    </ng-container>
    <ng-template #ifBlock>
        <div class="mt-3">
			<swiper [slidesPerView]="5" 
                    [grid]="{
                        rows: 3
                    }" 
                    [spaceBetween]="25" 
                    [navigation]="true" 
                    [autoplay]="true"
                    [pagination]="true" 
                    style="height:100vh" 
                    class="swiper">
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-1.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-5"><b>P Aom Tood ti men ti sud nai lok</b></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-geo-alt"></i></div><div style="text-align:left" class="col">Bangkok</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-briefcase"></i></div><div style="text-align:left" class="col">5 ตำแหน่ง</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-file-earmark-text"></i></div><div style="text-align:left" class="col">3 งานด่วน</div></div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-2.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-5"><b>P Aom Tood ti men ti sud nai lok</b></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-geo-alt"></i></div><div style="text-align:left" class="col">Bangkok</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-briefcase"></i></div><div style="text-align:left" class="col">5 ตำแหน่ง</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-file-earmark-text"></i></div><div style="text-align:left" class="col">3 งานด่วน</div></div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-3.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-5"><b>P Aom Tood ti men ti sud nai lok</b></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-geo-alt"></i></div><div style="text-align:left" class="col">Bangkok</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-briefcase"></i></div><div style="text-align:left" class="col">5 ตำแหน่ง</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-file-earmark-text"></i></div><div style="text-align:left" class="col">3 งานด่วน</div></div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-4.jpg" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-5"><b>P Aom Tood ti men ti sud nai lok</b></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-geo-alt"></i></div><div style="text-align:left" class="col">Bangkok</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-briefcase"></i></div><div style="text-align:left" class="col">5 ตำแหน่ง</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-file-earmark-text"></i></div><div style="text-align:left" class="col">3 งานด่วน</div></div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-5.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-5"><b>P Aom Tood ti men ti sud nai lok</b></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-geo-alt"></i></div><div style="text-align:left" class="col">Bangkok</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-briefcase"></i></div><div style="text-align:left" class="col">5 ตำแหน่ง</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-file-earmark-text"></i></div><div style="text-align:left" class="col">3 งานด่วน</div></div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-6.webp" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-5"><b>P Aom Tood ti men ti sud nai lok</b></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-geo-alt"></i></div><div style='text-align:left' class="col">Bangkok</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-briefcase"></i></div><div style='text-align:left' class="col">5 ตำแหน่ง</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-file-earmark-text"></i></div><div style='text-align:left' class="col">3 งานด่วน</div></div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-7.png" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-5"><b>P Aom Tood ti men ti sud nai lok</b></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-geo-alt"></i></div><div style='text-align:left'   class="col">Bangkok</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-briefcase"></i></div><div style='text-align:left'  class="col">5 ตำแหน่ง</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-file-earmark-text"></i></div><div style='text-align:left'  class="col">3 งานด่วน</div></div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-8.png" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-5"><b>P Aom Tood ti men ti sud nai lok</b></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-geo-alt"></i></div><div style='text-align:left'  class="col">Bangkok</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-briefcase"></i></div><div style='text-align:left'  class="col">5 ตำแหน่ง</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-file-earmark-text"></i></div><div style='text-align:left'  class="col">3 งานด่วน</div></div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-9.png" class="brandIcon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
						<div class="fs-5"><b>P Aom Tood ti men ti sud nai lok</b></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-geo-alt"></i></div><div style='text-align:left'  class="col">Bangkok</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-briefcase"></i></div><div style='text-align:left'  class="col">5 ตำแหน่ง</div></div>
						<div class="fs-6 row"><div class="col-4" style="text-align:right"><i class="bi bi-file-earmark-text"></i></div><div style='text-align:left'  class="col">3 งานด่วน</div></div>
					</div>
				</ng-template>
			</swiper>
		</div>
    </ng-template>
    <ng-template #elseBlock>
        <swiper
            [navigation]="true"
            [slidesPerView]="4.5"
            [spaceBetween]="25"
            [pagination]="true"
            style="margin-top: 3em; text-align: center"
        >
            <ng-template swiperSlide *ngFor="let item of content">
				<app-job-post-small-card 
					[urgentFlag]="item.Urgency" 
					[fullTimeFlag]="item.TimeFrame === 'Full-Time'?true:false"
					[content]="item">
				</app-job-post-small-card>
			</ng-template>
        </swiper>
    </ng-template>