@media only screen and (max-width: 576px) {
  .requestView{
    display: block !important;
    justify-content: center !important
  }
  .innerContent > div{
    width: 50% 
  }
  .innerContent > div > img{
    width: 70% !important
  }
  .innerContent > div > img{
    height: auto
  }
  .followButton{
    text-align: center !important
  }
  .btn-width{
    min-width:5rem !important
  }
}
.btn-width{
  min-width:9rem 
}
.btn-primary, btn-primary:hover{
  background:#5cdfe4;
  border-color: #5cdfe4
}
.followButton{
  text-align:right
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.5rem;
    column-gap:3rem;
    font-size: 1rem;
  }
.rounded{
  border-radius: 20px !important
}

.btn-success{
  background-color:rgb(127, 216, 88);
  border: rgb(127, 216, 88)
}

.btn-outline-primary{
  color:#5cdfe4;
  border-color: #5cdfe4
}
.btn-outline-primary:hover{
  color: red;
  border-color: red;
  background:white
}