<div [ngClass]="requestViewFlag?requestStatus.status !== 'Pending'?'green-border-color':'':''" class="textResponsive semi-border-input standard-shadow">
    <div class="innerContent align-items-center d-flex justify-content-start p-3 ">
        <div style='text-align:center'>
            <img [src]="content.cropProfilePictureUrl !== undefined? content.cropProfilePictureUrl: content.profilePictureUrl" (click)="goToOperatorProfile()" class="card-img-top m-auto" style="width:fit-content" height="150" width="150">
        </div>
        <div class=" m-auto px-3 textContent" style="width:-webkit-fill-available; width:-moz-available">
            <div class="row">
                <div class="col">
                    <div class=" pe-3">
                        <b>{{content.companyName}}</b>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="bi bi-bank2 me-3"></i>
                    {{content.jobType}}
                </div>
            </div>
            <div class="row">
            <!-- <div class="row" *ngIf="content.Location !== undefined"> -->
                <div class="col">
                    <i class="me-3 bi bi-geo-fill"></i>
                    {{content.Location?.District | emptyFieldPipe}}, {{content.Location?.Province | emptyFieldPipe}}
                </div>
            </div>
        </div>
    </div>
</div>
        <ng-container *ngIf="requestViewFlag; then requestView; else notRequestView"></ng-container>
        <ng-template #requestView>
            <div class="requestView textResponsive justify-content-between align-items-center mt-3" style="width:-webkit-fill-available; width: -moz-available">
                <div class="">ส่งเมื่อ {{ requestStatus.dateSent }}</div>
                <div class="d-flex justify-content-end align-items-center">
                    <div *ngIf="requestViewLoading"style="text-align:center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <button (click)="completeConfirmRequestView()" class="btn-width btn btn-outline-secondary me-3 px-3 border-input" [ngClass]="requestStatus.status !== 'Pending'?'green-text green-border-color':''">
                        {{ requestStatus.status !== 'Pending'?'ยืนยันแล้ว':'ยืนยันเปิดเผยข้อมูล' }}
                    </button>
                    <button (click)="revealText()"class="btn-width btn btn-outline-secondary ms-3 px-3 border-input">
                        ดูข้อความแนบ
                    </button>
                    <div (click)="removeRequestView()"><i class="bi bi-trash3 ms-3 "></i></div>
                </div>
            </div>
        </ng-template>
        <ng-template #notRequestView>
            <ng-container *ngIf="followLoading; then loading; else notLoading"></ng-container>
            <ng-template #loading>
                <div>
                    <div style="text-align:center" class="mt-3">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #notLoading>
                <div class="followButton mb-3 textResponsive">
                    <button (click)="unFollowOperator()" class="btn mt-3 border-input btn-outline-primary" [id]="target" style="min-width: 12rem">
                        <div class="mb-0" (mouseleave)="changeFollowedText('ติดตามแล้ว')" (mouseenter)="changeFollowedText('ยกเลิกติดตาม')">{{ followedText }}</div>
                    </button>            
                </div>
            </ng-template>
        </ng-template>       