<div (click)="scrollUp()"class="position-fixed bottom-0 end-0 m-3" style="z-index: 10; font-size:5rem">
	<i class="pe-auto bi bi-arrow-up-square"></i>
</div>
<swiper
    [navigation]="true"
    [slidesPerView]="1"
    [loop]="true"
    [centeredSlides]="true"
    [watchSlidesProgress] = "true"
    [spaceBetween]="25"
    [breakpoints]="breakingPointOperator"
    [pagination]="true"
    [autoplay]="true"
    style="margin-top: 3em; text-align: center">
    <ng-template swiperSlide>
        <div class="img-container">
            <img class="landing-page_img" src="assets/emptybanner/emptyBannerBig.png">
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="img-container">
            <img class="landing-page_img" src="assets/emptybanner/emptyBannerBig.png">
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="img-container">
            <img class="landing-page_img" src="assets/emptybanner/emptyBannerBig.png">
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="img-container">
            <img class="landing-page_img" src="assets/banner9.png">
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="img-container">
            <img class="landing-page_img" src="assets/banner8.png">
        </div>
    </ng-template>
</swiper>
<div>
    <!-- <div class="d-flex justify-content-center my-5" [ngStyle]="{'visibility':!loadingFlag?'hidden':'unset'}">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-flex justify-content-center my-3">
        <google-map 
            height="500px"
            width="65vw"
            [center]="allJobs[0]._geoloc!"
            [zoom]="15"
            (mapClick)="moveMap($event)"
        >
            <map-marker *ngFor="let job of allJobs" [position]="job._geoloc!"></map-marker>
        </google-map>
    </div> -->
    <div class="container pt-6 mt-5">
        <ng-container *ngIf="loadingFlag$ | async; then loadBlock; else mainBlock"></ng-container>
        <ng-template #loadBlock>
            <div style="text-align:center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </ng-template>
        <ng-template #mainBlock>
            <div *ngFor="let header of items$ | async">
                <app-swiper-module [filterFlags]="header"></app-swiper-module>
            </div>
        </ng-template>
    </div>
</div>