<!-- <div (click)="scrollUp()"class="position-fixed bottom-0 start-0 m-3" style="z-index: 10; font-size:5rem">
	<i class="pe-auto bi bi-arrow-up-square"></i>
</div> -->
<div>
        <ng-container *ngIf="loadingFlag$ | async; then loadBlock; else mainBlock"></ng-container>
        <ng-template #loadBlock>
            <div class="loading">
                <div style="text-align:center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #mainBlock>
            <div class="pb-3">
                <swiper
                    [navigation]="true"
                    [slidesPerView]="1"
                    [centeredSlides]="true"
                    [loop]="a1Banner.length > 1"
                    [spaceBetween]="30"
                    [breakpoints]="breakingPointOperator"
                    [pagination]="true"
                    [autoplay]="true"
                    class="mt-sm-4 mt-3"
                    style="text-align: center">
                    <ng-container *ngIf="a1Banner.length > 0; then hasBanner; else noBanner">
                    </ng-container>
                    <ng-template #hasBanner>
                        <ng-container  *ngFor="let banner of a1Banner">
                            <ng-template swiperSlide>
                                <div class="img-container">
                                    <ng-container *ngIf="banner.link !== ''; then link; else noLink"></ng-container>
                                    <ng-template #link>
                                        <img class="landing-page_img" [src]="banner.bannerPictureLink" (click)="redirectExternal(banner.link)" style="cursor:pointer">
                                    </ng-template>
                                    <ng-template #noLink>
                                        <img class="landing-page_img" [src]="banner.bannerPictureLink">
                                    </ng-template>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ng-template>
                    <ng-template #noBanner>
                        <ng-template swiperSlide>
                            <div class="img-container">
                                <img class="landing-page_img" src="assets/banner8.png">
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="img-container">
                                <img class="landing-page_img" routerLink="buy" style="cursor:pointer" src="assets/bannerOperator.png">
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="img-container">
                                <img class="landing-page_img" routerLink="buy-banner" style="cursor:pointer" src="assets/banner9.png">
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="img-container">
                                <img class="landing-page_img" routerLink="buy-social" style="cursor:pointer" src="assets/bannerSocial.png">
                            </div>
                        </ng-template>
                    </ng-template>
                </swiper>
            </div>
            <div class="container pt-3 mt-3">
                <div *ngFor="let header of items$ | async">
                    <app-swiper-module [filterFlags]="header"></app-swiper-module>
                </div>
            </div>
        </ng-template>
</div>