
.swiper-slide {
  width: 80vw;
}
.img-container > img {
  width: 100%;
  object-fit: cover;
  object-position: center top;
}
.img-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 1;
  overflow: hidden;
}
.bi-arrow-up-square::before {
  content: "\f147";
  background-color: white;
  border-radius: 1rem;
}
.landing-page_img{
  width:-webkit-fill-available;
  width: -moz-available;
}
.landing-page_img2{
  width:-webkit-fill-available;
  width: -moz-available;
  border-radius: 20px
}

