<div [formGroup]="parentFormGroup">
    <div class="row">
        <div class="col-3">
            <label for="address" class="form-label"><b>ที่อยู่:</b></label>
        </div>
        <div class="col-7" [formGroupName]="formGroupName">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <textarea formControlName="address" class="form-control" id="exampleFormControlTextarea1" row="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="Section" class="form-label"><b>แขวง:</b></label>
                </div>
                <div class="col">
                    <select formControlName="Section" (change)="sectionSelected()" name="section" class="form-select mb-3">
                        <option *ngFor="let section of section$ | async" [ngValue]="section">{{section}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="District" class="form-label"><b>เขต:</b></label>
                </div>
                <div class="col">
                    <select formControlName="District" (change)="districtSelected()" name="district" class="form-select mb-3">
                        <option *ngFor="let district of district$ | async" [ngValue]="district">{{district}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="Province" class="form-label"><b>จังหวัด:</b></label>
                </div>
                <div class="col">
                    <select formControlName="Province" (change)="provinceSelected()" name="province" class="form-select mb-3">
                        <option *ngFor="let province of province$ | async" [ngValue]="province">{{province}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div> 
</div>