@media only screen and (max-width: 992px) {
    .textResponsive{
        font-size:smaller !important
    }
}
@media only screen and (max-width: 576px) {
    .keyValueGap{
        margin-right: 1rem !important
    }

}
.keyValueGap{
    margin-right:2.5rem
}
@media only screen and (max-width: 768px) {
    .textResponsive{
        font-size:medium !important
    }
}
.textResponsive{
    font-size:1.75rem
}
.form-group{
    text-align:left
}