@media only screen and (max-width: 576px) {
    .keyValueGap{
        margin-right: 1rem !important
    }

}
@media only screen and (max-width: 500px) {
    .contacts{
        margin-left: 2rem !important
    }

}
@media only screen and (max-width: 992px) {
    /* .googleMap{
        width: 60vw
    } */
    .verticalKeyGap > div{
        font-size:smaller
    }
    .verticalKeyGap > div > input,
    .verticalKeyGap > div > select,  
    .verticalKeyGap > div > div
    {
        font-size:smaller !important
    }
    .editButton > button, .saveButton{
        font-size:smaller !important
    }
}
@media only screen and (max-width: 768px) {
    /* .googleMap{
        width: 70vw !important
    } */
    .verticalKeyGap > div{
        font-size:medium
    }
    .verticalKeyGap > div > input,
    .verticalKeyGap > div > select,  
    .verticalKeyGap > div > div
    {
        font-size:medium !important
    }
    .editButton > button, .saveButton{
        font-size:medium !important
    }
}
.editButton > button, .saveButton
{
    font-size:1.75rem
}
.nobr{
    white-space: nowrap
}
.keyValueGap{
    margin-right:2.5rem
}
.btn-primary{
    background:#5cdfe4;
    border-color: #5cdfe4
}
.contacts > .verticalKeyGap > .keyValueGap{
    margin-right:1rem
}
.contacts > .verticalKeyGap{
    margin-bottom:2rem
}
.verticalKeyGap{
    margin-bottom:4rem
}
