<ng-container *ngIf="!editFlag; then displayPage; else editPage"></ng-container>
    <ng-template #displayPage>
    <div class="p-lg-5 p-4  my-4 light-red-color semi-border-input" *ngIf="innerProfileInformation.studentFlag">
        <div style="color:red" class="mb-4">
            *บัญชีนักศึกษาเภสัช สามารถแก้ไขหัวข้อ “ข้อมูลส่วนตัว” ได้ตามปกติ เมื่อกดบันทึก ข้อมูลจะถูกจัดเก็บไว้ในระบบ และจะไม่แสดงข้อมูลในหัวข้อ “ข้อมูลส่วนตัว” ของท่านต่อผู้ประกอบการ จนกว่าท่านจะอัพกรดบัญชีเป็น “บัญชีเภสัชกร” <br> <a data-bs-toggle="modal" data-bs-target="#studentUpgradeModal" class="mx-2"style="cursor:pointer">ดูวิธีอัพเกรดบัญชี</a>
        </div>
    </div>
    <div class="p-lg-5 p-4  my-4 cyan-color semi-border-input">
        <div style="color:blue" class="mb-4">
            *ข้อมูลในส่วนกรอบสีฟ้าจะขึ้นกับการตั้งค่าระดับการเปิดเผยข้อมูล สามารถอ่านรายละเอียดของระดับการเปิดเผยข้อมูลได้โดยการกด
            เครื่องหมาย<i class="bi bi-question mx-3"></i>ที่ด้านหน้าตัวเลือกการตั้งค่า
        </div>
        <div class="px-4 ps-sm-4 ps-0">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap"><i class="bi bi-person-fill"></i></div>
                    <div>
                        <div class="keyValueGap">
                            <div><b>ชื่อ-นามสกุล</b></div>
                        </div>
                        <div class="col d-flex">
                            <div class="me-2">{{innerProfileInformation.name | emptyFieldPipe}}</div><div>{{innerProfileInformation.surname | emptyFieldPipe}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap"><i class="bi bi-gender-ambiguous"></i></div>
                    <div>
                        <div class="keyValueGap"><b>เพศ</b></div>
                        <div>{{innerProfileInformation.gender | emptyFieldPipe}}</div>
                    </div>
            </div>
            <div class="d-flex flex-row verticalKeyGap">
                <div class="keyValueGap"><i class="bi bi-pin-map-fill"></i></div>
                    <div>
                        <div class="keyValueGap">
                            <div class="nobr"><b>ที่อยู่</b></div>
                        </div>
                        <div class="d-flex flex-row">
                        <div>{{innerProfileInformation.Location?.Province | emptyFieldPipe}}, {{innerProfileInformation.Location?.District | emptyFieldPipe}}, {{innerProfileInformation.Location?.Section | emptyFieldPipe}}</div>                    
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex flex-row">
                    <div class="keyValueGap">
                        <i class="bi bi-telephone-plus-fill"></i>
                    </div>
                    <div class="keyValueGap">
                        <div><b>ข้อมูลการติดต่อ</b></div>
                    </div>
                </div>
                <div class="contacts" style="margin-left:4.3rem">
                    <div class="d-flex flex-row">
                        <div class="keyValueGap">
                            <div class="nobr">เบอร์โทร</div>
                        </div>
                        <div class="col">
                            <div class="me-3">{{innerProfileInformation.contacts?.phone | emptyFieldPipe}}</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="keyValueGap">
                            <div>Email</div>
                        </div>
                        <div class="col" style="line-break: auto">
                            <div class="me-3">{{innerProfileInformation.contacts?.email | emptyFieldPipe}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="p-lg-5 p-4  my-5 light-red-color semi-border-input">
            <div style="color:red" class="mb-4">
                *ข้อมูลในส่วนกรอบสีฟ้าจะขึ้นกับการตั้งค่าระดับการเปิดเผยข้อมูล สามารถอ่านรายละเอียดของระดับการเปิดเผยข้อมูลได้โดยการกด
                เครื่องหมาย<i class="bi bi-question mx-3"></i>ที่ด้านหน้าตัวเลือกการตั้งค่า
            </div>
            <div class="px-4 ps-sm-4 ps-0">
                <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap">
                        <i class="bi bi-check2-circle"></i>
                    </div>
                    <div>
                        <div class="keyValueGap">
                            <b>เลขที่ใบประกอบ ภ</b>
                        </div>
                        <div class="col">
                            <div class="me-3">{{innerProfileInformation.license | emptyFieldPipe}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-items-baseline d-flex justify-content-center ms-3  mb-5"><button [ngStyle]="{'visibility': !editFlag?'unset':'hidden'}" (click)="editClick()" type="button" class="border-input btn green-color textProfileResponsive" style="color:white; padding: 0.5rem 2rem">แก้ไขข้อมูลส่วนตัว</button></div>
    </ng-template>
    <ng-template #editPage>
        <div class="p-lg-5 p-4  my-4 light-red-color semi-border-input" *ngIf="innerProfileInformation.studentFlag">
            <div style="color:red" class="mb-4">
                *บัญชีนักศึกษาเภสัช สามารถแก้ไขหัวข้อ “ข้อมูลส่วนตัว” ได้ตามปกติ เมื่อกดบันทึก ข้อมูลจะถูกจัดเก็บไว้ในระบบ และจะไม่แสดงข้อมูลในหัวข้อ “ข้อมูลส่วนตัว” ของท่านต่อผู้ประกอบการ จนกว่าท่านจะอัพกรดบัญชีเป็น “บัญชีเภสัชกร” <br> <a data-bs-toggle="modal" data-bs-target="#studentUpgradeModal" class="mx-2"style="cursor:pointer">ดูวิธีอัพเกรดบัญชี</a>
            </div>
        </div>
        <form [formGroup]="profileEdit">
            <div class="p-lg-5 p-4  my-5 cyan-color semi-border-input">
                <div style="color:blue" class="mb-4">
                    *ข้อมูลในส่วนกรอบสีฟ้าจะขึ้นกับการตั้งค่าระดับการเปิดเผยข้อมูล สามารถอ่านรายละเอียดของระดับการเปิดเผยข้อมูลได้โดยการกด
                    เครื่องหมาย<i class="bi bi-question mx-3"></i>ที่ด้านหน้าตัวเลือกการตั้งค่า
                </div>
                <div class="px-4 ps-sm-4 ps-0">
                    <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap"><i class="bi bi-person-check-fill"></i></div>
                        <div style="width:-webkit-fill-available; width:-moz-available">
                            <div class="keyValueGap">
                                <div><b>ชื่อ-นามสกุล</b></div>
                            </div>
                            <div class="col d-flex">
                                <input disabled class="border-input form-control textProfileResponsive" style="width:-webkit-fill-available; width:-moz-available" placeholder="{{innerProfileInformation.name + ' ' + innerProfileInformation.surname | emptyFieldPipe}}">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap"><i class="bi bi-gender-ambiguous"></i></div>
                        <div style="width:-webkit-fill-available; width:-moz-available">
                            <div class="keyValueGap">
                                <div><b>เพศ</b></div>
                            </div>
                            <div class="col d-flex">
                                <select formControlName="gender" class="form-select  border-input textProfileResponsive" style="width:-webkit-fill-available; width:-moz-available">
                                    <option value="ชาย">ชาย</option>
                                    <option selected value="หญิง">หญิง</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <app-location [parentFormGroup]="profileEdit"></app-location>
                    <div class="my-3" formGroupName="contacts">
                        <div class="d-flex flex-row verticalKeyGap">
                            <div class="keyValueGap"><i class="bi bi-telephone-plus-fill"></i></div>
                            <div style="width:-webkit-fill-available; width:-moz-available">
                                <div class="keyValueGap">
                                    <div><b>ข้อมูลติดต่อ</b></div>
                                </div>
                                <input formControlName="phone" type="text" placeholder="ใส่เบอร์โทรติดต่อ" class="border-input mb-3 form-control  textProfileResponsive" style="width:-webkit-fill-available; width:-moz-available">
                                <input formControlName="email" type="text" class="border-input mb-3 form-control  textProfileResponsive" placeholder="ใส่อีเมล" style="width:-webkit-fill-available; width:-moz-available">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-lg-5 p-4  my-5 light-red-color semi-border-input">
                <div style="color:red" class="mb-4">
                    *ข้อมูลในส่วนกรอบสีแดงนี้จะไม่แสดงให้ผู้อื่นเห็น แม้จะตั้งระดับการเปิดเผยข้อมูลเป็น ‘อนุญาตให้ดูข้อมูล’ หรือ ‘จำกัดการดูข้อมูล’ มีเพียงท่านเท่านั้นที่เห็นข้อมูลเหล่านี้
                </div>
                <div class="px-4 ps-sm-4 ps-0">
                    <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap">
                            <i class="bi bi-check2-circle"></i>
                        </div>
                        <div>
                            <div class="keyValueGap">
                                <b>เลขที่ใบประกอบ ภ</b>
                            </div>
                            <div class="col">
                                <div class="me-3">{{innerProfileInformation.license | emptyFieldPipe}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="align-items-baseline d-flex justify-content-center mb-5 ms-3">
            <div *ngIf="loadingFlag" class="spinner-border text-primary keyValueGap" style="color:white" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <button (click)="cancelClick()" class="me-3 btn textProfileResponsive btn-light" style="padding: 0.5rem 2rem; border-radius: 50px !important">ยกเลิก</button>
            <button (click)="onSave()" class="btn textProfileResponsive" style="border-color: rgb(127, 216, 88); background-color:rgb(127, 216, 88); padding: 0.5rem 2rem; border-radius: 50px !important; color:white">บันทึก</button>
        </div>
    </ng-template>