@media only screen and (max-width: 768px){
    .fontButtonSet{
        font-size:smaller !important
    }
    .subImageContainer{
        align-items:center !important;
    }
    .mainImage{
        display: none !important
      }
    .subImage{
        display: unset !important
    }
    .dateOfJob{
        font-size: 1rem !important
      }
    .subImage > img{
        width: 5rem !important
    }
    .borderRight{
        border-right:0 !important
    }
}

.work-from-home-color{
    background-color:lavender
  }
.subImage{
    display: none
  }
.row > .col {
    padding-left: 0 !important
}
.rounded{
    border-radius: 20px !important;
}
.fullTime{
    background:#5cdfe4;
    border-color: #5cdfe4
}
.partTime{
    background:#7fd858;
    border-color: #7fd858
}