<app-profileheader profileType="operator-profile" [viewFlag]="viewFlag"></app-profileheader>
<div class="container">
    <div class="row row-cols-2 mb-5" style="height:75vh; overflow-y: scroll">
        <app-job-post-normal-card *ngFor="let job of allJobs$ | async" [content]="job!" [urgentFlag]="job.Urgency" [fullTimeFlag]="job.TimeFrame =='Full-Time'"></app-job-post-normal-card>
    </div>
    <div class="row my-3 fs-3">
        <div class="col-3">
            <div class="me-3"><b>ข้อมูลการติดต่อ:</b></div>
        </div>
        <div class="col">
            <div class="row mb-3">
                <div class="col-2">
                    <div><b>เบอร์โทร:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{user.contacts!.phone}}</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <div><b>Email:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{user.contacts!.email}}</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <div><b>LINE:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{user.contacts!.line}}</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <div><b>Facebook:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{user.contacts!.facebook}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row fs-3">
        <div class="col-3">
            <label class="form-label"><b>ปักหมุด:</b></label>
        </div>
    </div>
</div>
