<div class="d-flex justify-content-center align-items-center flex-column" style="height:90vh">
    <div class="loginPanel" style="width: 30rem;">
        <div class="card my-auto">
            <div class="card-body">
                <h5 class="text-center card-title">เข้าสู่ระบบผู้</h5>
                <div style="text-align:center" *ngIf="loginFlag">
                  <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                  </div>
              </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <ng-container *ngIf="errorFlag; then error; else invisible"></ng-container>
                    <ng-template #error>
                        <span class="help-block text-danger">
                         {{this.errorMessage}}
                       </span>

                    </ng-template>                        
                    <ng-template #invisible>
                        <span style='visibility:hidden'class="help-block">
                         please enter valid data
                       </span>

                    </ng-template>                        
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label for="userName">Email</label>
                            <label class="text-danger" *ngIf="loginForm.errors?.['required']">Required</label>
                        </div>
                        <input type="text" class="form-control"
                        id="userName" formControlName = "userName">
                    </div>
            
                      <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label for="password">Password</label>
                            <label class="text-danger" *ngIf="loginForm.errors?.['required']">Required</label>
                        </div>
                            <input type="password" type="password" class="form-control" 
                         id="password" formControlName = "password">
                      </div>
            
                       <div class="footer mt-3 d-flex justify-content-between">
                           <div><a  data-bs-toggle="modal" data-bs-target="#exampleModal">ลืมรหัสผ่าน</a></div>
                           <div>ยังไม่ได้เป็นสมาชิก? <a routerLink="register">สมัครสมาชิก</a></div>
                       </div>
                    <button class="btn btn-primary mb-1 mt-2" style="width:-webkit-fill-available; width: -moz-available;" type="submit">Submit</button> 
                  </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Forgot your password?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ng-container *ngIf="resetSuccessful; then resetMessage; else normalBody"></ng-container>
            <ng-template #resetMessage>
                <label>Password reset is successful!</label>
            </ng-template>
            <ng-template #normalBody>
                <div style="text-align:center" *ngIf="modalLoadingFlag">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <p>Please enter your email to reset your password</p>
                <ng-container *ngIf="modalErrorFlag; then errorModal; else invisibleModal"></ng-container>
                        <ng-template #errorModal>
                            <span class="help-block text-danger">
                                Email is invalid
                           </span>
    
                        </ng-template>                        
                        <ng-template #invisibleModal>
                            <span style='visibility:hidden'class="help-block">
                             please enter valid data
                           </span>
    
                        </ng-template> 
              <form class="mt-2">
                  <div class="form-group">
                    <label for="email">Email: </label>
                    <input class="form-control" id="email" type="text" [formControl]="email">
                  </div>
              </form>
            </ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeButton" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" *ngIf="resetButtonFlag" (click)="onForgetPassword()"[disabled]="!this.email.valid">Get reset email</button>
        </div>
      </div>
    </div>
  </div>