<div
  class="container-fluid d-xl-none d-block"
  style="background-color: lightgrey; margin-top: 5em"
>
  <div class="row px-sm-5">
    <div class="col-12 mb-l">
      <div class="text-center">
        <div class="my-3">
          <span style="font-size: 4.5vw">
            <b>
              <span class="blue-text">หางาน</span>
              <span class="green-text">เภสัช</span>
              <span class="blue-text">ฝากประวัติกับ</span>
            </b>
            <img
              src="/assets/logo.png"
              style="width: 35vw"
              class="imageLogoFooter"
            />
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 offset-xl-1">
      <a
        aria-expanded="false"
        role="button"
        data-bs-toggle="collapse"
        href="#collapseExample"
        aria-controls="collapseExample"
        class="fs-4 nav-link mb-3"
        style="cursor: pointer"
      >
        <div class="d-flex justify-content-between">
          <b>หางานเภสัชกร</b>
          <i class="bi bi-chevron-right"></i>
        </div>
      </a>
      <div id="collapseExample" class="collapse">
        <div
          style="cursor: pointer"
          class="fs-5 mobileFooterResponsive mb-4"
          (click)="redirectToList('AA')"
        >
          งานเภสัชด่วนรายวัน
        </div>
        <div
          style="cursor: pointer"
          class="fs-5 mobileFooterResponsive mb-4"
          (click)="redirectToList('AB')"
        >
          งานร้านยาทัวไป
        </div>
        <div
          style="cursor: pointer"
          class="fs-5 mobileFooterResponsive mb-4"
          (click)="redirectToList('AC')"
        >
          งานร้านยาแบรนด์
        </div>
        <div
          style="cursor: pointer"
          class="fs-5 mobileFooterResponsive mb-4"
          (click)="redirectToList('BB')"
        >
          งานโรงพยาบาล/งานคลินิก
        </div>
        <div
          style="cursor: pointer"
          class="fs-5 mobileFooterResponsive mb-4"
          (click)="redirectToList('BC')"
        >
          งานโรงงาน/งานบริษัท/งานวิจัย
        </div>
        <div
          style="cursor: pointer"
          class="fs-5 mobileFooterResponsive mb-4"
          (click)="redirectToList('CA')"
        >
          งานอืนๆ
        </div>
      </div>
    </div>
    <div
      class="col-12 offset-xl-1"
      [ngStyle]="{ visibility: !loginFlag ? 'visibile' : 'hidden' }"
    >
      <a
        aria-expanded="false"
        role="button"
        data-bs-toggle="collapse"
        href="#collapseExample3"
        aria-controls="collapseExample"
        class="fs-4 nav-link mb-3"
        style="cursor: pointer"
      >
        <div class="d-flex justify-content-between">
          <b>ผู้ประกอบการ</b>
          <i class="bi bi-chevron-right"></i>
        </div>
      </a>
      <div id="collapseExample3" class="collapse">
        <div
          class="justify-content-start d-md-flex d-block fs-5 mobileFooterResponsive mb-3"
          (click)="redirectToLogin()"
        >
          สมัครสมาชิกผู้ประกอบการ
        </div>
        <div
          class="justify-content-start d-md-flex d-block fs-5 mobileFooterResponsive mb-3"
          (click)="redirectToLogin()"
        >
          ดูประวัติผู้สมัครงาน
        </div>
        <div
          class="justify-content-start d-md-flex d-block fs-5 mobileFooterResponsive mb-3"
          (click)="redirectToLogin()"
        >
          สร้างประกาศงานฟรี!
        </div>
      </div>
    </div>
    <div class="col-12">
      <a
        aria-expanded="false"
        role="button"
        data-bs-toggle="collapse"
        href="#collapseExample2"
        aria-controls="collapseExample2"
        class="fs-4 nav-link mb-3"
        style="cursor: pointer"
      >
        <div class="d-flex justify-content-between">
          <b>ติดต่อและประสานงาน</b>
          <i class="bi bi-chevron-right"></i>
        </div>
      </a>
      <div id="collapseExample2" class="collapse">
        <div
          class="justify-content-xl-start d-md-flex d-block fs-5 mobileFooterResponsive mb-3"
        >
          เวลาทําการ:<label class="ms-3">จันทร์-ศุกร์ : 9.00 - 18.00 น.</label>
        </div>
        <div
          class="justify-content-xl-start d-md-flex d-block fs-5 mobileFooterResponsive mb-3"
        >
          ติดต่อลงโฆษณา หรือ ขอความช่วยเหลือ
        </div>
        <div
          style="
            cursor: pointer;
            background-color: #f5f5f5;
            border-radius: 100px;
            width: fit-content;
          "
          (click)="openEmail()"
          class="footerJob fs-5 mobileFooterResponsive px-3 py-1 mb-3 mb-3"
        >
          <img
            src="/assets/buy/gmail.png"
            style="width: 40px"
          />team-support@pharm-work.com
        </div>
        <div
          style="
            cursor: pointer;
            background-color: #f5f5f5;
            border-radius: 100px;
            display: flex;
            width: fit-content;
          "
          class="footerJob fs-5 mobileFooterResponsive px-3 py-1 mb-3"
        >
          <i
            style="width: 40px; text-align: center"
            class="bi bi-telephone-plus-fill"
          ></i
          >095-947-5440
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" style="column-gap: 20px">
      <div style="cursor: pointer" class="my-4">
        <a href="https://www.facebook.com/profile.php?id=100093436122280">
          <img src="/assets/facebook.png" style="width: 80px" />
        </a>
      </div>
      <div style="cursor: pointer" class="my-4">
        <a href="https://www.facebook.com/profile.php?id=100093436122280">
          <img src="/assets/line.png" style="width: 80px" />
        </a>
      </div>
      <div style="cursor: pointer" class="my-4">
        <a href="https://www.facebook.com/profile.php?id=100093436122280">
          <img src="/assets/instagram.png" style="width: 80px" />
        </a>
      </div>
    </div>
    <div class="fs-4 text-center mb-3"><b>Follow Us</b></div>
    <hr style="width: 80%" class="m-auto" />
  </div>
  <div class="row p-3">
    <div class="col text-center fs-6">
      <b>© Copyright pharm-work.com, 2023-2025. All rights reserved.</b
      ><span class="d-lg-inline d-none"> | </span
      ><br class="d-lg-none d-block" /><br class="d-lg-none d-block" /><span
        style="cursor: pointer"
        routerLink="privacy-policy"
        >นโยบายความเป็นส่วนตัว</span
      >
      |
      <span style="cursor: pointer" routerLink="cookie-policy"
        >นโยบายคุกกี้</span
      >
      |
      <span style="cursor: pointer" routerLink="terms-of-service"
        >เงื่อนไขและข้อตกลงการใช้บริการ</span
      >
    </div>
  </div>
</div>
<div
  class="d-xl-block d-none"
  style="background-color: #e4e4e4; margin-top: 5em"
>
  <div
    class="d-flex px-4 py-2 justify-content-between"
    style="background-color: #efefef; align-items: baseline"
  >
    <div class="footerResponsiveHeader p-3">
      <b>ลองดูงานตามหมวดหมู่ที่สนใจ!</b>
    </div>
    <div
      style="cursor: pointer; background-color: #f5f5f5; border-radius: 100px"
      class="footerJob footerResponsive px-3 py-1"
      (click)="redirectToList('AA')"
    >
      งานเภสัชด่วนรายวัน
    </div>
    <div
      style="cursor: pointer; background-color: #f5f5f5; border-radius: 100px"
      class="footerJob footerResponsive px-3 py-1"
      (click)="redirectToList('AB')"
    >
      งานร้านยาทัวไป
    </div>
    <div
      style="cursor: pointer; background-color: #f5f5f5; border-radius: 100px"
      class="footerJob footerResponsive px-3 py-1"
      (click)="redirectToList('AC')"
    >
      งานร้านยาแบรนด์
    </div>
    <div
      style="cursor: pointer; background-color: #f5f5f5; border-radius: 100px"
      class="footerJob footerResponsive px-3 py-1"
      (click)="redirectToList('BB')"
    >
      งานโรงพยาบาล/งานคลินิก
    </div>
    <div
      style="cursor: pointer; background-color: #f5f5f5; border-radius: 100px"
      class="footerJob footerResponsive px-3 py-1"
      (click)="redirectToList('BC')"
    >
      งานโรงงาน/งานบริษัท/งานวิจัย
    </div>
    <div
      style="cursor: pointer; background-color: #f5f5f5; border-radius: 100px"
      class="footerJob footerResponsive px-3 py-1"
      (click)="redirectToList('CA')"
    >
      งานอืนๆ
    </div>
  </div>
  <div id="Certificate-banners"></div>
  <div class="row px-4 pt-4 mx-0">
    <div
      [ngStyle]="{ visibility: !loginFlag ? 'visibile' : 'hidden' }"
      class="col-xl-3 col-12 ps-3 text-xl-start text-center"
    >
      <div class="footerResponsiveHeader mb-3"><b>ผู้ประกอบการ/บริษัท</b></div>
      <div
        class="justify-content-xl-start justify-content-center d-md-flex d-block footerResponsive mb-3"
        (click)="redirectToLogin()"
        style="cursor: pointer"
      >
        สมัครสมาชิกผู้ประกอบการ
      </div>
      <div
        class="justify-content-xl-start justify-content-center d-md-flex d-block footerResponsive mb-3"
        (click)="redirectToLogin()"
        style="cursor: pointer"
      >
        ดูประวัติผู้สมัครงาน
      </div>
      <div
        class="justify-content-xl-start justify-content-center d-md-flex d-block footerResponsive mb-3"
        (click)="redirectToLogin()"
        style="cursor: pointer"
      >
        สร้างประกาศงานฟรี!
      </div>
    </div>
    <div class="col-xl-6 col-12 mb-l text-center">
      <div>
        <span style="font-size: 2.4vw">
          <b>
            <span class="blue-text">หางาน</span>
            <span class="green-text">เภสัช</span>
            <span class="blue-text">ฝากประวัติกับ</span>
          </b>
          <img
            src="/assets/logo.png"
            style="width: 300px"
            class="imageLogoFooter"
          />
        </span>
      </div>
      <div class="d-flex justify-content-center" style="column-gap: 20px">
        <div style="cursor: pointer" class="my-4">
          <a href="https://www.facebook.com/profile.php?id=100093436122280">
            <img src="/assets/facebook.png" style="width: 80px" />
          </a>
        </div>
        <div style="cursor: pointer" class="my-4">
          <a href="https://www.facebook.com/profile.php?id=100093436122280">
            <img src="/assets/line.png" style="width: 80px" />
          </a>
        </div>
        <div style="cursor: pointer" class="my-4">
          <a href="https://www.facebook.com/profile.php?id=100093436122280">
            <img src="/assets/instagram.png" style="width: 80px" />
          </a>
        </div>
      </div>
      <div class="fs-6"><b>Follow Us</b></div>
    </div>
    <div class="col-xl col-12 text-xl-start text-center">
      <div class="footerResponsiveHeader mb-3"><b>ติดต่อและประสานงาน</b></div>
      <div
        class="justify-content-xl-start justify-content-center d-md-flex d-block footerResponsive mb-3"
      >
        เวลาทําการ:<label class="ms-3">จันทร์-ศุกร์ : 9.00 - 18.00 น.</label>
      </div>
      <div
        class="justify-content-xl-start justify-content-center d-md-flex d-block footerResponsive mb-3"
      >
        ติดต่อลงโฆษณา หรือ ขอความช่วยเหลือ
      </div>
      <div
        style="
          cursor: pointer;
          background-color: #f5f5f5;
          border-radius: 100px;
          width: fit-content;
        "
        (click)="openEmail()"
        class="footerJob footerResponsive emailResponsive px-3 py-1 mb-3 mb-3"
      >
        <img
          src="/assets/buy/gmail.png"
          style="width: 40px"
        />team-support@pharm-work.com
      </div>
      <div
        style="
          cursor: pointer;
          background-color: #f5f5f5;
          border-radius: 100px;
          display: flex;
          width: fit-content;
        "
        class="footerJob footerResponsive px-3 py-1 mb-3"
      >
        <i
          style="width: 40px; text-align: center"
          class="bi bi-telephone-plus-fill"
        ></i
        >095-947-5440
      </div>
    </div>
  </div>
  <div style="background-color: #dcdcdc" class="p-3 col text-center fs-6">
    <b>© Copyright pharm-work.com, 2023-2025. All rights reserved.</b> |
    <span style="cursor: pointer" routerLink="privacy-policy"
      >นโยบายความเป็นส่วนตัว</span
    >
    |
    <span style="cursor: pointer" routerLink="cookie-policy">นโยบายคุกกี้</span>
    |
    <span style="cursor: pointer" routerLink="terms-of-service"
      >เงื่อนไขและข้อตกลงการใช้บริการ</span
    >
  </div>
</div>
