<div class="container-fluid" style="background-color:lightgrey; margin-top:5em">
    <div class="row p-5 pb-0">
        <div class="col-xl-2 col-12 offset-xl-1 text-xl-start text-center">
            <div class='fs-4 mb-3'><b>หางานเภสัชกร</b></div>
            <div style="cursor:pointer" class='fs-5 mb-4' (click)="redirectToList('AA')">งานเภสัชด่วนรายวัน</div>
            <div style="cursor:pointer" class='fs-5 mb-4' (click)="redirectToList('AB')">งานร้านยาทัวไป</div>
            <div style="cursor:pointer" class='fs-5 mb-4' (click)="redirectToList('AC')">งานร้านยาแบรนด์</div>
            <div style="cursor:pointer" class='fs-5 mb-4' (click)="redirectToList('BB')">งานโรงพยาบาล/งานคลินิก</div>
            <div style="cursor:pointer" class='fs-5 mb-4' (click)="redirectToList('BC')">งานโรงงาน/งานบริษัท/งานวิจัย</div>
            <div style="cursor:pointer" class='fs-5 mb-4' (click)="redirectToList('CA')">งานอืนๆ</div>
        </div>
        <div class="col-xl-6 col-12 mb-l text-center">
            <div>
                <img src="/assets/logo.png" style="width:400px" class="imageLogoFooter">
            </div>
            <div class="fs-4"><b>Pharmwork เว็ปไซน์รวมงานคุณภาพ</b></div>
            <div class="mb-4 fs-4"><b>อันดับ 1 ของเภสัชกรไทย</b></div>
            <div class="mb-2 fs-4"><b>ติดตามเรา</b></div>
            <div style="cursor:pointer" class="mt-2 mb-xl-0 mb-5">
                <img src="/assets/facebook.png" style="width:40px">
            </div>
        </div>
        <div class="col-xl col-12 text-xl-start text-center">
            <div class='fs-4 mb-3'><b>ติดต่อและประสานงาน</b></div>
            <div class="justify-content-xl-start justify-content-center d-md-flex d-block fs-5 mb-3">เวลาทําการ:<label class='ms-3'>จันทร์-ศุกร์ : 9.00 - 18.00 น.</label></div>
            <div class="justify-content-xl-start justify-content-center d-md-flex d-block fs-5 mb-3">ติดต่อลงโฆษณา:<label class='ms-3'>pan@gmail.com</label></div>
            <div class="justify-content-xl-start justify-content-center d-md-flex d-block fs-5 mb-3">ขอความช่วยเหลือ:<label class='ms-3'>pan@gmail.com</label></div>
            <div class="justify-content-xl-start justify-content-center d-md-flex d-block fs-5 mb-3">โทร:<label class='ms-3'>080-888-0000</label></div>
    
            <div class='fs-4 my-3'><b>ข้อมูลเพิมเติม</b></div>
            <div class="justify-content-xl-start justify-content-center d-flex fs-5 mb-3">เงือนไขและข้อตกลงการใช้บริการ</div>
            <div class="justify-content-xl-start justify-content-center d-flex fs-5 mb-3">นโยบายความเป็นส่วนตัว</div>
            <div class="justify-content-xl-start justify-content-center d-flex fs-5 mb-3">นโยบายคุกกี</div>
        </div>
        <hr style="width: 80%" class="my-2 m-auto">
    </div>
    <div class="row p-5">
        <div class="col offset-xl-1 text-xl-start text-center fs-3"><b>© Copyright pharm-work.com, 2023. All rights reserved.</b></div>
    </div>
</div>
