<div class="my-3 fs-2 mx-4 mainTitle"><b>กำลังติดตาม</b></div>
<ng-container *ngIf="emptyFlag$ | async; then empty; else notEmpty"></ng-container>
<ng-template #empty>
    <div class="row d-flex justify-content-center"> 
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-10 col mt-5">
            <img class="w-100" src="assets/empty/emptyFollow.png">
        </div>
      </div>
</ng-template>
<ng-template #notEmpty>
    <div class="container row row-cols-xl-2">
        <ng-container *ngFor="let operator of followers, index as i">
            <app-operator-normal-card [content]="operator.user!" [followerUID]="operator.followUID!"></app-operator-normal-card>
        </ng-container>
    </div>
</ng-template>

