<div class="container py-3 fs-1">
    <div class="semi-border-input standard-shadow p-4">
        <div class="text-center my-3">
            ทำรายการไม่สำเร็จ
        </div>
        <div class="text-center">
            <img src="assets/dejected-new.png">
        </div>
        <div class="text-center my-3 fs-2">
            ระบบได้ทำการยุติการทำรายการการสมัครข้อมูลขึ้นแบนเนอร์ของท่านแล้ว
        </div>
        <div class="d-flex justify-content-center">
            <button style="border-radius: 50px !important; color: white" class="btn textProfileResponsive px-4 blue-color" routerLink="/operator">ตกลง</button>
        </div>
    </div>
</div>
