<app-profileheader profileType="operator-profile"></app-profileheader>
<div class="container mt-3">
  <div id="navToScroll" class="container my-4 sticky-top textProfileResponsive standard-shadow" style="top:97px; border-radius:60px; background:white">
    <ul class="nav nav-underline  py-3  ms-3  flex-row tabList" style="width:max-content">
        <li class="nav-item">
          <a class="flex-lg-fill text-lg-center nav-link active" id="inner-profile" routerLink="inner-profile" data-bs-toggle="tab" data-bs-target="#tabOne" aria-controls="tabOne" type="button" role="tab" aria-current="page">โปรไฟล์บริษัท</a>
        </li>
        <li class="nav-item">
          <a class="flex-lg-fill text-lg-center nav-link"  id="all-jobs-posts" routerLink="all-jobs-posts" data-bs-toggle="tab" data-bs-target="#tabTwo" aria-controls="tabTwo" type="button" role="tab">ประกาศงาน</a>
        </li>
        <li class="nav-item">
          <a class="flex-lg-fill text-lg-center nav-link"  id="request-jobs" routerLink="request-jobs" data-bs-toggle="tab" data-bs-target="#tabThree" aria-controls="tabThree" type="button" role="tab">ผู้สมัครงาน</a>
        </li>
        <!-- <li class="nav-item">
          <a class="flex-lg-fill text-lg-center nav-link"  id="urgent-jobs" routerLink="urgent-jobs" data-bs-toggle="tab" data-bs-target="#tabThree" aria-controls="tabThree" type="button" role="tab">งานด่วนรายวัน</a>
        </li> -->
        <li class="nav-item">
          <a class="flex-lg-fill text-lg-center nav-link"  id="favorites" routerLink="favorites"  data-bs-toggle="tab" data-bs-target="#tabEight" aria-controls="tabEight" type="button" role="tab">ผู้สมัครที่ถูกใจ</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tabFour" aria-controls="tabFour" type="button" role="tab">ขอดูข้อมูล</a>
        </li> -->
        <li class="nav-item">
          <a class="flex-lg-fill text-lg-center nav-link"  id="recently-seen-users" routerLink="recently-seen-users" data-bs-toggle="tab" data-bs-target="#tabFive" aria-controls="tabFive" type="button" role="tab">ที่ดูล่าสุด</a>
        </li>
      </ul>
  </div>
  <div class="container mt-4 px-0 py-3" style="background-color:white; border-top-left-radius:20px; border-top-right-radius: 20px">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="modal fade" id="myModalOperator" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered textProfileResponsive">
    <div class="modal-content">
      <div class="modal-body">
        กรุณาปักหมุดที่อยู่ของท่านหรือพื้นที่ที่ท่านต้องการหางานด่วนรายวันก่อน จึงจะสามารถเปิดใช้ตัวกรองงานใกล้ฉันได้ และท่านสามารถเปลี่ยนตำแหน่งปักหมุดได้ตลอดเวลาตามต้องการ
      </div>
    </div>
  </div>
</div>

