<ul class="nav nav-underline nav-justified mb-5">
    <li class="nav-item">
      <a class="nav-link active" id="request-jobs" routerLink="request-jobs" data-bs-toggle="tab" data-bs-target="#tabFour" aria-controls="tabFour" type="button" role="tab">งานที่กดสมัคร</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" routerLink="request-views" data-bs-target="#tabFive" aria-controls="tabFive" type="button" role="tab" aria-current="page">คำขอดูข้อมูล</a>
    </li>
</ul>
<router-outlet></router-outlet>
