@media only screen and (max-width: 576px) {
    .keyValueGap{
        margin-right: 1rem !important
    }
}
@media only screen and (max-width: 500px) {
    .contacts{
        margin-left: 2rem !important
    }
}
@media only screen and (max-width: 1400px) {
    .responsiveButton{
        text-align: center;
    }
    .operatorHeader{
        display: flex !important
    }
    .operatorHeader > div {
        margin-right: 3rem !important
    }
}
@media only screen and (max-width: 1200px) {
    .historyHeader{
        display:block !important
    }
    .subHeader{
        margin-left:0 !important
    }
    .historyContent{
        padding-left: 0 !important
    }
    .phantom{
        display: unset !important
    }
}
@media only screen and (max-width: 992px) {
    .verticalKeyGap {
        margin-bottom:0.4rem !important
    }
    .textResponsive{
        font-size: smaller !important
    }
    .editButton > button, .saveButton{
        font-size:smaller !important
    }
}
@media only screen and (max-width: 768px) {
    .educationCell{
        margin-bottom: 2rem !important
    }
    .textResponsive{
        font-size: medium !important
    }
    .editButton > button, .saveButton{
        font-size:medium !important
    }
}
.historyHeader{
    align-items:end
}
.subHeader{
    margin-left:5rem
}
.phantom{
    display:none
}
.keyValueGap{
    margin-right:2rem
}
.btn-primary, btn-primary:hover{
    background:#5cdfe4;
    border-color: #5cdfe4
}
.contacts > .verticalKeyGap > .keyValueGap{
    margin-right:1rem
}
.contacts > .verticalKeyGap{
    margin-bottom:2rem
}
.verticalKeyGap{
    margin-bottom:2rem
}