<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo.png" alt="" width="160" height="48">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex p-2 flex-row-reverse" id="collapsibleNavbar" style="justify-content:space-between">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">หางาน</a>
                <ul class="dropdown-menu p-2">
                    <li><a class="dropdown-item" href="#">งานด่วนเภสัชกร Part-time รายวัน</a></li>
                    <li><a class="dropdown-item" href="#">งานร้านยา</a>
                        <ul>
                            <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" href="#">ร้านยาทั่วไป (Stand alone)</a></li>
                            <li class="landing-page_pharmacy-dropdown"><a class="dropdown-item" href="#">ร้านยา Brand (Chain)</a></li>
                        </ul>    
                    </li>
                    <li><a class="dropdown-item" href="#">งานโรงพยาบาล</a></li>
                    <li><a class="dropdown-item" href="#">งานโรงงาน</a></li>
                    <li><a class="dropdown-item" href="#">งานบริษัทยา</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">เข้าสู่ระบบ</a></li>
            <li class="nav-item"><a class="nav-link" href="#">ลงทะเบียนเภสัชกร</a></li>
            <li class="nav-item"><a class="nav-link" href="#">ลงทะเบียนผู้ประกอบการ</a></li>
            <li class="nav-item"><a class="nav-link" href="#">ติดต่อเรา</a></li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
