<ng-container *ngIf="loadingFlag; then loading; else notLoading"></ng-container>
<ng-template #loading>
    <div style="text-align:center" class="mt-5 me-3">
		<div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
		</div>
	</div>
</ng-template>
<ng-template #notLoading>
    <div (click)="scrollUp()"class="position-fixed bottom-0 start-0 m-3"  style="z-index: 10; font-size:5rem">
        <i class="pe-auto bi bi-arrow-up-square"></i>
    </div>
    <div class="container" >
        <div style="position:relative">
            <div id="coverPhoto"  class="coverPhoto img-container mh-100">
                <img id="innerPhoto" class="innerCoverPhoto" draggable='false' [src]="profile.coverPhotoPictureUrl" />
            </div>
        </div>
        <div class="outerHeader2 d-lg-flex justify-content-between pb-md-0 pb-1 mb-md-5" style="background: white; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
            <div class="outerHeader d-flex justify-content-lg-between">
                <img class="job-post_profile-picture border border-5 border-white rounded-circle" [src]="profile.cropProfilePictureUrl !== undefined? profile.cropProfilePictureUrl: profile.profilePictureUrl" alt="Profile Picture" width="150" height="150" />
                <div>
                    <div class="mainHeader">
                        <h3 class="mainHeaderContent m-4 ms-lg-5 mb-0 me-lg-2">{{profile.Establishment | emptyFieldPipe}}</h3> 
                    </div>
                    <div class="d-lg-flex mt-md-4 ms-lg-5"> 
                        <h4 class="mainHeaderContent ms-lg-0 ms-md-4 me-md-3 my-md-0 my-2 align-self-center"><i>{{profile.JobType | emptyFieldPipe}}</i></h4>
                    </div>
                </div>
            </div>
            <!-- <div class="mt-md-4 mt-2">
                <div class="followButton d-flex justify-content-lg-between justify-content-center pb-0 pb-5">
                    <button id="mouseTarget3" style="min-width: 12rem" class="btn mx-3 me-lg-5" >
                        fdsa<ng-container *ngIf="followLoading; then loading; else notLoading"></ng-container>
                        <ng-template #loading>
                            <div>
                                <div style="text-align:center">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #notLoading>
                            <ng-container *ngIf="followFlag$ | async; then alreadyFollow; else follow"></ng-container>
                            <ng-template #alreadyFollow>
                                <h3 class="mb-0">{{ followedText }}</h3>
                            </ng-template>
                            <ng-template #follow>
                                <h3 class="mb-0">ติดตาม</h3>
                            </ng-template>
                        </ng-template>
                    </button>
                </div>
            </div> -->
        </div>
    </div>
	<div class="container">
        <div class="card rounded">
            <div class="card-body p-4">
                <div class="panelHeader d-flex justify-content-between border-bottom pb-4">
                    <div class="fs-1 jobName" style="padding-right:2.5rem">{{profile.JobName}}</div>
					<div class="fs-1" *ngIf="profile.TimeFrame === 'Part-Time'">
                        <ng-container *ngIf="profile.Urgency; then urgentFlag; else notUrgentFlag"></ng-container>
						<ng-template #urgentFlag>
                            <span class="badge bg-secondary">ทำงานวันที่ {{profile.DateOfJob}}</span>
						</ng-template>
						<ng-template #notUrgentFlag>
                            <span class="badge text-light" style="background: #7fd858;">Part-Time</span>
						</ng-template>
					</div>
					<div class="fs-1" *ngIf="profile.TimeFrame === 'Full-Time'">
						<ng-container *ngIf="profile.Urgency; then urgentFlag; else notUrgentFlag"></ng-container>
						<ng-template #urgentFlag>
							<span class="badge bg-secondary urgentLabel">ทำงานวันที่ {{profile.DateOfJob}}</span>
						</ng-template>
						<ng-template #notUrgentFlag>
							<span class="badge text-light" style="background:#5cdfe4;">Full-Time</span>
						</ng-template>
					</div>
					<div class="fs-1" *ngIf="profile.TimeFrame === 'Full-Time และ Part-Time'">
						<ng-container *ngIf="profile.Urgency; then urgentFlag; else notUrgentFlag"></ng-container>
						<ng-template #urgentFlag>
							<span class="badge bg-secondary urgentLabel">ทำงานวันที่ {{profile.DateOfJob}}</span>
						</ng-template>
						<ng-template #notUrgentFlag>
							<span class="badge text-light" style="background:#dfa5d6;">Full-Time และ Part-Time</span>
						</ng-template>
					</div>
				</div>
				<div class="mx-sm-3 mb-sm-3 fs-4">
					<div class="row twoRows">
						<div class="col-12 col-md-6 border-end p-0 pt-4 leftPanelDetails">
							<div *ngIf="profile.JobType === 'ร้านยาแบรนด์'" class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
									<b>สาขา</b>
								</div>
								<div class="col" *ngIf="profile.JobType === 'ร้านยาแบรนด์'">{{profile.Franchise | emptyFieldPipe}}</div>
							</div>
							<div *ngIf="profile.Duration !== ''" class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
									<i class="bi bi-clock me-2"></i><b>เวลาปฏิบัติงาน</b>
								</div>
								<div class="col">
									<div class="valuePart" *ngIf="profile.Duration !== ' - '">{{profile.Duration}} น.</div>
									<div class="valuePart" *ngIf="profile.Duration == ' - '">ไม่ระบุ</div>
								</div>
							</div>
							<div>
								<div class="row pb-3" *ngIf="profile.TimeFrame == 'Full-Time'">
									<div class="col-12 col-sm-6 col-md-12 col-lg-5">
										<i class="bi bi-bootstrap me-2"></i><b>ค่าตอบแทน</b>
									</div>
									<div class="col">
										<div class="valuePart" *ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyFieldPipe}} - {{profile.Salary.Amount + profile.Salary.Cap | emptyFieldPipe}} บาท/เดือน</div>
										<div class="valuePart" *ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix | salaryType}}</div>
									</div>
								</div>
								<div class="row pb-3" *ngIf="profile.TimeFrame == 'Full-Time และ Part-Time'">
									<div class="col-12 col-sm-6 col-md-12 col-lg-5">
										<i class="bi bi-bootstrap me-2"></i><b>ค่าตอบแทน</b>
									</div>
									<div class="col">
										<div class="valuePart" *ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyFieldPipe}} - {{profile.Salary.Amount + profile.Salary.Cap! | emptyFieldPipe}}</div>
										<div class="valuePart" *ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix | salaryType}}</div>
									</div>
								</div>
								<div class="row pb-3" *ngIf="profile.TimeFrame == 'Part-Time'">
									<div class="col-12 col-sm-6 col-md-12 col-lg-5">
										<i class="bi bi-bootstrap me-2"></i><b>ค่าตอบแทน</b>
									</div>
									<div class="col">
										<div class="valuePart" *ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyFieldPipe}} - {{profile.Salary.Amount + profile.Salary.Cap | emptyFieldPipe}} บาท/ชม</div>
										<div class="valuePart" *ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix | salaryType}}</div>
									</div>
								</div>
							</div>
							<div *ngIf="profile.BTS.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>BTS</b>
								</div>
								<div class="col valuePart"> {{profile.BTS.Station | emptyFieldPipe}}</div>
							</div>
							<div *ngIf="profile.ARL.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>ARL</b>
								</div>
								<div class="col valuePart"> {{profile.ARL.Station | emptyFieldPipe}}</div>
							</div>
							<div class="pb-3 row" *ngIf="profile.OnlineInterview">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-display me-2"></i><b>สัมภาษณ์ออนไลน์</b>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 pt-md-4 rightPanelDetails">
							<div class="row pb-3" *ngIf="profile.Amount !== ''">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-person me-2"></i><b>รับสมัคร</b>
								</div>
								<div class="col valuePart">{{profile.Amount | emptyFieldPipe}} ตำแหน่ง</div>
							</div>
							<div class="row pb-3" *ngIf="profile.Location.Section !== '' || profile.Location.Province !== ''">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-geo me-2"></i><b>พื้นที่</b>
								</div>
								<div class="col valuePart"> {{profile.Location.District | emptyFieldPipe}}, {{profile.Location.Province | emptyFieldPipe}}</div>
							</div>
							<div *ngIf="profile.MRT.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>MRT</b>
								</div>
								<div class="col valuePart"> {{profile.MRT.Station | emptyFieldPipe}}</div>
							</div>
							<div *ngIf="profile.SRT.Near" class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>SRT</b>
								</div>
								<div class="col valuePart"> {{profile.SRT.Station | emptyFieldPipe}}</div>
							</div>
	
							<!-- <div class="d-flex flex-row" class="d-flex flex-row">
								<b>แขวง:</b>
								<div class="ms-2">{{profile.Location.District}}</div>
							</div> -->
							<!-- <div class="d-flex flex-row"> -->
								<!-- <b>เขต:</b> -->
								<!-- <div> {{profile.Location.Section}}, {{profile.Location.Province}}</div> -->
							<!-- </div> -->
							<!-- <div class="d-flex flex-row">
								<b>จังหวัด:</b>
								<div class="ms-2"> </div>
							</div> -->
							<div class="d-flex flex-row" *ngIf="profile.WorkFromHome">
								<i class="bi bi-house me-2"></i><b>Work from home</b>
							</div>
						</div>
					</div>
					<div class="row oneRow">
							<div *ngIf="profile.JobType === 'ร้านยาแบรนด์'" class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
									<b>สาขา</b>
								</div>
								<div class="col" *ngIf="profile.JobType === 'ร้านยาแบรนด์'">{{profile.Franchise | emptyFieldPipe}}</div>
							</div>
							<div class="row pb-3" *ngIf="profile.Duration !== ''">
								<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
									<i class="bi bi-clock me-2"></i><b>เวลาปฏิบัติงาน</b>
								</div>
								<div class="col">
									<div class="valuePart" *ngIf="profile.Duration !== ' - '">{{profile.Duration}} น.</div>
									<div class="valuePart" *ngIf="profile.Duration == ' - '">ไม่ระบุ</div>
								</div>
							</div>
							<div>
								<div class="row pb-3" *ngIf="profile.TimeFrame == 'Full-Time'">
									<div class="col-12 col-sm-6 col-md-12 col-lg-5">
										<i class="bi bi-bootstrap me-2"></i><b>ค่าตอบแทน</b>
									</div>
									<div class="col">
										<div class="valuePart"*ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyFieldPipe}} - {{profile.Salary.Amount + profile.Salary.Cap! | emptyFieldPipe}} บาท/เดือน</div>
										<div class="valuePart"*ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix | salaryType}}</div>
									</div>
								</div>
								<div class="row pb-3" *ngIf="profile.TimeFrame == 'Full-Time และ Part-Time'">
									<div class="col-12 col-sm-6 col-md-12 col-lg-5">
										<i class="bi bi-bootstrap me-2"></i><b>ค่าตอบแทน</b>
									</div>
									<div class="col">
										<div class="valuePart" *ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyFieldPipe}} - {{profile.Salary.Amount + profile.Salary.Cap! | emptyFieldPipe}}</div>
										<div class="valuePart" *ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix | salaryType}}</div>
									</div>
								</div>
								<div class="row pb-3" *ngIf="profile.TimeFrame == 'Part-Time'">
									<div class="col-12 col-sm-6 col-md-12 col-lg-5">
										<i class="bi bi-bootstrap me-2"></i><b>ค่าตอบแทน</b>
									</div>
									<div class="col">
										<div class="valuePart" *ngIf="profile.Salary.Suffix == 'SalaryNumbers'">{{profile.Salary.Amount | emptyFieldPipe}} - {{profile.Salary.Amount + profile.Salary.Cap! | emptyFieldPipe}} บาท/ชม</div>
										<div class="valuePart" *ngIf="profile.Salary.Suffix !== 'SalaryNumbers'">{{profile.Salary.Suffix | salaryType}}</div>
									</div>
								</div>
							</div>
							<div class="row pb-3" *ngIf="profile.Amount !== null || profile.Amount !== 0">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-person me-2"></i><b>รับสมัคร</b>
								</div>
								<div class="col valuePart">{{profile.Amount | emptyFieldPipe}} ตำแหน่ง</div>
							</div>
							<div class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-geo me-2"></i><b>พื้นที่</b>
								</div>
								<div class="col valuePart"> {{profile.Location.Section | emptyFieldPipe}}, {{profile.Location.Province | emptyFieldPipe}}</div>
							</div>
							<div *ngIf="profile.BTS.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>BTS</b>
								</div>
								<div class="col valuePart"> {{profile.BTS.Station | emptyFieldPipe}}</div>
							</div>
							<div *ngIf="profile.MRT.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>MRT</b>
								</div>
								<div class="col valuePart"> {{profile.MRT.Station | emptyFieldPipe}}</div>
							</div>
							<div *ngIf="profile.SRT.Near" class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>SRT</b>
								</div>
								<div class="col valuePart"> {{profile.SRT.Station | emptyFieldPipe}}</div>
							</div>
							<div *ngIf="profile.ARL.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>ARL</b>
								</div>
								<div class="col valuePart"> {{profile.ARL.Station | emptyFieldPipe}}</div>
							</div>
							<div class="pb-3 row" *ngIf="profile.OnlineInterview">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-display me-2"></i><b>สัมภาษณ์ออนไลน์</b>
								</div>
							</div>
							<div class="d-flex flex-row" *ngIf="profile.WorkFromHome">
								<i class="bi bi-house me-2"></i><b>Work from home</b>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footerMainHeader my-3 d-flex justify-content-between">
			<div class="dateUpdated">
				<p class="lead ms-3"> อัพเดทล่าสุด {{profile.dateUpdated}}</p>
			</div>
			<div class="choices d-flex justify-content-start">
				<!-- <button (click)="toggleBookmark()" type="button" class="btn">
					<h1>
						<ng-container *ngIf="bookmarkLoadingFlag; then loading; else notLoading"></ng-container>
						<ng-template #loading>
							<div>
							<div style="text-align:center">
								<div class="spinner-border text-primary" role="status">
								<span class="visually-hidden">Loading...</span>
								</div>
							</div>
							</div>
						</ng-template>
						<ng-template #notLoading>
							<ng-container *ngIf="bookmarkFlag$ | async; then red; else black"></ng-container>
							<ng-template #black>
								<i class="bi bi-bookmark"></i>
								
							</ng-template>
							<ng-template #red>
								<i style="color:red" class="bi bi-bookmark-fill"></i>
							</ng-template>
						</ng-template>
					</h1>
				</button> -->
				<!-- <button type="button" class="btn me-3">
					<h1>
						<i class="bi bi-share"></i>
					</h1>
				</button> -->
				<!-- <div *ngIf="!profile.Urgency">
					<ng-container *ngIf="requestFlag$ | async; then requestButton; else alreadyRequest"></ng-container>
					<ng-template #alreadyRequest>
						<button (click)="requestJob()" class="btn text-center my-2 px-5" type="button" style="color:white; background-color:#7fd858">
							<div class="fs-3">สมัครงาน</div>
						</button>
					</ng-template>
					<ng-template #requestButton>
						<button class="btn text-center my-2 px-5" style="color:white; background-color:#a6a6a6" type="button">
							<div class="fs-3">สมัครแล้ว</div>
						</button>
					</ng-template>
				</div> -->
			</div>
		</div>
		<div class="my-5" *ngIf="urgentJobs.length !== 0 && urgency">
			<h2 class="my-5">งานด่วนอื่นๆของผู้ประกอบการนี้</h2>
			<ng-container *ngIf="urgentJobsFlag; then loadingUrgentJobs; else notLoadingUrgentJobs"></ng-container>
			<ng-template #loadingUrgentJobs>
				<div>
				<div style="text-align:center">
					<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
					</div>
				</div>
				</div>
			</ng-template>
			
			<ng-template #notLoadingUrgentJobs>
				<swiper
				[navigation]="true"
				[slidesPerView]="1"
				[spaceBetween]="25"
				[pagination]="true"
				[breakpoints]="breakingPoint"
				style="margin-top: 3em; text-align: center"
				>
				<ng-template swiperSlide *ngFor="let item of urgentJobs">
					<app-job-post-small-card 
						[urgentFlag]="item.Urgency" 
						[fullTimeFlag]="item.TimeFrame === 'Full-Time'?true:false"
						[content]="item">
					</app-job-post-small-card>
				</ng-template>
				</swiper>
			</ng-template>
		</div>
		<div class="card rounded">
			<div class="card-body p-4">
				<div class="my-5 mt-3">
					<h2>หน้าที่ความรับผิดชอบ</h2>
					<div class="fs-4" [innerHtml]="profile.JobDetails | emptyFieldPipe"></div>
					<ng-container *ngIf="profile.Urgency === false">
						<h2 class="mt-5">คุณสมบัติผู้สมัคร</h2>
							<div class="fs-4" [innerHtml]="profile.qualityApplicants | emptyFieldPipe"></div>
						<h2 class="mt-5">สวัสดิการ</h2>
							<div class="fs-4" [innerHtml]="profile.jobBenefits | emptyFieldPipe"></div>
						<h2 class="mt-5">วิธีสมัครงาน</h2>
							<div class="fs-4" [innerHtml]="profile.applyInstructions | emptyFieldPipe"></div>
					</ng-container>
				</div>
				<div class="my-5 mb-3">
					<h2 class="my-5 mb-3">ช่องทางติดต่อ</h2>
					<div class="d-sm-flex fs-4">
						<div class="me-3">
							<b>ชื่อผู้ติดต่อ: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.nameRepresentative | emptyFieldPipe}}</div>
					</div>
					<div class="d-sm-flex fs-4">
						<div class="me-3">
							<b>สถานที่ติดต่อ: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.areaOfContact | emptyFieldPipe}}</div>
					</div>
					<div class="d-sm-flex fs-4">
						<div class="me-3">
							<b>โทร: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.phone | emptyFieldPipe}}</div>
					</div>
					<div class="d-sm-flex fs-4">
						<div class="me-3">
							<b>Email: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.email | emptyFieldPipe}}</div>
					</div>
					<div class="d-sm-flex fs-4">
						<div class="me-3">
							<b>Line: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.line | emptyFieldPipe}}</div>
					</div>
					<div class="d-sm-flex fs-4">
						<div class="me-3">
							<b>Facebook: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.facebook | emptyFieldPipe}}</div>
					</div>
					<div class="d-sm-flex fs-4">
						<div class="me-3">
							<b>Website: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.website | emptyFieldPipe}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card rounded mt-5">
			<div class="card-body px-4">
				<div class="my-3">
					<h2>สถานที่ปฏิบัติการ/วิธีเดินทาง</h2>
					<div class="fs-4 d-flex justify-content-between">
						<div class=" fs-4" [innerHtml]="profile.TravelInstructions | emptyFieldPipe"></div>
					</div>
					<div>
						<google-map 
							*ngIf="profile._geoloc !== undefined"
							height="500px"
							width="100%"
							[options]="none"
							[center]="center"
							[zoom]="zoom">
							<map-marker
								[position]="markerPosition"
								>
							</map-marker>
						</google-map>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>