<div *ngIf="uploadLoading" id="overlay">
  <div style="text-align: center" class="mt-5">
    <div
      class="spinner-border text-primary"
      style="color: white; position: fixed; left: 50%; top: 50%"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div style="font-size: 4em" class="text-center headerTitle my-sm-0 my-4">
    แพ็คเกจแบนเนอร์หน้าหลักของเว็บไซต์
  </div>
  <div
    class="my-3"
    [style]="{ visibility: bannerLimitLoadingFlag ? 'hidden' : 'visible' }"
  >
    <div style="text-align: center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col">
      <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home-tab-pane"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            Desktop
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile-tab-pane"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Mobile
          </button>
        </li>
      </ul>
      <div
        class="tab-content displayContent"
        style="height: 65vh; overflow-y: overlay"
        id="myTabContent"
      >
        <div
          class="tab-pane fade show active"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <img
            src="assets/Desktop.png"
            style="width: -webkit-fill-available; width: -moz-available"
          />
        </div>
        <div
          class="tab-pane fade"
          id="profile-tab-pane"
          role="tabpanel"
          aria-labelledby="profile-tab"
          tabindex="0"
        >
          <img
            src="assets/Mobile.png"
            style="width: -webkit-fill-available; width: -moz-available"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-8 col px-3 mt-sm-0 mt-4" style="align-self: center">
      <swiper-container
        navigation="true"
        slides-per-view="1"
        space-between="15"
        pagination="true"
        [breakpoints]="breakingPoint"
        style="text-align: center"
      >
        <swiper-slide *ngFor="let package of packageList">
          <div
            class="standard-shadow green-border-color semi-border-input"
            style="height: 65vh; font-size: 1.5em; text-align: left"
          >
            <div
              class="d-flex justify-content-between flex-column"
              style="height: -webkit-fill-available; height: -moz-available"
            >
              <div>
                <div class="mt-3 text-center buyBannerTitleFontSize">
                  {{ package.name }}
                </div>
                <div
                  class="text-center my-4 buyBannerPriceFontSize"
                  style="background-color: cornflowerblue; color: white"
                >
                  {{ package.price / 100 | number }} บาท/เดือน
                </div>
                <div class="m-3 buyBannerContentFontSize">
                  {{ package.description }}
                </div>
              </div>
              <div style="text-align: center; margin-bottom: 2em">
                <button
                  class="btn my-1 py-1 px-5 text-center fs-4"
                  style="border-radius: 100px; color: white"
                  (click)="buyPackage(package.priceID, package.name)"
                  [disabled]="subExists(package.name)"
                  [ngClass]="
                    !subExists(package.name) ? 'blue-color' : 'btn-secondary'
                  "
                >
                  {{
                    !subExists(package.name)
                      ? "ซื้อแพ็คเกจ"
                      : buttonName(package.name)
                  }}
                </button>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="uploadModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content semi-border-input standard-shadow">
      <div class="modal-body">
        <div class="m-5">
          <div class="wrapper">
            <div class="text-center my-3" style="font-size: 3rem">
              อัพโหลดไฟล์ภาพ
            </div>
            <div class="loading my-3" *ngIf="bannerUploadFlag">
              <div style="text-align: center">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            <img
              [src]="placeholderImage"
              id="innerPhoto"
              style="width: -webkit-fill-available; width: -moz-available"
              (load)="loadFile($event)"
            />
            <div class="text-center my-3">
              โปรดอัพโหลดไฟล์ภาพด้วยขนาด
              {{ packageDimensions[productPackage] }} pixels
            </div>
            <div class="text-center text-danger my-3" *ngIf="!dimensionFlag">
              โปรดอัพโหลดไฟล์ภาพด้วยขนาดที่ถูกต้อง
            </div>
            <form
              id="imageUploadForm"
              (ngSubmit)="uploadImage()"
              class="mt-3 text-center"
            >
              <input
                type="file"
                name="select_image"
                (change)="imageChosen($event)"
              />
              <div
                class="d-flex align-items-center justify-content-start gap-3"
              >
                <div class="mt-3" style="white-space: nowrap">
                  <b> ลิงค์เว็บไซต์ </b>
                </div>
                <input
                  type="text"
                  name="select_image"
                  id="imageLink"
                  class="form-control border-input mt-3"
                />
              </div>
              <div class="text-danger">
                <i
                  >*เมื่อเภสัชกรคลิ๊กที่รูปภาพแบนเนอร์จะถูกพาไปยังเว็บไซต์ตามลิงค์ที่ท่านแนบ</i
                >
              </div>
              <div class="mt-3">
                <button
                  type="submit"
                  [disabled]="fileFlag"
                  value="Upload"
                  class="submit-button"
                  class="btn my-1 py-1 px-5 text-center fs-4 blue-color"
                  style="border-radius: 100px; color: white"
                >
                  ซื้อแพ็คเกจ
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
