<div class="mx-4">

  <div class="my-3 fs-2 mainTitle"><b>งานด่วนรายวัน</b></div>
  <ul class="nav nav-underline mb-5 sticky-top flex-column flex-md-row py-3 fs-3 tabList"  style="top:180px; background:white; --bs-nav-underline-gap:0 1rem">
      <li class="nav-item">
        <a class="nav-link flex-lg-fill text-lg-center active" data-bs-toggle="tab" id="urgent-jobs-page" routerLink="urgent-jobs-page" data-bs-target="#tabFive" aria-controls="tabFive" type="button" role="tab" aria-current="page">ตารางงานด่วน</a>
      </li>
      <li class="nav-item">
        <a class="nav-link flex-lg-fill text-lg-center" id="urgent-jobs-history" routerLink="urgent-jobs-history" data-bs-toggle="tab" data-bs-target="#tabFour" aria-controls="tabFour" type="button" role="tab">ประวัติการรับงานด่วน</a>
      </li>
      <hr style="width: 100%" class="m-auto borderLine">
  </ul>
  <router-outlet></router-outlet>
</div>
