<div class="container">
    <div style="display:block; padding: 5vh 0">
        <div class="d-lg-flex d-block justify-content-between">
            <div class="col-lg-6 col-12">
                <div class="card my-auto me-lg-4" style="border-radius: 20px; width: -webkit-fill-available; width: -moz-available;">
                    <div class="card-body p-0">
                        <div class="text-center text-danger">{{errorMessage}}</div>
                        <div style="background-color:white;padding-bottom:2rem; border-radius: 20px">
                            <ul class="nav justify-content-center fs-4 nav-tabs nav-fill nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" style="border-top-left-radius: 20px" (click)="changeRoles('pharma')" id="normal-job" data-bs-toggle="tab" data-bs-target="#normal-job-pane" type="button" role="tab" aria-controls="normal-job-pane" aria-selected="true">เภสัชกร</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" style="border-top-right-radius: 20px" (click)="changeRoles('operator')" id="urgent-job" data-bs-toggle="tab" data-bs-target="#urgent-job-pane" type="button" role="tab" aria-controls="urgent-job-pane" aria-selected="false">ผู้ประกอบการ</button>
                                </li>
                            </ul>
                            <div style="text-align:center" *ngIf="loadingFlag">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div class="tab-content" style='background:white' id="myTabContent">
                                <div class="d-flex my-3 justify-content-between card-title px-sm-5 px-3">
                                    <button class="btn btn-primary mb-1 mt-2" style="visibility:hidden">Back <i class="bi bi-arrow-left"></i></button> 

                                    <h3>{{header}}</h3>
                                    <ng-container *ngIf="pharmaForm; then hidden; else notHidden"></ng-container>
                                    <ng-template #hidden>
                                        <button class="btn btn-primary mb-1 mt-2" style="visibility:hidden">Back <i class="bi bi-arrow-left"></i></button> 
                                    </ng-template>
                                    <ng-template #notHidden>
                                        <button class="btn btn-primary mb-1 mt-2" (click)="backSlide()">Back <i class="bi bi-arrow-left"></i></button> 
                                    </ng-template>
                                </div>
                                <div class="px-sm-5 px-3 my-3" style="font-size:0.75rem" *ngIf="header !== 'ลงทะเบียน'"><i>ท่านสามารถข้ามการใส่ข้อมูลงานที่กำลังมองหาได้ (แก้ไขภายหลังได้ที่ profile หัวข้อ 'งานที่กำลังมองหา')</i></div>
                                <div class="px-sm-5 px-3 tab-pane fade show active" id="normal-job-pane" role="tabpanel" aria-labelledby="normal-job" tabindex="0">
                                    <form [formGroup]="registerFormPharmacist">
                                        <swiper #swiperFormPharma [allowTouchMove]="false" [virtual]="true">
                                            <ng-template swiperSlide>
                                                <div style="background-color: white">
                                                    <div class="form-group mb-3">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input
                                                            type="text"
                                                            formControlName="email"
                                                            class="form-control"
                                                            [ngClass]="{ 'is-invalid': submitted && fP['email'].errors }"
                                                            style='background-color:#f2f2f2'
                                                        />
                                                        <div *ngIf="submitted && fP['email'].errors" class="invalid-feedback">
                                                            <div *ngIf="fP['email'].errors['required']">กรุณาใส่อีเมล</div>
                                                            <div *ngIf="fP['email'].errors['email']">อีเมลไม่ถูกต้อง</div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="password" class="form-label">Password</label>
                                                            <input
                                                                type="password"
                                                                formControlName="password"
                                                                class="form-control"
                                                                [ngClass]="{ 'is-invalid': submitted && fP['password'].errors }"
                                                                style='background-color:#f2f2f2'
                                                            />
                                                            <div *ngIf="submitted && fP['password'].errors" class="invalid-feedback">
                                                                <div *ngIf="fP['password'].errors['required']">กรุณาใส่พาสเวิร์ด</div>
                                                                <div *ngIf="fP['password'].errors['minlength']">กรุณาใส่พาสเวิร์ดอย่างน้อย 6 ตัวอักษรขึ้นไป</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                                                            <input
                                                                type="password"
                                                                formControlName="confirmPassword"
                                                                class="form-control"
                                                                [ngClass]="{ 'is-invalid': submitted && fP['confirmPassword'].errors }"
                                                                style='background-color:#f2f2f2'
                                                            />
                                                            <div *ngIf="submitted && fP['confirmPassword'].errors" class="invalid-feedback">
                                                                <div *ngIf="fP['confirmPassword'].errors['required']">กรุณาคอนเฟิร์มพาสเวิร์ด</div>
                                                                <div *ngIf="fP['confirmPassword'].errors['minlength']">กรุณาใส่พาสเวิร์ดคอนเฟิร์มอย่างน้อย 6 ตัวอักษรขึ้นไป</div>
                                                                <div *ngIf="fP['confirmPassword'].errors['matching']">
                                                                    พาสเวิร์ดไม่ตรงกัน
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="nickName" class="form-label">ชื่อ User</label>
                                                            <input
                                                                type="text"
                                                                formControlName="nickName"
                                                                class="form-control"
                                                                style="background-color:#f2f2f2"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="gender" class="form-label">เพศ</label>
                                                            <select formControlName="gender" class="form-select" style="background-color:#f2f2f2" [ngClass]="{ 'is-invalid': submitted && fP['gender'].errors }" aria-label="Default select example">
                                                                <option selected value="ชาย">ชาย</option>
                                                                <option value="หญิง">หญิง</option>
                                                            </select>
                                                            <div *ngIf="submitted && fP['gender'].errors" class="invalid-feedback">
                                                                <div *ngIf="fP['gender'].errors['required']">กรุณาระบุเพศของท่าน</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <div class="d-md-flex justify-content-between">
                                                                <label for="name" class="mb-0 form-label">ชื่อ</label>
                                                                <div>
                                                                    <label for="name" class="fs-6 form-label"><i>(ไม่สามารถแก้ไขได้ในภายหลัง)</i></label>
                                                                </div>
                                                            </div>
                                                            <input
                                                                type="text"
                                                                formControlName="name"
                                                                class="form-control"
                                                                style="background-color:#f2f2f2"
                                                                [ngClass]="{ 'is-invalid': submitted && fP['name'].errors }"
                                                            />
                                                            <div *ngIf="submitted && fP['name'].errors" class="invalid-feedback">
                                                                <div *ngIf="fP['name'].errors['required']">กรุณาระบุชื่อจริงตามบัตรประชาชน</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <div class="d-md-flex justify-content-between">
                                                                <label for="surname" class="mb-0 form-label">นามสกุล</label>
                                                                <div>
                                                                    <label for="surname" class="fs-6 form-label"><i>(ไม่สามารถแก้ไขได้ในภายหลัง)</i></label>
                                                                </div>
                                                            </div>
                                                            <input
                                                                type="text"
                                                                formControlName="surname"
                                                                class="form-control"
                                                                style="background-color:#f2f2f2"
                                                                [ngClass]="{ 'is-invalid': submitted && fP['surname'].errors }"
                                                            />
                                                            <div *ngIf="submitted && fP['surname'].errors" class="invalid-feedback">
                                                                <div *ngIf="fP['surname'].errors['required']">กรุณาระบุนามสกุลจริงตามบัตรประชาชน</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <div class="d-md-flex justify-content-between">
                                                                <label for="license" class="mb-0 form-label">เลขใบประกอบ ภ.</label>
                                                                <div>
                                                                    <label for="license" class="fs-6 form-label"><i>(ไม่สามารถแก้ไขได้ในภายหลัง)</i></label>
                                                                </div>
                                                            </div>
                                                            <input
                                                                type="text"
                                                                formControlName="license"
                                                                class="form-control"
                                                                style="background-color:#f2f2f2"
                                                                [ngClass]="{ 'is-invalid': submitted && fP['license'].errors }"
                                                            />
                                                            <div *ngIf="submitted && fP['license'].errors" class="invalid-feedback">
                                                                <div *ngIf="fP['license'].errors['required']">กรุณาระบุเลขที่ใบประกอบวิชาชีพเภสัชกร</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-check d-flex"> 
                                                            <input formControlName="Agreement" class="me-3 form-check-input" type="checkbox" value="" id="Agreement" [ngClass]="{ 'is-invalid': submitted && fP['Agreement'].errors }">
                                                            <label class="form-check-label" for="Agreement" style="color:black !important; text-align: left">
                                                                ฉันยอมรับ เงื่อนไข และ ข้อตกลง ของ pharmwork ในการเป็นสมาชิกผู้หางานทุกประการ
                                                            </label>
                                                            <div *ngIf="submitted && fP['Agreement'].errors" style="width:auto" class="invalid-feedback">
                                                                <div *ngIf="fP['Agreement'].errors['required']" style="text-align: left">กรุณาทำเครื่องหมายยอมรับเงื่อนไข</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-primary mb-1 mt-2" style="width: -webkit-fill-available; width: -moz-available;" (click)="nextSlide()">Next</button> 
                                                </div>
                                            </ng-template>
                                            <ng-template swiperSlide>
                                                <div style="background:white">
                                                    <div class="form-group mb-3" formGroupName="preferredJobType">
                                                        <label for="preferredJobType" class="form-label">ประเภทงานที่สนใจ</label>
                                                        <div class="row row-cols-xxl-3 row-cols-lg-2 row-cols-md-3 row-cols-2">
                                                            <div class="d-flex flex-row-start mb-3">
                                                                <input formControlName="S" class="me-3 form-check-input" type="checkbox" value="" id="S">
                                                                <label class="form-check-label" for="S">
                                                                    งานด่วนรายวัน
                                                                </label>
                                                            </div>
                                                            <div class="d-flex flex-row-start mb-3">
                                                                <input formControlName="AA" class="me-3 form-check-input" type="checkbox" value="" id="AA">
                                                                <label class="form-check-label" for="AA">
                                                                    งานร้านยาทั่วไป
                                                                </label>
                                                            </div>
                                                            <div class="d-flex flex-row-start mb-3">
                                                                <input formControlName="AB" class="me-3 form-check-input" type="checkbox" value="" id="AB">
                                                                <label class="form-check-label" for="AB">
                                                                    งานร้านยา Brand
                                                                </label>
                                                            </div>
                                                            <div class="d-flex flex-row-start mb-3">
                                                                <input formControlName="AC" class="me-3 form-check-input" type="checkbox" value="" id="AC">
                                                                <label class="form-check-label" for="AC">
                                                                    งานโรงพยาบาล
                                                                </label>
                                                            </div>
                                                            <div class="d-flex flex-row-start mb-3">
                                                                <input formControlName="BA" class="me-3 form-check-input" type="checkbox" value="" id="BA">
                                                                <label class="form-check-label" for="BA">
                                                                    งานคลินิก
                                                                </label>
                                                            </div>
                                                            <div class="d-flex flex-row-start mb-3">
                                                                <input formControlName="BB" class="me-3 form-check-input" type="checkbox" value="" id="BB">
                                                                <label class="form-check-label" for="BB">
                                                                    งานโรงงาน
                                                                </label>
                                                            </div>
                                                            <div class="d-flex flex-row-start mb-3">
                                                                <input formControlName="BC" class="me-3 form-check-input" type="checkbox" value="" id="BC">
                                                                <label class="form-check-label" for="BC">
                                                                    งานบริษัท
                                                                </label>
                                                            </div>
                                                            <div class="d-flex flex-row-start mb-3">
                                                                <input formControlName="CA" class="me-3 form-check-input" type="checkbox" value="" id="CA">
                                                                <label class="form-check-label" for="CA">
                                                                    งานวิจัย
                                                                </label>
                                                            </div>
                                                            <div class="d-flex flex-row-start mb-3">
                                                                <input formControlName="CB" class="me-3 form-check-input" type="checkbox" value="" id="CB">
                                                                <label class="form-check-label" for="CB">
                                                                    งานอื่นๆ
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="preferredTimeFrame" class="form-label">ชนิดของงานที่สนใจ</label>
                                                        <select formControlName="preferredTimeFrame" name="preferredTimeFrame" class="form-select mb-3" style="background-color:#f2f2f2">
                                                            <option selected value="Full-Time">Full-Time</option>
                                                            <option value="Part-Time">Part-Time</option>
                                                            <option value="Full-Time และ Part-Time" selected>Full-Time และ Part-Time</option>
                                                        </select>
                                                    </div>
                                                    <app-location [parentFormGroup]="registerFormPharmacist" [formGroupName]="'preferredLocation'" [registerFlag]="true"></app-location>
                                                    <div class="form-group excessForm" style="display:none">
                                                        <label for="preferredSalary" class="form-label">เงินเดือนที่ต้องการ</label>
                                                        <select formControlName="preferredSalary" name="preferredSalary" class="form-select mb-3" style="background-color:#f2f2f2">
                                                            <option selected value="20,000">20,000</option>
                                                            <option  value="30,000">30,000</option>
                                                            <option  value="40,000">40,000</option>
                                                            <option  value="50,000">50,000</option>
                                                            <option  value="60,000">60,000</option>
                                                            <option  value="70,000">70,000</option>
                                                            <option  value="80,000">80,000</option>
                                                            <option  value="90,000">90,000</option>
                                                            <option  value="100,000+">100,000+</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group excessForm" style="display:none">
                                                        <label for="สามารถเริ่มงานได้" class="form-label">สามารถเริ่มงานได้</label>
                                                        <select formControlName="preferredStartTime" name="preferredStartTime" class="form-select mb-3" style="background-color:#f2f2f2">
                                                            <option selected value="ทันที">ทันที</option>
                                                            <option  value="ภายใน 1 สัปดาห์">ภายใน 1 สัปดาห์</option>
                                                            <option  value="ภายใน 2 สัปดาห์">ภายใน 2 สัปดาห์</option>
                                                            <option  value="ภายใน 3 สัปดาห์">ภายใน 3 สัปดาห์</option>
                                                            <option  value="ภายใน 1 เดือน">ภายใน 1 เดือน</option>
                                                        </select>
                                                    </div>
                                                    <button class="btn btn-primary mb-1 mt-2" style="width: -webkit-fill-available; width: -moz-available;" (click)="onSubmit()">Submit</button> 
                                                </div>
                                            </ng-template>
                                          </swiper>
                                    </form>
                                </div>
                                <div class="px-sm-5 px-3 tab-pane fade" id="urgent-job-pane" role="tabpanel" aria-labelledby="urgent-job" tabindex="0">
                                    <form [formGroup]="registerFormOperator" (ngSubmit)="onSubmit()">
                                        <div class="form-group mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input
                                              type="text"
                                              formControlName="email"
                                              class="form-control"
                                              style="background-color:#f2f2f2"
                                              [ngClass]="{ 'is-invalid': submitted && fO['email'].errors }"
                                            />
                                            <div *ngIf="submitted && fO['email'].errors" class="invalid-feedback">
                                              <div *ngIf="fO['email'].errors['required']">กรุณาใส่อีเมล</div>
                                              <div *ngIf="fO['email'].errors['email']">อีเมลไม่ถูกต้อง</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="password" class="form-label">Password</label>
                                                <input
                                                    type="password"
                                                    formControlName="password"
                                                    style="background-color:#f2f2f2"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && fO['password'].errors }"
                                                />
                                                <div *ngIf="submitted && fO['password'].errors" class="invalid-feedback">
                                                    <div *ngIf="fO['password'].errors['required']">กรุณาใส่พาสเวิร์ด</div>
                                                    <div *ngIf="fO['password'].errors['minlength']">กรุณาใส่พาสเวิร์ดอย่างน้อย 6 ตัวอักษรขึ้นไป</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                                <input
                                                    type="password"
                                                    formControlName="confirmPassword"
                                                    style="background-color:#f2f2f2"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && fO['confirmPassword'].errors }"
                                                />
                                                <div *ngIf="submitted && fO['confirmPassword'].errors" class="invalid-feedback">
                                                    <div *ngIf="fO['confirmPassword'].errors['required']">กรุณาคอนเฟิร์มพาสเวิร์ด</div>
                                                    <div *ngIf="fO['confirmPassword'].errors['matching']">
                                                        <div *ngIf="fO['confirmPassword'].errors['minlength']">กรุณาใส่พาสเวิร์ดคอนเฟิร์มอย่างน้อย 6 ตัวอักษรขึ้นไป</div>
                                                        พาสเวิร์ดไม่ตรงกัน
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="companyName" class="form-label">ชื่อธุรกิจที่จดทะเบียน</label>
                                                <input
                                                    type="text"
                                                    formControlName="companyName"
                                                    class="form-control"
                                                    style="background-color:#f2f2f2"
                                                    [ngClass]="{ 'is-invalid': submitted && fO['companyName'].errors }"
                                                />
                                                <div *ngIf="submitted && fO['companyName'].errors" class="invalid-feedback">
                                                    <div *ngIf="fO['companyName'].errors['required']">กรุณาใส่ชื่อธุรกิจตามที่ขึ้นทะเบียนไว้กับกรมพัฒนาธุรกิจการค้า</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="jobType" class="form-label">ประเภทธุรกิจ</label>
                                                <select formControlName="jobType" class="form-select" style="background-color:#f2f2f2" [ngClass]="{ 'is-invalid': submitted && fO['jobType'].errors }" aria-label="Default select example">
                                                    <option value="ร้านยาทั่วไป">ร้านยาทั่วไป</option>
                                                    <option value="ร้านยา Brand">ร้านยา Brand</option>
                                                    <option value="โรงพยาบาล">โรงพยาบาล</option>
                                                    <option value="คลินิก">คลินิก</option>
                                                    <option value="โรงงาน">โรงงาน</option>
                                                    <option value="บริษัท">บริษัท</option>
                                                    <option value="วิจัย">วิจัย</option>
                                                    <option value="อื่นๆ">อื่นๆ</option>
                                                </select>
                                                <div *ngIf="submitted && fO['jobType'].errors" class="invalid-feedback">
                                                    <div *ngIf="fO['jobType'].errors['required']">กรุณาระบุประเภทธุรกิจของท่าน</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="companyID" class="form-label">เลขจดทะเบียนบริษํท</label>
                                                <input
                                                    type="text"
                                                    formControlName="companyID"
                                                    class="form-control"
                                                    style="background-color:#f2f2f2"
                                                    [ngClass]="{ 'is-invalid': submitted && fO['companyID'].errors }"
                                                />
                                                <div *ngIf="submitted && fO['companyID'].errors" class="invalid-feedback">
                                                    <div *ngIf="fO['companyID'].errors['required']">กรุณาใส่เลขจดทะเบียนบริษัทตามที่ขึ้นทะเบียนไว้กับกรมพัฒนาธุรกิจการค้า</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="nameOfPerson" class="form-label">ชื่อผู้ติดต่อ</label>
                                                <input
                                                    type="text"
                                                    formControlName="nameOfPerson"
                                                    class="form-control"
                                                    style="background-color:#f2f2f2"
                                                    [ngClass]="{ 'is-invalid': submitted && fO['nameOfPerson'].errors }"
                                                />
                                                <div *ngIf="submitted && fO['nameOfPerson'].errors" class="invalid-feedback">
                                                    <div *ngIf="fO['nameOfPerson'].errors['required']">กรุณาใส่ชื่อ-นามสกุลจริงของเจ้าของธุรกิจหรือผู้ดำเนินการจัดหาบุคลากร</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="phoneNumber" class="form-label">เบอร์โทรผู้ติดต่อ</label>
                                                <input
                                                    type="text"
                                                    formControlName="phoneNumber"
                                                    class="form-control"
                                                    style="background-color:#f2f2f2"
                                                    [ngClass]="{ 'is-invalid': submitted && fO['phoneNumber'].errors }"
                                                />
                                                <div *ngIf="submitted && fO['phoneNumber'].errors" class="invalid-feedback">
                                                    <div *ngIf="fO['phoneNumber'].errors['required']">กรุณาใส่เบอร์โทรศัพท์ของเจ้าของธุรกิจหรือผู้ดำเนินการจัดหาบุคลากร</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-check d-flex"> 
                                                <input formControlName="Agreement" class="me-3 form-check-input" type="checkbox" value="" id="Agreement" [ngClass]="{ 'is-invalid': submitted && fO['Agreement'].errors }">
                                                <label class="form-check-label" for="Agreement" style="color:black !important; text-align:left">
                                                    ฉันยอมรับ เงื่อนไข และ ข้อตกลง ของ pharmwork ในการเป็นสมาชิกผู้ประกอบการทุกประการ
                                                </label>
                                                <div *ngIf="submitted && fO['Agreement'].errors" style="width:auto" class="invalid-feedback">
                                                    <div *ngIf="fO['Agreement'].errors['required']" style="text-align:left">กรุณาทำเครื่องหมายยอมรับเงื่อนไข</div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary mb-1 mt-2" style="width: -webkit-fill-available; width: -moz-available;" type="submit">Submit</button> 
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="role === 'เภสัชกร'; then pharmacistForm; else operatorForm"></ng-container>
                        <ng-template #pharmacistForm>
                        </ng-template>
                        <ng-template #operatorForm>

                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-6 d-lg-block d-none">
                <swiper #swiper [virtual]="true" [allowTouchMove]="false">
                    <ng-template swiperSlide><img style="width: -webkit-fill-available; width: -moz-available;" src="assets/pharmacist.png"></ng-template>
                    <ng-template swiperSlide><img style="width: -webkit-fill-available; width: -moz-available;" src="assets/operator.png"></ng-template>
                  </swiper>
            </div>
        </div>
    </div>
</div>
