<div class="container">
    <div style="display:block; padding: 5vh 0">
        <div class="d-flex justify-content-between">
            <div class="col-6">

                <div class="card my-auto me-4" style="width: -webkit-fill-available; width: -moz-available;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between card-title">
                            <div style="visibility:hidden">fdsasd</div>
                            <h5>ลงทะเบียน</h5>
                            <ng-container *ngIf="pharmaForm; then hidden; else notHidden"></ng-container>
                            <ng-template #hidden>
                                <button style="visibility:hidden"></button>
                            </ng-template>
                            <ng-template #notHidden>
                                <button class="btn btn-primary mb-1 mt-2" (click)="nextSlide()">Back <i class="bi bi-arrow-left"></i></button> 
                            </ng-template>
                        </div>
                        <div class="my-2 text-center text-danger">{{errorMessage}}</div>
                        <div class="mb-3 d-flex justify-content-between">
                            <div class="form-check form-switch">
                                <label for="role" class="form-label">{{role}}</label>
                                <input class="form-check-input" type="checkbox" (click)="changeRoles();" role="switch">
                            </div>
                            <div style="text-align:center" *ngIf="loadingFlag">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div style="visibility:hidden">fdsafdsasdffd</div>
                        </div>
                        <ng-container *ngIf="role === 'เภสัชกร'; then pharmacistForm; else operatorForm"></ng-container>
                        <ng-template #pharmacistForm>
                            <form [formGroup]="registerFormPharmacist">
                                <swiper #swiperFormPharma [allowTouchMove]="false" [virtual]="true">
                                    <ng-template swiperSlide>
                                        <div class="form-group mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input
                                                type="text"
                                                formControlName="email"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && fP['email'].errors }"
                                            />
                                            <div *ngIf="submitted && fP['email'].errors" class="invalid-feedback">
                                                <div *ngIf="fP['email'].errors['required']">Email is required</div>
                                                <div *ngIf="fP['email'].errors['email']">Email is invalid</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="password" class="form-label">Password</label>
                                                <input
                                                    type="password"
                                                    formControlName="password"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && fP['password'].errors }"
                                                />
                                                <div *ngIf="submitted && fP['password'].errors" class="invalid-feedback">
                                                    <div *ngIf="fP['password'].errors['required']">Password is required</div>
                                                    <div *ngIf="fP['password'].errors['minlength']">Password needs to be at least 6 characters long</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                                <input
                                                    type="password"
                                                    formControlName="confirmPassword"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && fP['confirmPassword'].errors }"
                                                />
                                                <div *ngIf="submitted && fP['confirmPassword'].errors" class="invalid-feedback">
                                                    <div *ngIf="fP['confirmPassword'].errors['required']">Confirm Password is required</div>
                                                    <div *ngIf="fP['confirmPassword'].errors['minlength']">Confirm Password needs to be at least 6 characters long</div>
                                                    <div *ngIf="fP['confirmPassword'].errors['matching']">
                                                        Confirm Password does not match
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="nickName" class="form-label">ชื่อ User</label>
                                                <input
                                                    type="text"
                                                    formControlName="nickName"
                                                    class="form-control"
                                                />
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name" class="form-label">ชื่อ</label>
                                                <input
                                                    type="text"
                                                    formControlName="name"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && fP['name'].errors }"
                                                />
                                                <div *ngIf="submitted && fP['name'].errors" class="invalid-feedback">
                                                    <div *ngIf="fP['name'].errors['required']">Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="surname" class="form-label">นามสกุล</label>
                                                <input
                                                    type="text"
                                                    formControlName="surname"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && fP['surname'].errors }"
                                                />
                                                <div *ngIf="submitted && fP['surname'].errors" class="invalid-feedback">
                                                    <div *ngIf="fP['surname'].errors['required']">Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="license" class="form-label">เลขใบประกอบ ภ.</label>
                                                <input
                                                    type="text"
                                                    formControlName="license"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && fP['license'].errors }"
                                                />
                                                <div *ngIf="submitted && fP['license'].errors" class="invalid-feedback">
                                                    <div *ngIf="fP['license'].errors['required']">Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary mb-1 mt-2" style="width: -webkit-fill-available; width: -moz-available;" (click)="nextSlide()">Next</button> 
                                    </ng-template>
                                    <ng-template swiperSlide>
                                        <div class="form-group mb-3" formGroupName="preferredJobType">
                                            <label for="preferredJobType" class="form-label">ประเภทงานที่สนใจ</label>
                                            <div class="row row-cols-2">
                                                <div class="d-flex flex-row-start mb-3">
                                                    <input formControlName="S" class="me-3 form-check-input" type="checkbox" value="" id="S">
                                                    <label class="form-check-label" for="S">
                                                        งานด่วนรายวัน
                                                    </label>
                                                </div>
                                                <div class="d-flex flex-row-start mb-3">
                                                    <input formControlName="AA" class="me-3 form-check-input" type="checkbox" value="" id="AA">
                                                    <label class="form-check-label" for="AA">
                                                        งานร้านยาทั่วไป
                                                    </label>
                                                </div>
                                                <div class="d-flex flex-row-start mb-3">
                                                    <input formControlName="AB" class="me-3 form-check-input" type="checkbox" value="" id="AB">
                                                    <label class="form-check-label" for="AB">
                                                        งานร้านยา Brand
                                                    </label>
                                                </div>
                                                <div class="d-flex flex-row-start mb-3">
                                                    <input formControlName="AC" class="me-3 form-check-input" type="checkbox" value="" id="AC">
                                                    <label class="form-check-label" for="AC">
                                                        งานโรงพยาบาล
                                                    </label>
                                                </div>
                                                <div class="d-flex flex-row-start mb-3">
                                                    <input formControlName="BA" class="me-3 form-check-input" type="checkbox" value="" id="BA">
                                                    <label class="form-check-label" for="BA">
                                                        งานคลินิก
                                                    </label>
                                                </div>
                                                <div class="d-flex flex-row-start mb-3">
                                                    <input formControlName="BB" class="me-3 form-check-input" type="checkbox" value="" id="BB">
                                                    <label class="form-check-label" for="BB">
                                                        งานโรงงาน
                                                    </label>
                                                </div>
                                                <div class="d-flex flex-row-start mb-3">
                                                    <input formControlName="BC" class="me-3 form-check-input" type="checkbox" value="" id="BC">
                                                    <label class="form-check-label" for="BC">
                                                        งานบริษัท
                                                    </label>
                                                </div>
                                                <div class="d-flex flex-row-start mb-3">
                                                    <input formControlName="CA" class="me-3 form-check-input" type="checkbox" value="" id="CA">
                                                    <label class="form-check-label" for="CA">
                                                        งานวิจัย
                                                    </label>
                                                </div>
                                                <div class="d-flex flex-row-start mb-3">
                                                    <input formControlName="CB" class="me-3 form-check-input" type="checkbox" value="" id="CB">
                                                    <label class="form-check-label" for="CB">
                                                        งานอื่นๆ
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="preferredTimeFrame" class="form-label">ชนิดของงานที่สนใจ</label>
                                            <select formControlName="preferredTimeFrame" name="preferredTimeFrame" class="form-select mb-3">
                                                <option selected value="Full-Time">Full-Time</option>
                                                <option value="Part-Time">Part-Time</option>
                                            </select>
                                        </div>
                                        <app-location [parentFormGroup]="registerFormPharmacist" [formGroupName]="'preferredLocation'" [registerFlag]="true"></app-location>
                                        <div class="form-group">
                                            <label for="preferredSalary" class="form-label">เงินเดือนที่ต้องการ</label>
                                            <select formControlName="preferredSalary" name="preferredSalary" class="form-select mb-3">
                                                <option selected value="20,000">20,000</option>
                                                <option selected value="30,000">30,000</option>
                                                <option selected value="40,000">40,000</option>
                                                <option selected value="50,000">50,000</option>
                                                <option selected value="60,000">60,000</option>
                                                <option selected value="70,000">70,000</option>
                                                <option selected value="80,000">80,000</option>
                                                <option selected value="90,000">90,000</option>
                                                <option selected value="100,000+">100,000+</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="สามารถเริ่มงานได้" class="form-label">สามารถเริ่มงานได้</label>
                                            <select formControlName="preferredStartTime" name="preferredStartTime" class="form-select mb-3">
                                                <option selected value="ทันที">ทันที</option>
                                                <option selected value="ภายใน 1 สัปดาห์">ภายใน 1 สัปดาห์</option>
                                                <option selected value="ภายใน 2 สัปดาห์">ภายใน 2 สัปดาห์</option>
                                                <option selected value="ภายใน 3 สัปดาห์">ภายใน 3 สัปดาห์</option>
                                                <option selected value="ภายใน 1 เดือน">ภายใน 1 เดือน</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-primary mb-1 mt-2" style="width: -webkit-fill-available; width: -moz-available;" (click)="onSubmit()">Submit</button> 
                                    </ng-template>
                                  </swiper>
                            </form>
                        </ng-template>
                        <ng-template #operatorForm>
                            <form [formGroup]="registerFormOperator" (ngSubmit)="onSubmit()">
                                <div class="form-group mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input
                                      type="text"
                                      formControlName="email"
                                      class="form-control"
                                      [ngClass]="{ 'is-invalid': submitted && fO['email'].errors }"
                                    />
                                    <div *ngIf="submitted && fO['email'].errors" class="invalid-feedback">
                                      <div *ngIf="fO['email'].errors['required']">Email is required</div>
                                      <div *ngIf="fO['email'].errors['email']">Email is invalid</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="password" class="form-label">Password</label>
                                        <input
                                            type="password"
                                            formControlName="password"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && fO['password'].errors }"
                                        />
                                        <div *ngIf="submitted && fO['password'].errors" class="invalid-feedback">
                                            <div *ngIf="fO['password'].errors['required']">Password is required</div>
                                            <div *ngIf="fO['password'].errors['minlength']">Password needs to be at least 6 characters long</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                                        <input
                                            type="password"
                                            formControlName="confirmPassword"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && fO['confirmPassword'].errors }"
                                        />
                                        <div *ngIf="submitted && fO['confirmPassword'].errors" class="invalid-feedback">
                                            <div *ngIf="fO['confirmPassword'].errors['required']">Confirm Password is required</div>
                                            <div *ngIf="fO['confirmPassword'].errors['matching']">
                                                <div *ngIf="fO['confirmPassword'].errors['minlength']">Confirm Password needs to be at least 6 characters long</div>
                                                Confirm Password does not match
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="companyName" class="form-label">ชื่อธุรกิจที่จดทะเบียน</label>
                                        <input
                                            type="text"
                                            formControlName="companyName"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && fO['companyName'].errors }"
                                        />
                                        <div *ngIf="submitted && fO['companyName'].errors" class="invalid-feedback">
                                            <div *ngIf="fO['companyName'].errors['required']">Company Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="jobType" class="form-label">ประเภทธุรกิจ</label>
                                        <select formControlName="jobType" class="form-select" [ngClass]="{ 'is-invalid': submitted && fO['jobType'].errors }" aria-label="Default select example">
                                            <option selected value="ร้านยาทั่วไป">ร้านยาทั่วไป</option>
                                            <option value="ร้านยาแบรนด์">ร้านยาแบรนด์</option>
                                            <option value="โรงพยาบาล">โรงพยาบาล</option>
                                            <option value="คลินิก">คลินิก</option>
                                            <option value="โรงงาน">โรงงาน</option>
                                            <option value="บริษัท">บริษัท</option>
                                            <option value="วิจัย">วิจัย</option>
                                            <option value="อื่นๆ">อื่นๆ</option>
                                        </select>
                                        <div *ngIf="submitted && fO['jobType'].errors" class="invalid-feedback">
                                            <div *ngIf="fO['jobType'].errors['required']">Job Type is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="companyID" class="form-label">เลขจดทะเบียนบริษํท</label>
                                        <input
                                            type="text"
                                            formControlName="companyID"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && fO['companyID'].errors }"
                                        />
                                        <div *ngIf="submitted && fO['companyID'].errors" class="invalid-feedback">
                                            <div *ngIf="fO['companyID'].errors['required']">Company ID is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="nameOfPerson" class="form-label">ชื่อผู้ติดต่อ</label>
                                        <input
                                            type="text"
                                            formControlName="nameOfPerson"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && fO['nameOfPerson'].errors }"
                                        />
                                        <div *ngIf="submitted && fO['nameOfPerson'].errors" class="invalid-feedback">
                                            <div *ngIf="fO['nameOfPerson'].errors['required']">Name of Person is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="phoneNumber" class="form-label">เบอร์โทรผู้ติดต่อ</label>
                                        <input
                                            type="text"
                                            formControlName="phoneNumber"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && fO['phoneNumber'].errors }"
                                        />
                                        <div *ngIf="submitted && fO['phoneNumber'].errors" class="invalid-feedback">
                                            <div *ngIf="fO['phoneNumber'].errors['required']">Phone Number is required</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary mb-1 mt-2" style="width: -webkit-fill-available; width: -moz-available;" type="submit">Submit</button> 
                            </form>

                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <swiper #swiper [virtual]="true">
                    <ng-template swiperSlide><img style="width: -webkit-fill-available; width: -moz-available;" src="assets/pharmacist.jpg"></ng-template>
                    <ng-template swiperSlide><img style="width: -webkit-fill-available; width: -moz-available;" src="assets/operator.jpg"></ng-template>
                  </swiper>
            </div>
        </div>
    </div>
</div>
