<ng-container *ngIf="loadingFlag$ | async; then loading; else notLoading"></ng-container>
<ng-template #loading>
  <div style="text-align:center" class="mt-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
    <ng-template #notLoading>
      <div class="p-md-4 p-2 textProfileResponsive standard-shadow" style="border-radius:40px">
        <div class="my-3" id="innerProfileTitle"><b>ผู้สมัครงาน</b></div> 
        <div class="requestJobTabList sticky-top" style="top:180px; background:white; z-index: 3">
          <ul class="nav nav-underline py-3 mb-2 textProfileResponsive flex-row tabList" style="width: max-content; --bs-nav-underline-gap:0 1rem">
              <li class="nav-item">
                  <button class="myTab nav-link flex-lg-fill text-lg-center active" data-bs-toggle="tab" id="main-profile" data-bs-target="#tabOne" aria-controls="tabOne" type="button" role="tab">คำขอสมัครงาน</button>
              </li>
              <li class="nav-item">
                  <button class="myTab nav-link flex-lg-fill text-lg-center" id='private-profile' data-bs-toggle="tab" id="private-profile" data-bs-target="#tabTwo" aria-controls="tabTwo" type="button" role="tab" aria-current="page">ขอดูข้อมูลผู้สมัคร</button>
              </li>
              <hr style="width: 100%" class="m-auto">
          </ul>
        </div>
        <div class="tab-content textResponsive mx-md-3 mx-1">
            <div class="tab-pane active" id="tabOne" role="tabpanel" aria-labelledby="tabOne-tab">
              <ng-container *ngIf="emptyFlag$ | async; then empty; else notEmpty"></ng-container>
                <ng-template #empty>
                  <div class="row d-flex justify-content-center">
                      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-10 col">
                          <img class="w-100" src="assets/emptyOperator/comingSoonOperator.png">
                      </div>
                  </div>
                </ng-template>
                <ng-template #notEmpty>
                  <div class="row">
                      <ng-container *ngFor="let jobRequest of jobRequests$ | async, index as i">
                          <div>
                              <app-job-post-normal-card [content]="jobRequest!" [urgentFlag]="jobRequest.Urgency" [fullTimeFlag]="jobRequest.TimeFrame =='Full-Time'"></app-job-post-normal-card>
                          </div>
                      </ng-container>
                  </div>
                </ng-template>
            </div>
            <div class="tab-pane" id="tabTwo" role="tabpanel" aria-labelledby="tabTwo-tab">
                <ng-container *ngIf="emptyFlagRequestView$ | async; then emptyNormal; else notEmptyNormal"></ng-container>
                <ng-template #emptyNormal>
                  <div class="row d-flex justify-content-center">
                    <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-10 col mt-5">
                        <img class="w-100" src="assets/emptyOperator/emptyRequestView.png">
                    </div>
                  </div>
                </ng-template>
                <ng-template #notEmptyNormal>
                    <div class="row">
                        <ng-container *ngFor="let requestView of requestViews$ | async; index as i">
                                <app-normal-user-card [content]="requestView.content!" [type]="'AA'" class="px-2"></app-normal-user-card>
                        </ng-container>
                    </div>
                </ng-template>
            </div>
        </div>
      </div>
  </ng-template>
<div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
    <div class="modal-content semi-border-input standard-shadow">
      <div class="modal-body">
        <div class="container">
            <!-- <ng-container *ngIf="modalLoadingFlag; then loadingUsers; else notLoadingUsers"></ng-container>
            <ng-template #loadingUsers>
              <div style="text-align:center" class="mt-5">
                  <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                  </div>
              </div>
            </ng-template>
            <ng-template #notLoadingUsers> -->
              <div class="row mb-5">
                  <app-normal-user-card class="px-0" *ngFor="let user of usersPayload" [jobUID]="jobID" [profileLinkPage]="profileLinkFlag" [content]="user!" class="px-2"></app-normal-user-card>
              </div>
            <!-- </ng-template> -->
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
