<ng-container *ngIf="loadingFlag$ | async; then loading; else notLoading"></ng-container>
<ng-template #loading>
  <div style="text-align:center" class="mt-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
    <ng-template #notLoading>
      <div class="mx-sm-4 mx-2 fs-2">
        <div class="my-3" id="innerProfileTitle"><b>ผู้สมัครงาน</b></div> 
        <ul class="nav nav-underline py-3 mb-2 fs-3 sticky-top flex-column flex-md-row tabList" style="top:180px; background:white; --bs-nav-underline-gap:0 1rem; z-index: 3">
            <li class="nav-item">
                <button class="myTab nav-link flex-lg-fill text-lg-center active" data-bs-toggle="tab" id="main-profile" data-bs-target="#tabOne" aria-controls="tabOne" type="button" role="tab">คำขอสมัครงาน</button>
            </li>
            <li class="nav-item">
                <button class="myTab nav-link flex-lg-fill text-lg-center" id='private-profile' data-bs-toggle="tab" id="private-profile" data-bs-target="#tabTwo" aria-controls="tabTwo" type="button" role="tab" aria-current="page">ขอดูข้อมูลผู้สมัคร</button>
            </li>
            <hr style="width: 100%" class="m-auto">
        </ul>
        <div class="tab-content fs-3 mx-md-5 mx-sm-3 mx-1">
            <div class="tab-pane active" id="tabOne" role="tabpanel" aria-labelledby="tabOne-tab">
              <ng-container *ngIf="emptyFlag$ | async; then empty; else notEmpty"></ng-container>
                <ng-template #empty>
                  <div class="row d-flex justify-content-center">
                      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-10 col">
                          <img class="w-100" src="assets/emptyOperator/emptyRequestJobs.png">
                      </div>
                  </div>
                </ng-template>
                <ng-template #notEmpty>
                  <div class="row row-cols-xl-2">
                      <ng-container *ngFor="let jobRequest of jobRequests$ | async, index as i">
                          <div>
                              <app-job-post-normal-card [content]="jobRequest!" [urgentFlag]="jobRequest.Urgency" [fullTimeFlag]="jobRequest.TimeFrame =='Full-Time'"></app-job-post-normal-card>
                          </div>
                          <hr style="width:95%; margin:auto; margin-bottom: 2rem" *ngIf="(i + 1) % 2 == 0">
                      </ng-container>
                  </div>
                </ng-template>
            </div>
            <div class="tab-pane" id="tabTwo" role="tabpanel" aria-labelledby="tabTwo-tab">
                <ng-container *ngIf="emptyFlagRequestView$ | async; then emptyNormal; else notEmptyNormal"></ng-container>
                <ng-template #emptyNormal>
                  <div class="row d-flex justify-content-center">
                    <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-10 col mt-5">
                        <img class="w-100" src="assets/emptyOperator/emptyRequestView.png">
                    </div>
                  </div>
                </ng-template>
                <ng-template #notEmptyNormal>
                    <div class="row row-cols-xl-2">
                        <ng-container *ngFor="let requestView of requestViews$ | async; index as i">
                                <app-normal-user-card  [content]="requestView.content!" [type]="'AA'"></app-normal-user-card>
                            <hr style="width:100%; margin-bottom: 2rem" *ngIf="(i + 1) % 2 == 0">
                        </ng-container>
                    </div>
                </ng-template>
            </div>
        </div>
      </div>
  </ng-template>
<div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
            <!-- <ng-container *ngIf="modalLoadingFlag; then loadingUsers; else notLoadingUsers"></ng-container>
            <ng-template #loadingUsers>
              <div style="text-align:center" class="mt-5">
                  <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                  </div>
              </div>
            </ng-template>
            <ng-template #notLoadingUsers> -->
              <div class="row row-cols-xl-2 mb-5">
                  <app-normal-user-card *ngFor="let user of usersPayload" [jobUID]="jobID" [profileLinkPage]="profileLinkFlag" [content]="user!" ></app-normal-user-card>
              </div>
            <!-- </ng-template> -->
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
