<div class="container">
  <div class="my-5 textResponsiveHeader">
    <div class="mb-5 text-center">
      <b>ลงโฆษณาแบนเนอร์กับ Pharmwork</b>
    </div>
  </div>
  <div
    class="topPadding"
    style="padding: 0 6rem; border-bottom: 2px solid lightgrey"
  >
    <div
      class="m-auto align-items-center text-sm-start text-center mb-5 d-xl-flex justify-content-between p-3 px-5 semi-border-input"
      style="gap: 50px; width: fit-content; background-color: #f2dffd"
    >
      <div class="text-center">
        <img
          src="assets/buy/adMobile.png"
          class="adMobile"
          style="height: 30vh"
        />
      </div>
      <div class="textResponsiveHeader">
        <div class="text-center">
          <b
            >โฆษณาผ่านช่องทาง<br />
            social media</b
          >
        </div>
        <div><b>(Social media Ads)</b></div>
      </div>
    </div>
    <div class="mb-3 d-xl-flex justify-content-center" style="gap: 50px">
      <div>
        <button
          class="textProfileResponsive overlayHover p-2 px-5 border-input my-3"
          style="
            border: solid 1px;
            background-color: #f2dffd;
            width: -webkit-fill-available;
            width: -moz-available;
          "
          (click)="
            downloadContract('ราคา ads social media ของ pharmwork ปี 2568.pdf')
          "
        >
          ไฟล์อัตราค่าโฆษณา Ads
        </button>
      </div>
      <div>
        <button
          class="textProfileResponsive overlayHover p-2 px-5 border-input my-3"
          style="
            border: solid 1px;
            background-color: #f2dffd;
            width: -webkit-fill-available;
            width: -moz-available;
          "
          (click)="redirectToSocialMedia()"
        >
          ขั้นตอนการลงโฆษณา Ads
        </button>
      </div>
    </div>
  </div>
  <div class="my-5">
    <img
      style="width: -webkit-fill-available; width: moz-available"
      src="assets/buy/bannerSocial.png"
    />
  </div>
  <div class="my-5 textResponsiveHeader">
    <div class="mb-5 text-center">
      <b>ช่องทางโซเชียลมีเดียทั้งหมดของ Pharmwork</b>
    </div>
  </div>
  <div class="textResponsiveHeader customPadding" style="padding: 0 5vw">
    <div class="mt-5 mb-5">
      <div class="text-center mb-3">
        <label style="color: #231977; font-weight: bold"
          >Facebook official Page</label
        >
        <br />
        <label style="color: #1877f2; font-weight: bold"
          >Pharmwork เว็บไซต์หางานเภสัชกร</label
        >
      </div>
    </div>
    <div class="row mt-5">
      <div
        class="col-5 px-md-5 px-3 align-content-center upperImage"
        style="border-right: 4px solid #231977"
      >
        <a href="https://www.facebook.com/profile.php?id=100093436122280">
          <img style="width: 100%" src="assets/buy/facebookPost.png" />
        </a>
      </div>
      <div
        class="customText mb-0 ps-sm-5 ps-3 col-7 align-content-center text-start"
      >
        <div style="font-weight: bold; color: #231977" class="mb-2">
          <div class="mb-2">Followers</div>
          <div
            class="innerProfileResponsive"
            style="color: black; font-size: medium"
          >
            เพจ facebook ผู้ติดตามกว่า 500+ ราย ยอดถูกใจกว่า 400+
          </div>
          <div class="redText" style="color: red; font-size: large">
            *ข้อมูล ณ เดือนสิงหาคม 2024
          </div>
        </div>
        <div style="font-weight: bold; color: #231977">
          <div class="mb-2">Impression</div>
          <div
            class="innerProfileResponsive"
            style="color: black; font-size: medium"
          >
            เพจเฟสบุ๊คการเข้าถึงโพสทั้งหมดกว่าเกือบ 200,000 ครั้ง ในช่วง 90
            วันที่ผ่านมาล่าสุด
          </div>
          <div class="redText" style="color: red; font-size: large">
            *ข้อมูล ณ เดือนสิงหาคม 2024
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 mb-5">
      <div class="text-center mb-3">
        <label style="color: #231977; font-weight: bold"
          >Facebook official group</label
        >
        <br />
        <label style="color: #1877f2; font-weight: bold"
          >Pharmwork แหล่งรวมงานของเภสัชกรไทย</label
        >
      </div>
    </div>
    <div class="row mt-5">
      <div
        class="col-5 px-md-5 px-3 align-content-center upperImage"
        style="border-right: 4px solid #231977"
      >
        <a
          href="https://www.facebook.com/groups/197073404864431/?ref=share&mibextid=NSMWBT"
          style="color: black"
        >
          <img style="width: 100%" src="assets/buy/facebookGroup.png" />
        </a>
      </div>
      <div
        class="customText mb-0 ps-sm-5 ps-3 col-7 align-content-center text-start"
      >
        <div style="font-weight: bold; color: #231977" class="mb-2">
          <div class="mb-2">Members</div>
          <div
            class="innerProfileResponsive"
            style="color: black; font-size: medium"
          >
            จำนวนสมาชิกกลุ่มปิด facebook กว่า 12,000+ ราย
          </div>
          <div class="redText" style="color: red; font-size: large">
            *ข้อมูล ณ เดือนสิงหาคม 2024
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 mb-5">
      <div class="text-center mb-3">
        <label style="color: #231977; font-weight: bold"
          >Line openchat group</label
        >
        <br />
        <label style="color: #00b800; font-weight: bold"
          >Pharmwork แหล่งรวมงานของเภสัชกรไทย [Main]</label
        >
      </div>
    </div>
    <div class="row mt-5">
      <div
        class="col-5 px-md-5 px-3 align-content-center upperImage"
        style="padding: 0 6rem; border-right: 4px solid #231977"
      >
        <a
          class="ms-0"
          href="https://line.me/ti/g2/QgJQVb-HEPQpEnhZ9bPG-4nBK8kiRXMMDZKTHQ?utm_source=invitation&utm_medium=link_copy&utm_campaign=default"
          style="color: black"
          ><img style="width: 100%" src="assets/buy/lineOpenChat.png"
        /></a>
      </div>
      <div
        class="customText ps-sm-5 ps-3 col-7 align-content-center text-start"
      >
        <div style="font-weight: bold; color: #231977" class="mb-2">
          <div class="mb-2">Members</div>
          <div
            class="innerProfileResponsive"
            style="color: black; font-size: medium"
          >
            จำนวนสมาชิกกลุ่ม Line openchat กว่าเกือบ 1,500 ราย
          </div>
          <div class="redText" style="color: red; font-size: large">
            *ข้อมูล ณ เดือนสิงหาคม 2024
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row textResponsiveHeader mt-5 mb-sm-0 mb-5">
    <div class="col-md-6 col-12 text-center">
      <div class="my-5">
        <div class="text-center mb-3">
          <label style="color: #231977; font-weight: bold"
            >Line official account</label
          ><br />
          <label style="color: #00b800; font-weight: bold">Pharmwork</label>
        </div>
      </div>
      <div class="upperImage">
        <a
          href="https://liff.line.me/1645278921-kWRPP32q/?accountId=417cyhwi"
          class="ms-0"
          ><img
            src="assets/buy/lineOfficial.png"
            class="semi-border-input"
            style="width: 15rem"
        /></a>
      </div>
    </div>
    <div class="col-md-6 col-12 text-center">
      <div class="my-5">
        <div class="text-center mb-3">
          <label style="color: #231977; font-weight: bold"
            >Instagram official account</label
          >
          <br />
          <label style="color: #e8188f; font-weight: bold">Pharmwork</label>
        </div>
      </div>
      <div class="upperImage">
        <a href="https://www.instagram.com/pharmwork/" class="ms-0"
          ><img src="assets/buy/instagram.png" style="width: 15rem"
        /></a>
      </div>
    </div>
  </div>
  <div style="border-bottom: 2px solid lightgrey">
    <img
      src="assets/buy/facebook.png"
      class="relativeFacebook"
      style="width: 8rem; position: relative; top: 100px; left: 230px"
    />
    <div
      class="growthPadding d-md-flex justify-content-center align-items-center text-md-start text-center"
      style="font-weight: bold; padding: 0 16rem; gap: 30px"
    >
      <img src="assets/buy/growth.png" style="width: 25rem" />
      <div class="textResponsiveHeader" style="color: #231977">
        ด้วยยอดการ<label style="color: red">เข้าถึงโพส</label> บน Facebook
        ที่เติบโตกว่าเกือบ <label style="color: red">400%</label> ในช่วง 90
        วันที่ผ่านมาล่าสุด
        <br />
        <label style="font-size: x-large; color: red"
          >*ข้อมูล ณ เดือนสิงหาคม 2024</label
        >
      </div>
    </div>
    <div class="mt-3 d-flex justify-content-center">
      <div>
        <button
          class="textProfileResponsive overlayHover p-2 px-5 border-input my-3"
          (click)="
            downloadContract('ราคา ads social media ของ pharmwork ปี 2568.pdf')
          "
          style="
            border: solid 1px;
            background-color: #f2dffd;
            width: -webkit-fill-available;
            width: -moz-available;
          "
        >
          ไฟล์อัตราค่าโฆษณา Ads
        </button>
      </div>
    </div>
  </div>
  <div
    class="mb-5"
    id="socialMedia"
    style="visibility: hidden; font-size: 30px"
  >
    f
  </div>
  <div class="py-mb-5 mb-5" style="border-bottom: 2px solid lightgrey">
    <div class="mb-5 textResponsiveHeader">
      <div class="mb-5 text-center">
        <b>วิธีการติดต่อขอซื้อโฆษณา Ads ทาง Social media</b>
      </div>
    </div>
    <div>
      <ol
        style="font-weight: bold; list-style-type: auto"
        class="list textProfileResponsive"
      >
        <li>
          <div style="padding-bottom: 2rem">
            ติดต่อขอลงโฆษณาใน social media กับ Pharmwork
            ผ่านช่องทางใดช่องทางหนึ่ง
          </div>
          <ul
            class="ps-md-3 ps-0 list"
            style="list-style-type: none; font-weight: normal"
          >
            <li class="text-md-start text-center">
              <img style="width: 10rem" src="assets/buy/gmail.png" /><span
                class="d-md-none d-inline"
                ><br /></span
              ><b>Email</b
              ><a
                class="ms-3"
                style="cursor: pointer; color: black"
                href="mailto:team-support@pharm-work.com"
                >team-support@pharm-work.com</a
              >
            </li>
            <li class="text-md-start text-center">
              <img style="width: 10rem" src="assets/buy/facebook.png" /><span
                class="d-md-none d-inline"
                ><br /></span
              ><b>Facebook official page</b
              ><a
                class="ms-3"
                style="color: black"
                href="https://www.facebook.com/profile.php?id=100093436122280"
              >
                Pharmwork เว็ปไซน์หางานเภสัชกร</a
              >
            </li>
            <li
              class="text-md-start text-center"
              style="padding-bottom: 0 !important"
            >
              <img style="width: 10rem" src="assets/buy/line.png" /><span
                class="d-md-none d-inline"
                ><br /></span
              ><b>Line Official Account</b
              ><a
                class="ms-3"
                href="https://liff.line.me/1645278921-kWRPP32q/?accountId=417cyhwi"
                style="color: black"
              >
                Pharmwork</a
              >
            </li>
          </ul>
        </li>
        <li>
          Pharmwork จะเปิดใบเสนอราคา (Quotation) ให้ผู้ขอลงโฆษณาทางอีเมล
          ที่ผู้ขอลงโฆษณาแจ้งไว้เท่านั้น <br />
        </li>
        <li>
          การชำระเงิน ผู้ขอลงโฆษณาชำระเงินผ่านลิงค์ชำระเงินของระบบ Stripe ที่ทาง
          Pharmwork ส่งให้ผ่านทางอีเมลที่ผู้ขอลงโฆษณาแจ้งไว้เท่านั้น
        </li>
        <li>
          ผู้ขอลงโฆษณาแนบหลักฐานการชำระเงินและไฟล์รูปภาพโฆษณาพร้อมข้อความโฆษณา
          โดยส่งทั้งหมดมาทางอีเมล team-support@pharm-work.com เท่านั้น
        </li>
      </ol>
    </div>
  </div>
  <app-contact-details></app-contact-details>
</div>
