.loading {
  position: relative;
  margin-top: 45vh;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 50vh;
}
.input-icons i {
  position: absolute;
  right:6rem
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: left;
}
  @media only screen and (max-width: 768px) {
    /* .urgentForm, .notUrgentForm{
      height: 65vh !important;
    } */
  }
  @media only screen and (max-width: 610px) {
    .headerText{
      font-size: medium !important
    }
    .headerContent{
      display: block !important;
      text-align:center !important 
    }
  }
  .headerContent{
    border-top:2px solid lightgrey
  }
  ::ng-deep .modal { z-index: 1001 !important;} 

::ng-deep .modal-backdrop {z-index: 1000 !important;}

::ng-deep .pac-container {z-index: 1055 !important;}