.loading {
  position: relative;
  margin-top: 45vh;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 50vh;
}
  @media only screen and (max-width: 768px) {
    .urgentForm, .notUrgentForm{
      height: 65vh !important;
    }
  }
  @media only screen and (max-width: 610px) {
    .headerText{
      font-size: medium !important
    }
    .headerContent{
      display: block !important;
      text-align:center !important 
    }
  }