<p class="h2 m-5">
    <a class="text-body" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <i class="ms-4 bi bi-justify"></i>
      </a>
    {{ header }}
</p>
<div class="container">
    <ng-container *ngIf="loadingFlag; then loadingScreen; else jobsList"></ng-container>
    <ng-template #loadingScreen>
        <div class="loading">
            <div style="text-align:center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #jobsList>
        <div class="row row-cols-2">
            <div *ngFor="let content of content$ | async" >
                <app-job-post-normal-card [content]="content" [urgentFlag]="header === 'งานเภสัชด่วนรายวัน'" [fullTimeFlag]="content.TimeFrame =='Full-Time'" class="col"></app-job-post-normal-card>
                <hr class="solid my-1" style="width:100%">
            </div>
        </div>

    </ng-template>
</div>
<app-filter-list [brandToCategory]="brandToCategory" [header]="header"></app-filter-list>
