<!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header d-flex justify-content-end">
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="px-4 offcanvas-body"> -->
		<div *ngIf="header==='งานเภสัชด่วนรายวัน'" class="fs-5 mb-3 collapse" [id]="header">
			<div class="row mx-5">
				<div class="col-3" style="padding-left: 0 !important">
					<div class="dropdown d-flex justify-content-center align-items-baseline">
						<label for="exampleFormControlInput1" class="d-flex align-items-end me-1" style="width:11rem">ประเภทงาน:</label>
						<button style="background-color:#e6e6e6; width: -webkit-fill-available; width: -moz-available;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"> ร้านยาทั่วไป </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" >ร้านยาทั่วไป</a>
							</li>
							<li>
								<a class="dropdown-item" >ร้านยาแบรนด์</a>
							</li>
							<li>
								<a class="dropdown-item" >โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" >คลินิก</a>
							</li>
							<li>
								<a class="dropdown-item" >โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" >บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" >วิจัย</a>
							</li>
							<li>
								<a class="dropdown-item" >อื่นๆ</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-3">
					<div class="dropdown d-flex justify-content-center align-items-baseline">
						<label style="width: 7rem" for="exampleFormControlInput1" class="d-flex align-items-end me-1">เรียงตาม:</label>
						<button style="background-color:#e6e6e6; width: -webkit-fill-available; width: -moz-available;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">อัพเดทล่าสุด</button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item">วันที่ต้องการเภสัชใกล้สุดก่อน</a>
							</li>
							<li>
								<a class="dropdown-item">วันที่ต้องการเภสัชไกลสุดก่อน</a>
							</li>
							<li>
								<a class="dropdown-item">งานที่อัพเดทล่าสุดก่อน</a>
							</li>
							<li>
								<a class="dropdown-item">งานที่อัพเดทเก่าสุดก่อน</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-3">
					<div class="dropdown d-flex justify-content-center">
						<label for="exampleFormControlInput1" class="d-flex align-self-center me-1">BTS:</label>
							<!-- <div class="my-auto d-flex justify-content-between form-switch ps-0">
								<input class="form-check-input" [hidden]="!nearLocationFlag" type="checkbox" role="switch" id="flexSwitchCheckDefault">
							</div> -->
							<button [hidden]="nearLocationFlag" style="width: -webkit-fill-available; width: -moz-available;; background-color:#e6e6e6" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"> เลือกสถานี </button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<a class="dropdown-item" >ร้านยาทั่วไป</a>
								</li>
								<li>
									<a class="dropdown-item" >ร้านยาแบรนด์</a>
								</li>
								<li>
									<a class="dropdown-item" >โรงพยาบาล</a>
								</li>
								<li>
									<a class="dropdown-item" >คลินิก</a>
								</li>
								<li>
									<a class="dropdown-item" >โรงงาน</a>
								</li>
								<li>
									<a class="dropdown-item" >บริษัท</a>
								</li>
								<li>
									<a class="dropdown-item" >วิจัย</a>
								</li>
								<li>
									<a class="dropdown-item" >อื่นๆ</a>
								</li>
							</ul>
					</div>
				</div>
				<div class="col-3" style="padding-right:0 !important">
					<div class="dropdown d-flex justify-content-center">
						<label for="exampleFormControlInput1" class="d-flex align-self-center me-1">MRT:</label>
							<!-- <div class="my-auto d-flex justify-content-between form-switch ps-0">
								<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
							</div> -->
							<button style="background-color:#e6e6e6; width: -webkit-fill-available; width: -moz-available;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"> เลือกสถานี </button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<a class="dropdown-item">ร้านยาทั่วไป</a>
								</li>
								<li>
									<a class="dropdown-item">ร้านยาแบรนด์</a>
								</li>
								<li>
									<a class="dropdown-item">โรงพยาบาล</a>
								</li>
								<li>
									<a class="dropdown-item">คลินิก</a>
								</li>
								<li>
									<a class="dropdown-item">โรงงาน</a>
								</li>
								<li>
									<a class="dropdown-item">บริษัท</a>
								</li>
								<li>
									<a class="dropdown-item">วิจัย</a>
								</li>
								<li>
									<a class="dropdown-item">อื่นๆ</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="collapse px-5 fs-5" [id]="header" *ngIf="header==='งานร้านยาทั่วไป' || header === 'งานร้านยาแบรนด์' || header === 'งานโรงพยาบาล/งานคลินิก' || header === 'งานโรงงาน/งานบริษัท/งานวิจัย' || header==='งานอื่นๆ'">
			<div class="d-flex">
				<!-- <div *ngIf="header === 'งานโรงงาน/งานบริษัท/งานวิจัย'" class="col-3 dropdown d-flex justify-content-around my-4 align-items-center">
						<label for="exampleFormControlInput1" class="d-flex align-items-end me-3" style="width:10rem">ประเภทงาน:</label>
						<button style="background-color:#e6e6e6; width:-webkit-fill-available"  class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"> โรงพยาบาล </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" >โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" >บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" >วิจัย</a>
							</li>
						</ul>
				</div>
				<div *ngIf="header === 'งานโรงพยาบาล/งานคลินิก'" class="col-3 dropdown d-flex justify-content-center px-0 my-4 align-items-center">
					<label for="exampleFormControlInput1" class="d-flex align-items-end me-3" style="width:10rem">ประเภทงาน:</label>
					<button style="background-color:#e6e6e6; width: -webkit-fill-available; width: -moz-available;" class="btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown"> โรงพยาบาล </button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" >โรงพยาบาล</a>
						</li>
						<li>
							<a class="dropdown-item" >คลินิก</a>
						</li>
					</ul>
				</div> -->
				<div class="dropdown mt-3 d-flex justify-content-center mb-3 align-items-center" style="width:-webkit-fill-available">
					<label for="exampleFormControlInput1" class="d-flex align-items-end me-1" style="width:-webkit-fill-available">เงินเดือนขั้นต่ำ:</label>
					<button class="btn dropdown-toggle" style="background-color:#e6e6e6; width: -webkit-fill-available; width: -moz-available;"  type="button" data-bs-toggle="dropdown"> 45,000 บาท </button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" >45,000 บาท </a>
						</li>
						<li>
							<a class="dropdown-item" >55,000 บาท </a>
						</li>
						<li>
							<a class="dropdown-item" >65,000 บาท </a>
						</li>
						<li>
							<a class="dropdown-item" >75,000 บาท </a>
						</li>
						<li>
							<a class="dropdown-item" >85,000 บาท </a>
						</li>
					</ul>
				</div>
				<div class="ms-3 dropdown my-3 d-flex justify-content-center align-items-center" style="width:-webkit-fill-available">
					<label for="exampleFormControlInput1" class="d-flex align-items-end me-1 ">BTS:</label>
						<!-- <div class="my-auto d-flex justify-content-between form-switch ps-0">
							<input class="form-check-input" [hidden]="!nearLocationFlag" type="checkbox" role="switch" id="flexSwitchCheckDefault">
						</div> -->
							<button [hidden]="nearLocationFlag" class="btn dropdown-toggle"  style="background-color:#e6e6e6; width: -webkit-fill-available; width: -moz-available;"  type="button" data-bs-toggle="dropdown"> เลือกสถานี </button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<a class="dropdown-item" >ร้านยาทั่วไป</a>
								</li>
								<li>
									<a class="dropdown-item" >ร้านยาแบรนด์</a>
								</li>
								<li>
									<a class="dropdown-item" >โรงพยาบาล</a>
								</li>
								<li>
									<a class="dropdown-item" >คลินิก</a>
								</li>
								<li>
									<a class="dropdown-item" >โรงงาน</a>
								</li>
								<li>
									<a class="dropdown-item" >บริษัท</a>
								</li>
								<li>
									<a class="dropdown-item" >วิจัย</a>
								</li>
								<li>
									<a class="dropdown-item" >อื่นๆ</a>
								</li>
							</ul>
				</div>
					<div class="ms-3 dropdown my-3 d-flex justify-content-center align-items-center" style="width:-webkit-fill-available">
						<label for="exampleFormControlInput1" class="d-flex align-items-end me-1">MRT:</label>
							<!-- <div class="my-auto d-flex justify-content-between form-switch ps-0">
								<input class="form-check-input" [hidden]="!nearLocationFlag" type="checkbox" role="switch" id="flexSwitchCheckDefault">
							</div> -->
								<button [hidden]="nearLocationFlag"  style="background-color:#e6e6e6; width:-webkit-fill-available"  class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"> เลือกสถานี </button>
								<ul class="dropdown-menu dropdown-menu-end">
									<li>
										<a class="dropdown-item" >ร้านยาทั่วไป</a>
									</li>
									<li>
										<a class="dropdown-item" >ร้านยาแบรนด์</a>
									</li>
									<li>
										<a class="dropdown-item" >โรงพยาบาล</a>
									</li>
									<li>
										<a class="dropdown-item" >คลินิก</a>
									</li>
									<li>
										<a class="dropdown-item" >โรงงาน</a>
									</li>
									<li>
										<a class="dropdown-item" >บริษัท</a>
									</li>
									<li>
										<a class="dropdown-item" >วิจัย</a>
									</li>
									<li>
										<a class="dropdown-item" >อื่นๆ</a>
									</li>
								</ul>
					</div>
				<div class="ms-3 my-3 form-switch d-flex flex-row form-check align-items-center">
					<label class="form-check-label" for="interviewOnlineSwitch" style="width:max-content">สัมภาษณ์งานออนไลน์:</label>
					<input class="form-check-input ms-3 mt-0" style="background-color:#e6e6e6" type="checkbox" role="switch" id="interviewOnlineSwitch">
				</div>
				<div class="ms-3 my-3 form-switch d-flex flex-row align-items-center" style="width:-webkit-fill-available">
					<label class="form-check-label" for="interviewOnlineSwitch">Work from Home:</label>
					<input class="form-check-input ms-3 mt-0" style="background-color:#e6e6e6" type="checkbox" role="switch" id="interviewOnlineSwitch">
				</div>
				<!-- <div class="mt-5" *ngIf="header !=='งานอื่นๆ'">
				<div class="my-4 h3">{{ brandToCategory }}</div> 
					<swiper [slidesPerView]="3" 
							[grid]="{
								rows: 2
							}" 
							[spaceBetween]="15" 
							[navigation]="true" 
							[pagination]="{
								clickable: true
							}" 
							style="height:30vh" 
							lass="swiper">
						<ng-template swiperSlide>
							<div class="brandIcon">
								<img src="assets/pharma-brand-1.webp">
								<div class="fs-6">5 ตำแหน่ง</div>
							</div>
						</ng-template>
						<ng-template swiperSlide>
							<div class="brandIcon">
								<img src="assets/pharma-brand-2.webp">
								<div class="fs-6">5 ตำแหน่ง</div>
							</div>
						</ng-template>
						<ng-template swiperSlide>
							<div class="brandIcon">
								<img src="assets/pharma-brand-3.webp">
								<div class="fs-6">5 ตำแหน่ง</div>
							</div>
						</ng-template>
						<ng-template swiperSlide>
							<div class="brandIcon">
								<img src="assets/pharma-brand-4.jpg">
								<div class="fs-6">5 ตำแหน่ง</div>
							</div>
						</ng-template>
						<ng-template swiperSlide>
							<div class="brandIcon">
								<img src="assets/pharma-brand-5.webp">
								<div class="fs-6">5 ตำแหน่ง</div>
							</div>
						</ng-template>
						<ng-template swiperSlide>
							<div class="brandIcon">
								<img src="assets/pharma-brand-6.webp">
								<div class="fs-6">5 ตำแหน่ง</div>
							</div>
						</ng-template>
						<ng-template swiperSlide>
							<div class="brandIcon">
								<img src="assets/pharma-brand-7.png">
								<div class="fs-6">5 ตำแหน่ง</div>
							</div>
						</ng-template>
						<ng-template swiperSlide>
							<div class="brandIcon">
								<img src="assets/pharma-brand-8.png">
								<div class="fs-6">5 ตำแหน่ง</div>
							</div>
						</ng-template>
						<ng-template swiperSlide>
							<div class="brandIcon">
								<img src="assets/pharma-brand-9.png">
								<div class="fs-6">5 ตำแหน่ง</div>
							</div>
						</ng-template>
					</swiper>
				</div> -->
			</div>
		</div>
	<!-- </div>
</div> -->