<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header d-flex justify-content-end">
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="px-4 offcanvas-body">
		<div *ngIf="header==='งานเภสัชด่วนรายวัน'">
			<div class="mb-3 d-flex justify-content-between form-switch ps-0">
				<label class="form-check-label" for="flexSwitchCheckDefault">งานใกล้ฉัน:</label>
				<input class="form-check-input" (click)="onChangeEvent($event)" type="checkbox" role="switch" id="flexSwitchCheckDefault">
			</div>
			<div class="d-flex justify-content-between mb-3">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">วันที่ต้องการหางาน:</label>
				<input style="width:fit-content" type="date" class="form-control" id="exampleFormControlInput1">
			</div>
			<div class="dropdown mt-3 d-flex justify-content-between mb-3">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">ประเภทงาน:</label>
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> ร้านยาทั่วไป </button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li>
						<a class="dropdown-item" href="#">ร้านยาทั่วไป</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">ร้านยาแบรนด์</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">โรงพยาบาล</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">คลินิก</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">โรงงาน</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">บริษัท</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">วิจัย</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">อื่นๆ</a>
					</li>
				</ul>
			</div>
			<div class="dropdown my-3 d-flex justify-content-between">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">พื้นที่:</label>
				<div class="d-flex justify-content-around">
					<div>
						<button [disabled]="nearLocationFlag" class="me-3 btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> จังหวัด </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">ร้านยาทั่วไป</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">ร้านยาแบรนด์</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">คลินิก</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">วิจัย</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">อื่นๆ</a>
							</li>
						</ul>
					</div>
					<div>
						<button [disabled]="nearLocationFlag" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> เขต </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">ร้านยาทั่วไป</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">ร้านยาแบรนด์</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">คลินิก</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">วิจัย</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">อื่นๆ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<label for="customRange1" class="form-label">เรียงตามค่าตอบแทน:</label>
				<input type="range" class="form-range" id="customRange1">
				<div class="d-flex justify-content-between">
					<p>15,000</p>
					<p>45,000</p>
				</div>
			</div>
			<div class="dropdown my-3 d-flex justify-content-between">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">BTS:</label>
				<div class="d-flex justify-content-around">
					<div class="my-auto d-flex justify-content-between form-switch ps-0">
						<input class="form-check-input" [hidden]="!nearLocationFlag" type="checkbox" role="switch" id="flexSwitchCheckDefault">
					</div>
					<div>
						<button [hidden]="nearLocationFlag" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> เลือกสถานี </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">ร้านยาทั่วไป</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">ร้านยาแบรนด์</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">คลินิก</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">วิจัย</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">อื่นๆ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="dropdown my-3 d-flex justify-content-between">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">MRT:</label>
				<div class="d-flex justify-content-around">
					<div class="my-auto d-flex justify-content-between form-switch ps-0">
						<input class="form-check-input" [hidden]="!nearLocationFlag" type="checkbox" role="switch" id="flexSwitchCheckDefault">
					</div>
					<div>
						<button [hidden]="nearLocationFlag" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> เลือกสถานี </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">ร้านยาทั่วไป</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">ร้านยาแบรนด์</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">คลินิก</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">วิจัย</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">อื่นๆ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="header==='งานร้านยาทั่วไป (Stand alone)' || header === 'งานร้านยา Brand (Chain)' || header === 'งานโรงพยาบาล/งานคลินิก' || header === 'งานโรงงาน/งานบริษัท/งานวิจัย' || header==='งานอื่นๆ'">
			<div class="mb-3 d-flex justify-content-between form-switch ps-0">
				<label class="form-check-label" for="flexSwitchCheckDefault">งานใกล้ฉัน:</label>
				<input class="form-check-input" (click)="onChangeEvent($event)" type="checkbox" role="switch" id="flexSwitchCheckDefault">
			</div>
			<div *ngIf="header === 'งานโรงงาน/งานบริษัท/งานวิจัย'" class="dropdown my-3 d-flex justify-content-between">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">ประเภทงาน:</label>
				<div class="d-flex justify-content-around">
					<div>
						<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> โรงพยาบาล </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">วิจัย</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div *ngIf="header === 'งานโรงพยาบาล/งานคลินิก'" class="dropdown my-3 d-flex justify-content-between">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">ประเภทงาน:</label>
				<div class="d-flex justify-content-around">
					<div>
						<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> โรงพยาบาล </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">คลินิก</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="dropdown my-3 d-flex justify-content-between">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">ชนิดของงาน:</label>
				<div class="d-flex justify-content-around">
					<div>
						<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> Full-Time </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">Full-Time</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Part-Time</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="dropdown my-3 d-flex justify-content-between">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">พื้นที่:</label>
				<div class="d-flex justify-content-around">
					<div>
						<button [disabled]="nearLocationFlag" class="me-3 btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> จังหวัด </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">ร้านยาทั่วไป</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">ร้านยาแบรนด์</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">คลินิก</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">วิจัย</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">อื่นๆ</a>
							</li>
						</ul>
					</div>
					<div>
						<button [disabled]="nearLocationFlag" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">เขต</button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">ร้านยาทั่วไป</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">ร้านยาแบรนด์</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">คลินิก</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">วิจัย</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">อื่นๆ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-between mb-3">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">วันที่ต้องการหางาน:</label>
				<input style="width:fit-content" type="date" class="form-control" id="exampleFormControlInput1">
			</div>
			<div class="dropdown mt-3 d-flex justify-content-between mb-3">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">ค่าตอนแทนที่ต้องการ:</label>
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> 45,000 บาท </button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li>
						<a class="dropdown-item" href="#">45,000 บาท </a>
					</li>
					<li>
						<a class="dropdown-item" href="#">55,000 บาท </a>
					</li>
					<li>
						<a class="dropdown-item" href="#">65,000 บาท </a>
					</li>
					<li>
						<a class="dropdown-item" href="#">75,000 บาท </a>
					</li>
					<li>
						<a class="dropdown-item" href="#">85,000 บาท </a>
					</li>
				</ul>
			</div>
			<div class="dropdown my-3 d-flex justify-content-between">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">BTS:</label>
				<div class="d-flex justify-content-around">
					<div class="my-auto d-flex justify-content-between form-switch ps-0">
						<input class="form-check-input" [hidden]="!nearLocationFlag" type="checkbox" role="switch" id="flexSwitchCheckDefault">
					</div>
					<div>
						<button [hidden]="nearLocationFlag" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> เลือกสถานี </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">ร้านยาทั่วไป</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">ร้านยาแบรนด์</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">คลินิก</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">วิจัย</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">อื่นๆ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="dropdown my-3 d-flex justify-content-between">
				<label for="exampleFormControlInput1" class="d-flex align-items-end me-3">MRT:</label>
				<div class="d-flex justify-content-around">
					<div class="my-auto d-flex justify-content-between form-switch ps-0">
						<input class="form-check-input" [hidden]="!nearLocationFlag" type="checkbox" role="switch" id="flexSwitchCheckDefault">
					</div>
					<div>
						<button [hidden]="nearLocationFlag" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"> เลือกสถานี </button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="#">ร้านยาทั่วไป</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">ร้านยาแบรนด์</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงพยาบาล</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">คลินิก</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">โรงงาน</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">บริษัท</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">วิจัย</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">อื่นๆ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
            <div class="mb-3 d-flex justify-content-between form-switch ps-0">
				<label class="form-check-label" for="flexSwitchCheckDefault">สัมภาษณ์งานทาง online:</label>
				<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
			</div>
		</div>
		<div class="mt-5" *ngIf="header==='งานร้านยาทั่วไป (Stand alone)' || header === 'งานร้านยา Brand (Chain)' || header === 'งานโรงพยาบาล/งานคลินิก' || header === 'งานโรงงาน/งานบริษัท/งานวิจัย'">
		<div class="my-4 h3">{{ brandToCategory }}</div> 
			<swiper [slidesPerView]="3" [grid]="{
        rows: 2
        }" [spaceBetween]="15" [navigation]="true" [pagination]="{
        clickable: true
        }" style="height:30vh" class="swiper">
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-1.webp">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-2.webp">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-3.webp">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-4.jpg">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-5.webp">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-6.webp">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-7.png">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-8.png">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
				<ng-template swiperSlide>
					<div class="brandIcon">
						<img src="assets/pharma-brand-9.png">
						<div class="fs-6">5 ตำแหน่ง</div>
					</div>
				</ng-template>
			</swiper>
		</div>
	</div>
</div>