<div class="card w-100" style="border-radius:20px" (click)="goToProfile()">
	<div id="overlay" *ngIf="Active$ | async">
		<div id="text">Inactive</div>
	</div>
	<div class="card-header" [ngStyle]="{'color':urgentFlag?'black': 'white','background':!urgentFlag?content.TimeFrame == 'Full-Time'? '#5cdfe4': content.TimeFrame == 'Part-Time'?'#7fd858': '#dfa5d6':'rgba(0, 0, 0, 0.03)'}">
		<div *ngIf="urgentFlag === true" class="row">
			<div class="col-sm-4 fs-5 align-items-center borderRight" style="border-right: solid 1px grey; text-align: center">
				<div><b>{{content.JobType}}</b></div>
			</div>
			<div class="dateOfJob col-sm fs-5 d-flex w-100 justify-content-center align-items-center">
				<b class="me-3">ทำงานวันที่ </b><div>{{content.DateOfJob}}</div>
			</div>
			<!-- <p class="col-sm w-100 my-auto">อัพเดทล่าสุด {{content.dateUpdated}}"</p> -->
		</div>
		<div class="d-flex justify-content-center" *ngIf="!urgentFlag">
				<div class="col fs-5 text-center">
					<b>{{content.TimeFrame}}</b>
				</div>
		</div>
	</div>
	<div class="card-body" style="padding:0.5rem 1rem">
		<div class="row">
			<div class="col-3 mainImage text-center align-self-center">
				<img (click)="goToOperatorProfile()" style="width: -webkit-fill-available; width: -moz-available;" class="border border-5 border-white rounded-circle" [src]="content.profilePictureUrl" alt="Profile Picture"/>
				
			</div>
			<div class="col-sm col-12 w-100">
				<div class="d-flex justify-content-between me-2 mb-sm-0 mb-3 subImageContainer">
					<div class="subImage text-center align-self-center me-md-0 me-3">
						<img (click)="goToOperatorProfile()" style="width: -webkit-fill-available; width: -moz-available;" class="border border-5 border-white rounded-circle" [src]="content.profilePictureUrl" alt="Profile Picture"/>
					</div>
					<div>
						<div class="text-left fs-5" [id]="'jobName' + content.custom_doc_id" [ngStyle]="{'height':'1.5em', 'word-break': 'break-word', 'overflow':'hidden','-webkit-line-clamp': '2'}">
							<b>{{content.JobName}}</b>
						</div>
						<p class="my-auto fs-6" [ngStyle]="{'height':'2.7em', 'word-break': 'break-word', 'overflow':'hidden','-webkit-line-clamp': '2'}"><i>{{content.Establishment}}</i></p>
					</div>
				</div>
				<div class="container text-center">
					<div class="row mb-2">
						<div class="col-sm col-8 d-flex px-0" *ngIf="!urgentFlag">
							<p class="my-auto me-2">
								<i class="fs-5 my-auto bi bi-currency-bitcoin"></i>
							</p>
							<div class=" fs-6 d-flex flex-row my-auto"  *ngIf="content.Salary.Suffix == 'SalaryNumbers' && content.Salary.Amount !== 0 || content.Salary.Cap !== 0">
								<div class="mx-2">{{content.Salary.Amount}} - {{content.Salary.Amount + content.Salary.Cap}}</div>
							</div>
							<div class=" fs-6 d-flex flex-row my-auto"  *ngIf="content.Salary.Suffix !== 'SalaryNumbers'">
								<div class="mx-2">{{ content.Salary.Suffix | salaryType}}</div>
							</div>
						</div>
						<div *ngIf="!urgentFlag" class="col d-flex">
							<p class="my-auto me-2">
								<i class="my-auto fs-6 bi bi-people"></i>
							</p>
							<p class="my-auto fs-6 ms-2">{{content.Amount}} ตำแหน่ง</p>
						</div>
						<div class="col d-flex" *ngIf="urgentFlag">
							<p class="my-auto me-2">
								<i class="my-auto fs-6 bi bi-clock"></i>
							</p>
							<p class="my-auto fs-6 ms-3">{{content.Duration}} </p>
						</div>
						<div class="col d-flex" *ngIf="urgentFlag">
							<p class="my-auto me-2" *ngIf="content.Location.Province !== ''">
								<i class="fs-6 my-auto bi bi-geo-alt"></i>
							</p>
							<div class="d-flex flex-row my-auto" *ngIf="content.Location.Province !== ''">
								<div class="mx-2 fs-6">{{content.Location.Province}}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col d-flex" *ngIf="urgentFlag">
							<p class="my-auto me-2">
								<i class="fs-5 my-auto bi bi-currency-bitcoin"></i>
							</p>
							<div class="fs-6 d-flex flex-row my-auto">
								<div class="mx-2" *ngIf="content.Salary.Suffix == 'SalaryNumbers'">{{content.Salary.Amount}} - {{content.Salary.Amount + content.Salary.Cap}}</div>
								<div class="mx-2" *ngIf="content.Salary.Suffix !== 'SalaryNumbers'">{{content.Salary.Suffix}}</div>
								<ng-container *ngIf="fullTimeFlag === true; then fullSub; else partSub"></ng-container>
								<ng-template #fullSub>บาท/เดือน</ng-template>
								<ng-template #partSub>บาท/ชม</ng-template>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col d-flex" *ngIf="!urgentFlag">
							<p class="my-auto me-2" *ngIf="content.Location.Province !== ''">
								<i class="fs-6 my-auto bi bi-geo-alt"></i>
							</p>
							<div class="d-flex flex-row my-auto" *ngIf="content.Location.Province !== ''">
								<div class="mx-2 fs-6">{{content.Location.Province}}</div>
							</div>
						</div>
						<div class="col d-flex" *ngIf="!urgentFlag && content.OnlineInterview">
							<p class="my-auto me-2">
								<i class="my-auto fs-6 bi bi-tv"></i>
							</p>
							<p class="my-auto fs-6">สัมภาษณ์ออนไลน์</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mainFooter d-flex justify-content-between m-2 ">
	<div class="footer d-flex" style="align-self:center">
		{{content.dateUpdated}}
	</div>
	<div class="footer d-flex justify-content-end">
		<!-- <div *ngIf="cancelJobFlag">
			<button (click)="cancelRequestJob()" class="btn btn-danger text-center my-2" type="button">
				<div class="fs-5">ยกเลิกสมัคร</div>
			</button>
		</div> -->
		<!-- <div *ngIf="urgentFlag === false && requestButtonFlag" class="justify-content-center my-2 align-items-center d-flex">
			<ng-container *ngIf="requestFlag$ | async; then requestButton; else alreadyRequest"></ng-container>
			<ng-template #alreadyRequest>
				<button (click)="requestJob()" class="btn text-center" style="color: white; background-color:#7fd858" type="button">
					<div class="fs-5" style="width:6rem">รับงาน</div>
				</button>
			</ng-template>
			<ng-template #requestButton>
				<button class="btn text-center btn-warning" type="button">
					<div class="fs-5" style="width:6rem">รอ confirm</div>
				</button>
			</ng-template>
		</div> -->
		<div class="d-flex justify-content-end">
			<!-- <button type="button" class="btn">
				<h1>
					<i class="fs-3 bi bi-share"></i>
				</h1>
			</button> -->
			<button (click)="toggleBookmark()" type="button" class="btn">
					<ng-container *ngIf="bookmarkLoadingFlag; then loading; else notLoading"></ng-container>
					<ng-template #loading>
						<div>
							<div style="text-align:center">
								<div class="spinner-border text-primary" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>
							</div>
						</div>
					</ng-template>
					<ng-template #notLoading>
						<ng-container *ngIf="bookmarkFlag$ | async; then red; else black"></ng-container>
						<ng-template #black>
							<i class="fs-3 bi bi-bookmark"></i>
							
						</ng-template>
						<ng-template #red>
							<i style="color:red" class="fs-3 bi bi-bookmark-fill"></i>
						</ng-template>
					</ng-template>
			</button>
		</div>
	</div>
</div>