<div class="container textProfileResponsive">
  <div
    class="p-4 mt-3 mb-5 m-auto"
    style="width: fit-content; border: 2px solid red"
  >
    ติดต่อสอบถามคิวลงโฆษณาล่วงหน้าและสอบถามรายละเอียดเพิ่มเติมได้ที่<br />
    <ul class="mb-0 customList">
      <li>Email : team-support&#64;pharm-work.com</li>
      <li>Line Official Account : Pharmwork</li>
      <li>Facebook official page : Pharmwork เว็ปไซน์หางานเภสัชกร</li>
    </ul>
  </div>
  <div class="text-center my-5 textResponsiveHeader" style="font-weight: bold">
    ติดต่อ Pharmwork ผ่านช่องทางดังนี้
  </div>
  <div class="d-flex justify-content-between mx-sm-5 px-sm-5 mx-3">
    <div class="text-center" style="font-weight: bold">
      <a
        class="ms-sm-3"
        style="color: black; cursor: pointer"
        href="mailto:team-support@pharm-work.com"
        ><img style="width: 100%" src="assets/buy/gmail.png" /><br />
        Email</a
      >
    </div>
    <div class="text-center" style="font-weight: bold">
      <a
        href="https://www.facebook.com/profile.php?id=100093436122280"
        style="color: black"
        ><img style="width: 100%" src="assets/buy/facebook.png" /><br />
        Facebook</a
      >
    </div>
    <div class="text-center" style="font-weight: bold">
      <a
        href="https://liff.line.me/1645278921-kWRPP32q/?accountId=417cyhwi"
        style="color: black"
        ><img style="width: 100%" src="assets/buy/line.png" /><br />
        Line</a
      >
    </div>
  </div>
</div>
