<ng-container *ngIf="loadingFlag; then loading; else notLoading"></ng-container>
<ng-template #loading>
    <div style="text-align:center" class="mt-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>
<ng-template #notLoading>
    <ng-container *ngIf="localProfileFlag; then displayProfile; else editProfile"></ng-container>
    <ng-template #displayProfile>
        <div class="mx-4 fs-3">
            <div class="row mb-3">
                <div class="col-3 ">
                    <div class="me-3"><b>ชื่อ:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{innerProfileInformation.name}}</div>
                </div>
                <div class="d-flex col flex-row-reverse">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">เปิดเผยข้อมูล</label>
                      </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <div class="me-3"><b>นามสกุล:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{innerProfileInformation.surname}}</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <div class="me-3"><b>เพศ:</b></div>
                </div>
                <div class="col-3">
                    <div class="me-3">{{innerProfileInformation.gender}}</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <div class="me-3"><b>วันเกิด:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{innerProfileInformation.birthday}}</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <div class="me-3"><b>อายุ:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{innerProfileInformation.age}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div><b>ที่อยู่:</b></div>
                </div>
                <div class="col">
                    <div class="row mb-3">
                        <div class="col">
                            {{innerProfileInformation.Location?.address}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <div><b>แขวง:</b></div>
                        </div>
                        <div class="col d-flex flex-row">
                            <div class="">{{innerProfileInformation.Location?.Section}}</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <div><b>เขต:</b></div>
                        </div>
                        <div class="col d-flex flex-row">
                            <div class="">{{innerProfileInformation.Location?.District}}</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <div><b>จังหวัด:</b></div>
                        </div>
                        <div class="col d-flex flex-row">
                            <div class="">{{innerProfileInformation.Location?.Province}}</div>                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <div><b>ปักหมุด:</b></div>
                </div>
                <div class="col">
                    <div class="mt-3 me-3"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <div class="me-3"><b>ระดับการศึกษา:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{innerProfileInformation.educationLevel}}</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <div class="me-3"><b>ข้อมูลการติดต่อ:</b></div>
                </div>
                <div class="col">
                    <div class="row mb-3">
                        <div class="col-2">
                            <div><b>เบอร์โทร:</b></div>
                        </div>
                        <div class="col">
                            <div class="me-3">{{innerProfileInformation.contacts?.phone}}</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <div><b>Email:</b></div>
                        </div>
                        <div class="col">
                            <div class="me-3">{{innerProfileInformation.contacts?.email}}</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <div><b>LINE:</b></div>
                        </div>
                        <div class="col">
                            <div class="me-3">{{innerProfileInformation.contacts?.line}}</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <div><b>Facebook:</b></div>
                        </div>
                        <div class="col">
                            <div class="me-3">{{innerProfileInformation.contacts?.facebook}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-4 fs-3">
            <div class="row mb-3">
                <div class="col-3">
                    <div class="me-3"><b>เลขที่ใบประกอบ ภ:</b></div>
                </div>
                <div class="col">
                    <div class="me-3">{{innerProfileInformation.license}}</div>
                </div>
                <div class="col d-flex flex-row-reverse">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">เปิดเผยข้อมูล</label>
                      </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <div class="me-3"><b>ประวัติการศึกษา:</b></div>
                </div>
                <div class="col">
                    <div *ngFor="let eduGroup of innerProfileInformation.educationHistory">
                        <div class="row mb-3">
                            <div class="col-2">ชื่อสถาบัน:</div>
                            <div class="col">{{eduGroup.universityName}}:</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">สาขา:</div>
                            <div class="col">{{eduGroup.franchise}}:</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">ปีที่จบ:</div>
                            <div class="col">{{eduGroup.yearGraduated}}:</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <div class="me-3"><b>ประวัติการทำงาน:</b></div>
                </div>
                <div class="col">
                    <div *ngFor="let jobGroup of innerProfileInformation.jobHistory">
                        <div class="row mb-3">
                            <div class="col-2">ตำแหน่ง:</div>
                            <div class="col">{{jobGroup.jobName}}:</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">ชื่อบริษัท:</div>
                            <div class="col">{{jobGroup.companyName}}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">ระยะเวลา:</div>
                            <div class="col">
                                <div class="row mb-3">
                                    <div class="col-3">วันที่เริ่มต้น:</div>
                                    <div class="col">{{jobGroup.dateStarted}}</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">วันที่สิ้นสุด:</div>
                                    <div class="col">{{jobGroup.dateEnded}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #editProfile>
        <div class="mx-4">
            <div class="my-5 h1"><b>ตัดต่อ</b></div>
            <form [formGroup]="profileEdit" (ngSubmit)="onSave()">
                <div class="fs-3 my-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="name" class="form-label">
                                <b>ชื่อ:</b>
                            </label>
                        </div>
                        <div class="col-7">
                            <input formControlName="name" type="text" style="width:-fill-webkit-available" class="form-control me-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="surname" class="form-label"><b>นามสกุล:</b></label>
                        </div>
                        <div class="col-7">
                            <input formControlName="surname" type="text" class="form-control me-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="gender" class="form-label"><b>เพศ:</b></label>
                        </div>
                        <div class="col-7">
                            <select formControlName="gender" class="form-select mb-3" aria-label="Default select example">
                                <option selected value="ชาย">ชาย</option>
                                <option value="หญิง">หญิง</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="birthday" class="form-label"><b>วันเกิด:</b></label>
                        </div>
                        <div class="col-7">
                            <input formControlName="birthday" type="date" style="width:fit-content "class="mb-3 form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="address" class="form-label"><b>ที่อยู่:</b></label>
                        </div>
                        <div class="col-7" formGroupName="Location">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <textarea formControlName="address" class="form-control" id="exampleFormControlTextarea1" row="10"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="Section" class="form-label"><b>แขวง:</b></label>
                                </div>
                                <div class="col">
                                    <input formControlName="Section" type="text" class="form-control me-3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="District" class="form-label"><b>เขต:</b></label>
                                </div>
                                <div class="col">
                                    <input formControlName="District" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="Province" class="form-label"><b>จังหวัด:</b></label>
                                </div>
                                <div class="col">
                                    <input formControlName="Province" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <label for="googleLocation" class="col-3 mb-3 form-label"><b>ปักหมุด:</b></label>
                            <div class="col-7">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="educationLevel" class="me-3 form-label"><b>ระดับการศึกษา:</b></label>
                        </div>
                        <div class="col-7">
                            <select formControlName="educationLevel" class="form-select mb-3" aria-label="Default select example">
                                <option selected value="ปริญญาตรี">ปริญญาตรี</option>
                                <option value="ปริญญาโท">ปริญญาโท</option>
                                <option value="ปริญญาโท">ปริญญาเอก</option>
                            </select>
                        </div>
                    </div>
                    <div class="my-3" formGroupName="contacts">
                        <label class="me-3 form-label"><b>ข้อมูลการติดต่อ:</b></label>
                        <div class="row">
                            <div class="col-3">
                                <label for="phone" class="form-label ms-3">เบอร์โทร:</label>
                            </div>
                            <div class="col-7">
                                <input formControlName="phone" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="email" class="form-label ms-3">Email:</label>
                            </div>
                            <div class="col-7">
                                <input formControlName="email" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="line" class="form-label ms-3">LINE:</label>
                            </div>
                            <div class="col-7">
                                <input formControlName="line" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="facebook" class="form-label ms-3">Facebook:</label>
                            </div>
                            <div class="col-7">
                                <input formControlName="facebook" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="license" class="form-label"><b>เลขที่ใบประกอบ ภ:</b></label>
                        </div>
                        <div class="col-7">
                            <input formControlName="license" type="text" class="form-control">
                        </div>
                    </div>
                    <ng-container formArrayName="educationHistory" >
                        <ng-container *ngFor="let number of FormEduData let i = index" [formGroupName] = "i">
                            <div class="row">
                                <div class="col-3">
                                    <label *ngIf='i == 0' class="form-label"><b>ประวัติการศึกษา: </b></label>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="universityName" class="form-label"><b>ชื่อสถาบัน:</b></label>
                                        </div>
                                        <div class="col">
                                            <input formControlName="universityName" type="text" class="form-control me-3">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="franchise" class="form-label"><b>สาขา:</b></label>
                                        </div>
                                        <div class="col">
                                            <input formControlName="franchise" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 mb-3">
                                            <label for="yearGraduated" class="form-label"><b>ปีที่จบ:</b></label>
                                        </div>
                                        <div class="col">
                                            <input formControlName="yearGraduated" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <ng-container *ngIf="i == 0; then add; else noadd"></ng-container>
                                    <ng-template #add>
                                        <i (click)="addEducation()" class="button bi bi-plus-circle-fill"></i>
                                    </ng-template>
                                    <ng-template #noadd>
                                        <i style="visibility:hidden" class="button bi bi-plus-circle-fill"></i>
                                    </ng-template>
                                    <i type="button" (click)="removeEducation(i)"  *ngIf='i !== 0' class=" ms-3 button bi bi-trash-fill"></i>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container formArrayName="jobHistory">
                        <ng-container [formGroupName]="i" *ngFor="let number of FormJobData; let i = index">
                            <div class="row">
                                <div class="col-3">
                                    <label *ngIf='i == 0' class="form-label"><b>ประวัติการทำงาน:</b></label>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="jobName" class="form-label"><b>ตำแหน่ง:</b></label>
                                        </div>
                                        <div class="col">
                                            <input formControlName="jobName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="companyName" class="form-label"><b>ชื่อบริษัท:</b></label>
                                        </div>
                                        <div class="col">
                                            <input formControlName="companyName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-label"><b>ระยะเวลา:</b></label>
                                        </div>
                                        <div class="col">
                                            <label for="dateStarted" class="form-label ">วันที่เริ่มต้น:</label>
                                            <input formControlName="dateStarted" type="date" class="form-control mb-3">
                                            <label for="dateEnded" class="form-label">วันที่สิ้นสุด:</label>
                                            <input formControlName="dateEnded" type="date" class="form-control mb-3">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="description" class="mb-3 form-label"><b>อธิบายงาน:</b></label>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <textarea formControlName="description" class="form-control" row="10"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-1">
                                        <div class="d-flex flex-start">
                                            <ng-container *ngIf="i == 0; then addOccupations; else noaddOccupations"></ng-container>
                                            <ng-template #addOccupations>
                                                <i (click)="addOccupation()"class="button bi bi-plus-circle-fill"></i>
                                            </ng-template>
                                            <ng-template #noaddOccupations>
                                                <i style="visibility:hidden" class="button bi bi-plus-circle-fill"></i>
                                            </ng-template>
                                            <i (click)="removeOccupation(i)"  *ngIf='i !== 0' class=" ms-3 button bi bi-trash-fill"></i>
                                        </div>
                                    </div>
                                    <div class="col form-check">
                                        <input class="form-check-input" type="radio" name="activeFlag" formControlName="activeFlag" (change)="changeDetected($event, i)">
                                        <label for="active" class="text-center fs-5 form-check-label">
                                            ยังอยู่ในตำแหน่งนี้
                                        </label>
                                    </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success fs-2 my-5" type="submit">SAVE</button>
                </div>
            </form>
        </div>
    </ng-template>
</ng-template>
<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Save Changes?</h4>
                <button type="button" class="btn btn-white close" aria-label="Close" (click)="cancelEventClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to save your changes before exit?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="discardClick()">Discard</button>
                <button type="button" class="btn btn-success" (click)="onSave()">Save</button>
            </div>
        </div>
    </div>
</div>
