@media only screen and (max-width: 400px) {
    .innerProfileTabList{
      overflow-x:scroll
    }
}
@media only screen and (max-width: 450px) {
    .privacySection > button {
        margin: auto;
        font-size:small !important
    }
    .privacySection > div {
        font-size:small !important
    }
    .privacySection{
        font-size:small !important
    }
    .privacyDropdown > li > a{
        font-size:small !important
    }
    .privacyDropdown > li > a > div{
        font-size:small !important
    }
}
@media only screen and (max-width: 576px) {
    .privacySection{
      text-align:center;
      margin-top: 3rem
    }
    .privacySection > button {
        margin: auto
    }
}
@media only screen and (max-width: 768px) {
    .upperTitle{
        display: block !important
    }
    .privacySection{
      display:flex 
    }
}
@media only screen and (max-width: 992px) {
    .sticky-top{
        position: unset !important
    }
    .privacySection{
      display:block
    }
    .tabList{
        font-size:medium !important
    }
    .mainTitle{
        text-align:center
    }
    .borderLine{
        display:none
    }
}
.nav-item{
    padding-right:1rem;
    text-align:center
}
.nav-link{
    color:black
}
.nav-link.active{
    color: rgb(127, 216, 88)
}
.dropdown-item{
    font-size:2rem;
}
.button:hover{
    color:blue
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
 max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}