<ng-container *ngIf="requiredFlag; then required; else notRequired"></ng-container>
<ng-template #required>
    
    <div [formGroup]="parentFormGroup">
        <div class="row mt-3 verticalKeyGap" [formGroupName]="formGroupName">
            <div class="d-flex flex-row verticalKeyGap">
                <div class="keyValueGap"><i class="textProfileResponsive i bi-pin-map-fill"></i></div>
                <div style="width:-webkit-fill-available; width:-moz-available">
                    <div class="keyValueGap textProfileResponsive">
                        <div><b>พื้นที่ปฏิบัติงาน</b></div>
                    </div>
                    <div>
                        <div *ngIf="submitted && getParentFormGroup['Province']!.errors" class="invalid-feedback2">
                            <div *ngIf="getParentFormGroup['Province']!.errors!['required']">กรุณาระบุจังหวัด</div>
                        </div>
                        <select formControlName="Province" (change)="provinceSelected($event)" name="province" class="mb-3 form-select textProfileResponsive border-input" [ngClass]="{ 'is-invalid': submitted && getParentFormGroup['Province']!.errors}">
                            <option selected disabled value="">เลือกจังหวัด</option>
                            <option *ngFor="let province of province$ | async" [ngValue]="province">{{province}}</option>
                        </select>
                        <div *ngIf="submitted && getParentFormGroup['District']!.errors" class="invalid-feedback2">
                            <div *ngIf="getParentFormGroup['District']!.errors!['required']">กรุณาระบุเขต</div>
                        </div>
                        <select formControlName="District" (change)="districtSelected($event)" name="district" class="mb-3 form-select textProfileResponsive border-input" [ngClass]="{ 'is-invalid': submitted && getParentFormGroup['District']!.errors}">
                            <option selected disabled value="">เลือกเขต</option>
                            <option *ngFor="let district of district$ | async" [ngValue]="district">{{district}}</option>
                        </select>
                        <div *ngIf="submitted && getParentFormGroup['Section']!.errors" class="invalid-feedback2">
                            <div *ngIf="getParentFormGroup['Section']!.errors!['required']">กรุณาระบุแขวง</div>
                        </div>
                        <select formControlName="Section" (change)="sectionSelected($event)" name="section" class="mb-3 form-select textProfileResponsive border-input" [ngClass]="{ 'is-invalid': submitted && getParentFormGroup['Section']!.errors}">
                            <option selected disabled value="">เลือกแขวง</option>
                            <option *ngFor="let section of section$ | async" [ngValue]="section">{{section}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #notRequired>
    <div [formGroup]="parentFormGroup">
        <div [formGroupName]="formGroupName">
            <div class="d-flex flex-row verticalKeyGap">
                <div class="keyValueGap"><i class="textProfileResponsive bi bi-pin-map-fill"></i></div>
                <div style="width:-webkit-fill-available; width:-moz-available">
                    <div class="keyValueGap textProfileResponsive">
                        <div class="textProfileResponsive"><b>พื้นที่ตั้งของบริษัท</b></div>
                    </div>
                    <div>
                        <select formControlName="Province" (change)="provinceSelected($event)" name="province" class="form-select mb-3 border-input textProfileResponsive">
                            <option value="" selected disabled>เลือกจังหวัด</option>
                            <option *ngFor="let province of province$ | async" [ngValue]="province">{{province}}</option>
                        </select>
                        <select formControlName="District" (change)="districtSelected($event)" name="district" class="form-select mb-3 border-input textProfileResponsive">
                            <option value="" selected disabled>เลือกเขต</option>
                            <option *ngFor="let district of district$ | async" [ngValue]="district">{{district}}</option>
                        </select>
                        <select formControlName="Section" (change)="sectionSelected($event)" name="section" class="form-select mb-3 border-input textProfileResponsive">
                            <option value="" selected disabled>เลือกแขวง</option>
                            <option *ngFor="let section of section$ | async" [ngValue]="section">{{section}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>