@media only screen and (max-width: 576px){
  .cardContent > div{
    display: flex;
    justify-content: center;
  }
  .nickName{
    text-align: center
  }
  .cardKeyValue{
    width: 40vw
  }
}
@media only screen and (max-width: 482px){
  .cardKeyValue{
    width: 50vw !important
  }
}

@media only screen and (max-width: 450px){
  .cardContent > div{
    font-size: smaller !important
  }
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.5rem;
    column-gap:3rem;
    font-size: 1rem;
  }
.rounded{
  border-radius:20px !important
}
.card:hover{
  background-color: rgba(88, 92, 89, 0.3);
  cursor:pointer
}
.btn-primary, btn-primary:hover{
  background:#5cdfe4;
  border-color: #5cdfe4
}
.btn-success{
  background:rgb(127, 216, 88);
  border:rgb(127, 216, 88)
}
.fullTime{
  background:#5cdfe4;
  border-color: #5cdfe4
}
.partTime{
background:#7fd858;
border-color: #7fd858
}