<div class="card rounded m-sm-3 pb-3"  (click)="goToProfile()">
    <div class="p-2 d-flex d-flex justify-content-center align-items-center fs-5" style="width: -webkit-fill-available; width: -moz-available; border-radius:20px 20px 0px 0px; text-align: center" [ngStyle]="{'color': type === 'S'?'black': 'white', 'background-color' : type == 'S' || content.preferredTimeFrame == '' || content.preferredTimeFrame == undefined? 'rgba(0, 0, 0, 0.03)':content.preferredTimeFrame == 'Full-Time'?'#5cdfe4': content.preferredTimeFrame == 'Part-Time'?'#7fd858':'#dfa5d6'}">
        <div *ngIf="type !== 'S'" class="col" [ngStyle]="{'visibility': content.preferredTimeFrame == undefined || content.preferredTimeFrame == ''?'hidden': 'unset'}"><b>{{content.preferredTimeFrame == undefined || content.preferredTimeFrame == ''?'fff' : content.preferredTimeFrame == 'Full-Time และ Part-Time'?'Full-Time และ Part-Time' : content.preferredTimeFrame}}</b></div>
        <div *ngIf="type  == 'S'"><b>งานด่วน</b></div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-12 d-flex">
                <img [src]="content.cropProfilePictureUrl !== undefined? content.cropProfilePictureUrl: content.profilePictureUrl"  (click)="goToProfile()" class="card-img-top m-auto my-3 rounded-circle border border-5 border-white" style="width:fit-content" height="150" width="150">
        </div>
        <div class="col-sm col fs-5 m-auto cardContent">
            <div class="row py-1 fs-4 nickName">
                <b class="col-sm col-8">{{content.nickName}}</b>
            </div>
            <div class="row py-1">
                <div class="col-1">
                    <i class="bi bi-person"></i>
                </div>
                <div class="col-sm cardKeyValue" [ngStyle]="{'color': content.active === 'จำกัดการดูข้อมูล'? 'blue': content.active === 'ไม่อนุญาติให้ดูข้อมูล'? 'red': 'black' }">
                    {{content.active === 'อนุญาตให้ดูข้อมูล'? content.name + ' ' + content.surname:content.active}}
                </div>
            </div>
            <div class="row py-1">
                <ng-container *ngIf="type == 'S'; then realLocation; else preferredLocation"></ng-container>
                <ng-template #realLocation>
                    <div class="col-1">
                        <i class="bi bi-house"></i>
                    </div>
                    <div class="col-sm cardKeyValue">
                        {{content.Location?.District | emptyField}}, {{content.Location?.Province | emptyField}}
                    </div>
                </ng-template>
                <ng-template #preferredLocation>
                    <div class="col-1">
                        <i class="bi bi-geo"></i>
                    </div>
                    <div class="col-sm cardKeyValue">
                        {{content.preferredDistrict | emptyField}}, {{content.preferredProvince | emptyField}}
                    </div>
                </ng-template>
            </div>
            <div class="row py-1" *ngIf="type !== 'S'">
                <div class="col-1">
                    <i class="bi bi-briefcase"></i>
                </div>
                <div class="col-sm cardKeyValue">
                    ประสบการณ์ทำงาน {{content.WorkExperience | workExperience : content.yearFlag}}
                </div>
            </div>
            <div class="row py-1" *ngIf="type !== 'S'">
                <div class="col-1">
                    <i class="bi bi-award"></i>
                </div>
                <div class="col-sm cardKeyValue">
                    การศึกษาสูงสุด {{content.highestEducation | emptyField}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end ms-3 mt-1 fs-5" *ngIf="!requestStatusFlag">
    อัพเดท {{content.dateUpdated}}
</div>
<div class="m-3 d-flex justify-content-end">
    <!-- <button *ngIf="type == 'S'" class="btn fs-3 ms-3" style="color:white; background-color: #7fd858">ส่งงานด่วน</button> -->
    <ng-container *ngIf="!profileLinkPage; then request; else notRequest"></ng-container>
    <ng-template #request>
        <button class="btn btn-danger fs-3" (click)="cancelRequest()">cancel Request</button>
    </ng-template>
    <ng-template #notRequest>
        <ng-container *ngIf="requestStatusFlag; then status; else notStatus"></ng-container>
        <ng-template #status>
            <div class="d-sm-flex justify-content-between align-items-center" style="width:-webkit-fill-available; width: -moz-available">
                <div class="fs-5">ขอดูเมื่อ {{ requestStatus.dateSent}}</div>
                <div class="d-flex justify-content-end align-items-center">
                    <div *ngIf="cancelRequestViewFlag" style="text-align:center" class="me-3">
                        <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <ng-container *ngIf="requestStatus.status == 'Pending'; then pending; else notPending"></ng-container>
                    <ng-template #pending>
                            <button class="btn btn-warning fs-5 ms-3 rounded" style="color:white">
                                <i class="bi bi-three-dots me-3"></i>รออนุมัติ
                            </button>
                        </ng-template>
                        <ng-template #notPending>
                            <button style="border-color: #7fd858; background:#7fd858" class="btn fs-5 ms-3 rounded" style="color:white">
                                <i class="bi bi-check-circle me-3"></i>อนุมัติแล้ว
                            </button>
                        </ng-template>
                        <div (click)="deleteRequestView()"><i class="bi bi-trash3 ms-3"></i></div>
                </div>
            </div>
        </ng-template>
        <ng-template #notStatus>
            <ng-container *ngIf="requestViewFlag$ | async; then requestView; else notRequestView"></ng-container>
                <ng-template #requestView>
                    <button [ngStyle]="{'display': type == 'S'?'none':'block','visibility': type !== 'S' && content.active == 'จำกัดการดูข้อมูล'? 'unset': 'hidden' }" class="btn fs-3" style="color:white; background-color: grey">{{ requestStatus.status == 'Pending'?'รออนุมัติ':'อนุมัติแล้ว' }}</button>
                </ng-template>
                <ng-template #notRequestView>
                    <button (click)="openRequestViewModal()" [ngStyle]="{'display': type == 'S'?'none':'block','visibility': type !== 'S' && content.active == 'จำกัดการดูข้อมูล'? 'unset': 'hidden' }" class="btn btn-primary fs-3">ขอดูข้อมูล</button>
                </ng-template>
            <div class="text-danger fs-3 mx-3">
                <button (click)="toggleFavorite()" type="button" class="btn">
                    <ng-container *ngIf="favoriteLoadingFlag; then loading; else notLoading"></ng-container>
                    <ng-template #loading>
                        <div>
                            <div style="text-align:center">
                                <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #notLoading>
                        <ng-container *ngIf="favoriteFlag$ | async; then red; else normal"></ng-container>
                        <ng-template #normal>
                            <div class="fs-3"><i class="bi bi-heart"></i></div>
                        </ng-template>
                        <ng-template #red>
                            <div class="text-danger fs-3"><i class="bi bi-heart-fill"></i></div>
                        </ng-template>
                    </ng-template>
                </button>
            </div>
        </ng-template>
    </ng-template>
</div>