.grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.5rem;
    column-gap:3rem;
    font-size: 1rem;
  }
.rounded{
  border-radius:20px !important
}
.btn-primary{
  background:#5cdfe4;
  border-color: #5cdfe4
}
.btn-success{
  background:rgb(127, 216, 88);
  border:rgb(127, 216, 88)
}