@media only screen and (max-width: 1400px) {
    .responsiveButton{
        text-align: center;
    }
}
@media only screen and (max-width: 1200px) {

    .historyContent, .historyCount{
        padding-left: 0 !important
    }
    .phantom{
        display: unset !important
    }
}
@media only screen and (max-width: 992px) {
    .sticky-top{
        position: unset !important
    }
    .nav-link{
        text-align:center
    }
    .cannotView{
        padding: 0 7rem !important;
        font-size: smaller 
    }
    .jobTypePayload {
        font-size: smaller
    }
    .tabList{
        font-size:medium !important
    }
}
@media only screen and (max-width: 780px) {
    .operatorPageTabList{
        overflow-x:scroll
    }
  }
@media only screen and (max-width: 768px) {
    .subHeader{
        margin-left:0 !important
    }
    .historyHeader{
        display:block !important
    }
    .cannotView{
        padding: 0 2rem !important;
        font-size:medium !important
    }
    .jobTypePayload {
        font-size: medium !important
    }
    .educationCell{
        margin-bottom: 2rem !important
    }
    .textResponsive{
        font-size: medium !important
    }
    .historyContainer{
        padding:2rem !important
    }
}
@media only screen and (max-width: 576px) {
      .jobTypePayload{
          padding-left:9px !important
      }
      .keyValueGap{
          margin-right: 1rem !important
      }
  }
@media only screen and (max-width: 515px) {
    .contentContainer{
        padding: 1rem !important
    }
    .contacts{
        margin-left: 0.3rem !important
    }
    .historyContainer{
        padding: 2rem !important
    }
}
@media only screen and (max-width: 400px) {
    .fourPointKeyValuePreferred{
        font-size:3.5vw!important
    }
}
.nav-item{
    padding:0 1rem
}
.nobr{
    white-space: nowrap
}
#navToScroll{
    scroll-margin-top: 90px;
}
.nav-link{
    color:black
}
.nav-link.active{
    color: rgb(127, 216, 88)
}
.keyValueGap{
    margin-right:2.5rem
}
.contacts > .verticalKeyGap > .keyValueGap{
    margin-right:1rem
}
.contacts > .verticalKeyGap{
    margin-bottom:2rem
}
.verticalKeyGap{
    margin-bottom:2rem
}
.phantom{
    display:none
}
.subHeader{
    margin-left:5rem
}