<div class="container">
    <app-profileheader profileType="pharma-profile"></app-profileheader>
    <div id="navToScroll" class="container my-4 sticky-top" style="top:97px; border-radius:60px; background:white">
        <ul class="nav nav-underline py-3 mb-2 fs-2  flex-column flex-lg-row tabList" style="top:180px; --bs-nav-underline-gap:0 1rem; z-index: 0">
            <li class="nav-item">
                <a class="flex-lg-fill text-lg-center nav-link active" id="main-profile" data-bs-toggle="tab" data-bs-target="#tabOne" aria-controls="tabOne" type="button" role="tab">โปรไฟล์</a>
            </li>
            <li class="nav-item">
              <a class="flex-lg-fill text-lg-center nav-link" data-bs-toggle="tab" id="private-profile" data-bs-target="#tabTwo" aria-controls="tabTwo" type="button" role="tab" aria-current="page">ข้อมูลส่วนตัว</a>
            </li>
            <li class="nav-item">
              <a class="flex-lg-fill text-lg-center nav-link" data-bs-toggle="tab" id="preferred-jobs" data-bs-target="#tabThree" aria-controls="tabThree" type="button" role="tab" aria-current="page">งานที่กำลังมองหา</a>
            </li>
            <!-- <li class="nav-item">
              <a class="flex-lg-fill text-lg-center nav-link" data-bs-toggle="tab" id="urgent-jobs" data-bs-target="#tabFour" aria-controls="tabFour" type="button" role="tab" aria-current="page">การรับงานด่วน</a>
            </li> -->
        </ul>
    </div>
    <div class="container mt-4 historyContainer" style="padding:4rem; background-color:white; border-top-left-radius:20px; border-top-right-radius: 20px">
        <div class="tab-content fs-3" style="line-break: auto">
            <div class="tab-pane active" id="tabOne" role="tabpanel" aria-labelledby="tabOne-tab">
                <div class="verticalKeyGap">
                    <div class="historyHeader d-flex flex-row">
                        <div class="d-flex flex-row">
                            <div class="keyValueGap"><i class="textResponsive bi bi-award me-2"></i></div>
                            <div class="textResponsive"><b>ประวัติการศึกษา</b></div>
                        </div>
                        <div class="d-flex">
                            <div class="phantom keyValueGap" style="visibility:hidden"><i class="bi bi-briefcase me-2"></i></div>
                            <div style="margin-left:5rem" class="textResponsive subHeader">ระดับการศึกษาสูงสุด {{innerProfileInformation!.highestEducation | emptyField}}</div>
                        </div>
                    </div>
                    <div class="mt-4 historyContent" style="padding-left:6rem">
                        <ul>
                            <li style="margin-bottom:4rem" class="educationCell" *ngFor="let eduGroup of innerProfileInformation!.educationHistory">
                                <div class="d-flex flex-row verticalKeyGap">
                                    <div class="textResponsive">{{eduGroup.yearGraduated}}</div>
                                </div>
                                <div class="row verticalKeyGap">
                                    <div class="textResponsive col-6"><b>มหาวิทยาลัย</b> {{eduGroup.universityName}}</div>
                                    <div class="textResponsive col-6"><b>ระดับการศึกษา</b> {{eduGroup.educationLevel}}</div>
                                </div>
                                <div class="row">
                                    <div class="textResponsive col-6"><b>คณะ</b> {{eduGroup.major}}</div>
                                    <div class="textResponsive col-6"><b>สาขา</b> {{eduGroup.franchise}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="row mb-3">
                    <div class="col-3">
                        <div class="me-3"><b>ประสบการณ์งาน</b></div>
                    </div>
                    <div class="col">
                        {{ WorkExperience }}
                    </div>
                </div> -->
                <div class="verticalKeyGap">
                    <div class="d-flex flex-row historyHeader">
                        <div class="d-flex flex-row">
                            <div class="keyValueGap textResponsive"><i class="bi bi-briefcase me-2"></i></div>
                            <div class="textResponsive"><b>ประวัติการทำงาน</b></div>
                        </div>
                        <div class="d-flex">
                            <div class="phantom keyValueGap textResponsive" style="display:none; visibility:hidden"><i class="bi bi-briefcase me-2"></i></div>
                            <div class="subHeader textResponsive" style="margin-left:5rem">ประสบการณ์ทำงานทั้งหมด {{innerProfileInformation!.WorkExperience}} ปี</div>
                        </div>
                    </div>
                    <div class="mt-4 historyCount" style="padding-left: 6rem">
                        <ul>
                            <li *ngFor="let jobGroup of innerProfileInformation!.jobHistory">
                                <div class="textResponsive verticalKeyGap d-flex justify-content-start">
                                    <div class="me-5">
                                        {{jobGroup.dateStarted.replace('-', '/')}} - {{jobGroup.activeFlag? "ปัจจุบัน":jobGroup.dateEnded.replace('-', '/')}}
                                    </div>
                                    <div>
                                        {{jobGroup.activeFlag? '':jobGroup.workExperience}}
                                    </div>
                                </div>
                                <div class="verticalKeyGap textResponsive">
                                    <div>{{jobGroup.companyName}}</div>
                                </div>
                                <div class="verticalKeyGap textResponsive">
                                    <div>{{jobGroup.jobName}}</div>
                                </div>
                                <div class="verticalKeyGap textResponsive" [innerHTML]="jobGroup.description | emptyField">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabTwo" role="tabpanel" aria-labelledby="tabTwo-tab">
                <div *ngIf="!allowView">
                    <div class="d-flex justify-content-between" *ngIf="innerProfileInformation?.active == 'จำกัดการดูข้อมูล'" style="margin-bottom:5rem">
                        <div class="container cannotView" style="padding: 0 12rem; text-align:center">
                            <div><i style="font-size:5rem"  class="bi bi-clipboard-check"></i></div>
                            <div>เภสัชกรท่านนี้จำกัดการดูข้อมูล คุณสามารถกดปุ่ม ขอดูข้อมูล ด้านบนได้เพื่อขอดูข้อมูลติดต่อของผู้สมัคร</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between" *ngIf="innerProfileInformation?.active == 'ไม่อนุญาติให้ดูข้อมูล'" style="margin-bottom:5rem">
                    <div class="container cannotView" style="padding: 0 12rem; text-align:center">
                        <div class="mt-4"><i style="font-size:5rem" class="bi bi-clipboard-x"></i></div>
                        <div>เภสัชกรท่านนี้ ไม่อนุญาตให้ดูข้อมูล คุณจะไม่สามารถขอดูข้อมูลติดต่อของผู้สมัครได้</div>
                    </div>
                </div>
                <ng-container *ngIf="allowView; then allowViews; else notAllowView"></ng-container>
                <ng-template #allowViews>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row verticalKeyGap">
                            <div class="keyValueGap"><i class="bi bi-person"></i></div>
                            <div class="keyValueGap">
                                <div><b>เภสัชกร</b></div>
                            </div>
                            <div class="col d-flex">
                                <div class="me-2">{{innerProfileInformation.name}}</div><div>{{innerProfileInformation.surname}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row verticalKeyGap">
                            <div class="keyValueGap"><i class="bi bi-gender-ambiguous"></i></div>
                            <div class="keyValueGap"><b>เพศ</b></div>
                            <div>{{innerProfileInformation.gender | emptyField}}</div>
                    </div>
                    <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap"><i class="bi bi-house"></i></div>
                        <div class="keyValueGap">
                            <div><b>ที่อยู่</b></div>
                        </div>
                        <div class="d-flex flex-row">
                            <div>{{innerProfileInformation!.Location?.Province | emptyField}}, {{innerProfileInformation!.Location?.District | emptyField}}</div>                    
                        </div>
                    </div>
                    <div class="verticalKeyGap">
                        <div class="d-flex flex-row">
                            <div class="keyValueGap">
                                <i class="bi bi-phone"></i>
                            </div>
                            <div class="keyValueGap">
                                <div><b>ข้อมูลการติดต่อ</b></div>
                            </div>
                        </div>
                        <div class="mt-4 contacts" style="margin-left:6rem">
                            <div class="d-flex flex-row verticalKeyGap">
                                <i class="bi bi-telephone" style="margin-right:2rem"></i>
                                <div class="keyValueGap">
                                    <div class="nobr">เบอร์โทร</div>
                                </div>
                                <div class="col">
                                    <div class="me-3">{{innerProfileInformation.contacts?.phone | emptyField}}</div>
                                </div>
                            </div>
                            <div class="d-flex flex-row verticalKeyGap">
                                <i class="bi bi-envelope-at" style="margin-right:2rem"></i>
                                <div class="keyValueGap">
                                    <div>Email</div>
                                </div>
                                <div class="col">
                                    <div class="me-3">{{innerProfileInformation.contacts?.email | emptyField}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #notAllowView>
                    <div class="d-flex justify-content-between" *ngIf="innerProfileInformation?.active == 'อนุญาตให้ดูข้อมูล'">
                        <div class="d-flex flex-row verticalKeyGap">
                            <div class="keyValueGap"><i class="bi bi-person"></i></div>
                            <div class="keyValueGap">
                                <div><b>เภสัชกร</b></div>
                            </div>
                            <div class="col d-flex">
                                <div class="me-2">{{innerProfileInformation.name | emptyField}}</div><div>{{innerProfileInformation.surname | emptyField}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row verticalKeyGap">
                            <div class="keyValueGap"><i class="bi bi-gender-ambiguous"></i></div>
                            <div class="keyValueGap"><b>เพศ</b></div>
                            <div>{{innerProfileInformation.gender | emptyField}}</div>
                    </div>
                    <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap"><i class="bi bi-house"></i></div>
                        <div class="keyValueGap">
                            <div><b>ที่อยู่</b></div>
                        </div>
                        <div class="d-flex flex-row">
                            <div>{{innerProfileInformation!.Location?.Province | emptyField}}, {{innerProfileInformation!.Location?.District | emptyField}}</div>                    
                        </div>
                    </div>
                    <div class="verticalKeyGap" *ngIf="innerProfileInformation?.active == 'อนุญาตให้ดูข้อมูล'">
                        <div class="d-flex flex-row">
                            <div class="keyValueGap">
                                <i class="bi bi-phone"></i>
                            </div>
                            <div class="keyValueGap">
                                <div><b>ข้อมูลการติดต่อ</b></div>
                            </div>
                        </div>
                        <div class="mt-4 contacts" style="margin-left:6rem">
                            <div class="d-flex flex-row verticalKeyGap">
                                <i class="bi bi-telephone" style="margin-right:2rem"></i>
                                <div class="keyValueGap">
                                    <div>เบอร์โทร</div>
                                </div>
                                <div class="col">
                                    <div class="me-3">{{innerProfileInformation.contacts?.phone | emptyField}}</div>
                                </div>
                            </div>
                            <div class="d-flex flex-row verticalKeyGap">
                                <i class="bi bi-envelope-at" style="margin-right:2rem"></i>
                                <div class="keyValueGap">
                                    <div>Email</div>
                                </div>
                                <div class="col">
                                    <div class="me-3">{{innerProfileInformation.contacts?.email | emptyField}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="tab-pane" id="tabThree" role="tabpanel" aria-labelledby="tabThree-tab">
                <div class="d-flex flex-row verticalKeyGap">
                    <i class="bi bi-clipboard keyValueGap"></i>
                    <div><b>ประเภทงานที่สนใจ</b></div>
                    <div class="ms-3" *ngIf="innerProfileInformation!.preferredJobType!.length == 0">ไม่ระบุ</div>
                </div>
                <div *ngIf="innerProfileInformation!.preferredJobType!.length > 0" class="jobTypePayload" style="padding-left:6rem">
                    <ul class="row row-cols-2">
                        <li class="verticalKeyGap col" *ngFor="let jobType of innerProfileInformation!.preferredJobType">
                            {{jobType}}
                        </li>
                    </ul>
                </div>
                    <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap d-flex flex-row">
                            <i class="bi bi-lightbulb keyValueGap"></i>
                            <div><b>ชนิดของพนักงาน</b></div>
                        </div>
                        <div>
                            {{innerProfileInformation!.preferredTimeFrame | emptyField}}
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center verticalKeyGap">
                        <div class="keyValueGap d-flex flex-row">
                            <i class="bi bi-geo-alt keyValueGap"></i>
                            <div><b>หางานพื้นที่</b></div>
                        </div>
                        <div class="contacts">
                            <div class="row">
                                <div class="keyValueGap">
                                    {{innerProfileInformation!.preferredDistrict | emptyField}}, {{innerProfileInformation!.preferredProvince | emptyField}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap d-flex flex-row">
                            <i class="bi bi-currency-bitcoin keyValueGap"></i>
                            <div><b>เงินเดือนที่ต้องการ</b></div>
                        </div>
                        <div>
                                {{innerProfileInformation!.preferredSalary | emptyField}}
                        </div>
                    </div>
                    <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap d-flex flex-row">
                            <i class="bi bi-check2-circle keyValueGap"></i><div><b>สามารถเริ่มงานได้ </b></div>
                        </div>
                        <div>
                                {{innerProfileInformation!.preferredStartTime | emptyField}}
                        </div>
                    </div>
            </div>
            <div class="tab-pane" id="tabFour" role="tabpanel" aria-labelledby="tabOnFour-tab">
                <div class="container cannotView" style="padding: 0 12rem; text-align:center">
                    <div><i style="font-size:5rem"  [class]="urgentJobObject.icon"></i></div>
                    <div>{{urgentJobObject.text}}</div>
                    <div class="mt-4"><i style="font-size:5rem" class="bi bi-card-checklist"></i></div>
                    <div>จำนวนงานด่วนที่เคยรับ {{innerProfileInformation!.AmountCompleted}} งาน</div>
                </div>
            </div>
          </div>
    </div>
</div>