<div class="container">
    <app-profileheader profileType="pharma-profile"></app-profileheader>
    <div id="navToScroll" class="container my-4 sticky-top standard-shadow" style="top:97px; z-index:0; border-radius:60px; background:white">
        <div class="operatorPageTabList">
            <ul class="nav nav-underline py-3 mb-2 fs-3 flex-row tabList" style="width:max-content; top:180px; --bs-nav-underline-gap:0 1rem; z-index: 0">
                <li class="nav-item">
                    <a class="flex-lg-fill text-lg-center nav-link active" id="main-profile" data-bs-toggle="tab" data-bs-target="#tabOne" aria-controls="tabOne" type="button" role="tab">โปรไฟล์</a>
                </li>
                <li class="nav-item">
                  <a class="flex-lg-fill text-lg-center nav-link" data-bs-toggle="tab" id="private-profile" data-bs-target="#tabTwo" aria-controls="tabTwo" type="button" role="tab" aria-current="page">ข้อมูลส่วนตัว</a>
                </li>
                <li class="nav-item">
                  <a class="flex-lg-fill text-lg-center nav-link" data-bs-toggle="tab" id="preferred-jobs" data-bs-target="#tabThree" aria-controls="tabThree" type="button" role="tab" aria-current="page">งานที่กำลังมองหา</a>
                </li>
                <li class="nav-item">
                  <a class="flex-lg-fill text-lg-center nav-link" data-bs-toggle="tab" id="urgent-jobs" data-bs-target="#tabFour" aria-controls="tabFour" type="button" role="tab" aria-current="page">งานเภสัชรายวัน</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container mt-4 historyContainer standard-shadow semi-border-input" style="padding:4rem; background-color:white; border-top-left-radius:20px; border-top-right-radius: 20px">
        <div class="tab-content" style="line-break: auto">
            <div class="tab-pane active" id="tabOne" role="tabpanel" aria-labelledby="tabOne-tab">
                <div class="verticalKeyGap">
                    <div class="historyHeader d-flex verticalKeyGap flex-row">
                        <div class="d-flex flex-row mb-md-0 mb-3">
                            <div class="keyValueGap" style="display: flex; align-items:center"><i class="textProfileResponsive bi bi-mortarboard-fill me-2"></i></div>
                            <div class="textProfileResponsive"><b>ประวัติการศึกษา</b></div>
                        </div>
                        <div class="d-flex">
                            <div style="border:1px solid red" class="border-input textProfileResponsive subHeader px-3">ระดับการศึกษาสูงสุด {{innerProfileInformation.highestEducation | emptyField}}</div>
                        </div>
                    </div>
                    <div class="historyContent textProfileResponsive">
                        <div class="d-flex">
                            <div class="keyValueGap d-lg-flex d-none" style="visibility:hidden; display: flex; align-items:center"><i class="textProfileResponsive bi bi-mortarboard-fill me-2"></i></div>
                            <ul>
                                <li class="educationCell" *ngFor="let eduGroup of innerProfileInformation.educationHistory">
                                    <div class="verticalKeyGap"><b>ปีที่จบ</b> {{eduGroup.yearGraduated | emptyField}}</div>
                                    <div class="verticalKeyGap"><b>มหาวิทยาลัย</b> {{eduGroup.universityName | emptyField}}</div>
                                    <div class="verticalKeyGap"><b>คณะ</b> {{eduGroup.major | emptyField}}</div>
                                    <div class="verticalKeyGap"><b>สาขา</b> {{eduGroup.franchise | emptyField}}</div>
                                    <div class="verticalKeyGap"><b>ระดับการศึกษา</b> {{eduGroup.educationLevel | emptyField}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="verticalKeyGap">
                    <div class="d-flex flex-row historyHeader verticalKeyGap">
                        <div class="d-flex flex-row mb-md-0 mb-3">
                            <div class="keyValueGap textProfileResponsive" style="display: flex; align-items: center"><i class="bi bi-award-fill me-2"></i></div>
                            <div class="textProfileResponsive"><b>ประวัติการทำงาน</b></div>
                        </div>
                        <div class="d-flex">
                            <div style="border:1px solid red" class="border-input subHeader textProfileResponsive px-3">ประสบการณ์ทำงานทั้งหมด {{innerProfileInformation.WorkExperience | workExperience : innerProfileInformation.yearFlag}}</div>
                        </div>
                    </div>
                    <div class="historyContent textProfileResponsive">
                        <div class="d-flex">
                            <div class="keyValueGap d-lg-flex d-none textProfileResponsive" style="visibility:hidden; display: flex; align-items: center"><i class="bi bi-award-fill me-2"></i></div>
                            <ul>
                                <li *ngFor="let jobGroup of innerProfileInformation.jobHistory">
                                    <div class="textProfileResponsive verticalKeyGap d-flex justify-content-start">
                                        <div class="me-5"><b>{{jobGroup.dateStarted}} - {{jobGroup.activeFlag? "ปัจจุบัน":jobGroup.dateEnded | emptyField}}</b></div>
                                        <div>{{jobGroup.activeFlag? '':jobGroup.workExperience | emptyField}}</div>
                                    </div>
                                    <div class="textProfileResponsive verticalKeyGap">
                                        <div>{{jobGroup.companyName | emptyField}}</div>
                                    </div>
                                    <div class="textProfileResponsive verticalKeyGap">
                                        <div>{{jobGroup.jobName | emptyField}}</div>
                                    </div>
                                    <div [innerHtml]="jobGroup.description" class="textProfileResponsive verticalKeyGap">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="keyValueGap">
                            <b><i class="bi bi-stars "></i></b>
                        </div>
                        <label class="textProfileResponsive"><b>ความสามารถเพิ่มเติม</b></label>
                    </div>
                    <div class="d-flex flex-row textProfileResponsive">
                        <div class="keyValueGap d-lg-flex d-none textProfileResponsive" style="visibility:hidden; display: flex; align-items: center"><i class="bi bi-award-fill me-2"></i></div>
                        <div class="w-100">
                            <div class="verticalKeyGap">
                                <ul>
                                    <li>
                                        <div class="keyValueGap verticalKeyGap">
                                            <div>ภาษาอังกฤษ</div>
                                        </div>
                                        <div class="row">
                                            <label class="align-items-center keyValueGap col-3">ฟัง</label>
                                            <div class="col">ระดับทักษะ</div>
                                            <div class="col verticalKeyGap">{{innerProfileInformation.englishComprehension?.listening | emptyField}}</div>
                                        </div>
                                        <div class="row">
                                            <label class="align-items-center keyValueGap col-3">พูด</label>
                                            <div class="col">ระดับทักษะ</div>
                                            <div class="col verticalKeyGap">{{innerProfileInformation.englishComprehension?.speaking | emptyField}}</div>
                                        </div>
                                        <div class="row">
                                            <label class="align-items-center keyValueGap col-3">อ่าน</label>
                                            <div class="col">ระดับทักษะ</div>
                                            <div class="col verticalKeyGap">{{innerProfileInformation.englishComprehension?.reading | emptyField}}</div>
                                        </div>
                                        <div class="row">
                                            <label class="align-items-center keyValueGap col-3">เขียน</label>
                                            <div class="col">ระดับทักษะ</div>
                                            <div class="col verticalKeyGap">{{innerProfileInformation.englishComprehension?.writing | emptyField}}</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="keyValueGap verticalKeyGap">
                                            <div>คอมพิวเตอร์</div>
                                        </div>
                                        <div class="row">
                                            <label class="align-items-center keyValueGap col-3">Word</label>
                                            <div class="col">ระดับทักษะ</div>
                                            <div class="col verticalKeyGap">{{innerProfileInformation.skills?.word | emptyField}}</div>
                                        </div>
                                        <div class="row">
                                            <label class="align-items-center keyValueGap col-3">Excel</label>
                                            <div class="col">ระดับทักษะ</div>
                                            <div class="col verticalKeyGap">{{innerProfileInformation.skills?.excel | emptyField}}</div>
                                        </div>
                                        <div class="row">
                                            <label class="align-items-center keyValueGap col-3">Powerpoint</label>
                                            <div class="col">ระดับทักษะ</div>
                                            <div class="col verticalKeyGap">{{innerProfileInformation.skills?.powerpoint | emptyField}}</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="keyValueGap verticalKeyGap">
                                            <div>ทักษะอื่นๆ</div>
                                        </div>
                                        <ng-container *ngIf="innerProfileInformation.otherSkills == null; then emptyOtherSkills; else notEmptyOtherSkills"></ng-container>
                                        <ng-template #emptyOtherSkills>
                                            ไม่ระบุ
                                        </ng-template>
                                        <ng-template #notEmptyOtherSkills>
                                            <div [innerHtml]="innerProfileInformation.otherSkills" class=" verticalKeyGap"></div>
                                        </ng-template>
                                    </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="tab-pane textProfileResponsive" id="tabTwo" role="tabpanel" aria-labelledby="tabTwo-tab">
                <ng-container *ngIf="innerProfileInformation?.active == 'จำกัดการดูข้อมูล'">
                    <ng-container *ngIf="requestViewFlag$ | async; then requestView; else notRequestView"></ng-container>
                    <ng-template #requestView>
                        <div class="semi-border-input p-sm-4 p-2 mb-sm-5 mb-4" [ngClass]="requestStatus.status == 'Pending'?'cyan-color': 'light-green-color'" style="margin-bottom:5rem">
                            <div class="textProfileResponsive my-md-5 my-sm-3 my-2 container d-flex justify-content-center align-items-center" style="padding: 0 5vw">
                                <div><i style="font-size:2em" class="bi me-3" [ngClass]="requestStatus.status == 'Pending'?'bi-file-earmark-arrow-down-fill': 'bi-file-earmark-check-fill'"></i></div>
                                <div>{{requestStatus.status == 'Pending'? "เภสัชกรท่านนี้จำกัดการดูข้อมูลติดต่อท่านสามารถส่งคำขอดูข้อมูลได้": "ท่านได้รับอนุญาตให้ดูข้อมูลติดต่อของเภสัชกรท่านนี้แล้ว ท่านจะสามารถดูข้อมูลของเภสัชกรท่านนี้ได้จนกว่าจะมีการเปลี่ยนแปลงคำอนุญาต"}}</div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button style="height: fit-content; color:white" class="btn btn-secondary mt-3 border-input px-4 mx-4 textResponsive my-3 button-width" [ngStyle]="{'display': innerProfileInformation.active == 'จำกัดการดูข้อมูล'? 'block': 'none'}" [ngClass]="[requestStatus.status !== 'Pending'? 'green-color':'', requestStatus.status !== 'Pending'? 'green-mini-border-color':'']">{{ requestStatus.status == 'Pending'?'รอการอนุมัติ':'อนุญาตแล้ว' }}</button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #notRequestView>
                            <div class="semi-border-input p-sm-4 p-2 cyan-color mb-sm-5 mb-4" style="margin-bottom:5rem">
                                <div class="textProfileResponsive my-md-5 my-sm-3 my-2 container d-flex justify-content-center align-items-center" style="padding: 0 5vw">
                                    <div><i style="font-size:2em" class="bi me-3 bi-file-earmark-arrow-down-fill"></i></div>
                                    <div>เภสัชกรท่านนี้จำกัดการดูข้อมูลติดต่อท่านสามารถส่งคำขอดูข้อมูลได้</div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button (click)="openRequestViewModal()"[ngStyle]="{'display': innerProfileInformation.active == 'จำกัดการดูข้อมูล'? 'block': 'none'}"  style="height: fit-content" class="btn btn-outline-secondary mt-3 border-input button-width px-4 mx-4 textResponsive my-3">ขอดูข้อมูล</button>
                                </div>
                            </div>
                        </ng-template>
                </ng-container>
                <div class="d-flex justify-content-between semi-border-input p-sm-4 p-2 light-red-color mb-sm-5 mb-4" *ngIf="innerProfileInformation?.active == 'ไม่อนุญาติให้ดูข้อมูล'" style="margin-bottom:5rem">
                    <div class="my-md-5 my-sm-3 my-2 container d-flex justify-content-center" style="padding: 0 5vw">
                        <div><i style="font-size:2em" class="bi bi-file-earmark-arrow-down-fill me-3"></i></div>
                        <div class="textProfileResponsive">เภสัชกรท่านนี้ ไม่อนุญาตให้ดูข้อมูล คุณจะไม่สามารถขอดูข้อมูลติดต่อของผู้สมัครได้</div>
                    </div>
                </div>
                <ng-container *ngIf="innerProfileInformation.active == 'จำกัดการดูข้อมูล' then privateInfo; else notPrivateInfo "></ng-container>
                <ng-template #privateInfo>
                    <ng-container *ngIf="requestViewFlag$ | async; then requestContent; else notRequestContent"></ng-container>
                    <ng-template #requestContent>
                        <ng-container *ngIf="requestStatus.status == 'Accepted'; then allowViews; else notAllowView"></ng-container>
                        <ng-template #allowViews>
                            <div class="p-sm-5 p-3 semi-border-input green-border-color standard-shadow verticalKeyGap">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row verticalKeyGap">
                                        <div class="keyValueGap"><i class="bi bi-person-fill"></i></div>
                                        <div class="keyValueGap">
                                            <div><b>เภสัชกร</b></div>
                                        </div>
                                        <div class="col d-flex">
                                            <div class="me-2">{{innerProfileInformation.name}}</div><div>{{innerProfileInformation.surname}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="verticalKeyGap">
                                    <div class="d-flex flex-row">
                                        <div class="keyValueGap">
                                            <i class="bi bi-telephone-plus-fill"></i>
                                        </div>
                                        <div class="keyValueGap">
                                            <div><b>ข้อมูลการติดต่อ</b></div>
                                        </div>
                                    </div>
                                    <div class="mt-4 contacts" style="margin-left:6rem">
                                        <div class="d-flex flex-row verticalKeyGap">
                                            <i class="bi bi-telephone-fill" style="margin-right:2rem"></i>
                                            <div class="keyValueGap">
                                                <div class="nobr">เบอร์โทร</div>
                                            </div>
                                            <div class="col">
                                                <div class="me-3">{{innerProfileInformation.contacts?.phone | emptyField}}</div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row verticalKeyGap">
                                            <i class="bi bi-envelope-at" style="margin-right:2rem"></i>
                                            <div class="keyValueGap">
                                                <div>Email</div>
                                            </div>
                                            <div class="col">
                                                <div class="me-3">{{innerProfileInformation.contacts?.email | emptyField}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row verticalKeyGap">
                                    <div class="keyValueGap"><i class="bi bi-gender-ambiguous"></i></div>
                                    <div class="keyValueGap"><b>เพศ</b></div>
                                    <div>{{innerProfileInformation.gender | emptyField}}</div>
                            </div>
                            <div class="d-flex flex-row verticalKeyGap">
                                <div class="keyValueGap"><i class="bi bi-house-fill"></i></div>
                                <div class="keyValueGap">
                                    <div><b>ที่อยู่</b></div>
                                </div>
                                <div class="d-flex flex-row">
                                    <div>{{innerProfileInformation!.Location?.Province | emptyField}}, {{innerProfileInformation!.Location?.District | emptyField}}</div>                    
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #notAllowView>
                            <div class="d-flex flex-row verticalKeyGap">
                                <div class="keyValueGap"><i class="bi bi-gender-ambiguous"></i></div>
                                <div style="width:-webkit-fill-available; width:-moz-available">
                                    <div class="keyValueGap">
                                        <div><b>เพศ</b></div>
                                    </div>
                                    <div>
                                        <div class="me-2">{{innerProfileInformation.gender | emptyField}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row verticalKeyGap">
                                <div class="keyValueGap"><i class="bi bi-pin-map-fill"></i></div>
                                <div style="width:-webkit-fill-available; width:-moz-available">
                                    <div class="keyValueGap">
                                        <div><b>ที่อยู่</b></div>
                                    </div>
                                    <div>
                                        <div>{{innerProfileInformation!.Location?.Province | emptyField}}, {{innerProfileInformation!.Location?.District | emptyField}}</div>                    
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                    <ng-template #notRequestContent>
                        <div class="d-flex flex-row verticalKeyGap">
                            <div class="keyValueGap"><i class="bi bi-gender-ambiguous"></i></div>
                            <div class="keyValueGap"><b>เพศ</b></div>
                            <div>{{innerProfileInformation.gender | emptyField}}</div>
                    </div>
                    <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap"><i class="bi bi-house-fill"></i></div>
                        <div class="keyValueGap">
                            <div><b>ที่อยู่</b></div>
                        </div>
                        <div class="d-flex flex-row">
                            <div>{{innerProfileInformation!.Location?.Province | emptyField}}, {{innerProfileInformation!.Location?.District | emptyField}}</div>                    
                        </div>
                    </div>
                    </ng-template>
                </ng-template>
                <ng-template #notPrivateInfo>
                    
                    <div class="d-flex justify-content-between" *ngIf="innerProfileInformation?.active !== 'ไม่อนุญาติให้ดูข้อมูล'">
                        <div class="d-flex flex-row verticalKeyGap">
                            <div class="keyValueGap"><i class="bi bi-person-fill"></i></div>
                            <div class="keyValueGap">
                                <div><b>เภสัชกร</b></div>
                            </div>
                            <div class="col d-flex">
                                <div class="me-2">{{innerProfileInformation.name}}</div><div>{{innerProfileInformation.surname}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="verticalKeyGap" *ngIf="innerProfileInformation?.active !== 'ไม่อนุญาติให้ดูข้อมูล'">
                        <div class="d-flex flex-row">
                            <div class="keyValueGap">
                                <i class="bi bi-telephone-plus-fill"></i>
                            </div>
                            <div class="keyValueGap">
                                <div><b>ข้อมูลการติดต่อ</b></div>
                            </div>
                        </div>
                        <div class="mt-4 contacts" style="margin-left:6rem">
                            <div class="d-flex flex-row verticalKeyGap">
                                <i class="bi bi-telephone-fill" style="margin-right:2rem"></i>
                                <div class="keyValueGap">
                                    <div class="nobr">เบอร์โทร</div>
                                </div>
                                <div class="col">
                                    <div class="me-3">{{innerProfileInformation.contacts?.phone | emptyField}}</div>
                                </div>
                            </div>
                            <div class="d-flex flex-row verticalKeyGap">
                                <i class="bi bi-envelope-at-fill" style="margin-right:2rem"></i>
                                <div class="keyValueGap">
                                    <div>Email</div>
                                </div>
                                <div class="col">
                                    <div class="me-3" style="line-break:anywhere">{{innerProfileInformation.contacts?.email | emptyField}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="d-flex flex-row verticalKeyGap">
                                <div class="keyValueGap"><i class="bi bi-gender-ambiguous"></i></div>
                                <div class="keyValueGap"><b>เพศ</b></div>
                                <div>{{innerProfileInformation.gender | emptyField}}</div>
                        </div>
                        <div class="d-flex flex-row verticalKeyGap">
                            <div class="keyValueGap"><i class="bi bi-house-fill"></i></div>
                            <div class="keyValueGap">
                                <div><b>ที่อยู่</b></div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>{{innerProfileInformation!.Location?.Province | emptyField}}, {{innerProfileInformation!.Location?.District | emptyField}}</div>                    
                            </div>
                        </div>                  
                </ng-template>
            </div>
            <div class="tab-pane textProfileResponsive" id="tabThree" role="tabpanel" aria-labelledby="tabThree-tab">
                <div class="d-flex flex-row verticalKeyGap textResponsiveHeader">
                    <div class="keyValueGap"><i class="bi bi-briefcase-fill"></i></div>
                    <div style="width:-webkit-fill-available; width:-moz-available">
                        <div>
                            <div><b>งานที่กำลังมองหา</b></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap"><i style="color:red" class="bi bi-heart-fill"></i></div>
                    <div style="width:-webkit-fill-available; width:-moz-available">
                        <div>
                            <div><b>ประเภทงานที่สนใจ</b></div>
                        </div>
                        <div *ngIf="innerProfileInformation.preferredJobType?.length == 0">ไม่ระบุ</div>
                        <div *ngIf="innerProfileInformation.preferredJobType !== undefined">
                            <div *ngIf="innerProfileInformation.preferredJobType!.length > 0" class="jobTypePayload">
                            </div>
                            <ul >
                                <li *ngFor="let jobType of innerProfileInformation.preferredJobType">
                                    {{jobType}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap"><i class="bi bi-lightbulb-fill"></i></div>
                    <div style="width:-webkit-fill-available; width:-moz-available">
                        <div class="keyValueGap">
                            <div><b>ชนิดของพนักงาน</b></div>
                        </div>
                        <div>
                            {{innerProfileInformation.preferredTimeFrame | emptyField}}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap"><i class="bi bi-bootstrap"></i></div>
                    <div style="width:-webkit-fill-available; width:-moz-available">
                        <div class="keyValueGap">
                            <div><b>เงินเดือนที่ต้องการ</b></div>
                        </div>
                        <div>
                            {{innerProfileInformation.preferredSalary | emptyField}}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap"><i class="bi bi-clock-fill"></i></div>
                    <div style="width:-webkit-fill-available; width:-moz-available">
                        <div class="keyValueGap">
                            <div><b>สามารถเริ่มงานได้</b></div>
                        </div>
                        <div>
                            {{innerProfileInformation.preferredStartTime | emptyField}}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap"><i class="bi bi-geo-fill"></i></div>
                    <div style="width:-webkit-fill-available; width:-moz-available">
                        <div class="keyValueGap">
                            <div><b>หางานพื้นที่</b></div>
                        </div>
                        <div>
                            {{innerProfileInformation.preferredSection | emptyField}}, {{innerProfileInformation.preferredDistrict | emptyField}}, {{innerProfileInformation.preferredProvince | emptyField}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane textProfileResponsive" id="tabFour" role="tabpanel" aria-labelledby="tabOnFour-tab">
                <div class="my-5 justify-content-center textResponsiveHeader d-flex" *ngIf="innerProfileInformation.preferredJobType?.includes('งานด่วนรายวัน')">
                    <i class="bi bi-calendar2-check me-3"></i>
                    <div>
                        เภสัชกรท่านนี้เปิดใช้ระบบหางานรายวัน
                    </div>
                </div>
                <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap"><i class="bi bi-asterisk"></i></div>
                    <div style="width:-webkit-fill-available; width:-moz-available">
                      <div class="keyValueGap">
                        <div><b>สถานะการทำงานของท่านในตอนนี้</b></div>
                      </div>
                      <div>
                        {{innerProfileInformation.urgentTimeFrame | emptyField}}
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row verticalKeyGap">
                    <div class="keyValueGap"><i class="bi bi-tags-fill"></i></div>
                    <div style="width:-webkit-fill-available; width:-moz-available">
                      <div class="keyValueGap verticalKeyGap">
                        <div><b>ในหนึ่งสับดาห์ วันที่ท่านสะดวกรับงานคือ</b></div>
                      </div>
                      <ng-container *ngIf="innerProfileInformation.urgentPreferredDay == null; then emptyPreferredDay; else notEmptyPreferredDay"></ng-container>
                      <ng-template #emptyPreferredDay>
                          <div class="" >ไม่ระบุ</div>

                      </ng-template>
                      <ng-template #notEmptyPreferredDay>
                          <div *ngIf="innerProfileInformation.urgentPreferredDay.length > 0">
                              <ul class="">
                                  <li *ngFor="let preferredDays of innerProfileInformation.urgentPreferredDay" class="verticalKeyGap">
                                      {{preferredDays}}
                                  </li>
                                </ul>
                            </div>
                      </ng-template>
                    </div>
                      </div>
                      <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap"><i class="bi bi-pin-fill"></i></div>
                        <div style="width:-webkit-fill-available; width:-moz-available">
                          <div class="keyValueGap">
                            <div><b>มองหางานรายวันพื้นที่ใด?</b></div>
                          </div>
                          <div>
                            {{innerProfileInformation.preferredUrgentProvince| emptyField}}, {{innerProfileInformation.preferredUrgentDistrict| emptyField}}, {{innerProfileInformation.preferredUrgentSection| emptyField}}
                          </div>
                        </div>
                      </div>
                      <div class="d-flex flex-row verticalKeyGap">
                        <div class="keyValueGap"><i class="bi bi-arrow-up-right-square-fill"></i></div>
                        <div style="width:-webkit-fill-available; width:-moz-available">
                          <div class="keyValueGap">
                            <div><b>ข้อมูลเกี่ยวกับเวลาว่างรับงานของท่านเพิ่มเติม</b></div>
                          </div>
                          <div [innerHTML]="innerProfileInformation.urgentDescription| emptyField">
                          </div>
                        </div>
                      </div>
            </div>
          </div>
    </div>
</div>