<div class="card" style="width: fit-content;">
    <div class="d-flex justify-content-between">
        <div class="p-3 d-flex justify-content-center flex-fill align-items-center" style="text-align: center; background:lightgreen">
            <b>Full-Time</b>
        </div>
        <div>
            <button type="button" class="btn">
                <h1>
                    <i class="bi bi-share-fill"></i>
                </h1>
            </button>
            <button type="button" class="btn">
                <h1>
                    <i class="bi bi-bookmark-fill"></i>
                </h1>
            </button>
        </div>
    </div>
    <img src="assets/watsons.png" class="card-img-top m-auto my-3" style="width:fit-content" height="150" width="150">
    <div class="card-body">
      <div class="d-flex flex-row">
        <p><b>ชื่อตำแหน่งงาน:</b></p>
        <p class="ms-3">เภสัชกรประจำร้านยา</p>
      </div>
      <div class="d-flex flex-row">
        <p><b>ชื่อสถานที่ปฏิบัติงาน:</b></p>
        <p class="ms-3">Watsons</p>
      </div>
      <div class="d-flex flex-row">
        <p><b>พื้นที่ปฏิบัติงาน:</b></p>
        <div class="addressList mb-3">
            <div class="d-flex flex-row">
                <b>แขวง:</b>
                <div class="ms-3"> วัฒนา</div>
            </div>
            <div class="d-flex flex-row">
                <b>เขต:</b>
                <div class="ms-3"> คลองตัน</div>
            </div>
            <div class="d-flex flex-row">
                <b>จังหวัด:</b>
                <div class="ms-3"> กรุงเทพ</div>
            </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <p><b>เงินเดือน:</b></p>
        <p class="ms-3"> 24,000 - 40,000 บาท/เดือน</p>
      </div>
      <div class="d-flex flex-row">
        <p><b>ค่าตอบแทน:</b></p>
        <p class="ms-3"> 180 บาท/ชม</p>
      </div>
    </div>
  </div>