<div class="card rounded" style="width: -webkit-fill-available;">
  <ng-container *ngIf="urgentFlag; then cardUrgentHeader; else cardHeader">
  </ng-container>
  <ng-template #cardUrgentHeader>
    <div class="d-flex justify-content-center">
      <div class="p-3 d-flex align-items-center" style="text-align: center">
          <b>{{content.JobType}}</b>
      </div>
        <div>
            <button type="button" class="btn">
                <h1>
                    <i class="bi bi-share-fill"></i>
                </h1>
            </button>
            <button (click)="toggleBookmark()" type="button" class="btn">
                <h1>
                    <ng-container *ngIf="bookmarkLoadingFlag; then loading; else notLoading"></ng-container>
                    <ng-template #loading>
                      <div>
                        <div style="text-align:center">
                          <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #notLoading>
                      <ng-container *ngIf="bookmarkFlag$ | async; then red; else black"></ng-container>
                        <ng-template #black>
                          <i class="bi bi-bookmark-fill"></i>
                          
                        </ng-template>
                        <ng-template #red>
                          <i style="color:red" class="bi bi-bookmark-fill"></i>
                        </ng-template>
                    </ng-template>
                </h1>
            </button>
        </div>
    </div>
  </ng-template>
  <ng-template #cardHeader>
    <div class="d-flex justify-content-between">
      <div *ngIf="fullTimeFlag as true; else elseBlock" class="p-3 d-flex justify-content-center flex-fill align-items-center" style="text-align: center; background:lightgreen">
        <b>{{content.TimeFrame}}</b>
          </div>
          <ng-template #elseBlock>
            <div class="p-3 d-flex justify-content-center flex-fill align-items-center" style="text-align: center; background:lightyellow">
              <b>{{content.TimeFrame}}</b>
            </div>
          </ng-template>
          <div>
            <button type="button" class="btn">
                    <h1>
                      <i class="bi bi-share-fill"></i>
                    </h1>
                  </button>
                  <button (click)="toggleBookmark()" type="button" class="btn">
                    <h1>
                        <ng-container *ngIf="bookmarkLoadingFlag; then loading; else notLoading"></ng-container>
                        <ng-template #loading>
                          <div>
                            <div style="text-align:center">
                              <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                        <ng-template #notLoading>
                          <ng-container *ngIf="bookmarkFlag$ | async; then red; else black"></ng-container>
                            <ng-template #black>
                              <i class="bi bi-bookmark-fill"></i>
                              
                            </ng-template>
                            <ng-template #red>
                              <i style="color:red" class="bi bi-bookmark-fill"></i>
                            </ng-template>
                        </ng-template>
                    </h1>
                </button>
              </div>
            </div>
          <img src="assets/watsons.png" (click)="goToProfile()" class="card-img-top m-auto my-3" style="width:fit-content" height="150" width="150">
  </ng-template>
  <div class="card-body pb-0">
        <div *ngIf="urgentFlag === true" class="d-flex justify-content-center">
            <img (click)="goToProfile()" src="assets/watsons.png" class="card-img-top" style="width:fit-content" height="50" width="50">
          <div class="d-flex flex-column align-items-center ms-3">
            <b>ต้องการเภสัชวันที่</b>
            <hr class="solid my-1" style="width:100%">
            <p>{{ content.DateOfJob }}</p>
          </div>
        </div>
        <div>
          <p class="text-center fs-4">{{content.JobName}}</p>
        </div>
        <div class="d-flex flex-row">
          <i class="my-auto h2 bi bi-building-fill"></i>
          <p class="my-auto ms-3">{{content.Establishment}}</p>
        </div>
        <div class="d-flex flex-row my-2">
          <i class="my-auto h2 bi bi-clock-fill"></i>
          <p class="my-auto">{{content.Duration}}</p>
        </div>
        <div class="d-flex flex-row my-2">
          <p class="my-auto me-2">
            <i class="h2 my-auto bi bi-currency-bitcoin"></i>
          </p>
          <div class="d-flex flex-row">
            {{content.Salary}}
            <ng-container *ngIf="fullTimeFlag === true; then fullSub; else partSub"></ng-container> 
            <ng-template #fullSub>
              <div class="ms-1">บาท/เดือน</div>
            </ng-template>
            <ng-template #partSub>
              <div class="ms-1">บาท/ชม</div>
            </ng-template>
        </div>
        </div>
        <div class="d-flex flex-row align-items-center">
          <div><i class="bi bi-pin-map-fill"></i></div>
          <div class="addressList">
              <div>{{content.Location.Section}}, {{content.Location.Province}}.</div>
          </div>
        </div>
        <ng-container *ngIf="urgentFlag; then urgentFeature; else notUrgentFeature"></ng-container>
        <ng-template #notUrgentFeature>
          <div class="d-flex flex-row my-3">
            <div class="my-auto me-2">
                <i class="my-auto h2 bi bi-tv"></i>
            </div>
            <div class="my-auto" *ngIf="content.OnlineInterview">สัมภาษณ์งานออนไลน์</div>
          </div>
        </ng-template>
        <ng-template #urgentFeature>
          <div (click)="acceptJob()" class="btn btn-success text-center my-2" style="width:-webkit-fill-available" type="button">
            <div class="fs-5">สมัครงาน</div>
          </div>
        </ng-template>
      </div>
    </div>