<div class="my-3 fs-2 mx-4 mainTitle"><b>งานที่บันทึก</b></div>
<ng-container *ngIf="emptyFlag$ | async; then empty; else notEmpty"></ng-container>
<ng-template #empty>
    <div class="row d-flex justify-content-center">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-10 col">
            <img class="w-100" src="assets/empty/emptyBookmark.png">
        </div>
    </div>
</ng-template>
<ng-template #notEmpty>
    <div>
        <ng-container *ngFor="let bookmark of bookmarks$ | async; index as i">
            <div>
                <app-job-post-normal-card cardType="Bookmarks"[content]="bookmark.JobPost!" [urgentFlag]="bookmark.JobPost!.Urgency" [fullTimeFlag]="bookmark.JobPost!.TimeFrame =='Full-Time'"></app-job-post-normal-card>
            </div>
        </ng-container>
    </div>
</ng-template>

 