@media only screen and (max-width: 430px) {
    .jobTabList, .companyProfileTabList{
        overflow-x:scroll 
    }
}
@media only screen and (max-width: 992px) {
    .mainTabList > ul{
        font-size:medium !important
    }
    .jobTabList > ul{
        font-size:medium !important
    }
    .companyProfileTabList > ul{
        font-size:medium !important
    }
}
@media only screen and (max-width: 768px) {
    .keyLabel{
        display:block !important
    }
    .phantomPadding{
        display: unset !important
    }
    .sticky-top{
        position: unset !important
    }
    .nav-link{
        text-align:center
    }
}
@media only screen and (max-width: 515px) {
    .contentContainer{
        padding: 1rem !important
    }
}
.loading {
    position: relative;
    margin-top: 45vh;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 50vh;
  }
  .nav-item{
    padding:0 1rem
}
#navToScroll{
    scroll-margin-top: 90px;
}
.nav-link{
    color:black
}
.nav-link.active{
    color: rgb(127, 216, 88)
}
.keyValueGap{
    margin-right:2.5rem
}
.contacts > .verticalKeyGap > .keyValueGap{
    margin-right:1rem
}
.contacts > .verticalKeyGap{
    margin-bottom:2rem
}
.verticalKeyGap{
    margin-bottom:2rem
}
