@font-face {
    font-family: 'NotoSans';
    src: url('assets/fonts/NotoSansThai/NotoSansThai.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.title{
    font-size: xxx-large
  }
.loading {
    position: relative;
    margin-top: 45vh;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 50vh;
  }
.dropdown-header{
    color:black !important
}
::ng-deep .modal { z-index: 3020 !important;} 

::ng-deep .modal-backdrop {z-index: 3000 !important;}

::ng-deep .pac-container {z-index: 3055 !important;}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: clip;
    list-style: none;
    padding: 0px;
    z-index: 1;
    display: block;
    padding-bottom: 30px;  /* <-- added to show to bullets, other way they are hidden */
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;  /* <-- modified to show under de img */
    top: var(--swiper-pagination-top, auto);
    left: 0px;
    width: 100%;
}
.profileOperatorImage{
    margin:10px;
    width: 150px; 
    height:150px; 
  }

.studentTabMobileView{
    display: none !important
  }
  .studentTabWebView{
    display: block 
  }
  .operatorTabMobileView{
    display: none
  }
  .operatorTabWebView{
    display: flex !important  
  }
.form-check-input{
    border:1px solid grey !important
}
.textProfileResponsive{
    font-size:x-large !important;
}
.smallUserWidthResponsive{
    width:40vw
}
.smallUserTextResponsive{
    font-size:1.5rem !important
}
.smallUserTextResponsiveSmaller{
    font-size:1rem 
}
.textResponsive{
    font-size:1.5rem !important
}
.textResponsiveSmaller{
    font-size:1rem 
}
.textResponsiveOperator{
    font-size:1.5rem !important
}
.textResponsiveHeader{
    font-size:2.3rem 
}
.pAomPenTood{
    width: 200px
}
@media only screen and (max-width: 1700px){
    .textResponsiveOperator{
        font-size:large !important;
    }
    .textResponsiveSmaller{
        font-size: small !important
    }
    .widthResponsive{
        width: 10vw !important
    }
}
@media only screen and (max-width: 1500px) {
    .smallUserTextResponsive{
        font-size:large !important;
    }
    .smallUserTextResponsiveSmaller{
        font-size: small !important
    }
    .textResponsiveHeader{
        font-size:1.7rem !important 
    }
    .widthResponsive{
        width: 11vw !important
    }
}
@media only screen and (max-width: 1300px) {
    .smallUserTextResponsive{
        font-size:medium !important;
    }
    .smallUserTextResponsiveSmaller{
        font-size: smaller !important
    }
    .smallUserWidthResponsive{
        width: 50vw
    }
}

@media only screen and (max-width: 1250px) {
    .title{
        font-size: xx-large
      }
}
@media only screen and (max-width: 1200px) {
    .smallUserTextResponsive{
        font-size:small !important;
    }
    .smallUserTextResponsiveSmaller{
        font-size: x-small !important
    }
    .widthResponsive{
        width:12vw !important;   
    }
    .textResponsiveSmaller{
        font-size: smaller !important
    }
    
    .textResponsiveOperator{
        font-size:large !important;
    }
}

@media only screen and (max-width: 1000px) {
    .textProfileResponsive{
        font-size:large !important;
    }
    .textResponsiveHeader{
        font-size:1.5rem !important 
    }
    .smallUserWidthResponsive{
        width: 60vw
    }
}

@media only screen and (max-width: 992px) {
    .gapMobile{
        gap: 4vw !important
    }
    .widthResponsive{
        width:14vw !important;   
    }
    .textResponsiveSmaller{
        font-size: x-small !important
    }
    .border-end-mobile{
        border-right:unset !important
    }
    .textProfileResponsive{
        font-size:large !important
    }
    .textResponsive{
        font-size:medium !important
    }
}
@media only screen and (max-width: 640px) {
    .widthResponsive{
        width:18vw !important;   
    }
}
@media only screen and (max-width: 600px) {
    .smallUserTextResponsive{
        font-size:x-small !important;
    }
    .smallUserTextResponsiveSmaller{
        font-size: xx-small !important
    }
}

@media only screen and (max-width: 576px) {
    .widthResponsive{
        width:16vw !important;   
    }
    .smallUserWidthResponsive{
        width: 70vw
    }
    .textProfileResponsive{
        font-size:medium !important
    }
    .textResponsive{
        font-size:small !important
    }
    .textResponsiveSmaller{
        font-size:1.9vw !important 
    }
    .textResponsiveOperator{
        font-size:3.5vw !important
    }
}
@media only screen and (max-width: 480px) {
    .title{
        font-size:10vw !important 
    }
    .profileOperatorImage{
      margin:5px;
      width: 120px; 
      height:120px; 
    }
  }
@media only screen and (max-width: 410px) {
    .profileOperatorImage{
      margin:3px;
      width: 100px; 
      height:100px; 
    }
  }
@media only screen and (max-width: 396px) {
    .studentTabMobileView{
      display: flex !important
    }
    .studentTabWebView{
      display: none !important
    }
    .operatorTabMobileView{
      display: block !important
    }
    .operatorTabWebView{
      display: none !important
    }
  }
@media only screen and (max-width: 384px) {
    .textResponsiveSmaller{
        font-size:1.9vw !important 
    }
    .textResponsive{
        font-size:x-small !important
    }
    .pAomPenTood{
        width: 130px !important
    }
    .navbar-toggler-icon{
        width: 1.1em !important
    }
}
@media only screen and (max-width: 360px) {
    .profileOperatorImage{
      width: 90px; 
      height:90px; 
    }
}
@media only screen and (max-width: 337px) {
    .textResponsive{
        font-size:xx-small !important
    }
}
.cyan-color{
    background: #CBEFFF;

}
.light-red-color{
    background: #FFCBCB;
}
.online-interview-color{
    background:#FFD4D4 !important;
}

/* You can add global styles to this file, and also import other style files */
.ck-editor__editable_inline {
    min-height: 500px;
}
.semi-border-input{
    border-radius:40px !important
}
.quazi-border-input{
    border-radius:20px !important
}
.standard-shadow{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.circle-shadow{
    box-shadow: 0 0 0 3px #e78267;
}
html { scroll-behavior: smooth; }
.green-text{
    color: rgb(127, 216, 88) !important
}
.purple-text{
    color: #D3A1F7
}
.border-input{
    border-radius:100px !important
}
.blue-text{
    color: #5cdfe4
}
.color-grey{
    background:grey
}

.color-lightgrey{
    background:lightgrey
}
.button-width{
    width: 10em
}
.purple-color{
    background-color:  #D3A1F7 !important;
    border-color:  #D3A1F7 !important
}
.green-color{
    background-color: rgb(127, 216, 88) !important;
    /* border-color: rgb(127, 216, 88) !important */
}

.light-green-color{
    background-color: #CBFFD9 !important;
    /* border-color: rgb(127, 216, 88) !important */
}

.green-border-color{
    border: 4px solid rgb(127, 216, 88) !important
}
.green-mini-border-color{
    border: 1px solid rgb(127, 216, 88) !important
}
.blue-color{
  background-color:#5cdfe4 !important;
  border-color: #5cdfe4 !important;
}