<div class="pricing-table mt-5">
    <div class="pricing-card">
      <h3 class="pricing-card-header">Individual</h3>
      <div class="price">700<span class="ps-2">฿/MO</span></div>
      <ul>
        <li>ลงประกาศงานทัวไป <strong>1  ตําแหน่ง</strong></li>
        <li>ลงประกาศงานรายวัน <strong>1 ประกาศงาน</strong></li>
        <li>ดูโปรไฟล์ผู้สมัครงาน <strong>10 คน</strong></li>
        <li style="visibility:hidden">ดูโปรไฟล์ผู้สมัครงาน <strong>10 คน</strong></li>
        <li style="visibility:hidden">ดูโปรไฟล์ผู้สมัครงาน <strong>10 คน</strong></li>
      </ul>
      <a (click)="goToCheckoutPage('price_1OtBTLKDtmy3uupfwf7eFRoQ')" class="order-btn">Start Trial</a>
    </div>
  
    <div class="pricing-card">
      <h3 class="pricing-card-header">Team</h3>
      <div class="price">1,400<span class="ps-2">฿/MO</span></div>
      <ul>
        <li>ลงประกาศงานทัวไป <strong>1  ตําแหน่ง</strong></li>
        <li>ลงประกาศงานรายวัน <strong>3 ประกาศงาน</strong></li>
        <li>ดูโปรไฟล์ผู้สมัครงาน <strong>20 คน</strong></li>
        <li style="visibility:hidden">ดูโปรไฟล์ผู้สมัครงาน <strong>20 คน</strong></li>
        <li style="visibility:hidden">ดูโปรไฟล์ผู้สมัครงาน <strong>20 คน</strong></li>
      </ul>
      <a (click)="goToCheckoutPage('price_1OtBWIKDtmy3uupfZnBkGQlF')" class="order-btn">Start Trial</a>
    </div>
  
    <div class="pricing-card">
      <h3 class="pricing-card-header">Corporate</h3>
      <div class="price">2,500<span class="ps-2">฿/MO</span></div>
      <ul>
        <li>ลงประกาศงานทัวไป <strong>1  ตําแหน่ง</strong></li>
        <li>ลงประกาศงานรายวัน <strong>5 ประกาศงาน</strong></li>
        <li>ดูโปรไฟล์ผู้สมัครงาน <strong>50 คน</strong></li>
        <li style="visibility:hidden">ดูโปรไฟล์ผู้สมัครงาน <strong>50 คน</strong></li>
        <li style="visibility:hidden">ดูโปรไฟล์ผู้สมัครงาน <strong>50 คน</strong></li>
      </ul>
      <a (click)="goToCheckoutPage('price_1OtBWiKDtmy3uupfcdqPluYM')" class="order-btn">Start Trial</a>
    </div>
  
    <div class="pricing-card">
      <h3 class="pricing-card-header">Enterprise</h3>
      <div class="price">5,500<span class="ps-2">฿/MO</span></div>
      <ul>
        <li>ลงประกาศงานทัวไป <strong>1  ตําแหน่ง</strong></li>
        <li>ลงประกาศงานรายวัน <strong>10 ประกาศงาน</strong></li>
        <li>ดูโปรไฟล์ผู้สมัครงาน <strong>100 คน</strong></li>
        <li style="visibility:hidden">ดูโปรไฟล์ผู้สมัครงาน <strong>100 คน</strong></li>
        <li style="visibility:hidden">ดูโปรไฟล์ผู้สมัครงาน <strong>100 คน</strong></li>
      </ul>
      <a (click)="goToCheckoutPage('price_1OtBZJKDtmy3uupfDE2aehw0')" class="order-btn">Start Trial</a>
    </div>
  </div>