<div (click)="scrollUp()"class="position-fixed bottom-0 end-0 m-3"  style="z-index: 10; font-size:5rem">
	<i class="pe-auto bi bi-arrow-up-square"></i>
</div>
<ng-container *ngIf="loadingFlag; then loading; else notLoading"></ng-container>
<ng-template #loading>
	<div style="text-align:center" class="mt-5 me-3">
		<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</ng-template>
<ng-template #notLoading>
	<app-profileheader [profileInformation]="profileHeader" profileType="job-post"></app-profileheader>
	<div class="container">
		<div class="card rounded">
			<div class="card-body p-4">
				<div class="panelHeader d-flex justify-content-between border-bottom pb-4">
					<div class="fs-1 jobName" style="padding-right:2.5rem">{{profile.JobName}}</div>
					<ng-container *ngIf="profile.TimeFrame === 'Part-Time'; then partTimeFlag; else fullTimeFlag"></ng-container>
					<ng-template #partTimeFlag>
						<div class="fs-1">
							<ng-container *ngIf="profile.Urgency; then urgentFlag; else notUrgentFlag"></ng-container>
							<ng-template #urgentFlag>
								<span class="badge bg-secondary">ทำงานวันที่ {{profile.DateOfJob}}</span>
							</ng-template>
							<ng-template #notUrgentFlag>
								<span class="badge text-dark" style="background: #a2e3d9">Part-Time</span>
							</ng-template>
						</div>
					</ng-template>
					<ng-template #fullTimeFlag>
						<div class="fs-1">
							<ng-container *ngIf="profile.Urgency; then urgentFlag; else notUrgentFlag"></ng-container>
							<ng-template #urgentFlag>
								<span class="badge bg-secondary" class="urgentLabel">ทำงานวันที่ {{profile.DateOfJob}}</span>
							</ng-template>
							<ng-template #notUrgentFlag>
								<span class="badge text-dark" style="background:#7fcae6">Full-Time</span>
							</ng-template>
						</div>
					</ng-template>
				</div>
				<div class="mx-3 mb-3 fs-4">
					<div class="row twoRows">
						<div class="col-12 col-md-6 border-end p-0 pt-4 leftPanelDetails">
							<div *ngIf="profile.JobType === 'ร้านยาแบรนด์'" class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
									<b>สาขา</b>
								</div>
								<div class="col" *ngIf="profile.JobType === 'ร้านยาแบรนด์'">{{profile.Franchise}}</div>
							</div>
							<div class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
									<i class="bi bi-clock me-2"></i><b>เวลาปฏิบัติงาน</b>
								</div>
								<div class="col">
									<div class="valuePart">{{profile.Duration}} น.</div>
								</div>
							</div>
							<div class="row pb-3" *ngIf="profile.TimeFrame == 'Full-Time'">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-currency-bitcoin me-2"></i><b>ค่าตอบแทน</b>
								</div>
								<div class="col">
									<div class="valuePart">{{profile.Salary.Amount}} - {{profile.Salary.Amount + profile.Salary.Cap!}} บาท/เดือน</div>
								</div>
							</div>
							<div class="row pb-3" *ngIf="profile.TimeFrame == 'Part-Time'">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-currency-bitcoin me-2"></i><b>ค่าตอบแทน</b>
								</div>
								<div class="col">
									<div class="valuePart">{{profile.Salary.Amount}} - {{profile.Salary.Amount + profile.Salary.Cap!}} บาท/ชม</div>
								</div>
							</div>
							<div *ngIf="profile.BTS.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>BTS</b>
								</div>
								<div class="col valuePart"> {{profile.BTS.Station}}</div>
							</div>
							<div *ngIf="profile.ARL.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>ARL</b>
								</div>
								<div class="col valuePart"> {{profile.ARL.Station}}</div>
							</div>
							<div class="pb-3 row" *ngIf="profile.OnlineInterview">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-display me-2"></i><b>สัมภาษณ์ออนไลน์</b>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 pt-md-4 rightPanelDetails">
							<div class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-people me-2"></i><b>รับสมัคร</b>
								</div>
								<div class="col valuePart">{{profile.Amount}} ตำแหน่ง</div>
							</div>
							<div class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-geo-alt me-2"></i><b>พื้นที่</b>
								</div>
								<div class="col valuePart"> {{profile.Location.Section}}, {{profile.Location.Province}}</div>
							</div>
							<div *ngIf="profile.MRT.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>MRT</b>
								</div>
								<div class="col valuePart"> {{profile.MRT.Station}}</div>
							</div>
							<div *ngIf="profile.SRT.Near" class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>SRT</b>
								</div>
								<div class="col valuePart"> {{profile.SRT.Station}}</div>
							</div>
	
							<!-- <div class="d-flex flex-row" class="d-flex flex-row">
								<b>แขวง:</b>
								<div class="ms-2">{{profile.Location.District}}</div>
							</div> -->
							<!-- <div class="d-flex flex-row"> -->
								<!-- <b>เขต:</b> -->
								<!-- <div> {{profile.Location.Section}}, {{profile.Location.Province}}</div> -->
							<!-- </div> -->
							<!-- <div class="d-flex flex-row">
								<b>จังหวัด:</b>
								<div class="ms-2"> </div>
							</div> -->
							<div class="d-flex flex-row" *ngIf="profile.WorkFromHome">
								<i class="bi bi-house me-2"></i><b>Work from home</b>
							</div>
						</div>
					</div>
					<div class="row oneRow">
							<div *ngIf="profile.JobType === 'ร้านยาแบรนด์'" class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
									<b>สาขา</b>
								</div>
								<div class="col" *ngIf="profile.JobType === 'ร้านยาแบรนด์'">{{profile.Franchise}}</div>
							</div>
							<div class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-5">
									<i class="bi bi-clock me-2"></i><b>เวลาปฏิบัติงาน</b>
								</div>
								<div class="col">
									<div class="valuePart">{{profile.Duration}} น.</div>
								</div>
							</div>
							<div class="row pb-3" *ngIf="profile.TimeFrame == 'Full-Time'">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-currency-bitcoin me-2"></i><b>ค่าตอบแทน</b>
								</div>
								<div class="col">
									<div class="valuePart">{{profile.Salary.Amount}} - {{profile.Salary.Amount + profile.Salary.Cap!}} บาท/เดือน</div>
								</div>
							</div>
							<div class="row pb-3" *ngIf="profile.TimeFrame == 'Part-Time'">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-currency-bitcoin me-2"></i><b>ค่าตอบแทน</b>
								</div>
								<div class="col">
									<div class="valuePart">{{profile.Salary.Amount}} - {{profile.Salary.Amount + profile.Salary.Cap!}} บาท/ชม</div>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-people me-2"></i><b>รับสมัคร</b>
								</div>
								<div class="col valuePart">{{profile.Amount}} ตำแหน่ง</div>
							</div>
							<div class="row pb-3">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-geo-alt me-2"></i><b>พื้นที่</b>
								</div>
								<div class="col valuePart"> {{profile.Location.Section}}, {{profile.Location.Province}}</div>
							</div>
							<div *ngIf="profile.BTS.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>BTS</b>
								</div>
								<div class="col valuePart"> {{profile.BTS.Station}}</div>
							</div>
							<div *ngIf="profile.MRT.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>MRT</b>
								</div>
								<div class="col valuePart"> {{profile.MRT.Station}}</div>
							</div>
							<div *ngIf="profile.SRT.Near" class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>SRT</b>
								</div>
								<div class="col valuePart"> {{profile.SRT.Station}}</div>
							</div>
							<div *ngIf="profile.ARL.Near"  class="pb-3 row">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-train-front me-2"></i> <b>ARL</b>
								</div>
								<div class="col valuePart"> {{profile.ARL.Station}}</div>
							</div>
							<div class="pb-3 row" *ngIf="profile.OnlineInterview">
								<div class="col-12 col-sm-6 col-md-12 col-lg-5">
									<i class="bi bi-display me-2"></i><b>สัมภาษณ์ออนไลน์</b>
								</div>
							</div>
							<div class="d-flex flex-row" *ngIf="profile.WorkFromHome">
								<i class="bi bi-house me-2"></i><b>Work from home</b>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footerMainHeader my-3 d-flex justify-content-between">
			<div class="dateUpdated">
				<p class="lead"> อัพเดทล่าสุด {{profile.dateUpdated}} </p>
			</div>
			<div class="choices d-flex justify-content-start">
				<button (click)="toggleBookmark()" type="button" class="btn">
					<h1>
						<ng-container *ngIf="bookmarkLoadingFlag; then loading; else notLoading"></ng-container>
						<ng-template #loading>
							<div>
							<div style="text-align:center">
								<div class="spinner-border text-primary" role="status">
								<span class="visually-hidden">Loading...</span>
								</div>
							</div>
							</div>
						</ng-template>
						<ng-template #notLoading>
							<ng-container *ngIf="bookmarkFlag$ | async; then red; else black"></ng-container>
							<ng-template #black>
								<i class="bi bi-bookmark"></i>
								
							</ng-template>
							<ng-template #red>
								<i style="color:red" class="bi bi-bookmark-fill"></i>
							</ng-template>
						</ng-template>
					</h1>
				</button>
				<button type="button" class="btn me-3">
					<h1>
						<i class="bi bi-share"></i>
					</h1>
				</button>
				<div *ngIf="!profile.Urgency">
					<ng-container *ngIf="requestFlag$ | async; then requestButton; else alreadyRequest"></ng-container>
					<ng-template #alreadyRequest>
						<button (click)="requestJob()" class="btn text-center my-2 px-5" type="button" style="color:white; background-color:#7fd858">
							<div class="fs-5">สมัครงาน</div>
						</button>
					</ng-template>
					<ng-template #requestButton>
						<button class="btn btn-warning text-center my-2 px-5" type="button">
							<div class="fs-5">รอ confirm</div>
						</button>
					</ng-template>
				</div>
			</div>
		</div>
		<div class="my-5" *ngIf="urgentJobs.length !== 0">
			<h2 class="my-5">งานด่วนอื่นๆของผู้ประกอบการนี้</h2>
			<!-- <ng-container *ngIf="urgentJobs$ | async; then loadingUrgentJobs; else notLoadingUrgentJobs"></ng-container>
			<ng-template #loadingUrgentJobs>
				<div>
				<div style="text-align:center">
					<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
					</div>
				</div>
				</div>
			</ng-template>
			
			<ng-template #notLoadingUrgentJobs> -->
				<swiper
				[navigation]="true"
				[slidesPerView]="1"
				[spaceBetween]="25"
				[pagination]="true"
				[breakpoints]="breakingPoint"
				style="margin-top: 3em; text-align: center"
				>
				<ng-template swiperSlide *ngFor="let item of urgentJobs">
					<app-job-post-small-card 
						[urgentFlag]="item.Urgency" 
						[fullTimeFlag]="item.TimeFrame === 'Full-Time'?true:false"
						[content]="item">
					</app-job-post-small-card>
				</ng-template>
				</swiper>
			<!-- </ng-template> -->
		</div>
		<div class="card rounded">
			<div class="card-body p-4">
				<div class="my-5 mt-3">
					<h2>หน้าที่ความรับผิดชอบ</h2>
					<div class="fs-4" [innerHtml]="profile.JobDetails"></div>
					<ng-container *ngIf="profile.Urgency === false">
						<h2 class="my-5">คุณสมบัติผู้สมัคร</h2>
							<div class="fs-4" [innerHtml]="profile.qualityApplicants"></div>
						<h2 class="my-5">สวัสดิการ</h2>
							<div class="fs-4" [innerHtml]="profile.jobBenefits"></div>
						<h2 class="my-5">วิธีสมัครงาน</h2>
							<div class="fs-4" [innerHtml]="profile.applyInstructions"></div>
					</ng-container>
				</div>
				<div class="my-5 mb-3">
					<h2 class="my-5">ช่องทางติดต่อ</h2>
					<div class="row fs-4">
						<div class="col-sm-6 col-12">
							<b>โทร: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.phone}}</div>
					</div>
					<div class="row fs-4">
						<div class="col-sm-6 col-12">
							<b>Email: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.email}}</div>
					</div>
					<div class="row fs-4">
						<div class="col-sm-6 col-12">
							<b>Line: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.line}}</div>
					</div>
					<div class="row fs-4">
						<div class="col-sm-6 col-12">
							<b>Facebook: </b>
						</div>
						<div class="col ms-2">{{profile.Contacts.facebook}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card rounded mt-5">
			<div class="card-body px-4">
				<div class="my-3">
					<h2>สถานที่ปฏิบัติการ/วิธีเดินทาง</h2>
					<div class="fs-4 d-flex justify-content-between">
						<div class=" fs-4" [innerHtml]="profile.TravelInstructions"></div>
					</div>
					<div class="d-flex justify-content-center" style="overflow: scroll;">
						<google-map 
							*ngIf="profile._geoloc !== undefined"
							height="500px"
							width="65vw"
							[center]="center"
							[zoom]="zoom">
							<map-marker
								[position]="markerPosition"
								>
							</map-marker>
						</google-map>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>