@media only screen and (max-width: 992px) {
  /* .googleMap{
      width: 60vw
  } */
  .verticalKeyGap > div{
      font-size:smaller
  }
  .verticalKeyGap > div > input,
  .verticalKeyGap > div > select,  
  .verticalKeyGap > div > div,
  .verticalKeyGap > label,
  .verticalKeyGap > h3,
  .verticalKeyGap > button
  {
      font-size:smaller !important
  }
}
@media only screen and (max-width: 768px) {
  /* .googleMap{
      width: 70vw !important
  } */
  .verticalKeyGap > div{
      font-size:medium
  }
  .verticalKeyGap > div > input,
  .verticalKeyGap > div > select,  
  .verticalKeyGap > div > div,
  .verticalKeyGap > label,
  .verticalKeyGap > h3,
  .verticalKeyGap > button
  {
      font-size:medium !important
  }
}
#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }