<div class="container mt-3">
    <h1>นโยบายคุกกี้ (Cookies Policy) ของ Pharmwork</h1>
    <p>มีผลบังคับใช้: วันที่ 1 มกราคม 2568</p>
        <h2>คุกกี้คืออะไร</h2>
        <p>เมื่อคุณเยี่ยมชมเว็บไซต์ของเรา ข้อมูลบางอย่างจะถูกจัดเก็บไว้ในเบราว์เซอร์หรืออุปกรณ์ของคุณในรูปแบบของ "คุกกี้" (Cookies) ซึ่งช่วยให้เราสามารถจดจำการใช้งานของคุณ ปรับปรุงประสบการณ์การใช้งาน และแสดงผลเนื้อหาที่เหมาะสมกับความต้องการของคุณ</p>
        <h2>วัตถุประสงค์ในการใช้คุกกี้</h2>
        <p>เราใช้คุกกี้เพื่อวัตถุประสงค์ดังนี้ : เพื่อปรับปรุงการทำงานของเว็บไซต์และเพิ่มความสะดวกในการใช้งาน
            เพื่อวิเคราะห์พฤติกรรมการใช้งานของผู้เยี่ยมชมเว็บไซต์ในรูปแบบที่ไม่ระบุตัวตน
            เพื่อช่วยจดจำข้อมูลการเข้าสู่ระบบหรือการตั้งค่าที่คุณเลือกไว้</p>
        <h2>
            การจัดการคุกกี้ของคุณ
        </h2>
        <p>
            คุณสามารถปิดการใช้งานหรือจัดการคุกกี้ได้ผ่านการตั้งค่าบนเบราว์เซอร์ของคุณ อย่างไรก็ตาม การปิดคุกกี้บางประเภทอาจส่งผลต่อการใช้งานฟังก์ชันบางส่วนบนเว็บไซต์ของเรา
        </p>
        <h2>
            การใช้คุกกี้ของบุคคลที่สาม
        </h2>
        <p>
            เราอาจใช้คุกกี้ของบุคคลที่สาม เช่น เครื่องมือวิเคราะห์การใช้งานเว็บไซต์ (เช่น Google Analytics) เพื่อช่วยให้เราเข้าใจพฤติกรรมการใช้งานของผู้เยี่ยมชมเว็บไซต์และปรับปรุงบริการของเรา
        </p>
        <h2>
            การเปลี่ยนแปลงนโยบายคุกกี้
        </h2>
        <p>
            เราขอสงวนสิทธิ์ในการเปลี่ยนแปลงนโยบายคุกกี้นี้ตามความเหมาะสม หากมีการเปลี่ยนแปลง เราจะประกาศผ่านทางเว็บไซต์
        </p>
        <br>
<p>
    หากคุณมีคำถามเกี่ยวกับนโยบายคุกกี้นี้ กรุณาติดต่อเราได้ที่ :
</p>
<b>Pharmwork</b>
<br>231/5 พระราม 6 ซอย 28 ถนนพระราม 6
<br>แขวงสามเสนใน เขตพญาไท
<br>กทม. 10400
<br>โทร : 0959475440
<br>อีเมล : team-support@pharm-work.com
</div>
